Repository vaislang/vais: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Compiler, Language Tooling, Advanced Features, Extensibility, Infrastructure, Ecosystem Services

codecov.yml:

# Codecov configuration
# Documentation: https://docs.codecov.io/docs/codecov-yaml

# Coverage target configuration
coverage:
  precision: 2
  round: down
  range: 60..100

  status:
    project:
      default:
        target: 75%
        threshold: 2%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 3%

    changes:
      default:
        if_ci_failed: error

# Comment on pull requests with coverage information
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore paths from coverage
# Excludes match tarpaulin.toml exclude list â€” crates with 0% coverage
# that inflate the denominator if included
ignore:
  - "benches/**/*"
  - "examples/**/*"
  - "tests/**/*"
  - "target/**/*"
  - "scripts/**/*"
  - "crates/vais-python/**"
  - "crates/vais-node/**"
  - "crates/vais-dap/**"
  - "crates/vais-playground-server/**"

# Flag configuration for different test types
flags:
  unittests:
    paths:
      - crates/
    carryforward: true

# Component-based coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        target: 75%
  individual_components:
    # Core compiler components
    - component_id: core
      name: Core Compiler
      paths:
        - crates/vais-lexer/**
        - crates/vais-parser/**
        - crates/vais-ast/**
        - crates/vais-types/**
        - crates/vais-codegen/**
        - crates/vais-codegen-js/**
        - crates/vais-mir/**
      statuses:
        - type: project
          target: 80%

    # Language tooling
    - component_id: tooling
      name: Language Tooling
      paths:
        - crates/vais-lsp/**
        - crates/vaisc/**
        - crates/vais-bindgen/**
        - crates/vais-macro/**
      statuses:
        - type: project
          target: 75%

    # Runtime & advanced features
    - component_id: advanced
      name: Advanced Features
      paths:
        - crates/vais-jit/**
        - crates/vais-gc/**
        - crates/vais-gpu/**
        - crates/vais-query/**
      statuses:
        - type: project
          target: 70%

    # Plugin & dynamic loading
    - component_id: extensibility
      name: Extensibility
      paths:
        - crates/vais-plugin/**
        - crates/vais-dynload/**
        - crates/vais-hotreload/**
      statuses:
        - type: project
          target: 68%

    # Infrastructure & ecosystem
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - crates/vais-i18n/**
        - crates/vais-profiler/**
        - crates/vais-security/**
        - crates/vais-supply-chain/**
        - crates/vais-testgen/**
      statuses:
        - type: project
          target: 70%

    # Ecosystem services (playground-server excluded from coverage measurement)
    - component_id: services
      name: Ecosystem Services
      paths:
        - crates/vais-registry-server/**
      statuses:
        - type: project
          target: 75%

phase2-step19-2a-C-3: text-IR method_call.rs dispatch wiring (DEFERRED #19)
  crates/vais-codegen/src/expr_helpers_call/method_call.rs
Due: unittests, Core Compiler

phase2-step19-2a-C-4: A2-03 dual-backend coverage (#19 close)
  tests/empirical/A2/A2-03_dyn_trait_dispatch/meta.toml
  tests/empirical/A2/A2-03_dyn_trait_dispatch/run.sh
Due: none

phase2-master-plan-v22: EXCLUDED_FEATURES regenerated (v21 → v22)
  docs/certification/EXCLUDED_FEATURES.md
Due: none

phase2-step10: A1 hard blocks 3/4 LANDED + check-empirical A1 class
  crates/vais-parser/src/item/mod.rs
  docs/certification/EXCLUDED_FEATURES.md
  scripts/check-empirical.sh
  tests/empirical/A1/A1-01_effect_keyword/expected.txt
  tests/empirical/A1/A1-01_effect_keyword/meta.toml
  tests/empirical/A1/A1-01_effect_keyword/probe.vais
  tests/empirical/A1/A1-01_effect_keyword/run.sh
  tests/empirical/A1/A1-03_O_union_decl/expected.txt
  tests/empirical/A1/A1-03_O_union_decl/meta.toml
  tests/empirical/A1/A1-03_O_union_decl/probe.vais
  tests/empirical/A1/A1-03_O_union_decl/run.sh
  tests/empirical/A1/A1-04_macro_decl/expected.txt
  tests/empirical/A1/A1-04_macro_decl/meta.toml
  tests/empirical/A1/A1-04_macro_decl/probe.vais
  tests/empirical/A1/A1-04_macro_decl/run.sh
  tests/empirical/A1/STEP10_FINDINGS.md
Due: unittests, Core Compiler

phase2-hardening: Cat C unwrap→expect (23) + clippy::unwrap_used + eprintln cleanup + CORE_FREEZE_CRITERIA marker
  crates/vais-codegen/src/control_flow/pattern.rs
  crates/vais-codegen/src/expr_helpers_call/method_call.rs
  crates/vais-codegen/src/inkwell/gen_aggregate.rs
  crates/vais-codegen/src/inkwell/gen_expr/binary.rs
  crates/vais-codegen/src/inkwell/gen_expr/call.rs
  crates/vais-codegen/src/inkwell/gen_match.rs
  crates/vais-codegen/src/inkwell/gen_stmt.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-codegen/src/module_gen/instantiations.rs
  crates/vais-lexer/src/lib.rs
  crates/vais-mir/src/lib.rs
  crates/vais-parser/src/lib.rs
  crates/vais-types/src/checker_expr/control_flow.rs
  crates/vais-types/src/lib.rs
  crates/vaisc/src/commands/emit_ts.rs
  crates/vaisc/src/main.rs
  docs/UNWRAP_CLASSIFICATION.md
  docs/certification/CORE_FREEZE_CRITERIA.md
Due: unittests, Core Compiler, Language Tooling

phase2-step7-iter: F-24 Box↔T silent-accept reproduces (Rejected entry stale)
  tests/empirical/A4/STEP7_FINDINGS.md
Due: none

phase2-loop2: BITROT_AUDIT + A4-13 fixture (Box↔T silent surface pinned)
  docs/BITROT_AUDIT.md
  tests/empirical/A4/A4-13_box_t_auto_unwrap/expected.txt
  tests/empirical/A4/A4-13_box_t_auto_unwrap/meta.toml
  tests/empirical/A4/A4-13_box_t_auto_unwrap/probe.vais
  tests/empirical/A4/A4-13_box_t_auto_unwrap/run.sh
Due: none

phase2-step13-iter: STEP13_FINDINGS — A4-01 baseline scan + inventory drift
  tests/empirical/A4/STEP13_FINDINGS.md
Due: none

phase2-render: EXCLUDED_FEATURES regen v24 (post-A4-13 reclassify)
  docs/certification/EXCLUDED_FEATURES.md
Due: none

phase2-step13-finding: F-13-03 A4 inventory rewrite LANDED
  tests/empirical/A4/STEP13_FINDINGS.md
Due: none

phase2-render: EXCLUDED_FEATURES regen v25 (A4 inventory rewrite)
  docs/certification/EXCLUDED_FEATURES.md
Due: none

phase2-step15-stage0: vaisc fmt --rename-keyword-collisions codemod
  crates/vaisc/src/commands/fmt_rename.rs
  crates/vaisc/src/commands/mod.rs
  crates/vaisc/src/main.rs
  docs/certification/EXCLUDED_FEATURES.md
  tests/empirical/STEP15_FINDINGS.md
Due: unittests, Language Tooling

phase2-step15-stage1-wave1: 5 multi-char keyword aliases LANDED
  crates/vais-lexer/src/lib.rs
  docs/certification/EXCLUDED_FEATURES.md
  tests/empirical/STEP15_FINDINGS.md
Due: unittests, Core Compiler

phase2-step15-wave2-batch1: else/match/return multi-char alias LANDED
  crates/vais-lexer/src/lib.rs
  docs/certification/EXCLUDED_FEATURES.md
  docs/language/LIVING_SPEC/01_keywords/comptime_function_body.vais
  std/url.vais
  tests/empirical/STEP15_FINDINGS.md
Due: unittests, Core Compiler

phase2-step15-wave2-batch2: use/type multi-char alias LANDED + fn deferred
  crates/vais-lexer/src/lib.rs
  docs/certification/EXCLUDED_FEATURES.md
  tests/empirical/STEP15_FINDINGS.md
Due: unittests, Core Compiler

phase2-step15-wave2-fn: fn alias LANDED via single-iter parser refactor
  crates/vais-lexer/src/lib.rs
  crates/vais-parser/src/types.rs
  docs/certification/EXCLUDED_FEATURES.md
  tests/empirical/STEP15_FINDINGS.md
Due: unittests, Core Compiler

phase2-step15-stage3: vaisc fmt --to=multi|single round-trip codemod
  crates/vaisc/src/commands/fmt_dual.rs
  crates/vaisc/src/commands/mod.rs
  crates/vaisc/src/main.rs
  docs/certification/EXCLUDED_FEATURES.md
  tests/empirical/STEP15_FINDINGS.md
Due: unittests, Language Tooling

phase2-master-plan-v32: A2 ref v31 → v32
  docs/certification/EXCLUDED_FEATURES.md
Due: none

Revert "phase2-master-plan-v32: A2 ref v31 → v32"
  docs/certification/EXCLUDED_FEATURES.md
Due: none

phase2-step19-p1: lexer deprecation warning + 16137 baseline
  crates/vais-lexer/src/lib.rs
  crates/vais-lexer/src/tests.rs
  crates/vaisc/src/commands/build/core.rs
  crates/vaisc/src/commands/simple.rs
  crates/vaisc/src/utils.rs
Due: unittests, Core Compiler, Language Tooling

phase2-step19-p1-augment: E 추가, 12 retired forms
  crates/vais-lexer/src/lib.rs
  crates/vais-lexer/src/tests.rs
Due: unittests, Core Compiler

phase2-step19-p3-final-augment: vais-mir Rust inline source multi-char 변환
  crates/vais-mir/src/integration_tests.rs
  crates/vais-mir/src/lower.rs
  crates/vais-mir/src/tests.rs
  crates/vais-mir/tests/emit_llvm_coverage_tests.rs
  crates/vais-mir/tests/integration_tests.rs
  crates/vais-mir/tests/interpreter_tests.rs
  crates/vais-mir/tests/lower_strict_tests.rs
  crates/vais-mir/tests/optimize_coverage_tests.rs
  crates/vais-mir/tests/validation_tests.rs
Due: unittests, Core Compiler

phase2-step19-p4: lexer single-char retire LANDED + 4 test file 정정
  crates/vais-codegen/tests/call_arg_invariant_test.rs
  crates/vais-codegen/tests/index_invariant_test.rs
  crates/vais-codegen/tests/ret_invariant_test.rs
  crates/vais-lexer/src/lib.rs
  crates/vais-lexer/src/tests.rs
  crates/vais-lexer/tests/token_display_tests.rs
  crates/vaisc/tests/integrity/compiler_syntax.rs
Due: unittests, Core Compiler, Language Tooling

phase2-step19-p5: doc cleanup + 14 pre-existing e2e fail 정리 (loop 26)
  CLAUDE.md
  crates/vaisc/tests/e2e/phase128_errors.rs
  crates/vaisc/tests/e2e/phase148_safety.rs
  crates/vaisc/tests/e2e/phase190_vec_field_access.rs
  crates/vaisc/tests/e2e/phase37_comptime_defer.rs
  crates/vaisc/tests/e2e/phase37_union_const.rs
  crates/vaisc/tests/e2e/phase45.rs
  crates/vaisc/tests/e2e/phase45_types.rs
  crates/vaisc/tests/e2e/phase81_coverage.rs
  docs/LANGUAGE_SPEC.md
  docs/language/LEXER_KEYWORDS.md
  docs/language/removed_keywords.md
Due: unittests, Language Tooling

phase2-step19-p6: fmt_dual.rs migration-only 표기 + EXCLUDED_FEATURES re-render
  crates/vaisc/src/commands/fmt_dual.rs
  docs/certification/EXCLUDED_FEATURES.md
Due: unittests, Language Tooling

phase2-step11-rootfix: VAIS_STRICT_IMPORTS default invert + 9 A3 fixture + test infra fix
  crates/vaisc/src/commands/simple.rs
  crates/vaisc/tests/integrity.rs
  crates/vaisc/tests/integrity/compiler_syntax.rs
  docs/certification/EXCLUDED_FEATURES.md
  tests/empirical/A3/A3-01_grpc_uncertified/meta.toml
  tests/empirical/A3/A3-01_grpc_uncertified/run.sh
  tests/empirical/A3/A3-02_graphql_uncertified/meta.toml
  tests/empirical/A3/A3-02_graphql_uncertified/run.sh
  tests/empirical/A3/A3-03_ws_handler_uncertified/meta.toml
  tests/empirical/A3/A3-03_ws_handler_uncertified/run.sh
  tests/empirical/A3/A3-04_vaisdb_security_uncertified/meta.toml
  tests/empirical/A3/A3-04_vaisdb_security_uncertified/run.sh
  tests/empirical/A3/A3-05_vaisdb_graph_executor/meta.toml
  tests/empirical/A3/A3-05_vaisdb_graph_executor/run.sh
  tests/empirical/A3/A3-06_vaisdb_fulltext/meta.toml
  tests/empirical/A3/A3-06_vaisdb_fulltext/run.sh
  tests/empirical/A3/A3-07_vaisdb_advanced_sql/meta.toml
  tests/empirical/A3/A3-07_vaisdb_advanced_sql/run.sh
  tests/empirical/A3/A3-08_vaisdb_wal_bulk_graph/meta.toml
  tests/empirical/A3/A3-08_vaisdb_wal_bulk_graph/run.sh
  tests/empirical/A3/A3-09_vais_server_https/meta.toml
  tests/empirical/A3/A3-09_vais_server_https/run.sh
Due: unittests, Language Tooling

phase2-step7-cleanup: A4-14 + A4-15 empirical fixtures + check-integrity strict-default note
  docs/certification/EXCLUDED_FEATURES.md
  scripts/check-integrity.sh
  tests/empirical/A4/A4-14_vec_slice_len/expected.txt
  tests/empirical/A4/A4-14_vec_slice_len/meta.toml
  tests/empirical/A4/A4-14_vec_slice_len/probe.vais
  tests/empirical/A4/A4-14_vec_slice_len/run.sh
  tests/empirical/A4/A4-15_escape_closure_capture/expected.txt
  tests/empirical/A4/A4-15_escape_closure_capture/meta.toml
  tests/empirical/A4/A4-15_escape_closure_capture/probe.vais
  tests/empirical/A4/A4-15_escape_closure_capture/run.sh
Due: none

phase2-step7-findings-status: 14 finding terminal status summary 추가
  tests/empirical/A4/STEP7_FINDINGS.md
Due: none

phase2-certification-exclusion-fix: syntax_import_dot_path 등록 (INTEGRITY 회복)
  tests/core/certification_exclusions.tsv
Due: none

phase2-a4-15-hardblock: escape closure TC detector LANDED (DEFERRED #25 partial close)
  crates/vais-types/src/checker_expr/stmts.rs
  crates/vais-types/src/checker_fn.rs
  docs/certification/EXCLUDED_FEATURES.md
  tests/empirical/A4/A4-15_escape_closure_capture/meta.toml
  tests/empirical/A4/A4-15_escape_closure_capture/run.sh
Due: unittests, Core Compiler

phase2-certification-docs: A2_SUBSETS drift correction + I5_RECOVERY 신설 + EXCLUDED re-render
  docs/certification/A2_SUBSETS.md
  docs/certification/EXCLUDED_FEATURES.md
  docs/certification/I5_RECOVERY.md
Due: none

phase2-step14-stage1: WEB RUNTIME wires cloudflare live-deploy smoke (env-gated)
  docs/certification/EXCLUDED_FEATURES.md
  scripts/check-integrity.sh
Due: none

phase2-step14-stage1-close: transaction-matrix smoke LANDED (vaisdb_runtime 28 -> 29)
  crates/vaisc/tests/e2e/phase_vaisdb_runtime_smoke.rs
  docs/certification/CORE_FREEZE_CRITERIA.md
  docs/certification/CURRENT_STATUS.md
  docs/certification/EXCLUDED_FEATURES.md
  scripts/check-integrity.sh
  tests/vaisdb/smoke/transaction_mvcc_smoke.vais
Due: unittests, Language Tooling

phase2-loop38: vais-web Vercel live deploy wiring (Step 18 partial)
  docs/certification/EXCLUDED_FEATURES.md
  scripts/check-integrity.sh
Due: none

phase2-loop39: vais-web Netlify + AWS Lambda live deploy wiring (Step 18 4-platform)
  docs/certification/EXCLUDED_FEATURES.md
  scripts/check-integrity.sh
Due: none
