Repository vaislang/vais: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Compiler, Language Tooling, Advanced Features, Experimental Features, Infrastructure

codecov.yml:

# Codecov configuration
# Documentation: https://docs.codecov.io/docs/codecov-yaml

# Coverage target configuration
coverage:
  precision: 2
  round: down
  range: 70..100

  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error

    patch:
      default:
        target: 75%
        threshold: 2%

    changes:
      default:
        if_ci_failed: error

# Comment on pull requests with coverage information
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore paths from coverage
ignore:
  - "benches/**/*"
  - "examples/**/*"
  - "tests/**/*"
  - "target/**/*"
  - "scripts/**/*"

# Flag configuration for different test types
flags:
  unittests:
    paths:
      - crates/
    carryforward: true

# Component-based coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        target: 80%
  individual_components:
    # Core compiler components
    - component_id: core
      name: Core Compiler
      paths:
        - crates/vais-lexer/**
        - crates/vais-parser/**
        - crates/vais-ast/**
        - crates/vais-types/**
        - crates/vais-codegen/**
      statuses:
        - type: project
          target: 90%

    # Language tooling
    - component_id: tooling
      name: Language Tooling
      paths:
        - crates/vais-lsp/**
        - crates/vais-dap/**
        - crates/vaisc/**
      statuses:
        - type: project
          target: 85%

    # Advanced features
    - component_id: advanced
      name: Advanced Features
      paths:
        - crates/vais-jit/**
        - crates/vais-gc/**
        - crates/vais-mir/**
        - crates/vais-query/**
      statuses:
        - type: project
          target: 80%

    # Experimental features
    - component_id: experimental
      name: Experimental Features
      paths:
        - crates/vais-gpu/**
        - crates/vais-hotreload/**
        - crates/vais-plugin/**
      statuses:
        - type: project
          target: 70%

    # Infrastructure
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - crates/vais-i18n/**
        - crates/vais-profiler/**
        - crates/vais-security/**
        - crates/vais-supply-chain/**
      statuses:
        - type: project
          target: 75%

fix: website syntax, GitHub URLs, mdbook build & ROADMAP update
  .gitignore
  ROADMAP.md
  docs-site/OVERVIEW.md
  docs-site/book.toml
  website/index.html
Due: none

chore: add example binaries to .gitignore & new destructuring example
  .gitignore
  .workflow-state.json
  examples/destructuring.vais
Due: none

docs: add Phase 32 stdlib expansion roadmap (web/DB/template)
  ROADMAP.md
Due: none

feat: add HTTP server framework (Phase 32, Stage 1)
  .gitignore
  examples/http_server_example.vais
  std/http_server.vais
  std/http_server_runtime.c
Due: none

feat: add HTTP client library (Phase 32, Stage 2)
  ROADMAP.md
  std/http_client.vais
  std/http_client_runtime.c
Due: none

feat: add SQLite, PostgreSQL, template, WebSocket, ORM stdlib (Phase 32, Stage 3-7)
  ROADMAP.md
  examples/orm_example.vais
  examples/postgres_example.vais
  examples/sqlite_example.vais
  examples/template_example.vais
  examples/websocket_example.vais
  std/orm.vais
  std/orm_runtime.c
  std/postgres.vais
  std/postgres_runtime.c
  std/sqlite.vais
  std/sqlite_runtime.c
  std/template.vais
  std/template_runtime.c
  std/websocket.vais
  std/websocket_runtime.c
Due: none

docs: add Phase 33 roadmap - production blocker resolution
  ROADMAP.md
Due: none

feat: add TLS/HTTPS standard library (Phase 33, Stage 1)
  ROADMAP.md
  std/http_client.vais
  std/http_server.vais
  std/http_server_runtime.c
  std/tls.vais
  std/tls_runtime.c
Due: none

feat: add cross-platform async runtime (Phase 33, Stage 2)
  ROADMAP.md
  crates/vais-codegen/src/builtins.rs
  examples/async_reactor_test.vais
  std/async_epoll.c
  std/async_iocp.c
  std/async_kqueue.c
  std/async_reactor.vais
Due: unittests, Core Compiler

feat: add package registry, DAP tests, logging, compression stdlib (Phase 33, Stage 3-6)
  Dockerfile.registry
  ROADMAP.md
  crates/vais-dap/README.md
  crates/vais-dap/tests/e2e_tests.rs
  crates/vaisc/src/main.rs
  docker-compose.registry.yml
  examples/compress_example.vais
  examples/log_simple_test.vais
  examples/log_test.vais
  examples/package/README.md
  examples/package/src/lib.vais
  examples/package/vais.toml
  scripts/deploy-registry.sh
  scripts/validate-phase33-stage3.sh
  std/compress.vais
  std/compress_runtime.c
  std/log.vais
  std/log_runtime.c
  vscode-vais/DEBUG.md
  vscode-vais/launch-template.json
  vscode-vais/src/debugAdapter.ts
  vscode-vais/src/extension.ts
Due: unittests, Language Tooling

feat: add integration tests, benchmarks, production checklist (Phase 33, Stage 7)
  ROADMAP.md
  benches/Cargo.toml
  benches/phase33_bench.rs
  crates/vais-registry-server/Cargo.toml
  crates/vais-registry-server/tests/integration_tests.rs
  crates/vaisc/tests/phase33_integration_tests.rs
  docs-site/src/SUMMARY.md
  docs-site/src/production-checklist.md
Due: unittests, Language Tooling

docs: add Phase 33 supplementary documentation
  PHASE33_INTEGRATION_TESTS_SUMMARY.md
  PHASE33_STAGE4_SUMMARY.md
  PHASE33_TEST_LIST.md
  REGISTRY_DEPLOYMENT.md
  REGISTRY_QUICK_START.md
  docs/phase33-integration-tests.md
  docs/phase33-stage3-files.md
  docs/phase33-stage3-summary.md
Due: none

docs: add Phase 34 roadmap - production validation & ecosystem
  ROADMAP.md
Due: none

feat: strict borrow checker default + ICE crash recovery (Phase 34, Stage 1)
  ROADMAP.md
  crates/vaisc/src/main.rs
  crates/vaisc/src/package.rs
  crates/vaisc/tests/phase34_stability_tests.rs
Due: unittests, Language Tooling

feat: Windows E2E tests, API docs, onboarding guides (Phase 34, Stage 2-4)
  ROADMAP.md
  crates/vaisc/src/doc_gen.rs
  crates/vaisc/tests/windows_e2e_tests.rs
  docs-site/src/SUMMARY.md
  docs-site/src/api/README.md
  docs-site/src/api/compress.md
  docs-site/src/api/http.md
  docs-site/src/api/json.md
  docs-site/src/api/log.md
  docs-site/src/api/vec.md
  docs-site/src/guide/error-handling.md
  docs-site/src/guide/faq.md
  docs-site/src/guide/getting-started.md
  docs-site/src/guide/performance.md
  docs-site/src/guide/style-guide.md
Due: unittests, Language Tooling

feat: add 10 seed packages for registry ecosystem (Phase 34, Stage 5)
  ROADMAP.md
  packages/PACKAGES_INDEX.md
  packages/PACKAGE_STATS.txt
  packages/cache/README.md
  packages/cache/src/lib.vais
  packages/cache/vais.toml
  packages/cli-args/README.md
  packages/cli-args/src/lib.vais
  packages/cli-args/vais.toml
  packages/color/README.md
  packages/color/src/lib.vais
  packages/color/vais.toml
  packages/csv/README.md
  packages/csv/src/lib.vais
  packages/csv/vais.toml
  packages/dotenv/README.md
  packages/dotenv/src/lib.vais
  packages/dotenv/vais.toml
  packages/env/README.md
  packages/env/src/lib.vais
  packages/env/vais.toml
  packages/math-ext/README.md
  packages/math-ext/src/lib.vais
  packages/math-ext/vais.toml
  packages/retry/README.md
  packages/retry/src/lib.vais
  packages/retry/vais.toml
  packages/toml-parser/README.md
  packages/toml-parser/src/lib.vais
  packages/toml-parser/vais.toml
  packages/validate/README.md
  packages/validate/src/lib.vais
  packages/validate/vais.toml
Due: none

feat: add CLI todo tool and HTTP bookmark server (Phase 34, Stage 6-7)
  ROADMAP.md
  projects/vais-bookmarks/CHECKLIST.md
  projects/vais-bookmarks/IMPLEMENTATION.md
  projects/vais-bookmarks/PROJECT_SUMMARY.md
  projects/vais-bookmarks/QUICKSTART.md
  projects/vais-bookmarks/README.md
  projects/vais-bookmarks/src/bookmark.vais
  projects/vais-bookmarks/src/handler.vais
  projects/vais-bookmarks/src/json_helper.vais
  projects/vais-bookmarks/src/main.vais
  projects/vais-bookmarks/src/server.vais
  projects/vais-bookmarks/test-api.sh
  projects/vais-bookmarks/vais.toml
  projects/vais-todo/CHECKLIST.md
  projects/vais-todo/EXAMPLES.md
  projects/vais-todo/PROJECT_SUMMARY.md
  projects/vais-todo/README.md
  projects/vais-todo/TECHNICAL.md
  projects/vais-todo/build.sh
  projects/vais-todo/src/display.vais
  projects/vais-todo/src/main.vais
  projects/vais-todo/src/storage.vais
  projects/vais-todo/src/todo.vais
  projects/vais-todo/vais.toml
Due: none

feat: data pipeline project + macro benchmarks (Phase 34, Stage 8)
  ROADMAP.md
  benches/Cargo.toml
  benches/macro_bench.rs
  projects/vais-datapipe/PROJECT_STATS.md
  projects/vais-datapipe/QUICK_START.md
  projects/vais-datapipe/README.md
  projects/vais-datapipe/build.sh
  projects/vais-datapipe/src/csv_reader.vais
  projects/vais-datapipe/src/json_writer.vais
  projects/vais-datapipe/src/main.vais
  projects/vais-datapipe/src/pipeline.vais
  projects/vais-datapipe/src/transformer.vais
  projects/vais-datapipe/vais.toml
Due: none

docs: add Phase 35 roadmap + Phase 34 supplementary docs
  API_DOCS_QUICK_START.md
  PHASE34_STAGE3_API_DOCS_SUMMARY.md
  PHASE34_STAGE5_PACKAGES.md
  PHASE34_STAGE7_COMPLETE.md
  PHASE34_STAGE8_CHECKLIST.md
  PHASE34_STAGE8_SUMMARY.md
  ROADMAP.md
Due: none

feat: selfhost lexer verification - 101 tests + compatibility report (Phase 35, Stage 1)
  ROADMAP.md
  crates/vaisc/tests/selfhost_lexer_tests.rs
  selfhost/SELFHOST_VERIFICATION.md
Due: unittests, Language Tooling

feat: add registry E2E tests, CI/CD pipelines, error message improvements (Phase 35, Stage 2-4)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  ROADMAP.md
  crates/vais-types/src/lib.rs
  crates/vais-types/src/types.rs
  crates/vaisc/tests/error_message_tests.rs
  crates/vaisc/tests/registry_e2e_tests.rs
Due: unittests, Core Compiler, Language Tooling

feat: add v1.0 release notes, migration guide, complete Phase 35 (Stage 7)
  MIGRATION.md
  RELEASE_NOTES.md
  ROADMAP.md
Due: none

docs: update API docs (http, sqlite) and fix playground version to v1.0.0
  docs-site/src/api/http.md
  docs-site/src/api/http_client.md
  docs-site/src/api/http_server.md
  docs-site/src/api/sqlite.md
  playground/TUTORIAL.md
  playground/index.html
  playground/package.json
Due: none

docs: review and enhance remaining 11 API documentation files
  docs-site/src/api/contract.md
  docs-site/src/api/crypto.md
  docs-site/src/api/future.md
  docs-site/src/api/hash.md
  docs-site/src/api/io.md
  docs-site/src/api/json.md
  docs-site/src/api/math.md
  docs-site/src/api/option.md
  docs-site/src/api/regex.md
  docs-site/src/api/string.md
  docs-site/src/api/vec.md
Due: none

docs: add Phase 36 production readiness roadmap based on comprehensive evaluation
  ROADMAP.md
Due: none

fix: skip ownership check for imported modules, add i18n translations E012-E031
  ROADMAP.md
  crates/vais-i18n/locales/en.json
  crates/vais-i18n/locales/ja.json
  crates/vais-i18n/locales/ko.json
  crates/vais-i18n/locales/zh.json
  crates/vais-types/src/lib.rs
  crates/vaisc/src/main.rs
Due: unittests, Core Compiler, Language Tooling, Infrastructure

fix: resolve E001 type mismatches - auto-deref, bool bitwise ops, if-else branch relaxation
  ROADMAP.md
  crates/vais-types/src/lib.rs
  examples/postgres_example.vais
Due: unittests, Core Compiler

feat: unify selfhost token IDs and enhance lexer with full keyword/operator support
  selfhost/constants.vais
  selfhost/lexer.vais
  selfhost/lexer_s1.vais
  selfhost/main.vais
Due: none

docs: update ROADMAP Phase 36 - Stage 4/5/6 completed (75%)
  ROADMAP.md
Due: none

fix: correct docs links in playground and website
  playground/index.html
  website/index.html
Due: none

docs: update ROADMAP - Stage 3 completion mark, website/playground link fixes log
  ROADMAP.md
Due: none

feat: improve homepage - SEO, code tabs, mobile menu, playground embed
  CLAUDE.md
  website/index.html
  website/src/main.js
  website/src/styles.css
Due: none

docs: add Links section to README, fix docs URL, simplify CLAUDE.md
  CLAUDE.md
  README.md
Due: none

docs: add Phase 37 - Production Gap Resolution (Reality Check)
  ROADMAP.md
Due: none

fix: resolve CI pipeline failures - wasmtime upgrade, LLVM Polly, audit config
  .cargo/audit.toml
  .github/workflows/asan.yml
  .github/workflows/bench.yml
  ROADMAP.md
  crates/vais-dynload/Cargo.toml
Due: unittests

fix: resolve CI failures - add runtime.c, update sqlx, add deny.toml
  .gitignore
  benches/Cargo.toml
  crates/vais-dap/Cargo.toml
  crates/vais-lsp/Cargo.toml
  crates/vais-macro/Cargo.toml
  crates/vais-registry-server/Cargo.toml
  deny.toml
  examples/plugins/example-lint/Cargo.toml
  selfhost/runtime.c
Due: unittests, Language Tooling

chore: initialize gh-pages for benchmark dashboard
  README.md
  dev/bench/data.json
Due: none
