Repository vaislang/vais: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Compiler, Language Tooling, Advanced Features, Extensibility, Infrastructure, Ecosystem Services

codecov.yml:

# Codecov configuration
# Documentation: https://docs.codecov.io/docs/codecov-yaml

# Coverage target configuration
coverage:
  precision: 2
  round: down
  range: 60..100

  status:
    project:
      default:
        target: 75%
        threshold: 2%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 3%

    changes:
      default:
        if_ci_failed: error

# Comment on pull requests with coverage information
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore paths from coverage
# Excludes match tarpaulin.toml exclude list â€” crates with 0% coverage
# that inflate the denominator if included
ignore:
  - "benches/**/*"
  - "examples/**/*"
  - "tests/**/*"
  - "target/**/*"
  - "scripts/**/*"
  - "crates/vais-python/**"
  - "crates/vais-node/**"
  - "crates/vais-dap/**"
  - "crates/vais-playground-server/**"

# Flag configuration for different test types
flags:
  unittests:
    paths:
      - crates/
    carryforward: true

# Component-based coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        target: 75%
  individual_components:
    # Core compiler components
    - component_id: core
      name: Core Compiler
      paths:
        - crates/vais-lexer/**
        - crates/vais-parser/**
        - crates/vais-ast/**
        - crates/vais-types/**
        - crates/vais-codegen/**
        - crates/vais-codegen-js/**
        - crates/vais-mir/**
      statuses:
        - type: project
          target: 80%

    # Language tooling
    - component_id: tooling
      name: Language Tooling
      paths:
        - crates/vais-lsp/**
        - crates/vaisc/**
        - crates/vais-bindgen/**
        - crates/vais-macro/**
      statuses:
        - type: project
          target: 75%

    # Runtime & advanced features
    - component_id: advanced
      name: Advanced Features
      paths:
        - crates/vais-jit/**
        - crates/vais-gc/**
        - crates/vais-gpu/**
        - crates/vais-query/**
      statuses:
        - type: project
          target: 70%

    # Plugin & dynamic loading
    - component_id: extensibility
      name: Extensibility
      paths:
        - crates/vais-plugin/**
        - crates/vais-dynload/**
        - crates/vais-hotreload/**
      statuses:
        - type: project
          target: 68%

    # Infrastructure & ecosystem
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - crates/vais-i18n/**
        - crates/vais-profiler/**
        - crates/vais-security/**
        - crates/vais-supply-chain/**
        - crates/vais-testgen/**
      statuses:
        - type: project
          target: 70%

    # Ecosystem services (playground-server excluded from coverage measurement)
    - component_id: services
      name: Ecosystem Services
      paths:
        - crates/vais-registry-server/**
      statuses:
        - type: project
          target: 75%

phase2-step13-step7: A4-03/05/07 reclass to Controlled (master plan v17 F-22)
  docs/certification/EXCLUDED_FEATURES.md
  tests/empirical/A4/A4-01_unit_i64/meta.toml
  tests/empirical/A4/A4-02_pointer_i64/meta.toml
  tests/empirical/A4/A4-03_auto_deref/meta.toml
  tests/empirical/A4/A4-04_pointer_slice/meta.toml
  tests/empirical/A4/A4-05_array_pointer_decay/meta.toml
  tests/empirical/A4/A4-06_integer_truthy/meta.toml
  tests/empirical/A4/A4-07_numeric_widening/meta.toml
  tests/empirical/A4/A4-08_vec_str_permissive/meta.toml
  tests/empirical/A4/A4-09_lifetime_ref_erasure/meta.toml
  tests/empirical/A4/A4-10_struct_partial_init/meta.toml
  tests/empirical/A4/A4-11_try_in_non_result/meta.toml
  tests/empirical/A4/STEP7_FINDINGS.md
Due: none

phase2-step17-stage3: fuzz_mir_native_diff promoted to nightly + tracked corpus seeds
  .github/workflows/fuzz.yml
  fuzz/README.md
  fuzz/corpus_seeds/fuzz_mir_native_diff/seed_empty.bin
  fuzz/corpus_seeds/fuzz_mir_native_diff/seed_small.bin
  fuzz/corpus_seeds/fuzz_mir_native_diff/seed_zero.bin
Due: none

phase2-step12-stage3: CURRENT_STATUS.md gate-table marker added
  docs/certification/CURRENT_STATUS.md
Due: none

phase2-step17-stage4a: Document sanitizer PR-blocking supersession + stage 4b plan
  .github/workflows/fuzz.yml
Due: none

phase2-step17: STEP17_FINDINGS — Stages 3 / 4a LANDED + 4b/5 deferred plan
  tests/empirical/oracle/STEP17_FINDINGS.md
Due: none

phase2-step9: A2-02 cross-module ?-operator promotion LANDED
  tests/empirical/A2/A2-01_q_operator_core/meta.toml
  tests/empirical/A2/A2-02_q_operator_cross_module/meta.toml
  tests/empirical/A2/A2-02_q_operator_cross_module/probe_neg_inner.vais
  tests/empirical/A2/A2-02_q_operator_cross_module/probe_neg_main.vais
  tests/empirical/A2/A2-02_q_operator_cross_module/probe_pos_inner.vais
  tests/empirical/A2/A2-02_q_operator_cross_module/probe_pos_main.vais
  tests/empirical/A2/A2-02_q_operator_cross_module/run.sh
  tests/empirical/A2/A2-04_inline_closure/meta.toml
Due: none

phase2-step9: STEP7_FINDINGS F-23 — A2-03 dyn dispatch silent corruption found
  tests/empirical/A4/STEP7_FINDINGS.md
Due: none

phase2-step9: A2-05 fn-pointer params promotion LANDED
  tests/empirical/A2/A2-05_fn_pointer_param/meta.toml
  tests/empirical/A2/A2-05_fn_pointer_param/probe_neg.vais
  tests/empirical/A2/A2-05_fn_pointer_param/probe_pos.vais
  tests/empirical/A2/A2-05_fn_pointer_param/run.sh
  tests/empirical/A4/STEP7_FINDINGS.md
Due: none

phase2-vaisc-quirk-fix: bare-filename `vaisc build foo.vais` no longer fails with 'Cannot resolve base directory'
  crates/vaisc/src/imports.rs
Due: unittests, Language Tooling

phase2-a4-12-recon: F-23 dyn dispatch root cause line identified (codegen comment + finding update)
  crates/vais-codegen/src/expr_helpers_call/method_call.rs
  crates/vais-codegen/src/inkwell/gen_aggregate.rs
  tests/empirical/A4/STEP7_FINDINGS.md
Due: unittests, Core Compiler

phase2-step17-stage5a: interpreter stdout sink + builtin print intercept LANDED
  crates/vais-mir/src/interpreter.rs
  crates/vais-mir/tests/interpreter_tests.rs
  fuzz/src/lib.rs
  tests/empirical/oracle/STEP17_FINDINGS.md
Due: unittests, Core Compiler

phase2-step13-stale-test: A4-06 strict default 후속 — test_if_condition_lenient_integer_truthy 정정
  crates/vais-types/src/tests.rs
Due: unittests, Core Compiler

phase2-a4-12-step1-recon: F-23 step 1 root cause vais-types로 좁힘 + codegen guard 부활 (dead, step 1 LANDED 시 자동 활성화)
  crates/vais-codegen/src/inkwell/gen_aggregate.rs
  tests/empirical/A4/STEP7_FINDINGS.md
Due: unittests, Core Compiler

phase2-step17-stage5a-B5: interpreter builtin intercept 확장 (4 → 8 builtins)
  crates/vais-mir/src/interpreter.rs
  crates/vais-mir/tests/interpreter_tests.rs
  tests/empirical/oracle/STEP17_FINDINGS.md
Due: unittests, Core Compiler

phase2-step17-stage4b: LANDED — Miri PR-blocking 승격 (B+D path, fresh nightly 1.97 4/4 green)
  .github/workflows/fuzz.yml
  tests/empirical/oracle/STEP17_FINDINGS.md
Due: none

phase2-tracking: STEP*FINDINGS index 신설 (A.2 — finding ID → 한 줄 요약 표)
  tests/empirical/A3/STEP11_FINDINGS.md
  tests/empirical/A4/STEP7_FINDINGS.md
  tests/empirical/oracle/STEP17_FINDINGS.md
Due: none

phase2-step10-recon: STEP10_FINDINGS.md 신설 (D.10 — A1 hard blocks 첫 정찰)
  tests/empirical/A1/STEP10_FINDINGS.md
Due: none

phase2-a4-12-step1: F-23 fix LANDED — Type::DynTrait arm을 ast_type_to_resolved에 추가
  crates/vais-codegen/src/inkwell/gen_types.rs
Due: unittests, Core Compiler

phase2-a4-12-step1: STEP7_FINDINGS F-23 step 1 LANDED 섹션 + index 갱신
  tests/empirical/A4/STEP7_FINDINGS.md
Due: none

phase2-step17-stage5b-recon: JIT print builtin 미지원 empirical 확증, asymmetry guard는 dead
  tests/empirical/oracle/STEP17_FINDINGS.md
Due: none

phase2-a4-12-step2-recon: F-23 step 2 reconnaissance — vtable wiring 두 sub-task 분리
  tests/empirical/A4/STEP7_FINDINGS.md
Due: none

phase2-master-plan-v18: EXCLUDED_FEATURES.md regenerated (A2 candidates anchor v17 → v18)
  docs/certification/EXCLUDED_FEATURES.md
Due: none

phase2-a4-12-step2b-1: vtable_inkwell.rs skeleton + 3 unit tests
  crates/vais-codegen/src/inkwell/mod.rs
  crates/vais-codegen/src/inkwell/vtable_inkwell.rs
Due: unittests, Core Compiler

phase2-a4-12-step2b-2: vtable_global emit + InkwellCodeGenerator state
  crates/vais-codegen/src/inkwell/generator.rs
  crates/vais-codegen/src/inkwell/vtable_inkwell.rs
Due: unittests, Core Compiler

phase2-a4-12-step2b-3: create_trait_object_inkwell fat pointer emit
  crates/vais-codegen/src/inkwell/vtable_inkwell.rs
Due: unittests, Core Compiler

phase2-a4-12-step2b-4: generate_dynamic_call_inkwell indirect dispatch
  crates/vais-codegen/src/inkwell/vtable_inkwell.rs
Due: unittests, Core Compiler

phase2-a4-12-step2b-5a: trait/impl 등록 후크 wiring (inkwell generate_module)
  crates/vais-codegen/src/inkwell/generator.rs
  crates/vais-codegen/src/inkwell/vtable_inkwell.rs
Due: unittests, Core Compiler

phase2-a4-12-step2b-5b: call-site fat-pointer wrapping (dyn Trait param)
  crates/vais-codegen/src/inkwell/gen_expr/call.rs
Due: unittests, Core Compiler

phase2-a4-12-step2b-5c: F-23 GUARD → fat-pointer dispatch wiring (활성화)
  crates/vais-codegen/src/inkwell/gen_aggregate.rs
Due: unittests, Core Compiler

phase2-a4-12-step2b-6: A2-03 dyn dispatch permanent fixture
  tests/empirical/A2/A2-03_dyn_trait_dispatch/meta.toml
  tests/empirical/A2/A2-03_dyn_trait_dispatch/probe_neg.vais
  tests/empirical/A2/A2-03_dyn_trait_dispatch/probe_pos.vais
  tests/empirical/A2/A2-03_dyn_trait_dispatch/run.sh
Due: none

phase2-a4-12-step2a-A: vtable typed ABI (text-IR side)
  crates/vais-codegen/src/trait_dispatch.rs
  crates/vais-codegen/src/vtable.rs
Due: unittests, Core Compiler

phase2-a4-12-step2a-B: inkwell side typed sync (DEFERRED #17 2a-B)
  crates/vais-codegen/src/inkwell/vtable_inkwell.rs
Due: unittests, Core Compiler

phase2-master-plan-v20: EXCLUDED_FEATURES regenerated (v19 → v20)
  docs/certification/EXCLUDED_FEATURES.md
Due: none

phase2-step17-5b-1: STDOUT_SINK + vais_runtime_print thunk (DEFERRED #16)
  crates/vais-jit/src/runtime.rs
Due: unittests, Advanced Features

phase2-step17-5b-2: JitRuntime::register_stdlib registers vais_runtime_print
  crates/vais-jit/src/runtime.rs
Due: unittests, Advanced Features

phase2-step17-5b-3: JIT codegen Vais print/println → vais_runtime_print
  crates/vais-jit/src/compiler.rs
Due: unittests, Advanced Features

phase2-step17-5b-4: run_native_path stdout capture + asymmetry guard 제거
  crates/vais-jit/src/lib.rs
  fuzz/src/lib.rs
Due: unittests, Advanced Features

phase2-step17-5b-5: stage 5a unit tests + JIT compile_function 보강 (#16 close)
  crates/vais-jit/src/compiler.rs
  fuzz/src/lib.rs
Due: unittests, Advanced Features

phase2-master-plan-v21: EXCLUDED_FEATURES regenerated (v20 → v21)
  docs/certification/EXCLUDED_FEATURES.md
Due: none

phase2-step19-2a-C-1: sorted_method_names — text-IR vtable order 결정성 (DEFERRED #19)
  crates/vais-codegen/src/trait_dispatch.rs
  crates/vais-codegen/src/vtable.rs
Due: unittests, Core Compiler
