Repository vaislang/vais: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Compiler, Language Tooling, Advanced Features, Experimental Features, Infrastructure

codecov.yml:

# Codecov configuration
# Documentation: https://docs.codecov.io/docs/codecov-yaml

# Coverage target configuration
coverage:
  precision: 2
  round: down
  range: 70..100

  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error

    patch:
      default:
        target: 75%
        threshold: 2%

    changes:
      default:
        if_ci_failed: error

# Comment on pull requests with coverage information
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore paths from coverage
ignore:
  - "benches/**/*"
  - "examples/**/*"
  - "tests/**/*"
  - "target/**/*"
  - "scripts/**/*"

# Flag configuration for different test types
flags:
  unittests:
    paths:
      - crates/
    carryforward: true

# Component-based coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        target: 80%
  individual_components:
    # Core compiler components
    - component_id: core
      name: Core Compiler
      paths:
        - crates/vais-lexer/**
        - crates/vais-parser/**
        - crates/vais-ast/**
        - crates/vais-types/**
        - crates/vais-codegen/**
      statuses:
        - type: project
          target: 90%

    # Language tooling
    - component_id: tooling
      name: Language Tooling
      paths:
        - crates/vais-lsp/**
        - crates/vais-dap/**
        - crates/vaisc/**
      statuses:
        - type: project
          target: 85%

    # Advanced features
    - component_id: advanced
      name: Advanced Features
      paths:
        - crates/vais-jit/**
        - crates/vais-gc/**
        - crates/vais-mir/**
        - crates/vais-query/**
      statuses:
        - type: project
          target: 80%

    # Experimental features
    - component_id: experimental
      name: Experimental Features
      paths:
        - crates/vais-gpu/**
        - crates/vais-hotreload/**
        - crates/vais-plugin/**
      statuses:
        - type: project
          target: 70%

    # Infrastructure
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - crates/vais-i18n/**
        - crates/vais-profiler/**
        - crates/vais-security/**
        - crates/vais-supply-chain/**
      statuses:
        - type: project
          target: 75%

feat: complete Phase 13 P1 - Python bindings reactivation and error quality audit
  .github/workflows/ci.yml
  .workflow-state.json
  Cargo.toml
  ROADMAP.md
  crates/vais-codegen/src/lib.rs
  crates/vais-i18n/locales/en.json
  crates/vais-i18n/locales/ja.json
  crates/vais-i18n/locales/ko.json
  crates/vais-i18n/locales/zh.json
  crates/vais-python/Cargo.toml
  crates/vais-python/example.py
  crates/vais-python/pyproject.toml
  crates/vais-python/src/lib.rs
  crates/vais-python/src/token_conv.rs
  crates/vais-types/tests/error_recovery_tests.rs
Due: unittests, Core Compiler, Infrastructure

feat: complete Phase 13 P2 - practical validation and language feature enhancement
  .workflow-state.json
  ROADMAP.md
  crates/vais-ast/src/lib.rs
  crates/vais-codegen/src/builtins.rs
  crates/vais-codegen/src/ffi.rs
  crates/vais-codegen/src/registration.rs
  crates/vais-codegen/tests/formatter_tests.rs
  crates/vais-macro/src/lib.rs
  crates/vais-macro/src/proc_macro.rs
  crates/vais-parser/src/expr.rs
  crates/vais-parser/src/ffi.rs
  crates/vais-parser/src/lib.rs
  crates/vais-types/src/lib.rs
  crates/vais-types/src/types.rs
  crates/vaisc/tests/e2e_tests.rs
  crates/vaisc/tests/integration_tests.rs
  docs/QUICKSTART.md
  examples/projects/math-cli/DX_FEEDBACK.md
  examples/projects/math-cli/math_cli.vais
  examples/projects/math-cli/sorting.vais
Due: unittests, Core Compiler, Language Tooling

feat: complete Phase 13 P3-1 - package registry deployment and publish workflow
  .workflow-state.json
  ROADMAP.md
  crates/vais-registry-server/Dockerfile
  crates/vais-registry-server/docker-compose.yml
  crates/vaisc/src/main.rs
  crates/vaisc/src/registry/error.rs
  crates/vaisc/src/registry/mod.rs
  examples/packages/algorithm-kit/src/lib.vais
  examples/packages/algorithm-kit/vais.toml
  examples/packages/benchmark-utils/src/lib.vais
  examples/packages/benchmark-utils/vais.toml
  examples/packages/collections/src/lib.vais
  examples/packages/collections/vais.toml
  examples/packages/crypto-hash/src/lib.vais
  examples/packages/crypto-hash/vais.toml
  examples/packages/data-structures/src/lib.vais
  examples/packages/data-structures/vais.toml
  examples/packages/math-utils/src/lib.vais
  examples/packages/math-utils/vais.toml
  examples/packages/string-utils/src/lib.vais
  examples/packages/string-utils/vais.toml
Due: unittests, Language Tooling

feat: complete Phase 13 P3-2/P3-3 - package discovery and PGO workflow
  .workflow-state.json
  ROADMAP.md
  crates/vais-registry-server/src/db.rs
  crates/vais-registry-server/src/handlers/packages.rs
  crates/vais-registry-server/src/models.rs
  crates/vais-registry-server/src/router.rs
  crates/vaisc/src/main.rs
Due: unittests, Language Tooling

feat: add parallel compilation support with rayon-based per-function optimization
  .workflow-state.json
  ROADMAP.md
  crates/vais-codegen/src/lib.rs
  crates/vais-codegen/src/optimize.rs
  crates/vais-codegen/src/parallel.rs
  crates/vaisc/src/main.rs
Due: unittests, Core Compiler, Language Tooling

feat: enhance comptime with string/array types, built-in functions, and assertions
  .workflow-state.json
  ROADMAP.md
  crates/vais-codegen/src/expr_visitor.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-types/src/comptime.rs
  crates/vais-types/src/lib.rs
  examples/arrays.ll
  examples/fib.ll
  examples/hello.ll
  examples/std_import_test.ll
Due: unittests, Core Compiler

feat: complete Phase 13 P3 IDE experience - inlay hints, refactoring tools, and code lens
  .workflow-state.json
  ROADMAP.md
  crates/vais-lsp/src/backend.rs
Due: unittests, Language Tooling

fix: resolve 5 critical codegen bugs for Phase 14 P0
  ROADMAP.md
  crates/vais-codegen/src/control_flow.rs
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/function_gen.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-codegen/src/nested_field_tests.rs
  crates/vais-codegen/src/struct_param_tests.rs
  crates/vais-codegen/src/type_inference.rs
  crates/vaisc/tests/integration_tests.rs
Due: unittests, Core Compiler, Language Tooling

feat: implement print/println built-in functions with format string support
  .workflow-state.json
  ROADMAP.md
  crates/vais-codegen/src/builtins.rs
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/function_gen.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-types/src/lib.rs
  crates/vaisc/tests/e2e_tests.rs
Due: unittests, Core Compiler, Language Tooling

feat: implement first-class string operations with runtime concat, comparison, and methods
  .workflow-state.json
  ROADMAP.md
  crates/vais-codegen/src/expr.rs
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-codegen/src/string_ops.rs
  crates/vais-codegen/src/type_inference.rs
  crates/vais-types/src/lib.rs
  crates/vaisc/tests/integration_tests.rs
Due: unittests, Core Compiler, Language Tooling

feat: implement array mutation, format function, and 14 stdlib utilities
  .workflow-state.json
  ROADMAP.md
  crates/vais-codegen/src/builtins.rs
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-codegen/src/string_ops.rs
  crates/vais-types/src/lib.rs
  crates/vaisc/tests/e2e_tests.rs
Due: unittests, Core Compiler, Language Tooling

feat: complete Phase 14 P0 - generic monomorphization, trait dynamic dispatch, and test fixes
  .workflow-state.json
  ROADMAP.md
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-codegen/src/types.rs
  crates/vais-codegen/src/vtable.rs
  crates/vais-codegen/tests/formatter_tests.rs
  crates/vais-types/src/inference.rs
  crates/vais-types/src/lib.rs
  crates/vais-types/tests/ffi_types_tests.rs
  crates/vaisc/src/main.rs
  crates/vaisc/tests/integration_tests.rs
  examples/arrays.ll
  examples/generic_test.ll
Due: unittests, Core Compiler, Language Tooling

feat: complete Phase 14 P1 - installation and distribution system
  .dockerignore
  .github/workflows/release.yml
  .workflow-state.json
  CHANGELOG.md
  Dockerfile
  MIGRATION.md
  ROADMAP.md
  crates/vaisc/Cargo.toml
  docker-compose.yml
  homebrew-vais/.github/workflows/update-formula.yml
  homebrew-vais/.gitignore
  homebrew-vais/CONTRIBUTING.md
  homebrew-vais/Formula/vais.rb
  homebrew-vais/QUICK_REFERENCE.md
  homebrew-vais/README.md
  homebrew-vais/SETUP.md
  packaging/README.md
  packaging/arch/PKGBUILD
  packaging/deb/build-deb.sh
  packaging/rpm/vais.spec
  packaging/scoop/vais.json
  packaging/winget/sswoo88.Vais.yaml
Due: unittests, Language Tooling

feat: complete Phase 14 P2 - official website and deployment system
  .github/workflows/docs.yml
  .github/workflows/playground.yml
  .github/workflows/website.yml
  .workflow-state.json
  DEPLOYMENT_QUICKSTART.md
  DEPLOYMENT_README.md
  DEPLOYMENT_STRATEGY.md
  DNS_CONFIGURATION.md
  ROADMAP.md
  docs-site/vercel.json
  playground/netlify.toml
  playground/vercel.json
  playground/vite.config.js
  website/.gitignore
  website/DEPLOYMENT.md
  website/blog/index.html
  website/blog/why-vais.html
  website/index.html
  website/package-lock.json
  website/package.json
  website/src/main.js
  website/src/styles.css
  website/vercel.json
  website/vite.config.js
Due: none

feat: complete Phase 14 P3 - community and branding system
  .github/DISCUSSION_TEMPLATE/general.yml
  .github/DISCUSSION_TEMPLATE/ideas.yml
  .github/DISCUSSION_TEMPLATE/q-and-a.yml
  .github/DISCUSSION_TEMPLATE/show-and-tell.yml
  .github/ISSUE_TEMPLATE/config.yml
  .workflow-state.json
  ROADMAP.md
  community/BRAND_GUIDE.md
  community/CODE_CARD_TEMPLATES.md
  community/CONTENT_EXAMPLES.md
  community/DISCORD_SETUP.md
  community/INDEX.md
  community/LAUNCH_STRATEGY.md
  community/README.md
  community/SNS_ACCOUNTS.md
  community/SOCIAL_MEDIA_PLAN.md
  community/templates/code-card.html
Due: none

feat: complete Phase 14 P4 - ecosystem growth (education, benchmarks, integrations)
  .workflow-state.json
  ROADMAP.md
  docs/benchmarks.md
  docs/language-index-registration.md
  docs/learn-vais-in-y-minutes.md
  docs/rosetta-code/README.md
  docs/rosetta-code/binary_search.vais
  docs/rosetta-code/bubble_sort.vais
  docs/rosetta-code/collatz.vais
  docs/rosetta-code/factorial.vais
  docs/rosetta-code/fibonacci.vais
  docs/rosetta-code/fizzbuzz.vais
  docs/rosetta-code/gcd.vais
  docs/rosetta-code/is_prime.vais
  docs/rosetta-code/palindrome.vais
  docs/rosetta-code/towers_of_hanoi.vais
  docs/youtube-tutorials/episode-01-hello-world.md
  docs/youtube-tutorials/episode-02-fibonacci.md
  docs/youtube-tutorials/episode-03-structs-traits.md
  docs/youtube-tutorials/episode-04-pattern-matching.md
  docs/youtube-tutorials/episode-05-closures-async.md
  github-action-setup-vais/README.md
  github-action-setup-vais/action.yml
Due: none

docs: add Phase 15 - v1.0 release preparation roadmap
  .workflow-state.json
  ROADMAP.md
Due: none

fix: resolve generic struct codegen failures and stabilize release build
  .workflow-state.json
  Cargo.toml
  ROADMAP.md
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/function_gen.rs
  crates/vais-codegen/src/lib.rs
Due: unittests, Core Compiler

feat: implement kqueue event loop and generational GC (Phase 15 P1)
  .workflow-state.json
  ROADMAP.md
  crates/vais-gc/src/ffi.rs
  crates/vais-gc/src/generational.rs
  crates/vais-gc/src/lib.rs
  std/runtime.vais
Due: unittests, Advanced Features

feat: fix async function type checking and add 13 async E2E tests (Phase 15 P1)
  .workflow-state.json
  ROADMAP.md
  crates/vais-types/src/lib.rs
  crates/vaisc/tests/e2e_tests.rs
Due: unittests, Core Compiler, Language Tooling

feat: add GC tuning options and benchmarks (Phase 15 P1)
  .workflow-state.json
  ROADMAP.md
  benches/Cargo.toml
  benches/gc_bench.rs
  std/gc.vais
Due: none

fix: resolve clippy warnings and stabilize CI for cross-platform builds (Phase 15 P0)
  .github/workflows/ci.yml
  .workflow-state.json
  ROADMAP.md
  benches/runtime_bench.rs
  crates/vais-bindgen/examples/cpp_complete_workflow.rs
  crates/vais-codegen/src/advanced_opt/auto_vectorize.rs
  crates/vais-codegen/src/cache_tests.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-codegen/src/vtable_tests.rs
  crates/vais-codegen/tests/formatter_tests.rs
  crates/vais-dynload/src/lib.rs
  crates/vais-dynload/src/module_loader.rs
  crates/vais-dynload/src/wasm_sandbox.rs
  crates/vais-dynload/tests/integration_tests.rs
  crates/vais-gc/src/concurrent.rs
  crates/vais-gc/src/generational.rs
  crates/vais-gc/tests/gc_tests.rs
  crates/vais-hotreload/tests/integration_test.rs
  crates/vais-lexer/src/lib.rs
  crates/vais-lsp/src/backend.rs
  crates/vais-lsp/tests/code_actions_test.rs
  crates/vais-lsp/tests/integration_tests.rs
  crates/vais-parser/src/ffi.rs
  crates/vais-parser/tests/ffi_tests.rs
  crates/vais-plugin/tests/plugin_tests.rs
  crates/vais-profiler/examples/basic_usage.rs
  crates/vais-profiler/tests/ffi_test.rs
  crates/vais-profiler/tests/integration_test.rs
  crates/vais-supply-chain/src/tests.rs
  crates/vais-types/src/lib.rs
  crates/vais-types/tests/ffi_types_tests.rs
  crates/vaisc/src/doc_gen.rs
  crates/vaisc/src/incremental.rs
  crates/vaisc/src/main.rs
  crates/vaisc/src/registry/resolver.rs
  crates/vaisc/tests/import_security_tests.rs
  crates/vaisc/tests/integration_tests.rs
  crates/vaisc/tests/memory_safety_tests.rs
Due: unittests, Core Compiler, Language Tooling, Advanced Features, Experimental Features, Infrastructure

feat: implement lifetime inference engine with Rust-style elision rules (Phase 15 P2)
  .workflow-state.json
  ROADMAP.md
  crates/vais-types/src/lib.rs
  crates/vais-types/src/lifetime.rs
  crates/vais-types/src/types.rs
Due: unittests, Core Compiler

feat: implement ownership checker with move semantics and borrow checking (Phase 15 P2)
  .workflow-state.json
  ROADMAP.md
  crates/vais-types/src/lib.rs
  crates/vais-types/src/ownership.rs
  crates/vais-types/src/types.rs
Due: unittests, Core Compiler

feat: add dangling pointer prevention and enhanced lifetime error messages (Phase 15 P2)
  .workflow-state.json
  ROADMAP.md
  crates/vais-types/src/lifetime.rs
  crates/vais-types/src/ownership.rs
  crates/vais-types/src/types.rs
Due: unittests, Core Compiler

feat: complete Phase 15 P2 - ABI stabilization, GAT fixes, trait object safety, specialization
  .workflow-state.json
  ROADMAP.md
  crates/vais-ast/src/lib.rs
  crates/vais-codegen/src/abi.rs
  crates/vais-codegen/src/abi_tests.rs
  crates/vais-codegen/src/ffi.rs
  crates/vais-codegen/src/formatter.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-jit/src/compiler.rs
  crates/vais-parser/src/lib.rs
  crates/vais-types/src/lib.rs
  crates/vais-types/src/object_safety.rs
  crates/vais-types/src/specialization.rs
  crates/vais-types/src/types.rs
  crates/vais-types/tests/gat_tests.rs
  crates/vais-types/tests/object_safety_tests.rs
  crates/vais-types/tests/specialization_tests.rs
  crates/vaisc/src/repl.rs
Due: unittests, Core Compiler, Language Tooling, Advanced Features

feat: complete Phase 15 P3 - v1.0 release preparation (stress/fuzz/perf/security/license)
  .github/workflows/asan.yml
  .github/workflows/bench-regression.yml
  .workflow-state.json
  CHANGELOG.md
  FUZZ_TEST_RESULTS.md
  NOTICE
  PERFORMANCE_REGRESSION_SETUP.md
  README.md
  ROADMAP.md
  SECURITY.md
  benches/BASELINE.md
  benches/Cargo.toml
  benches/QUICKSTART.md
  benches/README.md
  benches/compiler_benchmarks.rs
  crates/vais-parser/tests/README_FUZZ.md
  crates/vais-parser/tests/fuzz_tests.rs
  crates/vais-types/tests/README_FUZZ.md
  crates/vais-types/tests/fuzz_tests.rs
  crates/vaisc/tests/memory_safety_tests.rs
  crates/vaisc/tests/stress_tests.rs
  docs/MEMORY_SAFETY.md
  docs/PERFORMANCE_TESTING.md
  docs/RELEASE_NOTES_v1.0.0.md
  docs/SECURITY_AUDIT.md
  docs/SECURITY_AUDIT_SUMMARY.md
  docs/STABILITY.md
  run_fuzz_tests.sh
  scripts/asan-test.sh
  scripts/bench-compare.sh
  scripts/run-bench-comparison.sh
  tests/stress/README.md
  tests/stress/algorithms.vais
  tests/stress/control_flow.vais
  tests/stress/data_structures.vais
  tests/stress/math_library.vais
  tests/stress/type_system.vais
Due: unittests, Core Compiler, Language Tooling

fix: resolve 14 security audit issues and fix clippy warnings
  .github/workflows/ci.yml
  .github/workflows/fuzz.yml
  CHANGELOG.md
  Cargo.toml
  ROADMAP.md
  crates/vais-codegen/src/abi.rs
  crates/vais-codegen/src/abi_tests.rs
  crates/vais-codegen/src/ffi.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-parser/src/expr.rs
  crates/vais-parser/src/lib.rs
  crates/vais-playground-server/src/main.rs
  crates/vais-plugin/src/loader.rs
  crates/vais-plugin/src/registry.rs
  crates/vais-plugin/tests/plugin_tests.rs
  crates/vais-types/src/ownership.rs
  crates/vais-types/src/specialization.rs
  crates/vaisc/src/main.rs
  crates/vaisc/tests/import_security_tests.rs
  std/io.vais
Due: unittests, Core Compiler, Language Tooling, Experimental Features

release: bump all crate versions to 1.0.0 and add missing metadata
  CHANGELOG.md
  Cargo.toml
  README.md
  benches/Cargo.toml
  crates/vais-ast/Cargo.toml
  crates/vais-ast/src/lib.rs
  crates/vais-bindgen/Cargo.toml
  crates/vais-codegen/Cargo.toml
  crates/vais-codegen/src/lib.rs
  crates/vais-codegen/src/types.rs
  crates/vais-gpu/Cargo.toml
  crates/vais-i18n/Cargo.toml
  crates/vais-lexer/Cargo.toml
  crates/vais-lexer/src/lib.rs
  crates/vais-macro/Cargo.toml
  crates/vais-node/Cargo.toml
  crates/vais-parser/Cargo.toml
  crates/vais-parser/src/lib.rs
  crates/vais-plugin/Cargo.toml
  crates/vais-registry-server/Cargo.toml
  crates/vais-security/Cargo.toml
  crates/vais-tutorial/Cargo.toml
  crates/vais-types/Cargo.toml
  crates/vais-types/src/lib.rs
  examples/plugins/example-lint/Cargo.toml
Due: unittests, Core Compiler, Experimental Features, Infrastructure

docs: add Phase 16 to ROADMAP - practical validation bug fixes
  .workflow-state.json
  ROADMAP.md
Due: none

fix: resolve 17 LLVM IR codegen bugs, improve example success rate to 74%
  ROADMAP.md
  crates/vais-codegen/src/contracts.rs
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/expr_visitor.rs
  crates/vais-codegen/src/function_gen.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-codegen/src/stmt_visitor.rs
  crates/vais-codegen/src/type_inference.rs
  crates/vaisc/src/main.rs
Due: unittests, Core Compiler, Language Tooling

fix: resolve type checker and parser issues for Phase 16 P1
  .workflow-state.json
  crates/vais-parser/src/expr.rs
  crates/vais-types/src/lib.rs
  examples/defer_simple.vais
  examples/gc_simple_demo.vais
  examples/gc_test.vais
  examples/gc_vec_test.vais
  examples/generic_vec_test.vais
  examples/math_test.vais
  examples/proptest_example.vais
  std/math.vais
Due: unittests, Core Compiler

fix: resolve additional compile errors, improve example success rate to 92.5%
  .workflow-state.json
  ROADMAP.md
  crates/vais-codegen/src/builtins.rs
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-types/src/lib.rs
  examples/io_test.vais
  examples/math.vais
  examples/math_test.vais
  examples/option_result_test.vais
  std/io.vais
Due: unittests, Core Compiler

fix: Phase 17 - clippy warnings, runtime tests, CLAUDE.md
  .workflow-state.json
  CLAUDE.md
  ROADMAP.md
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/type_inference.rs
  crates/vaisc/tests/e2e_tests.rs
Due: unittests, Core Compiler, Language Tooling

chore: clean up temp files and improve .gitignore
  .gitignore
Due: none

fix: remove early return in closure_test print_num function
  examples/closure_test.vais
Due: none

feat: integrate ownership/borrow checker into compilation pipeline
  .workflow-state.json
  ROADMAP.md
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/inkwell/types.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-types/src/lib.rs
  crates/vais-types/src/ownership.rs
  crates/vais-types/tests/ownership_integration_tests.rs
  crates/vaisc/src/main.rs
Due: unittests, Core Compiler, Language Tooling
