Repository vaislang/vais: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Compiler, Language Tooling, Advanced Features, Experimental Features, Infrastructure

codecov.yml:

# Codecov configuration
# Documentation: https://docs.codecov.io/docs/codecov-yaml

# Coverage target configuration
coverage:
  precision: 2
  round: down
  range: 70..100

  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error

    patch:
      default:
        target: 75%
        threshold: 2%

    changes:
      default:
        if_ci_failed: error

# Comment on pull requests with coverage information
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore paths from coverage
ignore:
  - "benches/**/*"
  - "examples/**/*"
  - "tests/**/*"
  - "target/**/*"
  - "scripts/**/*"

# Flag configuration for different test types
flags:
  unittests:
    paths:
      - crates/
    carryforward: true

# Component-based coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        target: 80%
  individual_components:
    # Core compiler components
    - component_id: core
      name: Core Compiler
      paths:
        - crates/vais-lexer/**
        - crates/vais-parser/**
        - crates/vais-ast/**
        - crates/vais-types/**
        - crates/vais-codegen/**
      statuses:
        - type: project
          target: 90%

    # Language tooling
    - component_id: tooling
      name: Language Tooling
      paths:
        - crates/vais-lsp/**
        - crates/vais-dap/**
        - crates/vaisc/**
      statuses:
        - type: project
          target: 85%

    # Advanced features
    - component_id: advanced
      name: Advanced Features
      paths:
        - crates/vais-jit/**
        - crates/vais-gc/**
        - crates/vais-mir/**
        - crates/vais-query/**
      statuses:
        - type: project
          target: 80%

    # Experimental features
    - component_id: experimental
      name: Experimental Features
      paths:
        - crates/vais-gpu/**
        - crates/vais-hotreload/**
        - crates/vais-plugin/**
      statuses:
        - type: project
          target: 70%

    # Infrastructure
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - crates/vais-i18n/**
        - crates/vais-profiler/**
        - crates/vais-security/**
        - crates/vais-supply-chain/**
      statuses:
        - type: project
          target: 75%

feat(selfhost): add MIR optimizer — 4 optimization passes (756 LOC)
  ROADMAP.md
  selfhost/mir_optimizer.vais
  selfhost/mir_test_opt.vais
Due: none

feat(selfhost): add MIR analysis passes — liveness, dominance, loops (1,536 LOC)
  ROADMAP.md
  selfhost/mir_analysis.vais
Due: none

feat(selfhost): add MIR borrow checker — ownership/borrow checking on MIR (1,357 LOC)
  ROADMAP.md
  selfhost/ROADMAP.md
  selfhost/mir.vais
  selfhost/mir_borrow.vais
  selfhost/mir_test_borrow.vais
Due: none

add Benchmark (cargo) benchmark result for 8e1b2f071f959f23c863af1e13fa2eb84fdbe5aa
  dev/bench/data.js
Due: none

feat(selfhost): integrate MIR pipeline — Source→Lex→Parse→MIR→Opt→LLVM IR (~350 LOC)
  ROADMAP.md
  crates/vais-codegen/src/inkwell/generator.rs
  selfhost/mir_analysis.vais
  selfhost/mir_borrow.vais
  selfhost/mir_builder.vais
  selfhost/mir_emit_llvm.vais
  selfhost/mir_lower.vais
  selfhost/mir_main.vais
  selfhost/mir_optimizer.vais
  selfhost/mir_test_opt.vais
  selfhost/parser.vais
Due: unittests, Core Compiler

add Benchmark (cargo) benchmark result for 4c7edd905341164a74daf8fddb79b98296004621
  dev/bench/data.js
Due: none

feat(selfhost): add LSP server — hover, go-to-def, find-refs, completion (2,437 LOC)
  ROADMAP.md
  crates/vais-codegen/src/inkwell/builtins.rs
  selfhost/lsp_handlers.vais
  selfhost/lsp_json.vais
  selfhost/lsp_main.vais
  selfhost/lsp_symbols.vais
Due: unittests, Core Compiler

chore: add selfhost binary artifacts to .gitignore
  .gitignore
Due: none

fix(selfhost): fix 4 parser bugs — field access, else token, mut let, struct literal
  selfhost/parser.vais
Due: none

feat(selfhost): add code formatter and doc generator, update ROADMAPs
  .gitignore
  ROADMAP.md
  selfhost/ROADMAP.md
  selfhost/doc_gen.vais
  selfhost/doc_gen_main.vais
  selfhost/fmt.vais
  selfhost/fmt_main.vais
Due: none

add Benchmark (cargo) benchmark result for 6c10ee73306a4fa66d74e23427d9781f043b8d4c
  dev/bench/data.js
Due: none

feat(selfhost): add while loop, match parsing, pattern matching & Option/Result
  ROADMAP.md
  crates/vaisc/tests/e2e_tests.rs
  selfhost/ROADMAP.md
  selfhost/ast.vais
  selfhost/codegen.vais
  selfhost/codegen_s1.vais
  selfhost/constants.vais
  selfhost/fmt.vais
  selfhost/lsp_symbols.vais
  selfhost/main.vais
  selfhost/mir_lower.vais
  selfhost/option.vais
  selfhost/parser.vais
  selfhost/parser_s1.vais
  selfhost/type_checker.vais
Due: unittests, Language Tooling

feat(selfhost): add stdlib modules — Vec, String, HashMap, defer, file I/O, print
  crates/vais-codegen/src/builtins.rs
  crates/vais-codegen/src/inkwell/builtins.rs
  crates/vais-types/src/lib.rs
  selfhost/ROADMAP.md
  selfhost/ast.vais
  selfhost/codegen.vais
  selfhost/file_io.vais
  selfhost/hashmap.vais
  selfhost/parser.vais
  selfhost/print.vais
  selfhost/string.vais
  selfhost/vec.vais
Due: unittests, Core Compiler

add Benchmark (cargo) benchmark result for 77e17db39ed5995cb41ef375c8bd7d224f6142b8
  dev/bench/data.js
Due: none

test(selfhost): add stdlib test suites — 276 assertions across 6 modules
  ROADMAP.md
  crates/vaisc/tests/selfhost_stdlib_tests.rs
  selfhost/ROADMAP.md
  selfhost/file_io.vais
  selfhost/test_file_io.vais
  selfhost/test_hashmap.vais
  selfhost/test_option.vais
  selfhost/test_print.vais
  selfhost/test_string.vais
  selfhost/test_vec.vais
Due: unittests, Language Tooling

add Benchmark (cargo) benchmark result for fba6404083bba33a2c2e0b9303fdf02916c84685
  dev/bench/data.js
Due: none

feat(selfhost): add pointer and reference types — *T, &T, &mut T, &expr, *expr
  crates/vais-codegen/src/inkwell/generator.rs
  crates/vaisc/tests/selfhost_stdlib_tests.rs
  selfhost/ROADMAP.md
  selfhost/codegen.vais
  selfhost/parser.vais
  selfhost/test_pointers.vais
  selfhost/type_checker.vais
Due: unittests, Core Compiler, Language Tooling

add Benchmark (cargo) benchmark result for 12766d2f675e5258d6bef47c3e6a18e6f34d74d6
  dev/bench/data.js
Due: none

docs: consolidate ROADMAP.md — compress Phase 28-40, add Phase 41
  ROADMAP.md
  selfhost/ROADMAP.md
Due: none

add Benchmark (cargo) benchmark result for ab94b5d47d02f7bd0152c8d39519eea0bde949e7
  dev/bench/data.js
Due: none

feat(selfhost): add error recovery parser — multi-error collection, sync, line:col reporting
  ROADMAP.md
  crates/vaisc/tests/e2e_tests.rs
  selfhost/parser.vais
Due: unittests, Language Tooling

add Benchmark (cargo) benchmark result for 90451434163059fc77fc80e642382ed2709d7366
  dev/bench/data.js
Due: none

feat: add closure type inference, error chaining, and higher-order Vec methods
  ROADMAP.md
  crates/vais-parser/src/expr.rs
  crates/vaisc/tests/e2e_tests.rs
  std/result.vais
  std/vec.vais
Due: unittests, Core Compiler, Language Tooling

feat: add error type system — enum impl blocks, derive(Error), thiserror/anyhow-style std/error.vais
  ROADMAP.md
  crates/vais-macro/src/derive.rs
  crates/vais-types/src/lib.rs
  crates/vais-types/src/types.rs
  crates/vaisc/tests/e2e_tests.rs
  std/error.vais
Due: unittests, Core Compiler, Language Tooling

feat: add iterator protocol, adapters, yield keyword — 16 E2E tests (292 total)
  ROADMAP.md
  crates/vais-ast/src/lib.rs
  crates/vais-codegen/src/expr_visitor.rs
  crates/vais-codegen/src/formatter.rs
  crates/vais-codegen/src/inkwell/generator.rs
  crates/vais-codegen/src/lambda_closure.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-lexer/src/lib.rs
  crates/vais-macro/src/expansion.rs
  crates/vais-parser/src/expr.rs
  crates/vais-parser/src/lib.rs
  crates/vais-security/src/analyzer.rs
  crates/vais-types/src/effects.rs
  crates/vais-types/src/lib.rs
  crates/vaisc/tests/e2e_tests.rs
  std/iter.vais
Due: unittests, Core Compiler, Language Tooling, Infrastructure

test: reach 301 E2E tests — add 9 tests for recursion, bitwise, closures, enums, pipelines
  ROADMAP.md
  crates/vaisc/tests/e2e_tests.rs
Due: unittests, Language Tooling

add Benchmark (cargo) benchmark result for c98aa6b6fb78141b3be8d67efc36ae2e7f5d68d5
  dev/bench/data.js
Due: none

feat: add package ecosystem — vaisc new/test, pkg tree/doc + 14 E2E tests
  ROADMAP.md
  crates/vaisc/src/main.rs
  crates/vaisc/tests/registry_e2e_tests.rs
Due: unittests, Language Tooling

add Benchmark (cargo) benchmark result for b967561a525a34f86856b65189a96c5975691bc7
  dev/bench/data.js
Due: none

fix: resolve 5 compiler bugs + update playground examples and docs
  crates/vais-parser/src/expr.rs
  crates/vais-parser/src/lib.rs
  crates/vais-parser/src/stmt.rs
  crates/vais-types/src/ownership.rs
  crates/vaisc/src/main.rs
  crates/vaisc/tests/selfhost_lexer_tests.rs
  docs/LANGUAGE_SPEC.md
  playground/src/examples.js
Due: unittests, Core Compiler, Language Tooling

add Benchmark (cargo) benchmark result for fc94b9a4963085a2e91a855a4f1640f5c9222a8f
  dev/bench/data.js
Due: none

feat: add return type inference — omit return type annotations, compiler infers from body
  crates/vais-codegen/src/function_gen.rs
  crates/vais-codegen/src/inkwell/generator.rs
  crates/vais-codegen/src/registration.rs
  crates/vais-types/src/lib.rs
  crates/vaisc/src/main.rs
Due: unittests, Core Compiler, Language Tooling

test: add 6 return type inference E2E tests (307 total)
  crates/vaisc/tests/e2e_tests.rs
Due: unittests, Language Tooling

docs: mark Phase 41 Stage 7 as complete — all CI workflows already implemented
  ROADMAP.md
Due: none

add Benchmark (cargo) benchmark result for 102ac996a6570353c0d56ca0f9b00a8a15ba1888
  dev/bench/data.js
Due: none

refactor: remove unused dependencies and redundant std files
  Cargo.toml
  crates/vaisc/Cargo.toml
  std/iter_minimal.vais
  std/iter_simple.vais
  std/test_simple.vais
Due: unittests, Language Tooling

add Benchmark (cargo) benchmark result for 816ea5ae8b8e72c34b3e92a4dfa1a8eed5c34044
  dev/bench/data.js
Due: none

fix: resolve CI failures — cargo fmt, _GNU_SOURCE, playground mock mode
  benches/largescale_bench.rs
  crates/vais-codegen/src/inkwell/builtins.rs
  crates/vais-codegen/src/inkwell/generator.rs
  crates/vais-types/src/effects.rs
  crates/vais-types/src/lib.rs
  crates/vaisc/src/main.rs
  crates/vaisc/src/package.rs
  crates/vaisc/tests/cross_verify_tests.rs
  crates/vaisc/tests/e2e_tests.rs
  crates/vaisc/tests/registry_e2e_tests.rs
  crates/vaisc/tests/selfhost_lexer_tests.rs
  crates/vaisc/tests/selfhost_stdlib_tests.rs
  playground/src/compiler.js
  std/thread_runtime.c
Due: unittests, Core Compiler, Language Tooling

add Benchmark (cargo) benchmark result for a57772c230594cd941e8a6037bfe32665800313e
  dev/bench/data.js
Due: none

fix: use platform-correct stdin/stdout symbols in Inkwell builtins
  crates/vais-codegen/src/inkwell/builtins.rs
Due: unittests, Core Compiler
