Repository vaislang/vais: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Compiler, Language Tooling, Advanced Features, Extensibility, Infrastructure, Ecosystem Services

codecov.yml:

# Codecov configuration
# Documentation: https://docs.codecov.io/docs/codecov-yaml

# Coverage target configuration
coverage:
  precision: 2
  round: down
  range: 60..100

  status:
    project:
      default:
        target: 75%
        threshold: 2%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 3%

    changes:
      default:
        if_ci_failed: error

# Comment on pull requests with coverage information
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore paths from coverage
# Excludes match tarpaulin.toml exclude list â€” crates with 0% coverage
# that inflate the denominator if included
ignore:
  - "benches/**/*"
  - "examples/**/*"
  - "tests/**/*"
  - "target/**/*"
  - "scripts/**/*"
  - "crates/vais-python/**"
  - "crates/vais-node/**"
  - "crates/vais-dap/**"
  - "crates/vais-playground-server/**"

# Flag configuration for different test types
flags:
  unittests:
    paths:
      - crates/
    carryforward: true

# Component-based coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        target: 75%
  individual_components:
    # Core compiler components
    - component_id: core
      name: Core Compiler
      paths:
        - crates/vais-lexer/**
        - crates/vais-parser/**
        - crates/vais-ast/**
        - crates/vais-types/**
        - crates/vais-codegen/**
        - crates/vais-codegen-js/**
        - crates/vais-mir/**
      statuses:
        - type: project
          target: 80%

    # Language tooling
    - component_id: tooling
      name: Language Tooling
      paths:
        - crates/vais-lsp/**
        - crates/vaisc/**
        - crates/vais-bindgen/**
        - crates/vais-macro/**
      statuses:
        - type: project
          target: 75%

    # Runtime & advanced features
    - component_id: advanced
      name: Advanced Features
      paths:
        - crates/vais-jit/**
        - crates/vais-gc/**
        - crates/vais-gpu/**
        - crates/vais-query/**
      statuses:
        - type: project
          target: 70%

    # Plugin & dynamic loading
    - component_id: extensibility
      name: Extensibility
      paths:
        - crates/vais-plugin/**
        - crates/vais-dynload/**
        - crates/vais-hotreload/**
      statuses:
        - type: project
          target: 68%

    # Infrastructure & ecosystem
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - crates/vais-i18n/**
        - crates/vais-profiler/**
        - crates/vais-security/**
        - crates/vais-supply-chain/**
        - crates/vais-testgen/**
      statuses:
        - type: project
          target: 70%

    # Ecosystem services (playground-server excluded from coverage measurement)
    - component_id: services
      name: Ecosystem Services
      paths:
        - crates/vais-registry-server/**
      statuses:
        - type: project
          target: 75%

fix(codegen): Phase E.7 — Ref(Str) binop routing + Vec/HashMap forward decl fallback
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/module_gen/subset.rs
Due: unittests, Core Compiler

fix(compiler): Phase 17.H1 — Span file_id + expr_types namespace + merge
  crates/vais-ast/src/infrastructure.rs
  crates/vais-codegen/src/expr_helpers_call/method_call.rs
  crates/vais-codegen/src/generate_expr_call.rs
  crates/vais-codegen/src/init.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-codegen/src/tests/type_tests.rs
  crates/vais-codegen/src/type_inference.rs
  crates/vais-gpu/tests/gpu_tests.rs
  crates/vais-security/src/lint_tests.rs
  crates/vais-types/src/checker_expr/mod.rs
  crates/vais-types/src/inference/inference_modes.rs
  crates/vais-types/src/lib.rs
  crates/vais-types/src/ownership/tests.rs
  crates/vais-types/src/types/error.rs
  crates/vais-types/tests/type_error_path_tests.rs
  crates/vaisc/src/commands/build/backend.rs
  crates/vaisc/src/commands/build/core.rs
  crates/vaisc/src/commands/build/parallel.rs
  crates/vaisc/src/commands/compile/per_module.rs
  crates/vaisc/src/commands/fix.rs
  crates/vaisc/src/incremental/detect.rs
Due: unittests, Core Compiler, Language Tooling, Advanced Features, Infrastructure

fix(codegen): Phase 17.H3.1 — coerce range for-loop bounds to i64
  crates/vais-codegen/src/generate_expr_loop.rs
Due: unittests, Core Compiler

fix(codegen): Phase 17.H3.2 — trunc Result/Option Try payload to narrower primitive
  crates/vais-codegen/src/expr_helpers_misc.rs
Due: unittests, Core Compiler

fix(codegen): Phase 17.H4.1 — struct literal Unit-field void leak
  crates/vais-codegen/src/generate_expr_struct.rs
Due: unittests, Core Compiler

fix(codegen): Phase 17.H4.2/H4.3 — Unit payload in enum match + unwrap
  crates/vais-codegen/src/control_flow/pattern.rs
  crates/vais-codegen/src/expr_helpers_misc.rs
Due: unittests, Core Compiler

fix(codegen): Phase 17.H4.4 — method call arg coerce uses actual LLVM type
  crates/vais-codegen/src/expr_helpers_call/method_call.rs
Due: unittests, Core Compiler

feat(std/vec): add Vec.truncate method
  std/vec.vais
Due: none

fix(codegen): Phase 17.H4.5 — skip Bool→i64 zext when body is Unit placeholder
  crates/vais-codegen/src/control_flow/match_gen.rs
Due: unittests, Core Compiler

fix(codegen): Phase 17.H4.6 — &arr[i] returns element address, not loaded value
  crates/vais-codegen/src/generate_expr/ref_deref.rs
Due: unittests, Core Compiler

fix(codegen): Phase 17.H4.6 range-guard — &arr[a..b] still goes through generate_slice
  crates/vais-codegen/src/generate_expr/ref_deref.rs
Due: unittests, Core Compiler

fix(codegen): Phase 17.H4.7 — &<call>() spills struct return value to alloca
  crates/vais-codegen/src/generate_expr/ref_deref.rs
Due: unittests, Core Compiler

fix(codegen): Phase 17.H4.8 — load struct alloca ptr when assigning to Named field
  crates/vais-codegen/src/expr_helpers_assign.rs
Due: unittests, Core Compiler

fix(codegen): Phase 17.H4.8b/c — alloca'd enum/struct ptr → load before store on assign
  crates/vais-codegen/src/expr_helpers_assign.rs
  crates/vais-codegen/src/expr_helpers_call/call_gen.rs
Due: unittests, Core Compiler

fix(codegen): Phase 17.H4.10 — register struct field GEP + ptrtoint icmp operands
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/expr_helpers_data.rs
Due: unittests, Core Compiler

fix(codegen): Phase 17.H4.11 — specialize zero-arg generic static methods via expected_ret
  crates/vais-codegen/src/expr_helpers_call/method_call.rs
Due: unittests, Core Compiler

fix(codegen): Phase 17.H4.12 — slice helper updates current_block tracking
  crates/vais-codegen/src/helpers.rs
Due: unittests, Core Compiler

feat(std/vec): add Vec.new() as primary empty-Vec constructor
  std/vec.vais
Due: none

fix(std/sync): replace LW...!... with I...EL... for conditional expressions
  std/sync.vais
Due: none

fix(codegen): Phase 17.H4.13 — generate_module + _with_instantiations register generic struct_defs
  crates/vais-codegen/src/module_gen/instantiations.rs
  crates/vais-codegen/src/module_gen/mod.rs
Due: unittests, Core Compiler

feat(codegen): Phase 17.H4.14 — stdlib generic struct template auto-preload
  crates/vais-codegen/src/init.rs
  crates/vaisc/src/commands/compile/per_module.rs
Due: unittests, Core Compiler, Language Tooling

feat(codegen): Phase 17.H4.14 — propagate stdlib preload to emit-IR path
  crates/vaisc/src/commands/build/parallel.rs
  crates/vaisc/src/commands/compile/mod.rs
  crates/vaisc/src/commands/compile/per_module.rs
Due: unittests, Language Tooling

feat(types+codegen): Phase 17.H4.15 — expected-type hint stack for zero-arg generic ctors
  crates/vais-codegen/src/expr_helpers_call/method_call.rs
  crates/vais-types/src/checker_expr/calls.rs
  crates/vais-types/src/checker_expr/collections.rs
  crates/vais-types/src/lib.rs
  crates/vais-types/src/lookup.rs
Due: unittests, Core Compiler

fix(codegen): Phase 17.H4 iter 18 — cross-module Vais function ABI + &str/&[T] ref ABI
  crates/vais-codegen/src/function_gen/signature.rs
  crates/vais-codegen/src/generate_expr/ref_deref.rs
Due: unittests, Core Compiler

fix(codegen): Phase 17.H4 iter 20 — TC expr_types fallback for unregistered call return types
  crates/vais-codegen/src/expr_helpers_call/method_call.rs
  crates/vais-codegen/src/expr_visitor.rs
  crates/vais-codegen/src/generate_expr/mod.rs
  crates/vais-codegen/src/generate_expr_call.rs
Due: unittests, Core Compiler

fix(codegen): Phase 17.H4 iter 21 — skip TC-inferred Named→ptrtoint for scalar-shape args
  crates/vais-codegen/src/generate_expr_call.rs
Due: unittests, Core Compiler

docs(codegen): Phase 17.H4 iter 25 — llvm_type_of ground-truth refactor design
  docs/refactor/llvm-ground-truth.md
Due: none

feat(codegen): Phase 17.H4 Wave 1a — infrastructure for llvm_type_of ground-truth
  crates/vais-codegen/src/expr_helpers_call/method_call.rs
  crates/vais-codegen/src/function_gen/async_gen.rs
  crates/vais-codegen/src/function_gen/signature.rs
  crates/vais-codegen/src/init.rs
  crates/vais-codegen/src/state.rs
  crates/vais-codegen/src/types/coercion.rs
Due: unittests, Core Compiler

feat(codegen): Phase 17.H4 Wave 1b — record_emitted_type for ptrtoint sites
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/expr_helpers_call/call_gen.rs
  crates/vais-codegen/src/expr_helpers_call/method_call.rs
  crates/vais-codegen/src/generate_expr_call.rs
  crates/vais-codegen/src/string_ops.rs
Due: unittests, Core Compiler

feat(codegen): Phase 17.H4 Wave 1c.1 — record_emitted_type for generate_expr_call.rs trunc/sext/zext/icmp
  crates/vais-codegen/src/generate_expr_call.rs
Due: unittests, Core Compiler

feat(codegen): Phase 17.H4 Wave 1c.2 — record_emitted_type for string_ops.rs 23 sites
  crates/vais-codegen/src/string_ops.rs
Due: unittests, Core Compiler

feat(codegen): Phase 17.H4 Wave 1c.3 — record_emitted_type for print_format.rs 9 sites
  crates/vais-codegen/src/expr_helpers_call/print_format.rs
Due: unittests, Core Compiler

feat(codegen): Phase 17.H4 Wave 1c.4 — record_emitted_type for expr_helpers/stmt/pattern 15 sites
  crates/vais-codegen/src/control_flow/pattern.rs
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/stmt.rs
Due: unittests, Core Compiler

feat(codegen): Phase 17.H4 Wave 1c.5 — record_emitted_type for 19 contract/control-flow sites
  crates/vais-codegen/src/contracts/assert_assume.rs
  crates/vais-codegen/src/contracts/auto_checks.rs
  crates/vais-codegen/src/contracts/decreases.rs
  crates/vais-codegen/src/contracts/invariants.rs
  crates/vais-codegen/src/contracts/requires.rs
  crates/vais-codegen/src/control_flow/match_gen.rs
  crates/vais-codegen/src/expr_helpers_call/method_call.rs
  crates/vais-codegen/src/expr_helpers_data.rs
  crates/vais-codegen/src/expr_helpers_misc.rs
  crates/vais-codegen/src/function_gen/async_gen.rs
  crates/vais-codegen/src/function_gen/dependent_checks.rs
  crates/vais-codegen/src/generate_expr_struct.rs
  crates/vais-codegen/src/helpers.rs
  crates/vais-codegen/src/stmt_visitor.rs
Due: unittests, Core Compiler

docs(codegen): Phase 17.H4 Wave 2 design doc — load/call/gep/alloca migration plan
  docs/refactor/llvm-ground-truth-wave2.md
Due: none

feat(codegen): Phase 17.H4 Wave 2a — record_emitted_type for 9 safe alloca sites
  crates/vais-codegen/src/expr_helpers_assign.rs
  crates/vais-codegen/src/expr_helpers_misc.rs
  crates/vais-codegen/src/expr_visitor.rs
  crates/vais-codegen/src/function_gen/codegen.rs
  crates/vais-codegen/src/generate_expr_call.rs
Due: unittests, Core Compiler

feat(codegen): Phase 17.H4 Wave 2c.1 helpers — record_emitted_type for 4 load i64 sites
  crates/vais-codegen/src/helpers.rs
Due: unittests, Core Compiler

feat(codegen): Phase 17.H4 Wave 2c.1 call — record_emitted_type for 4 load i64 sites
  crates/vais-codegen/src/generate_expr_call.rs
Due: unittests, Core Compiler

feat(codegen): Phase 17.H4 Wave 2c.1 loop+stmt — record_emitted_type for 6 load i64 sites
  crates/vais-codegen/src/generate_expr_loop.rs
  crates/vais-codegen/src/stmt.rs
Due: unittests, Core Compiler

feat(codegen): Phase 17.H4 Wave 2c.1 pattern — record_emitted_type for 8 load i64 sites
  crates/vais-codegen/src/control_flow/pattern.rs
Due: unittests, Core Compiler
