Repository vaislang/vais: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Compiler, Language Tooling, Advanced Features, Extensibility, Infrastructure, Ecosystem Services

fix(ci): IR verify warning을 debug_assert에서 eprintln으로 완화
  crates/vais-codegen/src/ir_verify.rs
Due: unittests, Core Compiler

add Benchmark (cargo) benchmark result for f13a8211bfe10fb1cdbaa6e2caad27d8b063ce91
  dev/bench/data.js
Due: none

test(vaisx): add Phase 0.5 contract tests for parser, WASM bindgen, JS codegen
  crates/vais-codegen-js/tests/vaisx_contract_tests.rs
  crates/vais-codegen/tests/wasm_vaisx_contract_tests.rs
  crates/vais-parser/tests/vaisx_contract_tests.rs
Due: unittests, Core Compiler

test(coverage): Phase 140 — 6개 crate 테스트 추가, 전체 11,357 tests 통과
  ROADMAP.md
  crates/vais-lsp/tests/handler_tests.rs
  crates/vais-registry-server/tests/api_coverage_tests.rs
Due: unittests, Language Tooling, Ecosystem Services

fix(docs): 버전 불일치 14건 수정 — v1.0.0→v0.0.5 (설치 가이드), 1.0.0→0.1.0 (메타/패키지)
  docs-site/CHECKLIST.md
  docs-site/OVERVIEW.md
  docs-site/PROJECT_SUMMARY.md
  docs-site/src/en/getting-started/installation.md
  docs-site/src/guide/style-guide.md
  docs-site/src/ja/getting-started/installation.md
  docs-site/src/ja/getting-started/tutorial.md
  docs-site/src/ja/language/language-spec.md
  docs-site/src/production-checklist.md
  docs-site/src/zh/getting-started/installation.md
  docs-site/src/zh/language/language-spec.md
  playground/package.json
  vscode-vais/package.json
  website/package.json
Due: none

fix(website): hero badge 버전 v1.0.0→v0.0.5 — index.html + 4개 로캘 파일
  website/index.html
  website/public/locales/en.json
  website/public/locales/ja.json
  website/public/locales/ko.json
  website/public/locales/zh.json
Due: none

fix: resolve 8 root cause compiler issues (C1-C8) for VaisDB test compilation
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/expr_helpers_call/call_gen.rs
  crates/vais-codegen/src/expr_helpers_call/method_call.rs
  crates/vais-codegen/src/expr_helpers_data.rs
  crates/vais-codegen/src/expr_helpers_misc.rs
  crates/vais-codegen/src/generate_expr_call.rs
  crates/vais-codegen/src/init.rs
  crates/vais-codegen/src/module_gen/instantiations.rs
  crates/vais-codegen/src/module_gen/mod.rs
  crates/vais-codegen/src/stmt.rs
  crates/vais-codegen/src/stmt_visitor.rs
  crates/vais-codegen/src/string_ops.rs
  crates/vais-codegen/src/type_inference.rs
  crates/vais-lexer/src/lib.rs
  crates/vais-macro/src/expansion.rs
  crates/vais-parser/src/expr/postfix.rs
  crates/vais-parser/src/expr/primary.rs
  crates/vais-parser/src/expr/unary.rs
  crates/vais-parser/src/item/macros.rs
  crates/vais-parser/src/item/mod.rs
  crates/vais-parser/src/lib.rs
  crates/vais-parser/src/stmt.rs
  crates/vais-types/src/checker_expr/calls.rs
  crates/vais-types/src/checker_expr/collections.rs
  crates/vais-types/src/checker_expr/special.rs
  crates/vais-types/src/checker_module/mod.rs
  crates/vais-types/src/inference/unification.rs
  crates/vais-types/src/lib.rs
  crates/vais-types/src/lookup.rs
  crates/vaisc/src/commands/build/backend.rs
  crates/vaisc/src/commands/build/core.rs
  crates/vaisc/src/commands/build_js.rs
  crates/vaisc/src/imports.rs
  crates/vaisc/src/main.rs
  std/bytebuffer.vais
  std/file.vais
  std/net.vais
  std/test.vais
  std/vec.vais
Due: unittests, Core Compiler, Language Tooling

add Benchmark (cargo) benchmark result for bcf1be57e2ad6e010eee87f93d7946b9439779f3
  dev/bench/data.js
Due: none

fix(codegen): Phase 141 — R1 Generic Monomorphization: C8 type lookup + type_size accuracy
  ROADMAP.md
  crates/vais-codegen/src/expr_helpers_call/call_gen.rs
  crates/vais-codegen/src/expr_helpers_call/method_call.rs
  crates/vais-codegen/src/types/conversion.rs
  crates/vais-codegen/src/types/tests.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase141_generic_mono.rs
Due: unittests, Core Compiler, Language Tooling

fix(codegen): Phase 142 — R2 IR Type Tracking: temp_var_types registry + void/width fixes
  ROADMAP.md
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/expr_helpers_call/method_call.rs
  crates/vais-codegen/src/ffi.rs
  crates/vais-codegen/src/function_gen/signature.rs
  crates/vais-codegen/src/generate_expr/mod.rs
  crates/vais-codegen/src/init.rs
  crates/vais-codegen/src/state.rs
  crates/vais-codegen/src/types/conversion.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase142_ir_type_tracking.rs
Due: unittests, Core Compiler, Language Tooling

fix(codegen): Phase 143 — R2 IR Type Tracking, R1 elem_size, R4 Drop auto-call
  ROADMAP.md
  crates/vais-codegen/src/control_flow/if_else.rs
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/expr_helpers_call/call_gen.rs
  crates/vais-codegen/src/expr_helpers_call/method_call.rs
  crates/vais-codegen/src/expr_helpers_control.rs
  crates/vais-codegen/src/expr_helpers_misc.rs
  crates/vais-codegen/src/function_gen/codegen.rs
  crates/vais-codegen/src/generate_expr/mod.rs
  crates/vais-codegen/src/generate_expr_call.rs
  crates/vais-codegen/src/init.rs
  crates/vais-codegen/src/state.rs
  crates/vais-codegen/src/stmt.rs
  crates/vais-codegen/src/stmt_visitor.rs
  crates/vais-codegen/src/trait_dispatch.rs
  crates/vais-codegen/src/types/conversion.rs
  std/vec.vais
Due: unittests, Core Compiler

fix(types,codegen): Phase 144 — Pre-existing E2E failures 40→1 (39 resolved)
  ROADMAP.md
  crates/vais-codegen/src/expr_helpers_call/call_gen.rs
  crates/vais-codegen/src/generate_expr_call.rs
  crates/vais-types/src/checker_expr/control_flow.rs
  crates/vais-types/src/checker_fn.rs
  crates/vais-types/src/inference/unification.rs
Due: unittests, Core Compiler

fix(codegen,types): Phase 145 — R4 Drop/RAII E2E + R6 NONFATAL removal + pre-existing fixes
  .gitignore
  ROADMAP.md
  crates/vais-codegen/examples/verify_ir.rs
  crates/vais-codegen/src/emit.rs
  crates/vais-codegen/src/expr_helpers_data.rs
  crates/vais-codegen/src/expr_visitor.rs
  crates/vais-codegen/src/generate_expr_call.rs
  crates/vais-codegen/src/init.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-codegen/src/type_inference.rs
  crates/vais-codegen/src/types/conversion.rs
  crates/vais-i18n/src/lib.rs
  crates/vais-parser/tests/grammar_coverage_tests.rs
  crates/vais-types/src/inference/unification.rs
  crates/vaisc/src/commands/build/core.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase145_large_struct_mono.rs
  crates/vaisc/tests/e2e/phase145_r1_generic_mono.rs
  crates/vaisc/tests/e2e/phase145_r2_type_accuracy.rs
  crates/vaisc/tests/e2e/phase145_r4_drop.rs
  crates/vaisc/tests/e2e/phase145_r6_nonfatal_removed.rs
  std/bytes.vais
Due: unittests, Core Compiler, Language Tooling, Infrastructure

fix(types,parser,lexer,codegen): Phase 146 — 5 root cause fixes
  ROADMAP.md
  crates/vais-codegen/examples/verify_ir.rs
  crates/vais-codegen/src/emit.rs
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/function_gen/signature.rs
  crates/vais-codegen/src/init.rs
  crates/vais-codegen/src/module_gen/instantiations.rs
  crates/vais-codegen/src/module_gen/mod.rs
  crates/vais-codegen/src/module_gen/subset.rs
  crates/vais-codegen/src/state.rs
  crates/vais-codegen/src/stmt.rs
  crates/vais-codegen/src/stmt_visitor.rs
  crates/vais-codegen/src/tests.rs
  crates/vais-lexer/src/lib.rs
  crates/vais-lexer/src/tests.rs
  crates/vais-parser/src/expr/primary.rs
  crates/vais-parser/src/item/declarations.rs
  crates/vais-parser/src/lib.rs
  crates/vais-types/src/checker_module/mod.rs
  crates/vais-types/src/lib.rs
  crates/vais-types/src/lookup.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase145_r1_generic_mono.rs
  crates/vaisc/tests/e2e/phase145_r4_drop.rs
  crates/vaisc/tests/e2e/phase146_global_scope.rs
  crates/vaisc/tests/e2e/phase146_keyword_split.rs
  crates/vaisc/tests/e2e/phase146_nested_generics.rs
Due: unittests, Core Compiler, Language Tooling

fix(lexer): restrict split_keyword_idents to exactly 2-char sequences
  crates/vais-lexer/src/lib.rs
Due: unittests, Core Compiler

docs(roadmap): add Phase 147 (R3 per-module) + Phase 148 (safety hardening)
  ROADMAP.md
Due: none

feat(codegen): Phase 147 — R3 per-module cross-module generics + impl propagation
  ROADMAP.md
  crates/vais-codegen/src/module_gen/subset.rs
  crates/vaisc/src/commands/build/core.rs
  crates/vaisc/src/commands/build/parallel.rs
  crates/vaisc/src/commands/compile/per_module.rs
  crates/vaisc/src/main.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase147_per_module.rs
Due: unittests, Core Compiler, Language Tooling

feat(parser,types,codegen): Phase 148 — safety hardening (keyword names, enum::, move, phi)
  ROADMAP.md
  crates/vais-ast/src/expressions.rs
  crates/vais-ast/src/formatter/expressions.rs
  crates/vais-codegen-js/src/expr.rs
  crates/vais-codegen-js/src/tree_shaking.rs
  crates/vais-codegen/src/control_flow/match_gen.rs
  crates/vais-codegen/src/expr_visitor.rs
  crates/vais-codegen/src/generate_expr/mod.rs
  crates/vais-codegen/src/inkwell/gen_expr/mod.rs
  crates/vais-macro/src/expansion.rs
  crates/vais-parser/src/expr/postfix.rs
  crates/vais-parser/src/item/declarations.rs
  crates/vais-parser/src/item/traits.rs
  crates/vais-parser/src/lib.rs
  crates/vais-parser/src/types.rs
  crates/vais-security/src/analyzer.rs
  crates/vais-security/src/lint.rs
  crates/vais-types/src/checker_expr/calls.rs
  crates/vais-types/src/checker_expr/literals.rs
  crates/vais-types/src/checker_expr/mod.rs
  crates/vais-types/src/checker_fn.rs
  crates/vais-types/src/effects.rs
  crates/vais-types/src/lib.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase148_safety.rs
Due: unittests, Core Compiler, Language Tooling, Infrastructure

docs(roadmap): mark R1-R6 codegen issues as fully resolved
  ROADMAP.md
Due: none

fix(codegen,types,std): Phase 149 — VaisDB compilation fixes
  crates/vais-ast/src/expressions.rs
  crates/vais-ast/src/formatter/expressions.rs
  crates/vais-codegen-js/src/expr.rs
  crates/vais-codegen-js/src/tree_shaking.rs
  crates/vais-codegen/src/expr_helpers_call/method_call.rs
  crates/vais-codegen/src/expr_visitor.rs
  crates/vais-codegen/src/function_gen/codegen.rs
  crates/vais-codegen/src/function_gen/generics.rs
  crates/vais-codegen/src/generate_expr/mod.rs
  crates/vais-codegen/src/generate_expr_call.rs
  crates/vais-codegen/src/generate_expr_struct.rs
  crates/vais-codegen/src/inkwell/gen_expr/mod.rs
  crates/vais-codegen/src/module_gen/subset.rs
  crates/vais-codegen/src/type_inference.rs
  crates/vais-codegen/src/types/conversion.rs
  crates/vais-codegen/tests/phase148_safety.rs
  crates/vais-lsp/src/symbol_analysis.rs
  crates/vais-macro/src/derive.rs
  crates/vais-macro/src/expansion.rs
  crates/vais-parser/src/expr/postfix.rs
  crates/vais-parser/src/expr/primary.rs
  crates/vais-types/src/checker_expr/calls.rs
  crates/vais-types/src/checker_expr/collections.rs
  crates/vais-types/src/inference/unification.rs
  crates/vais-types/src/ownership/ast_check.rs
  crates/vais-types/src/ownership/move_track.rs
  crates/vaisc/src/commands/build/parallel.rs
  std/math.vais
  std/string.vais
  std/test.vais
  std/vec.vais
Due: unittests, Core Compiler, Language Tooling

fix: add pointer auto-deref for method calls and field access
  crates/vais-types/src/checker_expr/calls.rs
  crates/vais-types/src/checker_expr/collections.rs
Due: unittests, Core Compiler

feat: add enum pipe syntax and variant struct rest pattern support
  crates/vais-parser/src/expr/primary.rs
  crates/vais-parser/src/item/declarations.rs
Due: unittests, Core Compiler

feat(codegen,types): Phase 150 — generic monomorphization improvements
  ROADMAP.md
  crates/vais-codegen/src/control_flow/match_gen.rs
  crates/vais-codegen/src/function_gen/generics.rs
  crates/vais-codegen/src/generate_expr_call.rs
  crates/vais-codegen/src/init.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-codegen/src/type_inference.rs
  crates/vais-codegen/src/types/conversion.rs
  crates/vais-types/src/checker_expr/mod.rs
  crates/vais-types/src/lib.rs
  crates/vaisc/src/commands/build/backend.rs
Due: unittests, Core Compiler, Language Tooling

fix(types,codegen): Phase 151-A — TC type mismatch detection + generic self param
  ROADMAP.md
  crates/vais-codegen/src/function_gen/generics.rs
  crates/vais-codegen/src/generate_expr_struct.rs
  crates/vais-types/src/inference/unification.rs
  crates/vais-types/src/ownership/ast_check.rs
  crates/vais-types/src/ownership/core.rs
Due: unittests, Core Compiler

fix(codegen,tests): Phase 151 — helpers use get_all_functions_with_methods + self param fix
  crates/vaisc/tests/e2e/helpers.rs
Due: unittests, Language Tooling

refactor(bindgen): Phase 154 — Regex→LazyLock statics + unwrap removal
  ROADMAP.md
  crates/vais-bindgen/src/parser.rs
Due: unittests, Language Tooling

refactor(codegen): Phase 155 — module split R15: auto_vectorize + conversion
  ROADMAP.md
  crates/vais-codegen/src/advanced_opt/auto_vectorize.rs
  crates/vais-codegen/src/advanced_opt/vectorize_utils.rs
  crates/vais-codegen/src/types/coercion.rs
  crates/vais-codegen/src/types/conversion.rs
  crates/vais-codegen/src/types/mod.rs
  crates/vais-codegen/src/types/sizeof.rs
  crates/vais-codegen/src/types/type_gen.rs
Due: unittests, Core Compiler

add Benchmark (cargo) benchmark result for 3c5a99ea31da84078cffd448ec909f1aaf3d5f47
  dev/bench/data.js
Due: none

add Benchmark (cargo) benchmark result for e807d5e83e83eaa04120819a39654065d77a9fac
  dev/bench/data.js
Due: none

docs(roadmap): Phase 156-157 — Codecov 68%→85% coverage plan
  ROADMAP.md
Due: none

add Benchmark (cargo) benchmark result for 39c0007185f956f1b34157d6722fa72dd721f1a2
  dev/bench/data.js
Due: none

feat(codegen): Vec<T> generic monomorphization — method call routing to specialized functions
  crates/vais-codegen/src/expr_helpers_call/method_call.rs
  crates/vais-codegen/src/function_gen/generics.rs
Due: unittests, Core Compiler

fix(codegen): specialized method self parameter — use pointer directly instead of copy
  crates/vais-codegen/src/function_gen/generics.rs
Due: unittests, Core Compiler

fix(codegen+tc): pointer auto-deref, enum field access, type coercion
  crates/vais-codegen/src/expr_helpers_data.rs
  crates/vais-codegen/src/expr_helpers_misc.rs
  crates/vais-codegen/src/function_gen/async_gen.rs
  crates/vais-codegen/src/function_gen/generics.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-types/src/inference/unification.rs
Due: unittests, Core Compiler

fix(codegen): Phase 151+156 — E2E 41→9 failures + 454 unit tests
  ROADMAP.md
  crates/vais-codegen/src/expr_helpers_call/method_call.rs
  crates/vais-codegen/src/function_gen/codegen.rs
  crates/vais-codegen/src/function_gen/generics.rs
  crates/vais-codegen/src/stmt.rs
  crates/vais-codegen/tests/phase156_codegen_coverage.rs
  crates/vais-dynload/tests/phase156_dynload_coverage.rs
  crates/vais-gc/tests/phase156_gc_coverage.rs
  crates/vais-gpu/tests/phase156_gpu_coverage.rs
  crates/vais-hotreload/tests/phase156_hotreload_coverage.rs
  crates/vais-macro/tests/phase156_macro_coverage.rs
  crates/vais-types/tests/phase156_types_coverage.rs
  crates/vaisc/src/main.rs
Due: unittests, Core Compiler, Language Tooling, Advanced Features, Extensibility

fix(codegen): stack overflow mitigation — thread stack 512MB, panic catch
  crates/vais-codegen/src/lib.rs
  crates/vaisc/src/main.rs
Due: unittests, Core Compiler, Language Tooling

test(ci): Phase 157 — CI llvm-cov E2E inclusion + registry/profiler coverage
  .github/workflows/ci.yml
  CLAUDE.md
  ROADMAP.md
  crates/vais-profiler/tests/phase157_profiler_coverage.rs
  crates/vais-registry-server/tests/phase157_registry_coverage.rs
Due: unittests, Infrastructure, Ecosystem Services

fix(types): Phase 158 — Rust-style strict type coercion rules + E2E protection
  ROADMAP.md
  crates/vais-types/src/inference/unification.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase145_r2_type_accuracy.rs
  crates/vaisc/tests/e2e/phase158_type_strict.rs
Due: unittests, Core Compiler, Language Tooling

Path conditions:
  unittests: any of: crates/, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Core Compiler: any of: crates/vais-lexer/**, crates/vais-parser/**, crates/vais-ast/**, crates/vais-types/**, crates/vais-codegen/**, crates/vais-codegen-js/**, crates/vais-mir/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Language Tooling: any of: crates/vais-lsp/**, crates/vaisc/**, crates/vais-bindgen/**, crates/vais-macro/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Advanced Features: any of: crates/vais-jit/**, crates/vais-gc/**, crates/vais-gpu/**, crates/vais-query/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Extensibility: any of: crates/vais-plugin/**, crates/vais-dynload/**, crates/vais-hotreload/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Infrastructure: any of: crates/vais-i18n/**, crates/vais-profiler/**, crates/vais-security/**, crates/vais-supply-chain/**, crates/vais-testgen/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Ecosystem Services: any of: crates/vais-registry-server/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
