Repository vaislang/vais: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Compiler, Language Tooling, Advanced Features, Extensibility, Infrastructure, Ecosystem Services

codecov.yml:

# Codecov configuration
# Documentation: https://docs.codecov.io/docs/codecov-yaml

# Coverage target configuration
coverage:
  precision: 2
  round: down
  range: 60..100

  status:
    project:
      default:
        target: 75%
        threshold: 2%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 3%

    changes:
      default:
        if_ci_failed: error

# Comment on pull requests with coverage information
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore paths from coverage
# Excludes match tarpaulin.toml exclude list â€” crates with 0% coverage
# that inflate the denominator if included
ignore:
  - "benches/**/*"
  - "examples/**/*"
  - "tests/**/*"
  - "target/**/*"
  - "scripts/**/*"
  - "crates/vais-python/**"
  - "crates/vais-node/**"
  - "crates/vais-dap/**"
  - "crates/vais-playground-server/**"

# Flag configuration for different test types
flags:
  unittests:
    paths:
      - crates/
    carryforward: true

# Component-based coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        target: 75%
  individual_components:
    # Core compiler components
    - component_id: core
      name: Core Compiler
      paths:
        - crates/vais-lexer/**
        - crates/vais-parser/**
        - crates/vais-ast/**
        - crates/vais-types/**
        - crates/vais-codegen/**
        - crates/vais-codegen-js/**
        - crates/vais-mir/**
      statuses:
        - type: project
          target: 80%

    # Language tooling
    - component_id: tooling
      name: Language Tooling
      paths:
        - crates/vais-lsp/**
        - crates/vaisc/**
        - crates/vais-bindgen/**
        - crates/vais-macro/**
      statuses:
        - type: project
          target: 75%

    # Runtime & advanced features
    - component_id: advanced
      name: Advanced Features
      paths:
        - crates/vais-jit/**
        - crates/vais-gc/**
        - crates/vais-gpu/**
        - crates/vais-query/**
      statuses:
        - type: project
          target: 70%

    # Plugin & dynamic loading
    - component_id: extensibility
      name: Extensibility
      paths:
        - crates/vais-plugin/**
        - crates/vais-dynload/**
        - crates/vais-hotreload/**
      statuses:
        - type: project
          target: 68%

    # Infrastructure & ecosystem
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - crates/vais-i18n/**
        - crates/vais-profiler/**
        - crates/vais-security/**
        - crates/vais-supply-chain/**
        - crates/vais-testgen/**
      statuses:
        - type: project
          target: 70%

    # Ecosystem services (playground-server excluded from coverage measurement)
    - component_id: services
      name: Ecosystem Services
      paths:
        - crates/vais-registry-server/**
      statuses:
        - type: project
          target: 75%

docs(adr): ADR 0002 — Iter Retrospective 의무 추가 (Phase Ω P4.3 LANDED, iter 84)
  docs/adr/0002-codegen-invariants.md
Due: none

test(codegen): index_invariant_test ≥10 case + commit (Phase Ω P1.1 LANDED, iter 85)
  crates/vais-codegen/tests/index_invariant_test.rs
Due: unittests, Core Compiler

ci(vais-server): wave 1 regression suite (Phase Ω P2.3 wave 1, iter 86)
  .github/workflows/vais-server-regression.yml
  scripts/vais-server-regression.sh
Due: none

ci(vais-web): wave 2 regression suite (Phase Ω P2.3 wave 2, iter 87)
  .github/workflows/vais-web-regression.yml
  scripts/vais-web-regression.sh
Due: none

fix(types): Vec.push builtin dispatch unifies arg with element generic (Phase Ω P1.2 iter 90)
  crates/vais-types/src/checker_expr/calls.rs
Due: unittests, Core Compiler

fix(types): HashMap.insert/set propagates resolved K/V to receiver var (Phase Ω P1.2 R3 audit, iter 91)
  crates/vais-types/src/checker_expr/calls.rs
Due: unittests, Core Compiler

ci(vaisdb): test_graph baseline 2→1 (Phase Ω P1.2 fix landed, iter 92)
  .github/workflows/vaisdb-regression.yml
  scripts/vaisdb-regression.sh
Due: none

docs(adr): ADR 0001 — 적용 범위 절 추가 (P4.1 백로그 1번 LANDED, iter 95)
  docs/adr/0001-root-cause-definition.md
Due: none

refactor(codegen): single-source index access (Phase Ω P1.3 iter 97 — Path 1 migration)
  crates/vais-codegen/src/expr_helpers_data.rs
  crates/vais-codegen/src/index_access.rs
  crates/vais-codegen/src/lib.rs
Due: unittests, Core Compiler

refactor(codegen): Path 2 (data write simple) migration to resolve_index_access (Phase Ω P1.3 iter 98)
  crates/vais-codegen/src/expr_helpers_assign.rs
Due: unittests, Core Compiler

docs(codegen): index_access scope clarification — Path 3/4 deferred (Phase Ω P1.3 iter 100)
  crates/vais-codegen/src/index_access.rs
Due: unittests, Core Compiler

fix(codegen): Path 3 compound assign migration + 4 ignored tests enabled (Phase Ω P1.3 #31, iter 101)
  crates/vais-codegen/src/expr_helpers_assign.rs
  crates/vais-codegen/tests/index_invariant_test.rs
Due: unittests, Core Compiler

feat(codegen): introduce TypedEmitter API skeleton (Phase Ω P1.4 iter 105)
  crates/vais-codegen/src/emit_typed.rs
  crates/vais-codegen/src/lib.rs
Due: unittests, Core Compiler

feat(codegen): TypedEmitter — bitcast/load/store + FunctionContext bridge (Phase Ω P1.4 iter 106)
  crates/vais-codegen/src/emit_typed.rs
Due: unittests, Core Compiler

feat(codegen): migrate stmt_visitor.rs:708 ret-cast bitcast to TypedEmitter (Phase Ω P1.4 iter 107)
  crates/vais-codegen/src/emit_typed.rs
  crates/vais-codegen/src/stmt_visitor.rs
Due: unittests, Core Compiler

test(codegen): R2 blocking tests for iter 107 ret-cast migration (Phase Ω P1.4 iter 111)
  crates/vais-codegen/tests/ret_invariant_test.rs
Due: unittests, Core Compiler

refactor(codegen): emit_typed allow(dead_code) per-item (Phase Ω P1.4 iter 112)
  crates/vais-codegen/src/emit_typed.rs
Due: unittests, Core Compiler

fix(integrity): deterministic vaisdb baseline — race + stale cache + threshold (Phase Ω P1.4 iter 114)
  crates/vaisc/tests/integrity.rs
  scripts/check-integrity.sh
Due: unittests, Language Tooling

feat(codegen): RegisterPolicy::{Auto, Skip} for site-class-aware emit (Phase Ω P1.4 iter 118)
  crates/vais-codegen/src/emit_typed.rs
Due: unittests, Core Compiler

test(ci): vais-server regression wave 2 — coverage expansion 2→8 tests (Phase Ω P2 wave 2 iter 121)
  .github/workflows/vais-server-regression.yml
  scripts/vais-server-regression.sh
Due: none

chore(diagnostics): remove leftover TC/codegen debug eprintln (Phase Ω Task #33 iter 122)
  crates/vais-codegen/src/init.rs
  crates/vais-types/src/checker_expr/collections.rs
Due: unittests, Core Compiler

docs(adr): ADR 0001 — Mid-Term Retrospective (Phase Ω Task #34 iter 123)
  docs/adr/0001-root-cause-definition.md
Due: none

docs(adr): ADR 0003 신설 (wrapper hidden cost) + ADR 0002 amendment (Phase Ω P4.4 iter 124)
  docs/adr/0002-codegen-invariants.md
  docs/adr/0003-wrapper-migration-hidden-cost.md
Due: none

fix(types): Vec.sort_by handler — closure args type-checked + Unit return (Phase Ω P1.5 iter 128)
  crates/vais-types/src/checker_expr/calls.rs
Due: unittests, Core Compiler

feat(types): HashSet builtin handler — insert(elem) returns Bool + var_type propagation (Phase Ω P1.5 iter 129)
  crates/vais-types/src/checker_expr/calls.rs
Due: unittests, Core Compiler

fix(types): scope function-return expected-type hint to single-expr bodies (Phase Ω P1.6 iter 132)
  crates/vais-types/src/checker_fn.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase_omega_p16_expected_type_scoping.rs
Due: unittests, Core Compiler, Language Tooling

feat(types): closure-param hint propagation for sort_by/sort/etc (Phase Ω P1.7 iter 134)
  crates/vais-types/src/checker_expr/calls.rs
  crates/vais-types/src/checker_expr/special.rs
  crates/vais-types/src/lib.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase_omega_p17_lambda_param_hint.rs
Due: unittests, Core Compiler, Language Tooling

feat(types): int.cmp(&other) builtin + Vec[range] returns Slice (Phase Ω P1.7 iter 134)
  crates/vais-types/src/checker_expr/calls.rs
  crates/vais-types/src/checker_expr/collections.rs
Due: unittests, Core Compiler

certify web cross-browser hydration gate
  ROADMAP.md
  docs/certification/CURRENT_STATUS.md
  scripts/check-integrity.sh
Due: none

certify web ssr data production gate
  ROADMAP.md
  docs/certification/CURRENT_STATUS.md
  scripts/check-integrity.sh
Due: none

certify web server action production gate
  ROADMAP.md
  docs/certification/CURRENT_STATUS.md
  scripts/check-integrity.sh
Due: none

certify web server action auth rate gate
  ROADMAP.md
  docs/certification/CURRENT_STATUS.md
  scripts/check-integrity.sh
Due: none

ci(check-integrity): wire cloudflare miniflare smoke into WEB RUNTIME (20→23)
  CLAUDE.md
  README.md
  ROADMAP.md
  crates/vais-codegen/src/inkwell/gen_aggregate.rs
  crates/vaisc/tests/e2e/phase_vais_server_runtime_smoke.rs
  docs/QUICKSTART.md
  docs/UNWRAP_CLASSIFICATION.md
  docs/certification/CURRENT_STATUS.md
  docs/vaisdb-cascade-survey.md
  rust-toolchain.toml
  scripts/check-integrity.sh
  scripts/unsafe-audit.sh
Due: unittests, Core Compiler, Language Tooling

docs: certification updates feeding root Master Plan v16 schema
  docs/certification/EXCLUDED_FEATURES.md
  docs/certification/IGNORED_SURFACE_AUDIT.md
  scripts/check-integrity.sh
Due: none

phase2: Step 3 design + Step 7 first iteration (cross-package schema + A4 fixtures)
  docs/design/cross-package-schema.md
  tests/empirical/A4/A4-01_unit_i64/expected.txt
  tests/empirical/A4/A4-01_unit_i64/meta.toml
  tests/empirical/A4/A4-01_unit_i64/probe.vais
  tests/empirical/A4/A4-01_unit_i64/run.sh
  tests/empirical/A4/A4-06_integer_truthy/expected.txt
  tests/empirical/A4/A4-06_integer_truthy/meta.toml
  tests/empirical/A4/A4-06_integer_truthy/probe.vais
  tests/empirical/A4/A4-06_integer_truthy/run.sh
  tests/empirical/A4/A4-07_numeric_widening/expected.txt
  tests/empirical/A4/A4-07_numeric_widening/meta.toml
  tests/empirical/A4/A4-07_numeric_widening/probe.vais
  tests/empirical/A4/A4-07_numeric_widening/run.sh
  tests/empirical/A4/A4-09_lifetime_ref_erasure/expected.txt
  tests/empirical/A4/A4-09_lifetime_ref_erasure/meta.toml
  tests/empirical/A4/A4-09_lifetime_ref_erasure/probe.vais
  tests/empirical/A4/A4-09_lifetime_ref_erasure/run.sh
  tests/empirical/A4/STEP7_FINDINGS.md
  tests/empirical/README.md
Due: none

phase2-followup: Step 7 protocol revision + 4 deferred A4 fixtures (8/9 LANDED)
  docs/certification/EXCLUDED_FEATURES.md
  tests/empirical/A4/A4-02_pointer_i64/expected.txt
  tests/empirical/A4/A4-02_pointer_i64/meta.toml
  tests/empirical/A4/A4-02_pointer_i64/probe.vais
  tests/empirical/A4/A4-02_pointer_i64/run.sh
  tests/empirical/A4/A4-03_auto_deref/expected.txt
  tests/empirical/A4/A4-03_auto_deref/meta.toml
  tests/empirical/A4/A4-03_auto_deref/probe.vais
  tests/empirical/A4/A4-03_auto_deref/run.sh
  tests/empirical/A4/A4-04_pointer_slice/expected.txt
  tests/empirical/A4/A4-04_pointer_slice/meta.toml
  tests/empirical/A4/A4-04_pointer_slice/probe.vais
  tests/empirical/A4/A4-04_pointer_slice/run.sh
  tests/empirical/A4/A4-05_array_pointer_decay/expected.txt
  tests/empirical/A4/A4-05_array_pointer_decay/meta.toml
  tests/empirical/A4/A4-05_array_pointer_decay/probe.vais
  tests/empirical/A4/A4-05_array_pointer_decay/run.sh
  tests/empirical/A4/STEP7_FINDINGS.md
Due: none

phase2-step2: A4 codemod tool stage 0 (vaisc fix --explicit skeleton)
  crates/vaisc/src/commands/fix/explicit.rs
  crates/vaisc/src/commands/fix/mod.rs
  crates/vaisc/src/main.rs
  crates/vaisc/tests/fix_explicit_skeleton.rs
Due: unittests, Language Tooling

phase2-step8: vaisc emit-ts stage 0 (CLI skeleton + primitive struct lowering)
  crates/vaisc/src/commands/emit_ts.rs
  crates/vaisc/src/commands/mod.rs
  crates/vaisc/src/main.rs
  crates/vaisc/tests/emit_ts_skeleton.rs
Due: unittests, Language Tooling

phase2-followup: codex Step 7 protocol REVISE → fix all 4 defects
  docs/certification/EXCLUDED_FEATURES.md
  tests/empirical/A4/A4-09_lifetime_ref_erasure/meta.toml
  tests/empirical/A4/A4-09_lifetime_ref_erasure/run.sh
Due: none
