Repository vaislang/vais: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Compiler, Language Tooling, Advanced Features, Extensibility, Infrastructure, Ecosystem Services

add Benchmark (cargo) benchmark result for a6c1eeeff5a34c465d6d5e28f4fdcc160995a2ad
  dev/bench/data.js
Due: none

fix(ci): rustdoc 경고 2건 + pre-existing 테스트 assertion 수정
  crates/vaisc/src/commands/pkg/mod.rs
  crates/vaisc/src/registry/version.rs
  crates/vaisc/tests/integration_tests.rs
Due: unittests, Language Tooling

add Benchmark (cargo) benchmark result for 6cbffeb8178a3bc7a3a8da2da81460a96955f558
  dev/bench/data.js
Due: none

fix(ci): rustdoc 경고 추가 수정 — vais-bindgen, parser, ast, codegen
  crates/vais-ast/src/extern_block.rs
  crates/vais-bindgen/src/wasm_js.rs
  crates/vais-codegen/src/advanced_opt/auto_vectorize.rs
  crates/vais-codegen/src/advanced_opt/bounds_check_elim.rs
  crates/vais-codegen/src/wasm_component/mod.rs
  crates/vais-parser/src/ffi.rs
Due: unittests, Core Compiler, Language Tooling

fix(ci): rustdoc 경고 — vais-macro [prop]/[derive] + contracts [contract] 이스케이프
  crates/vais-codegen/src/contracts/auto_checks.rs
  crates/vais-macro/src/derive.rs
  crates/vais-macro/src/lib.rs
  crates/vais-macro/src/property_macros.rs
Due: unittests, Core Compiler, Language Tooling

add Benchmark (cargo) benchmark result for 91c5e362849aa39ab0bd02ed0e7f99e319d0e912
  dev/bench/data.js
Due: none

fix(ci): rustdoc — derive 모호성 mod@ 지정 + Vec<ParseError> 백틱 래핑
  crates/vais-macro/src/lib.rs
  crates/vais-parser/src/lib.rs
Due: unittests, Core Compiler, Language Tooling

add Benchmark (cargo) benchmark result for c516b457c552c809ed068593f74300f9976cf203
  dev/bench/data.js
Due: none

fix(ci): rustdoc unclosed HTML tags — 제네릭 구문 백틱 래핑 일괄 수정
  crates/vais-ast/src/expressions.rs
  crates/vais-ast/src/generics.rs
  crates/vais-codegen/src/state.rs
  crates/vais-types/src/inference.rs
  crates/vais-types/src/specialization.rs
  crates/vais-types/src/types/resolved.rs
Due: unittests, Core Compiler

add Benchmark (cargo) benchmark result for 08018752e78a0f3475573d2f5df27fa4005797ac
  dev/bench/data.js
Due: none

add Benchmark (cargo) benchmark result for 156aeeb2ca3da81ea60a0075d37a01027eeded3e
  dev/bench/data.js
Due: none

fix(ci): tarpaulin segfault — vais-dap 크레이트 coverage 제외
  .github/workflows/ci.yml
Due: none

add Benchmark (cargo) benchmark result for 2f3de822de1e703cc7a81341f2d48398849d0e2b
  dev/bench/data.js
Due: none

fix(ci): tarpaulin --lib only — integration test subprocess segfault 방지
  .github/workflows/ci.yml
Due: none

add Benchmark (cargo) benchmark result for 2dc7639b285641d902bd6628049b0c5bb1e68f87
  dev/bench/data.js
Due: none

fix(ci): tarpaulin RCA — ptrace/subprocess 충돌 근본 수정
  .github/workflows/ci.yml
  tarpaulin.toml
Due: none

add Benchmark (cargo) benchmark result for 75c1cb2570d158a36375dcc0a792522d82890399
  dev/bench/data.js
Due: none

fix(ci): tarpaulin — bootstrap/selfhost heavy codegen segfault 제외
  .github/workflows/ci.yml
Due: none

add Benchmark (cargo) benchmark result for 1650bcd8e2aca7ca9c2f3313a7cda28d2d047141
  dev/bench/data.js
Due: none

fix(ci): tarpaulin RCA — ptrace→LLVM engine 전환으로 segfault 근본 해결
  .github/workflows/ci.yml
  tarpaulin.toml
Due: none

add Benchmark (cargo) benchmark result for 4c717af9294380298dbca404640586d22adb77c0
  dev/bench/data.js
Due: none

feat(ci): tarpaulin→cargo-llvm-cov 전환으로 Codecov 측정 정확도 개선
  .cargo/config.toml
  .github/workflows/ci.yml
  ROADMAP.md
  codecov.yml
  scripts/coverage.sh
Due: none

add Benchmark (cargo) benchmark result for a446c084a9c09eefe8964cadbf25b3074da1a611
  dev/bench/data.js
Due: none

fix(ci): cargo-llvm-cov 출력 디렉토리 생성 누락 수정
  .github/workflows/ci.yml
Due: none

add Benchmark (cargo) benchmark result for 9cd5fb965828bf944cec7f92bf5f8c29b683a960
  dev/bench/data.js
Due: none

test(phase59): 저밀도 크레이트 +821 단위 테스트 추가로 커버리지 강화
  ROADMAP.md
  crates/vais-ast/tests/display_and_formatter_tests.rs
  crates/vais-gpu/src/common.rs
  crates/vais-gpu/src/cuda.rs
  crates/vais-gpu/src/lib.rs
  crates/vais-gpu/src/metal.rs
  crates/vais-gpu/src/opencl.rs
  crates/vais-gpu/src/simd.rs
  crates/vais-gpu/src/webgpu.rs
  crates/vais-hotreload/src/dylib_loader.rs
  crates/vais-hotreload/src/error.rs
  crates/vais-hotreload/src/file_watcher.rs
  crates/vais-hotreload/src/reloader.rs
  crates/vais-lsp/src/ai_completion.rs
  crates/vais-lsp/src/backend.rs
  crates/vais-lsp/src/diagnostics.rs
  crates/vais-lsp/src/semantic.rs
  crates/vaisc/src/doc_gen/tests.rs
  crates/vaisc/src/error_formatter.rs
  crates/vaisc/src/incremental/graph.rs
  crates/vaisc/src/incremental/stats.rs
  crates/vaisc/src/incremental/types.rs
  crates/vaisc/src/package/features.rs
  crates/vaisc/src/package/types.rs
  crates/vaisc/src/registry/error.rs
  crates/vaisc/src/registry/index.rs
  crates/vaisc/src/registry/lockfile.rs
  crates/vaisc/src/registry/source.rs
  crates/vaisc/src/registry/version.rs
  crates/vaisc/src/registry/vulnerability.rs
Due: unittests, Core Compiler, Language Tooling, Advanced Features, Extensibility

fix(phase59): cargo fmt 적용 + Path 미임포트 수정
  crates/vais-ast/tests/display_and_formatter_tests.rs
  crates/vais-gpu/src/common.rs
  crates/vais-gpu/src/lib.rs
  crates/vais-gpu/src/metal.rs
  crates/vais-gpu/src/simd.rs
  crates/vais-gpu/src/webgpu.rs
  crates/vais-hotreload/src/reloader.rs
  crates/vais-lsp/src/ai_completion.rs
  crates/vais-lsp/src/diagnostics.rs
  crates/vais-lsp/src/semantic.rs
  crates/vaisc/src/incremental/types.rs
  crates/vaisc/src/package/features.rs
  crates/vaisc/src/package/types.rs
  crates/vaisc/src/registry/version.rs
  crates/vaisc/src/registry/vulnerability.rs
Due: unittests, Core Compiler, Language Tooling, Advanced Features, Extensibility

add Benchmark (cargo) benchmark result for 0f87beda60b5f85f005e51784ed119e5ecaf62c9
  dev/bench/data.js
Due: none

add Benchmark (cargo) benchmark result for 78d3d1b53fd3179d724faf0ccefdf1c6abef8fcc
  dev/bench/data.js
Due: none

fix(phase59): ASan 테스트 실패 수정 — 포매터 버그 + assertion 수정
  crates/vais-ast/src/formatter/declarations.rs
  crates/vais-ast/tests/display_and_formatter_tests.rs
Due: unittests, Core Compiler

fix(phase59): format_const assertion 복원 — P (단일문자) 사용 확인
  crates/vais-ast/tests/display_and_formatter_tests.rs
Due: unittests, Core Compiler

add Benchmark (cargo) benchmark result for eed149fbb6b935a4e2af09d987482454f9f2a518
  dev/bench/data.js
Due: none

add Benchmark (cargo) benchmark result for dabcf8779a207fdd9bb4262337ea19583606ef32
  dev/bench/data.js
Due: none

fix(phase59): offset_to_position 테스트 오프셋 수정 (23→22)
  crates/vais-lsp/src/diagnostics.rs
Due: unittests, Language Tooling

add Benchmark (cargo) benchmark result for 77e175b8628dad00d32a538b1b3bd61cfb625e31
  dev/bench/data.js
Due: none

fix(phase59): doc_gen 테스트 파싱 에러 수정 — /// doc comment 제거
  crates/vaisc/src/doc_gen/tests.rs
Due: unittests, Language Tooling

add Benchmark (cargo) benchmark result for 1475636aaacbfca4bb3775b91ef76e45ef88c3bc
  dev/bench/data.js
Due: none

docs(phase59): ROADMAP 업데이트 — Phase 59 완료 (Codecov 68%, +821 tests)
  ROADMAP.md
Due: none

add Benchmark (cargo) benchmark result for b23e031d5158c9dfe6608b043c7981dd529e8e68
  dev/bench/data.js
Due: none

Path conditions:
  unittests: any of: crates/, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*
  Core Compiler: any of: crates/vais-lexer/**, crates/vais-parser/**, crates/vais-ast/**, crates/vais-types/**, crates/vais-codegen/**, crates/vais-codegen-js/**, crates/vais-mir/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*
  Language Tooling: any of: crates/vais-lsp/**, crates/vais-dap/**, crates/vaisc/**, crates/vais-bindgen/**, crates/vais-macro/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*
  Advanced Features: any of: crates/vais-jit/**, crates/vais-gc/**, crates/vais-gpu/**, crates/vais-query/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*
  Extensibility: any of: crates/vais-plugin/**, crates/vais-dynload/**, crates/vais-hotreload/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*
  Infrastructure: any of: crates/vais-i18n/**, crates/vais-profiler/**, crates/vais-security/**, crates/vais-supply-chain/**, crates/vais-testgen/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*
  Ecosystem Services: any of: crates/vais-registry-server/**, crates/vais-playground-server/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*
