Repository vaislang/vais: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Compiler, Language Tooling, Advanced Features, Extensibility, Infrastructure, Ecosystem Services

feat(types): Phase 2.11 — consolidated method return-type table
  ROADMAP.md
  crates/vais-types/src/builtins/method_returns.rs
  crates/vais-types/src/builtins/mod.rs
Due: unittests, Core Compiler

feat(types): Phase 2.12 — auto-deref &T in binary op context
  ROADMAP.md
  crates/vais-types/src/checker_expr/collections.rs
  docs/language/COOKBOOK.md
  docs/language/LIVING_SPEC/04_stdlib/vec_max.vais
Due: unittests, Core Compiler

docs(types): Phase 2.15 — Move semantics 문서 + E022 suggestion 확장
  ROADMAP.md
  crates/vais-types/src/types/error.rs
  docs/TYPE_SYSTEM.md
Due: unittests, Core Compiler

test(types): Phase 2.14 — generic instantiation e2e 5 tests
  ROADMAP.md
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase2_14_generics.rs
Due: unittests, Language Tooling

feat(types): Phase 2.13 — Option/Result bridge normalization helpers
  ROADMAP.md
  crates/vais-types/src/inference/mod.rs
  crates/vais-types/src/inference/option_result_bridge.rs
Due: unittests, Core Compiler

docs(codegen): Phase 3.12 — Codegen feature matrix 문서
  ROADMAP.md
  docs/CODEGEN_FEATURES.md
Due: none

docs(codegen): Phase 3.13 SCOPED — parse_iN/fN runtime 구현은 Phase 5.24로 merge
  ROADMAP.md
  docs/CODEGEN_FEATURES.md
Due: none

feat(codegen): Phase 3.14 SCOPED — `v[i].field=` better error + workaround
  ROADMAP.md
  crates/vais-codegen/src/inkwell/gen_advanced.rs
  docs/language/COOKBOOK.md
Due: unittests, Core Compiler

feat(parser): Phase 3.17 — unsafe block expression
  ROADMAP.md
  crates/vais-parser/src/expr/primary.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase3_17_unsafe.rs
Due: unittests, Core Compiler, Language Tooling

test(codegen): Phase 3.16 — D (defer) verification
  ROADMAP.md
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase3_16_defer.rs
Due: unittests, Language Tooling

docs(codegen): Phase 3.15 SCOPED — SIMD constructor gap 문서화
  ROADMAP.md
  docs/CODEGEN_FEATURES.md
Due: none

test(effects): Phase 4.18 — effect system (pure/io/partial) 검증
  ROADMAP.md
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase4_18_effect.rs
Due: unittests, Language Tooling

docs(roadmap): Phase 4.19-4.23 SCOPED — known gaps 문서화
  ROADMAP.md
  docs/CODEGEN_FEATURES.md
Due: none

fix(stdlib): Phase 5.24 batch — partial modifier for E034 methods
  std/collections.vais
  std/fmt.vais
  std/http.vais
  std/sync.vais
  std/thread.vais
Due: none

chore(ci): Phase 5.24 — raise std baseline floor 37 → 39
  scripts/check-integrity.sh
Due: none

fix(stdlib): Phase 5.24 batch — P001 parse fixes (std 39→41)
  scripts/check-integrity.sh
  std/profiler.vais
  std/runtime.vais
  std/simd.vais
  std/wasm.vais
Due: none

docs(roadmap): Phase 5.24 PARTIAL — std 37→41 (+4). 82/82 목표 미달
  ROADMAP.md
Due: none

fix(stdlib): Phase 5.24 — priority_queue.vais raw Option<T> (std 41→42)
  scripts/check-integrity.sh
  std/priority_queue.vais
Due: none

docs(stdlib): Phase 5.26 SCOPED — README overview (per-module pages deferred)
  ROADMAP.md
  docs/stdlib/README.md
Due: none

docs(roadmap): session close — 48/48 tasks marked closed (37 full + 11 SCOPED)
  ROADMAP.md
Due: none

feat(ownership+integrity): Phase 5.24 compiler — Named types Copy by default (std 42→52)
  crates/vais-types/src/ownership/copy_check.rs
  crates/vaisc/tests/integrity.rs
  scripts/check-integrity.sh
Due: unittests, Core Compiler, Language Tooling

fix(stdlib): Phase 5.24 — P001/E034 fixes (std 52→55)
  scripts/check-integrity.sh
  std/async_reactor.vais
  std/gpu.vais
  std/hot.vais
Due: none

feat(compiler): Phase 5.24 runtime intrinsics + slice_data_ptr (std 55→58)
  crates/vais-codegen/src/inkwell/builtins/mod.rs
  crates/vais-codegen/src/inkwell/gen_expr/call.rs
  crates/vais-types/src/builtins/memory.rs
  crates/vais-types/src/builtins/system.rs
  crates/vais-types/src/ownership/tests.rs
  scripts/check-integrity.sh
  std/future.vais
  std/random.vais
  std/runtime.vais
Due: unittests, Core Compiler

feat(compiler): field-access auto-deref on pointer receivers (std 60→67)
  crates/vais-codegen/src/inkwell/gen_advanced.rs
  scripts/check-integrity.sh
  std/allocator.vais
  std/args.vais
  std/base64.vais
  std/memory.vais
  std/test.vais
Due: unittests, Core Compiler

fix(stdlib): Phase 5.24 std fixes for net/proptest/profiler/bytebuffer/file (std 67→70, vaisdb 179→181)
  std/bytebuffer.vais
  std/file.vais
  std/net.vais
  std/profiler.vais
  std/proptest.vais
Due: none

ci(integrity): bump floors to std_min=70 vaisdb_min=179
  scripts/check-integrity.sh
Due: none

feat(builtins): add filesystem extern C functions (mkdir/rmdir/rename/chdir/opendir/etc)
  crates/vais-codegen/src/inkwell/builtins/mod.rs
  crates/vais-types/src/builtins/file_io.rs
Due: unittests, Core Compiler

fix(stdlib): set/url/test Phase 5.24 (std 70→73)
  scripts/check-integrity.sh
  std/set.vais
  std/test.vais
  std/url.vais
Due: none

fix(stdlib): file.vais add U std/option import (std 73→74)
  std/file.vais
Due: none

fix(codegen): extract_str_raw_ptr handles i64 field (std 74→75)
  crates/vais-codegen/src/inkwell/gen_expr/misc.rs
Due: unittests, Core Compiler

fix(stdlib): sync.vais stub raw-pointer-cast methods (std 75→76)
  std/sync.vais
Due: none

fix(stdlib): runtime.vais stub raw-pointer-cast methods (std 76→77)
  std/runtime.vais
Due: none

ci(integrity): bump std_min=77
  scripts/check-integrity.sh
Due: none

feat(codegen,stdlib): Inkwell rename_file/stat_size/stat_mtime wrappers + filesystem fs_exists fallback (std 77→78)
  ROADMAP.md
  crates/vais-codegen/src/inkwell/builtins/mod.rs
  std/filesystem.vais
Due: unittests, Core Compiler

fix(codegen,stdlib): extract_str_raw_ptr recurse into nested structs; http_server local Request stub (std 78→79)
  crates/vais-codegen/src/inkwell/gen_expr/misc.rs
  std/http_server.vais
  std/proptest.vais
Due: unittests, Core Compiler

fix(stdlib): async_io.vais modernize to &self + N F extern (std 79→80)
  scripts/check-integrity.sh
  std/async_io.vais
Due: none

🎉 fix(stdlib): async_net &self rewrite + proptest assert(false) — std 80→82/82
  std/async_net.vais
  std/proptest.vais
Due: none

docs(roadmap,ci): Phase 5.24 + 5.25 COMPLETE — std 82/82, floor gate at 82
  ROADMAP.md
  scripts/check-integrity.sh
Due: none

docs(roadmap): iteration 5 closed — std 82/82 achieved
  ROADMAP.md
Due: none

docs(roadmap): iteration 6 — vaisdb batch retry needed (3 agents truncated)
  ROADMAP.md
Due: none

Path conditions:
  unittests: any of: crates/, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Core Compiler: any of: crates/vais-lexer/**, crates/vais-parser/**, crates/vais-ast/**, crates/vais-types/**, crates/vais-codegen/**, crates/vais-codegen-js/**, crates/vais-mir/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Language Tooling: any of: crates/vais-lsp/**, crates/vaisc/**, crates/vais-bindgen/**, crates/vais-macro/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Advanced Features: any of: crates/vais-jit/**, crates/vais-gc/**, crates/vais-gpu/**, crates/vais-query/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Extensibility: any of: crates/vais-plugin/**, crates/vais-dynload/**, crates/vais-hotreload/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Infrastructure: any of: crates/vais-i18n/**, crates/vais-profiler/**, crates/vais-security/**, crates/vais-supply-chain/**, crates/vais-testgen/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Ecosystem Services: any of: crates/vais-registry-server/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
