Repository vaislang/vais: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Compiler, Language Tooling, Advanced Features, Experimental Features, Infrastructure

codecov.yml:

# Codecov configuration
# Documentation: https://docs.codecov.io/docs/codecov-yaml

# Coverage target configuration
coverage:
  precision: 2
  round: down
  range: 70..100

  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error

    patch:
      default:
        target: 75%
        threshold: 2%

    changes:
      default:
        if_ci_failed: error

# Comment on pull requests with coverage information
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore paths from coverage
ignore:
  - "benches/**/*"
  - "examples/**/*"
  - "tests/**/*"
  - "target/**/*"
  - "scripts/**/*"

# Flag configuration for different test types
flags:
  unittests:
    paths:
      - crates/
    carryforward: true

# Component-based coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        target: 80%
  individual_components:
    # Core compiler components
    - component_id: core
      name: Core Compiler
      paths:
        - crates/vais-lexer/**
        - crates/vais-parser/**
        - crates/vais-ast/**
        - crates/vais-types/**
        - crates/vais-codegen/**
      statuses:
        - type: project
          target: 90%

    # Language tooling
    - component_id: tooling
      name: Language Tooling
      paths:
        - crates/vais-lsp/**
        - crates/vais-dap/**
        - crates/vaisc/**
      statuses:
        - type: project
          target: 85%

    # Advanced features
    - component_id: advanced
      name: Advanced Features
      paths:
        - crates/vais-jit/**
        - crates/vais-gc/**
        - crates/vais-mir/**
        - crates/vais-query/**
      statuses:
        - type: project
          target: 80%

    # Experimental features
    - component_id: experimental
      name: Experimental Features
      paths:
        - crates/vais-gpu/**
        - crates/vais-hotreload/**
        - crates/vais-plugin/**
      statuses:
        - type: project
          target: 70%

    # Infrastructure
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - crates/vais-i18n/**
        - crates/vais-profiler/**
        - crates/vais-security/**
        - crates/vais-supply-chain/**
      statuses:
        - type: project
          target: 75%

add Benchmark (cargo) benchmark result for 3060a7b91240085f14517c85dec220de898da14c
  dev/bench/data.js
Due: none

fix: resolve 43 team-review findings across website, playground, and docs
  docs-site/src/advanced/async-runtime.md
  docs-site/src/guide/ecosystem-packages.md
  docs-site/src/guide/error-handling.md
  docs-site/src/guide/faq.md
  docs-site/src/guide/getting-started.md
  docs-site/src/guide/performance.md
  docs-site/src/guide/style-guide.md
  docs-site/src/onboarding.md
  docs-site/src/stdlib/net.md
  docs-site/src/stdlib/stdlib.md
  playground/src/compiler.js
  playground/src/examples.js
  playground/src/vais-language.js
  website/blog/why-vais.html
  website/index.html
Due: none

add Benchmark (cargo) benchmark result for b60d8b64685cb12a4892ccee86fea4b6090c5022
  dev/bench/data.js
Due: none

refactor: resolve 11/21 team-review findings (Critical 8/9 + Warning 3/12)
  ROADMAP.md
  crates/vais-codegen/src/builtins.rs
  crates/vais-codegen/src/generate_expr.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-i18n/Cargo.toml
  crates/vais-i18n/src/lib.rs
  crates/vais-mir/tests/borrow_check_tests.rs
  crates/vais-types/src/exhaustiveness.rs
Due: unittests, Core Compiler, Advanced Features, Infrastructure

refactor: resolve remaining 9/21 team-review findings + review fixes
  Cargo.toml
  ROADMAP.md
  crates/vais-bindgen/Cargo.toml
  crates/vais-codegen/src/contracts.rs
  crates/vais-codegen/src/control_flow.rs
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/ffi.rs
  crates/vais-codegen/src/formatter.rs
  crates/vais-codegen/src/function_gen.rs
  crates/vais-codegen/src/generate_expr.rs
  crates/vais-codegen/src/inkwell/gen_aggregate.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-codegen/src/optimize.rs
  crates/vais-codegen/src/parallel.rs
  crates/vais-codegen/src/registration.rs
  crates/vais-codegen/src/string_ops.rs
  crates/vais-codegen/src/vtable.rs
  crates/vais-gpu/Cargo.toml
  crates/vais-gpu/src/lib.rs
  crates/vais-gpu/tests/gpu_tests.rs
  crates/vais-jit/src/tiered.rs
  crates/vais-macro/Cargo.toml
  crates/vais-types/src/builtins.rs
  crates/vais-types/src/checker_expr.rs
  crates/vais-types/src/checker_module.rs
  crates/vais-types/src/comptime.rs
  crates/vais-types/src/inference.rs
  crates/vais-types/src/types.rs
Due: unittests, Core Compiler, Advanced Features, Experimental Features

refactor: resolve 5/5 second-round review findings
  ROADMAP.md
  benches/gpu_bench.rs
  crates/vais-codegen/src/function_gen.rs
  crates/vais-gpu/src/lib.rs
  crates/vais-gpu/tests/gpu_tests.rs
  crates/vais-jit/src/tiered.rs
  crates/vais-types/src/types.rs
  crates/vaisc/src/commands/build.rs
  crates/vaisc/tests/snapshots/invalid_field_access.snap
  crates/vaisc/tests/snapshots/wrong_arg_count.snap
Due: unittests, Core Compiler, Language Tooling, Advanced Features, Experimental Features

add Benchmark (cargo) benchmark result for 02f032315b12549617bc756b1b94dd1d84617d4b
  dev/bench/data.js
Due: none

refactor: split CodeGenerator 53 fields into 5 sub-structs
  ROADMAP.md
  crates/vais-codegen/src/builtins.rs
  crates/vais-codegen/src/contracts.rs
  crates/vais-codegen/src/control_flow.rs
  crates/vais-codegen/src/expr.rs
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/expr_visitor.rs
  crates/vais-codegen/src/ffi.rs
  crates/vais-codegen/src/function_gen.rs
  crates/vais-codegen/src/generate_expr.rs
  crates/vais-codegen/src/lambda_closure.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-codegen/src/registration.rs
  crates/vais-codegen/src/stmt.rs
  crates/vais-codegen/src/stmt_visitor.rs
  crates/vais-codegen/src/type_inference.rs
  crates/vais-codegen/src/types.rs
Due: unittests, Core Compiler

add Benchmark (cargo) benchmark result for 36fcdb53adcb0f4c6a43ecc17485d4a934c934f4
  dev/bench/data.js
Due: none

refactor: resolve 4 review findings from Phase 24 sub-struct split
  ROADMAP.md
  crates/vais-codegen/src/contracts.rs
  crates/vais-codegen/src/expr.rs
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/expr_visitor.rs
  crates/vais-codegen/src/generate_expr.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-codegen/src/types.rs
Due: unittests, Core Compiler

add Benchmark (cargo) benchmark result for 765a88a15f21baac995dd9b4f316c4d8e3468b96
  dev/bench/data.js
Due: none

refactor: split 4 large vais-codegen files into category-based submodules
  ROADMAP.md
  crates/vais-codegen/src/diagnostics.rs
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/expr_helpers_call.rs
  crates/vais-codegen/src/expr_helpers_control.rs
  crates/vais-codegen/src/expr_helpers_data.rs
  crates/vais-codegen/src/expr_helpers_misc.rs
  crates/vais-codegen/src/generate_expr.rs
  crates/vais-codegen/src/generate_expr_call.rs
  crates/vais-codegen/src/generate_expr_loop.rs
  crates/vais-codegen/src/generate_expr_struct.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-codegen/src/optimize.rs
  crates/vais-codegen/src/optimize/inlining.rs
  crates/vais-codegen/src/optimize/ir_passes.rs
  crates/vais-codegen/src/optimize/lto.rs
  crates/vais-codegen/src/optimize/mod.rs
  crates/vais-codegen/src/optimize/pgo.rs
  crates/vais-codegen/src/target.rs
Due: unittests, Core Compiler

add Benchmark (cargo) benchmark result for 59f10217b06c30bcf1ad06abd1cb9022b5eedfaa
  dev/bench/data.js
Due: none

refactor: resolve 3 review findings from Phase 25 module split
  ROADMAP.md
  crates/vais-codegen/src/generate_expr_call.rs
  crates/vais-codegen/src/generate_expr_loop.rs
  crates/vais-codegen/src/generate_expr_struct.rs
  crates/vais-codegen/src/optimize/ir_passes.rs
  crates/vais-codegen/src/optimize/lto.rs
  crates/vais-codegen/src/optimize/mod.rs
  crates/vais-codegen/src/optimize/pgo.rs
Due: unittests, Core Compiler

perf: optimize codegen hot-path allocations and resolve review findings
  ROADMAP.md
  crates/vais-codegen/src/builtins.rs
  crates/vais-codegen/src/contracts.rs
  crates/vais-codegen/src/control_flow.rs
  crates/vais-codegen/src/expr_helpers_call.rs
  crates/vais-codegen/src/expr_helpers_misc.rs
  crates/vais-codegen/src/function_gen.rs
  crates/vais-codegen/src/generate_expr.rs
  crates/vais-codegen/src/inkwell/gen_types.rs
  crates/vais-codegen/src/inkwell/generator.rs
  crates/vais-codegen/src/inkwell/types.rs
  crates/vais-codegen/src/lambda_closure.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-codegen/src/stmt_visitor.rs
  crates/vais-codegen/src/type_inference.rs
  crates/vais-codegen/src/types.rs
Due: unittests, Core Compiler

add Benchmark (cargo) benchmark result for f7d04a65520ae8bc6f268591992207524b6fa54a
  dev/bench/data.js
Due: none

feat: add Python/Node binding tests and developer docs (Phase 27+28)
  .github/workflows/ci.yml
  ROADMAP.md
  crates/vais-node/tests/integration_tests.rs
  crates/vais-python/tests/integration_tests.rs
  docs-site/src/SUMMARY.md
  docs-site/src/compiler/internals.md
  docs-site/src/guides/error-handling.md
  docs-site/src/guides/testing.md
  docs-site/src/tools/package-manager.md
Due: unittests

add Benchmark (cargo) benchmark result for 0f22baeffd3074cab9e29bdb7a5a701f0f805f35
  dev/bench/data.js
Due: none

fix: resolve 62 vaisc compile errors by re-exporting optimize types
  ROADMAP.md
  crates/vais-codegen/src/optimize/mod.rs
Due: unittests, Core Compiler

add Benchmark (cargo) benchmark result for 0ecc6739c4021c8340e8f0e2ae68a37845c2fb04
  dev/bench/data.js
Due: none

refactor: split 5 large files into category-based submodules (Phase 30)
  ROADMAP.md
  crates/vais-codegen/src/diagnostics.rs
  crates/vais-codegen/src/error.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-codegen/src/state.rs
  crates/vais-mir/src/borrow_check/cfg.rs
  crates/vais-mir/src/borrow_check/checker.rs
  crates/vais-mir/src/borrow_check/lifetime.rs
  crates/vais-mir/src/borrow_check/mod.rs
  crates/vais-mir/src/borrow_check/tests.rs
  crates/vais-parser/src/lib.rs
  crates/vais-parser/src/parser_tests.rs
  crates/vaisc/src/commands/pkg.rs
  crates/vaisc/src/commands/pkg/build.rs
  crates/vaisc/src/commands/pkg/check.rs
  crates/vaisc/src/commands/pkg/install.rs
  crates/vaisc/src/commands/pkg/mod.rs
  crates/vaisc/src/commands/pkg/publish.rs
  crates/vaisc/src/commands/pkg/registry.rs
  crates/vaisc/src/commands/pkg/util.rs
  crates/vaisc/src/incremental.rs
  crates/vaisc/src/incremental/cache.rs
  crates/vaisc/src/incremental/detect.rs
  crates/vaisc/src/incremental/graph.rs
  crates/vaisc/src/incremental/mod.rs
  crates/vaisc/src/incremental/stats.rs
  crates/vaisc/src/incremental/tests.rs
  crates/vaisc/src/incremental/types.rs
Due: unittests, Core Compiler, Language Tooling, Advanced Features

fix: resolve 3 clippy warnings blocking CI (as_deref, needless_borrow, too_many_arguments)
  ROADMAP.md
  crates/vais-codegen/src/expr_helpers_call.rs
  crates/vaisc/src/commands/pkg/build.rs
Due: unittests, Core Compiler, Language Tooling

add Benchmark (cargo) benchmark result for 0e85752a4a38b828f2cfa569610849992e120afd
  dev/bench/data.js
Due: none

feat: improve error diagnostics — help() 100% coverage, multi-error collection, secondary spans (Phase 31)
  ROADMAP.md
  crates/vais-codegen/src/diagnostics.rs
  crates/vais-types/src/checker_module.rs
  crates/vais-types/src/error_report.rs
  crates/vais-types/src/lib.rs
  crates/vais-types/src/types.rs
  crates/vaisc/src/commands/build.rs
  crates/vaisc/src/error_formatter.rs
  crates/vaisc/tests/error_message_tests.rs
Due: unittests, Core Compiler, Language Tooling

add Benchmark (cargo) benchmark result for 9661818bb9b8ac71c284c0184d1e82cef514cd7a
  dev/bench/data.js
Due: none

fix: resolve Phase 32 review findings — type safety, error handling, dedup
  ROADMAP.md
  crates/vais-codegen/src/control_flow.rs
  crates/vais-codegen/src/generate_expr.rs
  crates/vais-codegen/src/inkwell/gen_aggregate.rs
  crates/vais-types/src/checker_expr.rs
  crates/vais-types/src/checker_module.rs
Due: unittests, Core Compiler

add Benchmark (cargo) benchmark result for d1509c5225597b5aa81f8228b4463164ce392866
  dev/bench/data.js
Due: none

docs: fix team-review findings — E2E counts, syntax errors, Phase 32 docs
  CLAUDE.md
  README.md
  ROADMAP.md
  docs-site/src/advanced/wasm/js-interop.md
  docs-site/src/guide/error-handling.md
  docs-site/src/guide/faq.md
  docs-site/src/guide/performance.md
  docs-site/src/guides/migration-from-rust.md
  docs/LANGUAGE_SPEC.md
  playground/src/compiler.js
  playground/src/vais-language.js
Due: none

add Benchmark (cargo) benchmark result for 18590ea3a762cd210f505a1a11d46b7070a59928
  dev/bench/data.js
Due: none

feat: add i18n website, multilingual docs, and one-click installers (Phase 33)
  .github/workflows/website.yml
  ROADMAP.md
  docs-site/book.toml
  docs-site/build.sh
  docs-site/src/en/SUMMARY.md
  docs-site/src/en/getting-started/installation.md
  docs-site/src/en/getting-started/quick-start.md
  docs-site/src/en/getting-started/tutorial.md
  docs-site/src/en/introduction.md
  docs-site/src/en/language/language-spec.md
  docs-site/src/ja/SUMMARY.md
  docs-site/src/ja/getting-started/installation.md
  docs-site/src/ja/getting-started/quick-start.md
  docs-site/src/ja/getting-started/tutorial.md
  docs-site/src/ja/introduction.md
  docs-site/src/ja/language/language-spec.md
  docs-site/src/zh/SUMMARY.md
  docs-site/src/zh/getting-started/installation.md
  docs-site/src/zh/getting-started/quick-start.md
  docs-site/src/zh/getting-started/tutorial.md
  docs-site/src/zh/introduction.md
  docs-site/src/zh/language/language-spec.md
  install.ps1
  install.sh
  website/index.html
  website/public/locales/en.json
  website/public/locales/ja.json
  website/public/locales/ko.json
  website/public/locales/zh.json
  website/src/i18n.js
  website/src/main.js
  website/src/styles.css
Due: none

fix: resolve enum variant matching, struct by-value ABI, and match phi node bugs (Phase 34)
  ROADMAP.md
  crates/vais-codegen/src/inkwell/gen_declaration.rs
  crates/vais-codegen/src/inkwell/gen_match.rs
  crates/vais-types/src/ownership.rs
  crates/vaisc/tests/e2e/basics.rs
  crates/vaisc/tests/e2e/closures_iter.rs
  crates/vaisc/tests/e2e/phase32.rs
Due: unittests, Core Compiler, Language Tooling

add Benchmark (cargo) benchmark result for d81a986d322a67b70ec6b6ab5d59495170aa029d
  dev/bench/data.js
Due: none

refactor: split large files into submodules for maintainability (Phase 35)
  ROADMAP.md
  crates/vais-codegen/src/emit.rs
  crates/vais-codegen/src/generics_helpers.rs
  crates/vais-codegen/src/helpers.rs
  crates/vais-codegen/src/init.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-codegen/src/module_gen.rs
  crates/vais-codegen/src/trait_dispatch.rs
  crates/vais-codegen/src/wasm_component.rs
  crates/vais-codegen/src/wasm_component/bindgen.rs
  crates/vais-codegen/src/wasm_component/conversion.rs
  crates/vais-codegen/src/wasm_component/interface.rs
  crates/vais-codegen/src/wasm_component/link_config.rs
  crates/vais-codegen/src/wasm_component/mod.rs
  crates/vais-codegen/src/wasm_component/package.rs
  crates/vais-codegen/src/wasm_component/serialization.rs
  crates/vais-codegen/src/wasm_component/tests.rs
  crates/vais-codegen/src/wasm_component/types.rs
  crates/vais-codegen/src/wasm_component/wasi.rs
  crates/vais-codegen/src/wasm_helpers.rs
  crates/vais-types/src/lib.rs
  crates/vais-types/src/lookup.rs
  crates/vais-types/src/scope.rs
  crates/vais-types/src/types.rs
  crates/vais-types/src/types/defs.rs
  crates/vais-types/src/types/effects.rs
  crates/vais-types/src/types/error.rs
  crates/vais-types/src/types/mangle.rs
  crates/vais-types/src/types/mod.rs
  crates/vais-types/src/types/resolved.rs
  crates/vais-types/src/types/substitute.rs
  crates/vais-types/src/types/utils.rs
Due: unittests, Core Compiler

test: expand integration test coverage across 12 crates (Phase 36)
  .github/workflows/ci.yml
  ROADMAP.md
  codecov.yml
  crates/vais-ast/tests/integration_tests.rs
  crates/vais-bindgen/tests/integration_test.rs
  crates/vais-dap/tests/e2e_tests.rs
  crates/vais-dynload/tests/integration_tests.rs
  crates/vais-gc/tests/gc_tests.rs
  crates/vais-gpu/tests/gpu_tests.rs
  crates/vais-hotreload/tests/integration_test.rs
  crates/vais-i18n/tests/integration_tests.rs
  crates/vais-plugin/tests/plugin_tests.rs
  crates/vais-security/tests/integration_tests.rs
  crates/vais-supply-chain/tests/integration_tests.rs
  crates/vais-testgen/tests/integration_tests.rs
Due: unittests, Core Compiler, Language Tooling, Advanced Features, Experimental Features, Infrastructure

add Benchmark (cargo) benchmark result for f6b76a78e3460d0774eb477cd7b623592cf96079
  dev/bench/data.js
Due: none

feat: add trait aliases, impl Trait, and expanded const evaluation (Phase 37)
  ROADMAP.md
  crates/vais-ast/src/lib.rs
  crates/vais-codegen-js/src/items.rs
  crates/vais-codegen-js/src/tree_shaking.rs
  crates/vais-codegen/src/formatter.rs
  crates/vais-codegen/src/init.rs
  crates/vais-codegen/src/inkwell/gen_declaration.rs
  crates/vais-codegen/src/inkwell/types.rs
  crates/vais-codegen/src/module_gen.rs
  crates/vais-codegen/src/state.rs
  crates/vais-codegen/src/types.rs
  crates/vais-jit/src/compiler.rs
  crates/vais-jit/src/types.rs
  crates/vais-lsp/src/backend.rs
  crates/vais-macro/src/expansion.rs
  crates/vais-parser/src/item.rs
  crates/vais-parser/src/types.rs
  crates/vais-security/src/analyzer.rs
  crates/vais-types/src/checker_module.rs
  crates/vais-types/src/inference.rs
  crates/vais-types/src/lib.rs
  crates/vais-types/src/resolve.rs
  crates/vais-types/src/traits.rs
  crates/vais-types/src/types/resolved.rs
  crates/vais-types/src/types/substitute.rs
  crates/vaisc/src/imports.rs
  crates/vaisc/src/incremental/detect.rs
  crates/vaisc/src/repl.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase37.rs
  docs-site/src/SUMMARY.md
  docs-site/src/language/advanced-types.md
Due: unittests, Core Compiler, Language Tooling, Advanced Features, Infrastructure

fix: address team-review findings — cycle detection, shift bounds, docs (Phase 37)
  ROADMAP.md
  crates/vais-types/src/checker_module.rs
  crates/vais-types/src/inference.rs
  crates/vais-types/src/traits.rs
  crates/vais-types/src/types/resolved.rs
  docs-site/src/language/advanced-types.md
Due: unittests, Core Compiler

feat: add HKT, GAT, and derive macros with review fixes (Phase 38)
  ROADMAP.md
  crates/vais-ast/src/lib.rs
  crates/vais-codegen/src/generics_helpers.rs
  crates/vais-codegen/src/inkwell/gen_types.rs
  crates/vais-codegen/src/inkwell/types.rs
  crates/vais-codegen/src/trait_dispatch.rs
  crates/vais-codegen/src/types.rs
  crates/vais-jit/src/types.rs
  crates/vais-macro/src/derive.rs
  crates/vais-parser/src/item.rs
  crates/vais-parser/src/lib.rs
  crates/vais-parser/src/types.rs
  crates/vais-types/src/checker_fn.rs
  crates/vais-types/src/checker_module.rs
  crates/vais-types/src/inference.rs
  crates/vais-types/src/lib.rs
  crates/vais-types/src/resolve.rs
  crates/vais-types/src/types/mangle.rs
  crates/vais-types/src/types/resolved.rs
  crates/vais-types/src/types/substitute.rs
  crates/vaisc/src/repl.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase38.rs
  crates/vaisc/tests/integration_tests.rs
  examples/gat_container.vais
  examples/gat_functor.vais
  examples/gat_iterator.vais
Due: unittests, Core Compiler, Language Tooling, Advanced Features

feat: add incremental compilation CLI, parallel TC, and Tarjan SCC with review fixes (Phase 39)
  ROADMAP.md
  benches/Cargo.toml
  benches/incremental_bench.rs
  crates/vaisc/src/commands/build.rs
  crates/vaisc/src/incremental/detect.rs
  crates/vaisc/src/incremental/graph.rs
  crates/vaisc/src/main.rs
Due: unittests, Language Tooling
