Repository vaislang/vais: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Compiler, Language Tooling, Advanced Features, Extensibility, Infrastructure, Ecosystem Services

tests: record A4-03 strict vaisdb completion
  docs/certification/EXCLUDED_FEATURES.md
  tests/empirical/A4/A4-03_auto_deref/meta.toml
  tests/empirical/A4/STEP13_FINDINGS.md
Due: none

types: land A4-03 default strict
  crates/vais-codegen/src/inkwell/gen_expr/misc.rs
  crates/vais-types/src/checker_expr/stmts.rs
  crates/vais-types/src/checker_fn.rs
  crates/vais-types/src/inference/unification.rs
  docs/certification/EXCLUDED_FEATURES.md
  docs/language/LIVING_SPEC/04_stdlib/hashmap_contains_key.vais
  docs/language/LIVING_SPEC/04_stdlib/vec_max.vais
  docs/language/LIVING_SPEC/06_examples/example_calculator.vais
  std/http.vais
  std/http_client.vais
  std/http_server.vais
  std/log.vais
  std/orm.vais
  std/postgres.vais
  std/profiler.vais
  std/proptest.vais
  std/template.vais
  std/test.vais
  std/tls.vais
  tests/empirical/A4/A4-03_auto_deref/meta.toml
  tests/empirical/A4/A4-03_auto_deref/positive.vais
  tests/empirical/A4/A4-03_auto_deref/run.sh
  tests/empirical/A4/STEP13_FINDINGS.md
Due: unittests, Core Compiler

e2e: promote vais-server auth password smoke
  crates/vaisc/tests/e2e/phase_vais_server_runtime_smoke.rs
  docs/certification/CORE_FREEZE_CRITERIA.md
  docs/certification/CURRENT_STATUS.md
  docs/certification/EXCLUDED_FEATURES.md
  scripts/check-integrity.sh
  tests/vais-server/smoke/auth_password_runtime_smoke.vais
Due: unittests, Language Tooling

e2e: promote vais-server auth session smoke
  crates/vaisc/tests/e2e/phase_vais_server_runtime_smoke.rs
  docs/certification/CORE_FREEZE_CRITERIA.md
  docs/certification/CURRENT_STATUS.md
  docs/certification/EXCLUDED_FEATURES.md
  scripts/check-integrity.sh
  tests/vais-server/smoke/auth_session_runtime_smoke.vais
Due: unittests, Language Tooling

e2e: promote vais-server auth oauth smoke
  crates/vaisc/tests/e2e/phase_vais_server_runtime_smoke.rs
  docs/certification/CORE_FREEZE_CRITERIA.md
  docs/certification/CURRENT_STATUS.md
  docs/certification/EXCLUDED_FEATURES.md
  scripts/check-integrity.sh
  tests/vais-server/smoke/auth_oauth_runtime_smoke.vais
Due: unittests, Language Tooling

e2e: promote vais-server auth jwt smoke
  crates/vaisc/tests/e2e/phase_vais_server_runtime_smoke.rs
  docs/certification/CORE_FREEZE_CRITERIA.md
  docs/certification/CURRENT_STATUS.md
  docs/certification/EXCLUDED_FEATURES.md
  scripts/check-integrity.sh
  tests/vais-server/smoke/auth_jwt_runtime_smoke.vais
Due: unittests, Language Tooling

e2e: cover jwt role verification
  docs/certification/CURRENT_STATUS.md
  docs/certification/EXCLUDED_FEATURES.md
  tests/vais-server/smoke/auth_jwt_runtime_smoke.vais
Due: none

e2e: promote jwt role generation
  crates/vais-codegen/src/generate_expr_call.rs
  crates/vais-codegen/src/types/coercion.rs
  crates/vaisc/tests/e2e/phase191_vec_str_sandbox.rs
  docs/certification/CURRENT_STATUS.md
  docs/certification/EXCLUDED_FEATURES.md
  tests/vais-server/smoke/auth_jwt_runtime_smoke.vais
Due: unittests, Core Compiler, Language Tooling

codegen: preserve loop-carried string ownership
  crates/vais-codegen/src/expr_helpers_assign.rs
  crates/vais-codegen/src/helpers.rs
  crates/vais-codegen/src/inkwell/gen_advanced.rs
  crates/vais-codegen/src/inkwell/gen_function.rs
  crates/vais-codegen/src/inkwell/gen_special.rs
  crates/vais-codegen/src/inkwell/gen_stmt.rs
  crates/vais-codegen/src/inkwell/generator.rs
  crates/vais-codegen/src/stmt_visitor.rs
  crates/vaisc/tests/e2e/phase191_vec_str_sandbox.rs
  docs/certification/CURRENT_STATUS.md
  docs/certification/EXCLUDED_FEATURES.md
  docs/phase197/vais-server_report.md
  tests/vais-server/smoke/auth_jwt_runtime_smoke.vais
Due: unittests, Core Compiler, Language Tooling

docs: sync certification plan v111
  docs/certification/EXCLUDED_FEATURES.md
Due: none

docs: mark a4 removal queue done
  docs/certification/EXCLUDED_FEATURES.md
Due: none

integrity: count schema gate assertions
  docs/certification/CORE_FREEZE_CRITERIA.md
  docs/certification/CURRENT_STATUS.md
  docs/certification/EXCLUDED_FEATURES.md
  scripts/check-integrity.sh
  tests/empirical/cross_package_schema/tests/gate.sh
Due: none

integrity: run schema consumers natively
  docs/certification/CORE_FREEZE_CRITERIA.md
  docs/certification/CURRENT_STATUS.md
  docs/certification/EXCLUDED_FEATURES.md
  docs/design/cross-package-schema.md
  scripts/check-integrity.sh
  tests/empirical/cross_package_schema/consumers/vais_server_api.vais
  tests/empirical/cross_package_schema/consumers/vaisdb_table.vais
  tests/empirical/cross_package_schema/tests/gate.sh
Due: none

integrity: add multi-domain product gate
  docs/certification/CORE_FREEZE_CRITERIA.md
  docs/certification/CURRENT_STATUS.md
  docs/certification/EXCLUDED_FEATURES.md
  docs/design/cross-package-schema.md
  scripts/check-integrity.sh
  tests/product/multi_domain_schema/README.md
  tests/product/multi_domain_schema/consumers/vais_server_product.vais
  tests/product/multi_domain_schema/consumers/vais_web_product.ts
  tests/product/multi_domain_schema/consumers/vaisdb_product.vais
  tests/product/multi_domain_schema/tests/gate.sh
Due: none

add Benchmark (cargo) benchmark result for 8468229be264b11ab4b40dd384963f10054dc4a3
  dev/bench/data.js
Due: none

docs: scope public gate evidence
  PUBLIC_STATUS.md
  docs/PUBLIC_CLAIM_EVIDENCE.md
  scripts/check-public-claims.mjs
  website/ecosystem/index.html
  website/index.html
  website/public/locales/en.json
  website/public/locales/ja.json
  website/public/locales/ko.json
  website/public/locales/zh.json
  website/vaisx/index.html
Due: none

docs: scope public gate evidence (#55)
  PUBLIC_STATUS.md
  docs/PUBLIC_CLAIM_EVIDENCE.md
  scripts/check-public-claims.mjs
  website/ecosystem/index.html
  website/index.html
  website/public/locales/en.json
  website/public/locales/ja.json
  website/public/locales/ko.json
  website/public/locales/zh.json
  website/vaisx/index.html
Due: none

add Benchmark (cargo) benchmark result for 8b4144b261612eb2d42699c73e5e0ae5b163310b
  dev/bench/data.js
Due: none

compiler: port schema gates to main
  PUBLIC_STATUS.md
  crates/vaisc/src/commands/emit_ts.rs
  crates/vaisc/src/commands/mod.rs
  crates/vaisc/src/main.rs
  crates/vaisc/tests/emit_ts_exhaustiveness.rs
  crates/vaisc/tests/emit_ts_skeleton.rs
  docs/PUBLIC_CLAIM_EVIDENCE.md
  docs/design/cross-package-schema.md
  scripts/check-public-claims.mjs
  tests/empirical/cross_package_schema/README.md
  tests/empirical/cross_package_schema/consumers/vais_server_api.vais
  tests/empirical/cross_package_schema/consumers/vais_web_consumer.ts
  tests/empirical/cross_package_schema/consumers/vaisdb_table.vais
  tests/empirical/cross_package_schema/gen/.gitignore
  tests/empirical/cross_package_schema/gen/.gitkeep
  tests/empirical/cross_package_schema/schema/user.vais
  tests/empirical/cross_package_schema/tests/gate.sh
  tests/product/multi_domain_schema/README.md
  tests/product/multi_domain_schema/consumers/vais_server_product.vais
  tests/product/multi_domain_schema/consumers/vais_web_product.ts
  tests/product/multi_domain_schema/consumers/vaisdb_product.vais
  tests/product/multi_domain_schema/schema/user.vais
  tests/product/multi_domain_schema/tests/gate.sh
  website/ecosystem/index.html
  website/index.html
  website/public/locales/en.json
  website/public/locales/ja.json
  website/public/locales/ko.json
  website/public/locales/zh.json
  website/vaisx/index.html
Due: unittests, Language Tooling

compiler: port schema gates to main (#56)
  PUBLIC_STATUS.md
  crates/vaisc/src/commands/emit_ts.rs
  crates/vaisc/src/commands/mod.rs
  crates/vaisc/src/main.rs
  crates/vaisc/tests/emit_ts_exhaustiveness.rs
  crates/vaisc/tests/emit_ts_skeleton.rs
  docs/PUBLIC_CLAIM_EVIDENCE.md
  docs/design/cross-package-schema.md
  scripts/check-public-claims.mjs
  tests/empirical/cross_package_schema/README.md
  tests/empirical/cross_package_schema/consumers/vais_server_api.vais
  tests/empirical/cross_package_schema/consumers/vais_web_consumer.ts
  tests/empirical/cross_package_schema/consumers/vaisdb_table.vais
  tests/empirical/cross_package_schema/gen/.gitignore
  tests/empirical/cross_package_schema/gen/.gitkeep
  tests/empirical/cross_package_schema/schema/user.vais
  tests/empirical/cross_package_schema/tests/gate.sh
  tests/product/multi_domain_schema/README.md
  tests/product/multi_domain_schema/consumers/vais_server_product.vais
  tests/product/multi_domain_schema/consumers/vais_web_product.ts
  tests/product/multi_domain_schema/consumers/vaisdb_product.vais
  tests/product/multi_domain_schema/schema/user.vais
  tests/product/multi_domain_schema/tests/gate.sh
  website/ecosystem/index.html
  website/index.html
  website/public/locales/en.json
  website/public/locales/ja.json
  website/public/locales/ko.json
  website/public/locales/zh.json
  website/vaisx/index.html
Due: unittests, Language Tooling

scripts: add main-scoped integrity runner
  PUBLIC_STATUS.md
  docs/PUBLIC_CLAIM_EVIDENCE.md
  scripts/check-integrity.sh
  scripts/check-public-claims.mjs
Due: none

add Benchmark (cargo) benchmark result for 09de7f35820d010896ec0f9bd3e344e81ecb20fe
  dev/bench/data.js
Due: none

scripts: add main-scoped integrity runner (#57)
  PUBLIC_STATUS.md
  docs/PUBLIC_CLAIM_EVIDENCE.md
  scripts/check-integrity.sh
  scripts/check-public-claims.mjs
Due: none

add Benchmark (cargo) benchmark result for e16f3d33da5a01d9fb1a1486672bd8625d7fffc4
  dev/bench/data.js
Due: none

Fix axum 0.8 registry compatibility
  crates/vais-playground-server/tests/playground_e2e_tests.rs
  crates/vais-registry-server/src/config.rs
  crates/vais-registry-server/src/handlers.rs
  crates/vais-registry-server/src/router.rs
  crates/vais-registry-server/tests/api_coverage_tests.rs
  crates/vais-registry-server/tests/integration_tests.rs
Due: unittests, Ecosystem Services

Fix rand 0.10 API migration
  crates/vais-registry-server/src/config.rs
  crates/vais-registry-server/src/handlers/auth.rs
  crates/vais-registry-server/src/main.rs
  crates/vais-registry-server/src/signing.rs
  crates/vais-registry-server/tests/api_coverage_tests.rs
  crates/vais-registry-server/tests/integration_tests.rs
  crates/vais-registry-server/tests/phase157_registry_coverage.rs
  crates/vais-testgen/src/generator.rs
  crates/vais-testgen/tests/integration_tests.rs
Due: unittests, Infrastructure, Ecosystem Services

Align Cranelift JIT dependencies
  crates/vais-jit/Cargo.toml
  crates/vais-jit/tests/integration_tests.rs
Due: unittests, Advanced Features

Fix inkwell 0.8 API migration
  crates/vais-codegen/src/advanced_opt/auto_vectorize_tests.rs
  crates/vais-codegen/src/error.rs
  crates/vais-codegen/src/inkwell/builtins/mod.rs
  crates/vais-codegen/src/inkwell/builtins/simd.rs
  crates/vais-codegen/src/inkwell/gen_advanced.rs
  crates/vais-codegen/src/inkwell/gen_aggregate.rs
  crates/vais-codegen/src/inkwell/gen_declaration.rs
  crates/vais-codegen/src/inkwell/gen_expr/binary.rs
  crates/vais-codegen/src/inkwell/gen_expr/call.rs
  crates/vais-codegen/src/inkwell/gen_expr/misc.rs
  crates/vais-codegen/src/inkwell/gen_match.rs
  crates/vais-codegen/src/inkwell/gen_special.rs
  crates/vais-codegen/src/inkwell/mod.rs
  crates/vais-codegen/src/parallel.rs
  crates/vais-codegen/src/string_pool.rs
  crates/vais-codegen/src/wasm_component/tests.rs
  crates/vais-codegen/tests/codegen_coverage_tests3.rs
  crates/vaisc/src/commands/build/cache.rs
  crates/vaisc/src/incremental/stats.rs
  crates/vaisc/src/registry/error.rs
  crates/vaisc/tests/cross_verify_tests.rs
  crates/vaisc/tests/e2e/phase115_wasm.rs
  crates/vaisc/tests/e2e/phase31.rs
  crates/vaisc/tests/e2e/phase83_stdlib.rs
  crates/vaisc/tests/e2e/phase89_dependent_runtime.rs
  crates/vaisc/tests/e2e/phase9_duplicate_define_declare.rs
  crates/vaisc/tests/endurance_tests.rs
  crates/vaisc/tests/registry_e2e_tests.rs
  crates/vaisc/tests/selfhost_lexer_tests.rs
Due: unittests, Core Compiler, Language Tooling

Fix logos 0.16 lexer migration
  crates/vais-lexer/src/lib.rs
  crates/vais-lexer/tests/token_display_tests.rs
  crates/vaisc/src/commands/build/cache.rs
  crates/vaisc/src/incremental/stats.rs
  crates/vaisc/src/registry/error.rs
  crates/vaisc/tests/cross_verify_tests.rs
  crates/vaisc/tests/e2e/phase115_wasm.rs
  crates/vaisc/tests/e2e/phase31.rs
  crates/vaisc/tests/e2e/phase83_stdlib.rs
  crates/vaisc/tests/e2e/phase89_dependent_runtime.rs
  crates/vaisc/tests/e2e/phase9_duplicate_define_declare.rs
  crates/vaisc/tests/endurance_tests.rs
  crates/vaisc/tests/registry_e2e_tests.rs
  crates/vaisc/tests/selfhost_lexer_tests.rs
Due: unittests, Core Compiler, Language Tooling

Fix ureq 3 registry client migration
  crates/vaisc/src/commands/pkg/publish.rs
  crates/vaisc/src/main.rs
  crates/vaisc/src/registry/client.rs
  crates/vaisc/src/registry/vulnerability.rs
  crates/vaisc/tests/e2e/phase89_dependent_runtime.rs
Due: unittests, Language Tooling

add Benchmark (cargo) benchmark result for 9874286a1bf11909b50ee713bef86ef6b86a1684
  dev/bench/data.js
Due: none

add Benchmark (cargo) benchmark result for 16cd0a362bc835d1840233884302e600cc05a7f5
  dev/bench/data.js
Due: none

add Benchmark (cargo) benchmark result for fd61554dd23b275535c4379cf63db6977003aa44
  dev/bench/data.js
Due: none

add Benchmark (cargo) benchmark result for 3bb9ad6d07fd695ff84ecc9aa26b59e3af29bb5b
  dev/bench/data.js
Due: none

add Benchmark (cargo) benchmark result for c9f61f10a37363a8493ab504ff2edf7103e55a97
  dev/bench/data.js
Due: none

Path conditions:
  unittests: any of: crates/, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Core Compiler: any of: crates/vais-lexer/**, crates/vais-parser/**, crates/vais-ast/**, crates/vais-types/**, crates/vais-codegen/**, crates/vais-codegen-js/**, crates/vais-mir/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Language Tooling: any of: crates/vais-lsp/**, crates/vaisc/**, crates/vais-bindgen/**, crates/vais-macro/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Advanced Features: any of: crates/vais-jit/**, crates/vais-gc/**, crates/vais-gpu/**, crates/vais-query/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Extensibility: any of: crates/vais-plugin/**, crates/vais-dynload/**, crates/vais-hotreload/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Infrastructure: any of: crates/vais-i18n/**, crates/vais-profiler/**, crates/vais-security/**, crates/vais-supply-chain/**, crates/vais-testgen/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Ecosystem Services: any of: crates/vais-registry-server/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
