Repository vaislang/vais: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Compiler, Language Tooling, Advanced Features, Experimental Features, Infrastructure

codecov.yml:

# Codecov configuration
# Documentation: https://docs.codecov.io/docs/codecov-yaml

# Coverage target configuration
coverage:
  precision: 2
  round: down
  range: 70..100

  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error

    patch:
      default:
        target: 75%
        threshold: 2%

    changes:
      default:
        if_ci_failed: error

# Comment on pull requests with coverage information
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore paths from coverage
ignore:
  - "benches/**/*"
  - "examples/**/*"
  - "tests/**/*"
  - "target/**/*"
  - "scripts/**/*"

# Flag configuration for different test types
flags:
  unittests:
    paths:
      - crates/
    carryforward: true

# Component-based coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        target: 80%
  individual_components:
    # Core compiler components
    - component_id: core
      name: Core Compiler
      paths:
        - crates/vais-lexer/**
        - crates/vais-parser/**
        - crates/vais-ast/**
        - crates/vais-types/**
        - crates/vais-codegen/**
      statuses:
        - type: project
          target: 90%

    # Language tooling
    - component_id: tooling
      name: Language Tooling
      paths:
        - crates/vais-lsp/**
        - crates/vais-dap/**
        - crates/vaisc/**
      statuses:
        - type: project
          target: 85%

    # Advanced features
    - component_id: advanced
      name: Advanced Features
      paths:
        - crates/vais-jit/**
        - crates/vais-gc/**
        - crates/vais-mir/**
        - crates/vais-query/**
      statuses:
        - type: project
          target: 80%

    # Experimental features
    - component_id: experimental
      name: Experimental Features
      paths:
        - crates/vais-gpu/**
        - crates/vais-hotreload/**
        - crates/vais-plugin/**
      statuses:
        - type: project
          target: 70%

    # Infrastructure
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - crates/vais-i18n/**
        - crates/vais-profiler/**
        - crates/vais-security/**
        - crates/vais-supply-chain/**
      statuses:
        - type: project
          target: 75%

add Benchmark (cargo) benchmark result for 509149b87cf9ec982d9fbae49c808574f1814de2
  dev/bench/data.js
Due: none

fix: macOS CI — reduce fuzz nesting depth to prevent stack overflow
  crates/vais-parser/tests/fuzz_tests.rs
Due: unittests, Core Compiler

add Benchmark (cargo) benchmark result for 256b4ae494a75da3fbf839cec2100545909fe693
  dev/bench/data.js
Due: none

fix: merge global profiler tests to prevent race condition on CI
  crates/vais-profiler/src/ffi.rs
Due: unittests, Infrastructure

add Benchmark (cargo) benchmark result for 4ed067149b4b0ad7bbf42edc452b6da499a723d0
  dev/bench/data.js
Due: none

fix: remove broken codecov badge from README
  README.md
Due: none

add Benchmark (cargo) benchmark result for 409b409af5f159a76780d29e1d909019345cdc71
  dev/bench/data.js
Due: none

fix: redeploy playground server with latest vaisc + fix enum example
  .github/workflows/deploy-playground-server.yml
  Dockerfile.playground
  fly.playground.toml
  playground/src/examples.js
Due: none

add Benchmark (cargo) benchmark result for 23a083cf67c9788fde89f0a0801f94160edb3369
  dev/bench/data.js
Due: none

fix: resolve enum+match LLVM crash — add fallthrough block for valid phi nodes
  crates/vais-codegen/src/inkwell/generator.rs
  playground/src/examples.js
Due: unittests, Core Compiler

add Benchmark (cargo) benchmark result for 1da5256ca56803022ba02983732a764c3f2363ae
  dev/bench/data.js
Due: none

docs: update benchmark numbers — 50K lines 63ms (800K lines/s), 21% faster
  README.md
  ROADMAP.md
  docs/benchmarks.md
Due: none

add Benchmark (cargo) benchmark result for 424362df4927925f4f7cb9265d583a4e0ebe427e
  dev/bench/data.js
Due: none

feat: add IR-level .o caching for incremental compilation (Phase 42 Stage 0)
  ROADMAP.md
  crates/vaisc/src/incremental.rs
  crates/vaisc/src/main.rs
Due: unittests, Language Tooling

feat: add per-module codegen with --per-module flag (Phase 42 Stage 1)
  ROADMAP.md
  crates/vais-ast/src/lib.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-codegen/tests/formatter_tests.rs
  crates/vais-gpu/tests/gpu_tests.rs
  crates/vais-jit/src/tiered.rs
  crates/vais-macro/src/expansion.rs
  crates/vais-parser/src/lib.rs
  crates/vais-plugin/src/lib.rs
  crates/vais-plugin/src/registry.rs
  crates/vais-plugin/tests/plugin_tests.rs
  crates/vais-types/src/lib.rs
  crates/vaisc/src/main.rs
Due: unittests, Core Compiler, Language Tooling, Advanced Features, Experimental Features

add Benchmark (cargo) benchmark result for c0fd420bd6bbe77c50d2cc91d1e65a9c73aa370b
  dev/bench/data.js
Due: none

bench: add Rust/Python benchmarks, update docs with actual measurements
  docs/benchmarks.md
  examples/projects/benchmark/benchmark.py
  examples/projects/benchmark/benchmark.rs
  examples/projects/benchmark/run_bench.sh
Due: none

add Benchmark (cargo) benchmark result for 8a8bc8f6f28130b882eca99122d78bf1069a3561
  dev/bench/data.js
Due: none

feat: add per-module .o caching + rayon parallel codegen (Phase 42 Stage 2)
  ROADMAP.md
  crates/vais-codegen/src/lib.rs
  crates/vais-parser/src/expr.rs
  crates/vais-types/src/inference.rs
  crates/vaisc/src/main.rs
Due: unittests, Core Compiler, Language Tooling

feat: complete Phase 42 incremental compilation (Stage 3~5)
  ROADMAP.md
  benches/BASELINE.md
  crates/vais-codegen/src/lib.rs
  crates/vais-codegen/src/optimize.rs
  crates/vais-codegen/src/parallel.rs
  crates/vais-parser/src/lib.rs
  crates/vais-plugin/src/lib.rs
  crates/vais-plugin/src/registry.rs
  crates/vais-plugin/tests/plugin_tests.rs
  crates/vais-types/src/types.rs
  crates/vaisc/src/incremental.rs
  crates/vaisc/src/main.rs
  crates/vaisc/tests/e2e_tests.rs
  examples/circular_import/a.vais
  examples/circular_import/b.vais
  scripts/gen_bench_project.py
  scripts/incremental-bench.sh
Due: unittests, Core Compiler, Language Tooling, Experimental Features

add Benchmark (cargo) benchmark result for b884c29978b9329a49db4b8608f196c9ca47970b
  dev/bench/data.js
Due: none

fix: improve print builtin handling and selfhost return values
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/lib.rs
  selfhost/print.vais
  selfhost/test_file_io.vais
Due: unittests, Core Compiler

docs: mark Phase 42 as completed in ROADMAP summary table
  ROADMAP.md
Due: none

docs: add Phase 43 Codegen quality improvement plan to ROADMAP
  ROADMAP.md
Due: none

fix: resolve 2 clippy warnings in main.rs
  crates/vaisc/src/main.rs
Due: unittests, Language Tooling

fix: resolve match phi node type mismatch for enum/struct returns
  crates/vais-codegen/src/control_flow.rs
  crates/vaisc/tests/e2e_tests.rs
Due: unittests, Core Compiler, Language Tooling

docs: mark Phase 43 as completed — match phi fix, clippy 0, 315 E2E
  ROADMAP.md
Due: none

docs: add Phase 44~47 plans to ROADMAP
  ROADMAP.md
Due: none

fix: migrate vais-python/vais-node bindings to PyO3 0.28 and NAPI 3.x
  ROADMAP.md
  crates/vais-node/src/lib.rs
  crates/vais-node/src/token_conv.rs
  crates/vais-python/src/lib.rs
  crates/vais-python/src/token_conv.rs
Due: unittests

add Benchmark (cargo) benchmark result for 449fae3079baf0afae4fc16f14dea1e5db8f498a
  dev/bench/data.js
Due: none

feat: support nested struct field access (Phase 44)
  ROADMAP.md
  crates/vais-codegen/src/inkwell/generator.rs
  crates/vaisc/tests/e2e_tests.rs
Due: unittests, Core Compiler, Language Tooling

add Benchmark (cargo) benchmark result for 92d02ead12faf17d9dcb112a2d15042d848075e5
  dev/bench/data.js
Due: none

feat: add stdlib modules for env/process/signal (Phase 45)
  ROADMAP.md
  crates/vais-codegen/src/builtins.rs
  crates/vais-codegen/src/inkwell/builtins.rs
  crates/vais-types/src/lib.rs
  crates/vaisc/tests/e2e_tests.rs
  std/env.vais
  std/process.vais
  std/signal.vais
Due: unittests, Core Compiler, Language Tooling

add Benchmark (cargo) benchmark result for 5d5bcc3fcfc3c341fef192a29a162888a6c23089
  dev/bench/data.js
Due: none

refactor: modularize parser — lib.rs 4,208→792 lines (Phase 46)
  ROADMAP.md
  crates/vais-parser/src/item.rs
  crates/vais-parser/src/lib.rs
  crates/vais-parser/src/types.rs
Due: unittests, Core Compiler

add Benchmark (cargo) benchmark result for 0545195d8a692d72376c3595af9dc42cffc72916
  dev/bench/data.js
Due: none

feat: incremental type checking with signature hashing (Phase 47)
  ROADMAP.md
  crates/vaisc/src/incremental.rs
  crates/vaisc/src/main.rs
  crates/vaisc/tests/e2e_tests.rs
Due: unittests, Language Tooling

add Benchmark (cargo) benchmark result for 1f1b8710d64db8a1c538976dda79d7b6f9cd31b7
  dev/bench/data.js
Due: none

feat: Result<T,E> two-param generics, sizeof builtin, 344 E2E tests (Phase 48)
  ROADMAP.md
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/inkwell/generator.rs
  crates/vais-codegen/src/inkwell/types.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-codegen/src/types.rs
  crates/vais-codegen/src/wasm_component.rs
  crates/vais-jit/src/compiler.rs
  crates/vais-jit/src/types.rs
  crates/vais-types/src/exhaustiveness.rs
  crates/vais-types/src/inference.rs
  crates/vais-types/src/lib.rs
  crates/vais-types/src/lifetime.rs
  crates/vais-types/src/object_safety.rs
  crates/vais-types/src/ownership.rs
  crates/vais-types/src/types.rs
  crates/vaisc/src/repl.rs
  crates/vaisc/tests/e2e_tests.rs
  std/error.vais
  std/file.vais
  std/net.vais
  std/result.vais
Due: unittests, Core Compiler, Language Tooling, Advanced Features

feat: compile-time platform detection with #[cfg(target_os)] conditional compilation (Phase 49 Stage 0)
  ROADMAP.md
  crates/vais-ast/src/lib.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-parser/src/item.rs
  crates/vais-parser/src/lib.rs
  crates/vais-query/src/database.rs
  crates/vaisc/src/main.rs
  crates/vaisc/tests/e2e_tests.rs
  std/file.vais
  std/net.vais
  std/signal.vais
Due: unittests, Core Compiler, Language Tooling, Advanced Features
