Repository vaislang/vais: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Compiler, Language Tooling, Advanced Features, Extensibility, Infrastructure, Ecosystem Services

codecov.yml:

# Codecov configuration
# Documentation: https://docs.codecov.io/docs/codecov-yaml

# Coverage target configuration
coverage:
  precision: 2
  round: down
  range: 60..100

  status:
    project:
      default:
        target: 75%
        threshold: 2%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 3%

    changes:
      default:
        if_ci_failed: error

# Comment on pull requests with coverage information
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore paths from coverage
# Excludes match tarpaulin.toml exclude list â€” crates with 0% coverage
# that inflate the denominator if included
ignore:
  - "benches/**/*"
  - "examples/**/*"
  - "tests/**/*"
  - "target/**/*"
  - "scripts/**/*"
  - "crates/vais-python/**"
  - "crates/vais-node/**"
  - "crates/vais-dap/**"
  - "crates/vais-playground-server/**"

# Flag configuration for different test types
flags:
  unittests:
    paths:
      - crates/
    carryforward: true

# Component-based coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        target: 75%
  individual_components:
    # Core compiler components
    - component_id: core
      name: Core Compiler
      paths:
        - crates/vais-lexer/**
        - crates/vais-parser/**
        - crates/vais-ast/**
        - crates/vais-types/**
        - crates/vais-codegen/**
        - crates/vais-codegen-js/**
        - crates/vais-mir/**
      statuses:
        - type: project
          target: 80%

    # Language tooling
    - component_id: tooling
      name: Language Tooling
      paths:
        - crates/vais-lsp/**
        - crates/vaisc/**
        - crates/vais-bindgen/**
        - crates/vais-macro/**
      statuses:
        - type: project
          target: 75%

    # Runtime & advanced features
    - component_id: advanced
      name: Advanced Features
      paths:
        - crates/vais-jit/**
        - crates/vais-gc/**
        - crates/vais-gpu/**
        - crates/vais-query/**
      statuses:
        - type: project
          target: 70%

    # Plugin & dynamic loading
    - component_id: extensibility
      name: Extensibility
      paths:
        - crates/vais-plugin/**
        - crates/vais-dynload/**
        - crates/vais-hotreload/**
      statuses:
        - type: project
          target: 68%

    # Infrastructure & ecosystem
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - crates/vais-i18n/**
        - crates/vais-profiler/**
        - crates/vais-security/**
        - crates/vais-supply-chain/**
        - crates/vais-testgen/**
      statuses:
        - type: project
          target: 70%

    # Ecosystem services (playground-server excluded from coverage measurement)
    - component_id: services
      name: Ecosystem Services
      paths:
        - crates/vais-registry-server/**
      statuses:
        - type: project
          target: 75%

add Benchmark (cargo) benchmark result for d028cfd0efc27d2982db7e888609dfdee697b512
  dev/bench/data.js
Due: none

add Benchmark (cargo) benchmark result for 4914ba1cf0cac60d216df44378f77176040135fa
  dev/bench/data.js
Due: none

add Benchmark (cargo) benchmark result for 9263604dea73cf7d366e5b9cfde3a84b15f2b38b
  dev/bench/data.js
Due: none

add Benchmark (cargo) benchmark result for 4525a9431f89c4b65660f27db691cec9288aaaf5
  dev/bench/data.js
Due: none

add Benchmark (cargo) benchmark result for b5ad54d5869da34c97e66c11f23230c1877489e7
  dev/bench/data.js
Due: none

add Benchmark (cargo) benchmark result for 5e8acbbda102b2fbd2077dd3767969664bde7d10
  dev/bench/data.js
Due: none

add Benchmark (cargo) benchmark result for a3797016e9875a3c6507e69a447450ffa7639a20
  dev/bench/data.js
Due: none

add Benchmark (cargo) benchmark result for 8fa202eb739c03a42f190716e34399b243229040
  dev/bench/data.js
Due: none

add Benchmark (cargo) benchmark result for 20c733691eec7106792957f665c13c99450c1662
  dev/bench/data.js
Due: none

add Benchmark (cargo) benchmark result for d569790b7162ebec2f058fc21b1f22a9fba19977
  dev/bench/data.js
Due: none

add Benchmark (cargo) benchmark result for 48e8acbbe8a6d6bbfaed9c71213867f72ab26b7d
  dev/bench/data.js
Due: none

add Benchmark (cargo) benchmark result for 2982a85358a7dfd8ed324c9df9b30e08029ddd7a
  dev/bench/data.js
Due: none

add Benchmark (cargo) benchmark result for eb8142c89e47db19bb6653129da5a5408b7a6375
  dev/bench/data.js
Due: none

Refresh multilingual benchmark claims
  docs-site/src/en/introduction.md
  docs-site/src/ja/introduction.md
  docs-site/src/zh/introduction.md
Due: none

Ignore fuzz build artifacts
  .gitignore
Due: none

Update public docs for current gate baseline
  PUBLIC_STATUS.md
  docs/PUBLIC_CLAIM_EVIDENCE.md
  playground/FEATURES.md
  playground/QUICKSTART.md
  playground/README.md
  playground/TUTORIAL.md
  playground/src/compiler.js
  playground/src/vais-language.js
  playground/vite.config.js
  scripts/check-public-claims.mjs
  website/blog/index.html
  website/blog/why-single-char-keywords.html
  website/blog/why-vais.html
  website/ecosystem/index.html
  website/index.html
  website/public/locales/en.json
  website/public/locales/ja.json
  website/public/locales/ko.json
  website/public/locales/zh.json
  website/vaisx/index.html
Due: none

Fix call coercions and selfhost coverage gate
  crates/vais-codegen/src/expr_helpers_call/method_call.rs
  crates/vais-codegen/src/generate_expr_call.rs
  crates/vais-codegen/src/helpers.rs
  crates/vais-codegen/src/tests/type_tests.rs
  crates/vais-parser/src/expr/primary.rs
  crates/vais-parser/src/item/mod.rs
  crates/vais-parser/src/lib.rs
  crates/vais-types/src/checker_expr/calls.rs
  crates/vaisc/tests/e2e/phase110_auto_free.rs
  crates/vaisc/tests/e2e/phase134_string.rs
  selfhost/mir_main.vais
  selfhost/test_file_io.vais
Due: unittests, Core Compiler, Language Tooling

Refresh website deployment docs
  docs-site/CHECKLIST.md
  docs-site/CONTRIBUTING.md
  docs-site/FILES_CREATED.txt
  docs-site/OVERVIEW.md
  docs-site/PROJECT_SUMMARY.md
  docs-site/QUICK_REFERENCE.md
  docs-site/README.md
  docs-site/src/en/getting-started/vibe-coding.md
  docs-site/src/getting-started/vibe-coding.md
  docs/PERFORMANCE_TESTING.md
  docs/RELEASE_NOTES_v1.0.0.md
  playground/DEPLOYMENT.md
  website/DEPLOYMENT.md
  website/ecosystem/index.html
Due: none

Apply rustfmt after runtime aggregate rebase
  crates/vaisc/tests/selfhost_lexer_tests.rs
Due: unittests, Language Tooling

Fix per-module IR cache collisions
  crates/vais-codegen/src/ir_verify.rs
  crates/vaisc/src/commands/compile/per_module.rs
Due: unittests, Core Compiler, Language Tooling

Refresh public benchmark claims
  benches/COMPARISON.md
  benches/lang-comparison/compile_bench.sh
  benches/lang-comparison/vais/fibonacci.vais
  benches/lang-comparison/vais/http_types.vais
  benches/lang-comparison/vais/linked_list.vais
  benches/lang-comparison/vais/quicksort.vais
  docs/QUICKSTART.md
  docs/benchmarks.md
  docs/youtube-tutorials/episode-02-fibonacci.md
  scripts/check-public-claims.mjs
  website/blog/index.html
  website/blog/performance-comparison.html
  website/blog/why-single-char-keywords.html
  website/blog/why-vais.html
  website/index.html
  website/public/locales/en.json
  website/public/locales/ja.json
  website/public/locales/ko.json
  website/public/locales/zh.json
Due: none

Refresh README public claims
  README.md
  examples/control_flow.vais
  examples/enum_test.vais
  examples/fib.vais
  playground/IMPLEMENTATION_SUMMARY.md
  playground/PROJECT_SUMMARY.md
  scripts/check-public-claims.mjs
Due: none

add Benchmark (cargo) benchmark result for 21cdaeb16f47c7e25550c413f63ca823a88b914d
  dev/bench/data.js
Due: none

add Benchmark (cargo) benchmark result for e9eb1e768332c7fb41600957d6900fc1384d3de3
  dev/bench/data.js
Due: none

docs: sync roadmap public baseline
  ROADMAP.md
  scripts/check-public-claims.mjs
Due: none

types: make reference unification explicit
  crates/vais-types/src/checker_expr/stmts.rs
  crates/vais-types/src/checker_fn.rs
  crates/vais-types/src/inference/unification.rs
  crates/vais-types/tests/inference_unification_tests.rs
  crates/vaisc/tests/e2e/phase91_lifetime.rs
  selfhost/codegen.vais
Due: unittests, Core Compiler, Language Tooling

codegen: preserve deref field base pointers
  crates/vais-codegen/src/expr_helpers_data.rs
  crates/vais-codegen/src/generate_expr/ref_deref.rs
  crates/vaisc/tests/e2e/phase91_lifetime.rs
Due: unittests, Core Compiler, Language Tooling

docs: sync roadmap public baseline (#59)
  ROADMAP.md
  scripts/check-public-claims.mjs
Due: none

types: make reference unification explicit (#60)
  crates/vais-codegen/src/expr_helpers_data.rs
  crates/vais-codegen/src/generate_expr/ref_deref.rs
  crates/vais-types/src/checker_expr/stmts.rs
  crates/vais-types/src/checker_fn.rs
  crates/vais-types/src/inference/unification.rs
  crates/vais-types/tests/inference_unification_tests.rs
  crates/vaisc/tests/e2e/phase91_lifetime.rs
  selfhost/codegen.vais
Due: unittests, Core Compiler, Language Tooling

codegen: canonicalize enum layout
  crates/vais-codegen/src/expr_helpers_misc.rs
  crates/vais-codegen/src/function_gen/runtime.rs
  crates/vais-codegen/src/inkwell/gen_declaration.rs
  crates/vais-codegen/src/inkwell/gen_expr/call.rs
  crates/vais-codegen/src/inkwell/gen_expr/var.rs
  crates/vais-codegen/src/inkwell/gen_match.rs
  crates/vais-codegen/src/inkwell/gen_types.rs
  crates/vais-codegen/src/inkwell/generator.rs
  crates/vais-codegen/src/inkwell/types.rs
  crates/vais-codegen/src/types/sizeof.rs
  crates/vais-codegen/tests/inkwell_enum_layout_tests.rs
  crates/vais-codegen/tests/text_enum_layout_tests.rs
  docs/LANGUAGE_SPEC.md
Due: unittests, Core Compiler

codegen: canonicalize enum layout (#61)
  crates/vais-codegen/src/expr_helpers_misc.rs
  crates/vais-codegen/src/function_gen/runtime.rs
  crates/vais-codegen/src/inkwell/gen_declaration.rs
  crates/vais-codegen/src/inkwell/gen_expr/call.rs
  crates/vais-codegen/src/inkwell/gen_expr/var.rs
  crates/vais-codegen/src/inkwell/gen_match.rs
  crates/vais-codegen/src/inkwell/gen_types.rs
  crates/vais-codegen/src/inkwell/generator.rs
  crates/vais-codegen/src/inkwell/types.rs
  crates/vais-codegen/src/types/sizeof.rs
  crates/vais-codegen/tests/inkwell_enum_layout_tests.rs
  crates/vais-codegen/tests/text_enum_layout_tests.rs
  docs/LANGUAGE_SPEC.md
Due: unittests, Core Compiler

types: require explicit pointer integer boundary
  crates/vais-types/src/inference/unification.rs
  crates/vais-types/tests/inference_unification_tests.rs
  crates/vaisc/tests/e2e/phase158_type_strict.rs
  docs/LANGUAGE_SPEC.md
Due: unittests, Core Compiler, Language Tooling

types: require explicit pointer integer boundary (#62)
  crates/vais-types/src/inference/unification.rs
  crates/vais-types/tests/inference_unification_tests.rs
  crates/vaisc/tests/e2e/phase158_type_strict.rs
  docs/LANGUAGE_SPEC.md
Due: unittests, Core Compiler, Language Tooling

docs: align public surface with current gates
  docs-site/src/en/introduction.md
  docs-site/src/en/language/language-spec.md
  docs-site/src/ja/introduction.md
  docs-site/src/zh/introduction.md
  docs-site/src/zh/language/language-spec.md
  docs/LANGUAGE_SPEC.md
  playground/FEATURES.md
  playground/TUTORIAL.md
  scripts/check-public-claims.mjs
  website/index.html
  website/public/locales/en.json
  website/public/locales/ja.json
  website/public/locales/ko.json
  website/public/locales/zh.json
Due: none

docs: align public surface with current gates (#63)
  docs-site/src/en/introduction.md
  docs-site/src/en/language/language-spec.md
  docs-site/src/ja/introduction.md
  docs-site/src/zh/introduction.md
  docs-site/src/zh/language/language-spec.md
  docs/LANGUAGE_SPEC.md
  playground/FEATURES.md
  playground/TUTORIAL.md
  scripts/check-public-claims.mjs
  website/index.html
  website/public/locales/en.json
  website/public/locales/ja.json
  website/public/locales/ko.json
  website/public/locales/zh.json
Due: none

add Benchmark (cargo) benchmark result for d25a7d32dbfdcd22d54ef1b0cd09605fe71d175f
  dev/bench/data.js
Due: none

add Benchmark (cargo) benchmark result for f16565f351a44c60b98a2e841dd7a7ffc7fdf8ec
  dev/bench/data.js
Due: none
