Repository vaislang/vais: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Compiler, Language Tooling, Advanced Features, Extensibility, Infrastructure, Ecosystem Services

docs(phase199): final report — vaisdb 47 → 28 P001 (40% 해소, 목표 미달)
  ROADMAP.md
  docs/phase199/final_report.md
Due: none

docs(phase200): Recon-200 — 28 first-error → 54+ cascading 실측
  ROADMAP.md
  docs/phase200/recon.md
Due: none

docs(phase200): P0-A/B/C + P1-Decision 완료 — vaisdb 28 → 20 P001
  ROADMAP.md
  docs/phase200/p1_decisions.md
Due: none

docs(phase200): final report — vaisdb 28 → 20 P001 (cascading 기준 89% 해소)
  ROADMAP.md
  docs/phase200/final_report.md
Due: none

docs(phase201): final report — vaisdb 20 → 2 P001 (목표 ≤5 달성)
  ROADMAP.md
  docs/phase201/final_report.md
  docs/phase201/g1_trait_dispatch.md
Due: none

docs(phase202): Recon-202 + compiler baseline (iter1)
  docs/phase202/compiler_baseline.md
  docs/phase202/recon.md
Due: none

docs(phase202): final report — vaisdb P001 = 0 달성 🎯
  ROADMAP.md
  docs/phase202/e_top_domain.md
  docs/phase202/final_report.md
Due: none

feat(vaisc): find_package_source_root — stdlib-aware check from any cwd (Phase 203)
  ROADMAP.md
  crates/vaisc/src/commands/simple.rs
  docs/phase203/final_report.md
  docs/phase203/repro_c1.md
  docs/phase203/repro_c2.md
Due: unittests, Language Tooling

docs(phase204): final report — vaisdb E002/E003/E030 대량 해소
  ROADMAP.md
  docs/phase204/final_report.md
  docs/phase204/recon.md
Due: none

docs(phase205): final report — E030 100%↓, put_* 내부 177→0 정리
  ROADMAP.md
  docs/phase205/final_report.md
  docs/phase205/recon.md
Due: none

docs(phase206): mass fix 한계 도달 — Phase 207 compiler error formatter 권고
  ROADMAP.md
  docs/phase206/final_report.md
  docs/phase206/other.md
  docs/phase206/recon_e001.md
Due: none

feat(vais-types): error_report fallback + TypeError::with_span (Phase 207)
  ROADMAP.md
  crates/vais-types/src/checker_expr/calls.rs
  crates/vais-types/src/error_report.rs
  crates/vais-types/src/types/error.rs
Due: unittests, Core Compiler

feat(vais-types): with_span 11 unify 사이트 적용 — E001 진단 0→86% (Phase 208)
  ROADMAP.md
  crates/vais-types/src/checker_expr/calls.rs
  docs/phase208/final_report.md
Due: unittests, Core Compiler

docs(phase209): typed-binding 385→0 + 잔여 분석
  ROADMAP.md
  docs/phase209/final_report.md
Due: none

feat(std): str_byte_at + str_len free functions for primitive str (Phase 210)
  ROADMAP.md
  crates/vais-types/src/checker_expr/special.rs
  docs/phase210/final_report.md
  std/string.vais
Due: unittests, Core Compiler

docs(phase211): cascading effect — E004 40→14 (65% 감소)
  ROADMAP.md
  docs/phase211/final_report.md
Due: none

docs(phase212): E008 71% 감소 (7→2) — duplicate definition cleanup
  ROADMAP.md
  docs/phase212/final_report.md
Due: none

feat(vaisc): cmd_check sets imported_item_count → OK files 30→78 (Phase 213)
  ROADMAP.md
  crates/vaisc/src/commands/simple.rs
  docs/phase213/final_report.md
Due: unittests, Language Tooling

docs(phase214): panic! 3 fix, OK 78→79
  ROADMAP.md
  docs/phase214/final_report.md
Due: none

feat(std): HashMap.insert + Vec.clone/as_slice aliases (Phase 215)
  ROADMAP.md
  std/hashmap.vais
  std/vec.vais
Due: none

feat(vais-types): &str method dispatch (auto-deref) — Phase 216
  ROADMAP.md
  crates/vais-types/src/checker_expr/calls.rs
Due: unittests, Core Compiler

feat(vais-types): slice.to_vec / slice.clone built-in (Phase 217)
  ROADMAP.md
  crates/vais-types/src/checker_expr/calls.rs
Due: unittests, Core Compiler

feat(std): String.as_bytes() → Vec<u8> (Phase 218)
  ROADMAP.md
  std/string.vais
Due: none

feat(vais-types): Vec/HashMap.len/push/insert built-in fallback (Phase 219)
  ROADMAP.md
  crates/vais-types/src/checker_expr/calls.rs
Due: unittests, Core Compiler

feat(vais-types): Vec/HashMap 메서드 fallback 확장 (Phase 220)
  ROADMAP.md
  crates/vais-types/src/checker_expr/calls.rs
Due: unittests, Core Compiler

feat(vais-types): Vec/HashMap fallback auto-deref one level (Phase 221)
  ROADMAP.md
  crates/vais-types/src/checker_expr/calls.rs
Due: unittests, Core Compiler

feat(std): Vec.of_one + Vec.repeat constructors (Phase 222)
  ROADMAP.md
  std/vec.vais
Due: none

feat(vais-types): with_span on more unify sites — control_flow + stmts (Phase 223)
  ROADMAP.md
  crates/vais-types/src/checker_expr/control_flow.rs
  crates/vais-types/src/checker_expr/stmts.rs
Due: unittests, Core Compiler

docs(roadmap): Phase 224 entry
  ROADMAP.md
Due: none

feat(std): RwLock.read_lock/write_lock aliases (Phase 225)
  std/sync.vais
Due: none

feat(std+vais-types): push_byte alias + generic .to_string()/.clone() (Phase 226)
  crates/vais-types/src/checker_expr/calls.rs
  std/string.vais
Due: unittests, Core Compiler

docs(roadmap): Phase 225+226 entries + OK 90/276
  ROADMAP.md
Due: none

feat(vais-types): generic .len() on iterable receivers (Phase 227)
  crates/vais-types/src/checker_expr/calls.rs
Due: unittests, Core Compiler

feat(std): ByteBuffer.write_f32_le + read_f32_le (Phase 228)
  std/bytebuffer.vais
Due: none

feat(std): ByteBuffer.get_* aliases for read_* (Phase 229)
  std/bytebuffer.vais
Due: none

docs(roadmap): Phase 227-230 entries
  ROADMAP.md
Due: none

docs(roadmap): Phase 231 entry
  ROADMAP.md
Due: none

feat(std): ByteBuffer.write_u64_le/u32_le aliases (Phase 234)
  std/bytebuffer.vais
Due: none

docs(roadmap): Phase 231-234
  ROADMAP.md
Due: none

feat(vais-types): String/Str method fallback (Phase 235)
  crates/vais-types/src/checker_expr/calls.rs
Due: unittests, Core Compiler

Path conditions:
  unittests: any of: crates/, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Core Compiler: any of: crates/vais-lexer/**, crates/vais-parser/**, crates/vais-ast/**, crates/vais-types/**, crates/vais-codegen/**, crates/vais-codegen-js/**, crates/vais-mir/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Language Tooling: any of: crates/vais-lsp/**, crates/vaisc/**, crates/vais-bindgen/**, crates/vais-macro/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Advanced Features: any of: crates/vais-jit/**, crates/vais-gc/**, crates/vais-gpu/**, crates/vais-query/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Extensibility: any of: crates/vais-plugin/**, crates/vais-dynload/**, crates/vais-hotreload/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Infrastructure: any of: crates/vais-i18n/**, crates/vais-profiler/**, crates/vais-security/**, crates/vais-supply-chain/**, crates/vais-testgen/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Ecosystem Services: any of: crates/vais-registry-server/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
