Repository vaislang/vais: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Compiler, Language Tooling, Advanced Features, Extensibility, Infrastructure, Ecosystem Services

codegen: canonicalize Option and Result ABI
  crates/vais-codegen/src/control_flow/match_gen.rs
  crates/vais-codegen/src/control_flow/pattern.rs
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/expr_helpers_call/method_call.rs
  crates/vais-codegen/src/expr_helpers_call/print_format.rs
  crates/vais-codegen/src/expr_helpers_data.rs
  crates/vais-codegen/src/expr_helpers_misc.rs
  crates/vais-codegen/src/function_gen/codegen.rs
  crates/vais-codegen/src/generate_expr_call.rs
  crates/vais-codegen/src/inkwell/gen_aggregate.rs
  crates/vais-codegen/src/inkwell/gen_expr/call.rs
  crates/vais-codegen/src/inkwell/gen_expr/var.rs
  crates/vais-codegen/src/inkwell/gen_match.rs
  crates/vais-codegen/src/inkwell/gen_stmt.rs
  crates/vais-codegen/src/inkwell/gen_types.rs
  crates/vais-codegen/src/inkwell/generator.rs
  crates/vais-codegen/src/inkwell/types.rs
  crates/vais-codegen/src/inkwell/vtable_inkwell.rs
  crates/vais-codegen/src/stmt_visitor.rs
  crates/vais-codegen/src/string_ops.rs
  crates/vais-codegen/src/trait_dispatch.rs
  crates/vais-codegen/src/type_inference.rs
  crates/vais-codegen/src/types/coercion.rs
  crates/vais-codegen/src/types/conversion.rs
  crates/vais-codegen/src/types/sizeof.rs
  crates/vais-codegen/src/types/tests.rs
  crates/vais-codegen/src/vtable.rs
  crates/vais-codegen/tests/error_path_tests.rs
  crates/vais-codegen/tests/expr_helpers_coverage_tests.rs
  std/bytebuffer.vais
  std/hashmap.vais
  std/sync.vais
  std/vec.vais
Due: unittests, Core Compiler

codegen: restore string methods and ref args
  CLAUDE.md
  crates/vais-codegen/src/expr_helpers_call/method_call.rs
  crates/vais-codegen/src/string_ops.rs
  docs/certification/CORE_FREEZE_CRITERIA.md
  docs/certification/CURRENT_STATUS.md
  docs/certification/EXCLUDED_FEATURES.md
  scripts/check-integrity.sh
Due: unittests, Core Compiler

codegen: fix HttpResponse tail returns
  crates/vais-codegen/src/function_gen/codegen.rs
  crates/vaisc/tests/e2e/phase_http_client_runtime.rs
  docs/certification/EXCLUDED_FEATURES.md
  std/http_client.vais
Due: unittests, Core Compiler, Language Tooling

integrity: lock vais-web full build gate
  CLAUDE.md
  docs/certification/CORE_FREEZE_CRITERIA.md
  docs/certification/CURRENT_STATUS.md
  docs/certification/EXCLUDED_FEATURES.md
  scripts/check-integrity.sh
Due: none

docs: clarify std standalone gate
  docs/certification/EXCLUDED_FEATURES.md
  docs/stdlib/README.md
  scripts/check-integrity.sh
Due: none

http_client: lock absolute redirect smoke
  crates/vaisc/tests/e2e/phase_http_client_runtime.rs
  docs/certification/CORE_FREEZE_CRITERIA.md
  docs/certification/CURRENT_STATUS.md
  docs/certification/EXCLUDED_FEATURES.md
  scripts/check-integrity.sh
  std/http_client.vais
Due: unittests, Language Tooling

http_client: resolve root-relative redirects
  crates/vaisc/tests/e2e/phase_http_client_runtime.rs
  docs/certification/CORE_FREEZE_CRITERIA.md
  docs/certification/CURRENT_STATUS.md
  docs/certification/EXCLUDED_FEATURES.md
  scripts/check-integrity.sh
  std/http_client.vais
Due: unittests, Language Tooling

http_client: resolve scheme-relative redirects
  crates/vaisc/tests/e2e/phase_http_client_runtime.rs
  docs/certification/CORE_FREEZE_CRITERIA.md
  docs/certification/CURRENT_STATUS.md
  docs/certification/EXCLUDED_FEATURES.md
  scripts/check-integrity.sh
  std/http_client.vais
Due: unittests, Language Tooling

http_client: resolve path-relative redirects
  crates/vaisc/tests/e2e/phase_http_client_runtime.rs
  docs/certification/CORE_FREEZE_CRITERIA.md
  docs/certification/CURRENT_STATUS.md
  docs/certification/EXCLUDED_FEATURES.md
  scripts/check-integrity.sh
  std/http_client.vais
Due: unittests, Language Tooling

http_client: resolve query fragment redirects
  crates/vaisc/tests/e2e/phase_http_client_runtime.rs
  docs/certification/CORE_FREEZE_CRITERIA.md
  docs/certification/CURRENT_STATUS.md
  docs/certification/EXCLUDED_FEATURES.md
  scripts/check-integrity.sh
  std/http_client.vais
Due: unittests, Language Tooling

http_client: preserve 307 redirects safely
  crates/vais-codegen/src/helpers.rs
  crates/vais-codegen/tests/entry_alloca_invariant_test.rs
  crates/vaisc/tests/e2e/phase_http_client_runtime.rs
  docs/certification/CORE_FREEZE_CRITERIA.md
  docs/certification/CURRENT_STATUS.md
  docs/certification/EXCLUDED_FEATURES.md
  scripts/check-integrity.sh
  std/http_client.vais
Due: unittests, Core Compiler, Language Tooling

http_client: follow HTTPS redirects
  crates/vaisc/tests/e2e/phase_http_client_runtime.rs
  docs/certification/CORE_FREEZE_CRITERIA.md
  docs/certification/CURRENT_STATUS.md
  docs/certification/EXCLUDED_FEATURES.md
  scripts/check-integrity.sh
  std/http_client.vais
Due: unittests, Language Tooling

http_client: retry stale pooled GET
  crates/vaisc/tests/e2e/phase_http_client_runtime.rs
  docs/certification/CORE_FREEZE_CRITERIA.md
  docs/certification/CURRENT_STATUS.md
  docs/certification/EXCLUDED_FEATURES.md
  scripts/check-integrity.sh
  std/http_client.vais
Due: unittests, Language Tooling

tests: stabilize server timeout smoke
  crates/vaisc/tests/e2e/phase_vais_server_runtime_smoke.rs
Due: unittests, Language Tooling

http_client: reject malformed status lines
  crates/vaisc/tests/e2e/phase_http_client_runtime.rs
  docs/certification/CORE_FREEZE_CRITERIA.md
  docs/certification/CURRENT_STATUS.md
  docs/certification/EXCLUDED_FEATURES.md
  scripts/check-integrity.sh
  std/http_client.vais
  std/http_client_runtime.c
Due: unittests, Language Tooling

http_client: reject truncated response bodies
  crates/vaisc/tests/e2e/phase_http_client_runtime.rs
  docs/certification/CORE_FREEZE_CRITERIA.md
  docs/certification/CURRENT_STATUS.md
  docs/certification/EXCLUDED_FEATURES.md
  scripts/check-integrity.sh
  std/http_client.vais
Due: unittests, Language Tooling

http_client: reject malformed content length
  crates/vaisc/tests/e2e/phase_http_client_runtime.rs
  docs/certification/CORE_FREEZE_CRITERIA.md
  docs/certification/CURRENT_STATUS.md
  docs/certification/EXCLUDED_FEATURES.md
  scripts/check-integrity.sh
  std/http_client.vais
  std/http_client_runtime.c
Due: unittests, Language Tooling

Reject malformed http response headers
  crates/vaisc/tests/e2e/phase_http_client_runtime.rs
  docs/certification/CORE_FREEZE_CRITERIA.md
  docs/certification/CURRENT_STATUS.md
  docs/certification/EXCLUDED_FEATURES.md
  scripts/check-integrity.sh
  std/http_client_runtime.c
Due: unittests, Language Tooling

Decode chunked http responses
  crates/vaisc/tests/core_certification.rs
  crates/vaisc/tests/e2e/phase_http_client_runtime.rs
  docs/certification/CORE_FREEZE_CRITERIA.md
  docs/certification/CORE_FREEZE_DECISION.md
  docs/certification/CURRENT_STATUS.md
  docs/certification/EXCLUDED_FEATURES.md
  scripts/check-integrity.sh
  std/http_client.vais
  std/http_client_runtime.c
Due: unittests, Language Tooling

Gate nested SSR props
  crates/vaisc/tests/e2e/phase_vais_server_runtime_smoke.rs
  docs/certification/CORE_FREEZE_CRITERIA.md
  docs/certification/CURRENT_STATUS.md
  docs/certification/EXCLUDED_FEATURES.md
  scripts/check-integrity.sh
Due: unittests, Language Tooling

Gate SSR JSON escaping
  crates/vaisc/tests/e2e/phase_vais_server_runtime_smoke.rs
  docs/certification/CORE_FREEZE_CRITERIA.md
  docs/certification/CURRENT_STATUS.md
  docs/certification/EXCLUDED_FEATURES.md
  scripts/check-integrity.sh
  std/http_client_runtime.c
Due: unittests, Language Tooling

add Benchmark (cargo) benchmark result for bc5f7995f04c5cf569e8b328199f612fb735b453
  dev/bench/data.js
Due: none

add Benchmark (cargo) benchmark result for c3afe832dcc401df5e2b794550fdce095c01ce3b
  dev/bench/data.js
Due: none

Sync roadmap with promoted baseline
  ROADMAP.md
Due: none

Clarify playground execution modes
  playground/README.md
  playground/src/compiler.js
  website/index.html
  website/public/locales/en.json
  website/public/locales/ja.json
  website/public/locales/ko.json
  website/public/locales/zh.json
Due: none

add Benchmark (cargo) benchmark result for 6b62c57b8e896dc77459ee677ed879eaa787f907
  dev/bench/data.js
Due: none

add Benchmark (cargo) benchmark result for cecb90e293e7fd5e87761eff36a1fb1672c6c55a
  dev/bench/data.js
Due: none

Add public claim guard
  .github/workflows/ci.yml
  .github/workflows/website.yml
  PUBLIC_STATUS.md
  scripts/check-public-claims.mjs
Due: none

add Benchmark (cargo) benchmark result for d299cd55eddad259a621b559f3e7484810ae5a73
  dev/bench/data.js
Due: none

Add playground web mode gate
  .github/workflows/ci.yml
  PUBLIC_STATUS.md
  ROADMAP.md
  playground/README.md
  playground/package.json
  playground/src/compiler.js
  scripts/check-playground-mode-contract.mjs
  scripts/check-public-claims.mjs
Due: none

add Benchmark (cargo) benchmark result for ece67c2c24d7c58d914489c03f670c45bfce7cb0
  dev/bench/data.js
Due: none

Add browser JS playground compiler gate
  .github/workflows/bench-regression.yml
  .github/workflows/ci.yml
  .github/workflows/website.yml
  Cargo.toml
  PUBLIC_STATUS.md
  ROADMAP.md
  crates/vais-browser-compiler/Cargo.toml
  crates/vais-browser-compiler/src/lib.rs
  playground/README.md
  playground/index.html
  playground/package.json
  playground/src/browser-compiler.js
  playground/src/compiler.js
  playground/src/main.js
  scripts/check-browser-compiler-gate.mjs
  scripts/check-playground-mode-contract.mjs
  scripts/check-public-claims.mjs
Due: unittests

add Benchmark (cargo) benchmark result for 86aace5ca2938c2fb37ccdf2f48b886900a0983c
  dev/bench/data.js
Due: none

Gate SSR JSON grammar validation
  PUBLIC_STATUS.md
  ROADMAP.md
  crates/vaisc/tests/e2e/phase_vais_server_runtime_smoke.rs
  docs-site/src/ecosystem/README.md
  docs-site/src/en/ecosystem/README.md
  docs/certification/CORE_FREEZE_CRITERIA.md
  docs/certification/CURRENT_STATUS.md
  docs/certification/EXCLUDED_FEATURES.md
  scripts/check-integrity.sh
  website/index.html
Due: unittests, Language Tooling

Hard-block A4-13 Box unwrap
  crates/vais-types/src/inference/unification.rs
  docs/certification/EXCLUDED_FEATURES.md
  tests/empirical/A4/A4-13_box_t_auto_unwrap/expected.txt
  tests/empirical/A4/A4-13_box_t_auto_unwrap/meta.toml
  tests/empirical/A4/A4-13_box_t_auto_unwrap/run.sh
  tests/empirical/A4/STEP13_FINDINGS.md
Due: unittests, Core Compiler

Specify A4-14 Vec to slice lowering
  crates/vais-codegen/src/generate_expr_call.rs
  crates/vais-codegen/src/inkwell/gen_expr/call.rs
  crates/vais-codegen/src/inkwell/gen_stmt.rs
  crates/vais-types/src/inference/unification.rs
  docs/certification/EXCLUDED_FEATURES.md
  tests/empirical/A4/A4-14_vec_slice_len/expected.txt
  tests/empirical/A4/A4-14_vec_slice_len/meta.toml
  tests/empirical/A4/A4-14_vec_slice_len/run.sh
Due: unittests, Core Compiler

types: narrow A4-03 strict auto-deref audit
  crates/vais-types/src/inference/unification.rs
  docs/certification/EXCLUDED_FEATURES.md
  std/set.vais
  tests/empirical/A4/A4-03_auto_deref/meta.toml
  tests/empirical/A4/A4-03_auto_deref/run.sh
  tests/empirical/A4/STEP13_FINDINGS.md
Due: unittests, Core Compiler

Path conditions:
  unittests: any of: crates/, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Core Compiler: any of: crates/vais-lexer/**, crates/vais-parser/**, crates/vais-ast/**, crates/vais-types/**, crates/vais-codegen/**, crates/vais-codegen-js/**, crates/vais-mir/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Language Tooling: any of: crates/vais-lsp/**, crates/vaisc/**, crates/vais-bindgen/**, crates/vais-macro/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Advanced Features: any of: crates/vais-jit/**, crates/vais-gc/**, crates/vais-gpu/**, crates/vais-query/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Extensibility: any of: crates/vais-plugin/**, crates/vais-dynload/**, crates/vais-hotreload/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Infrastructure: any of: crates/vais-i18n/**, crates/vais-profiler/**, crates/vais-security/**, crates/vais-supply-chain/**, crates/vais-testgen/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Ecosystem Services: any of: crates/vais-registry-server/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
