Repository vaislang/vais: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Compiler, Language Tooling, Advanced Features, Extensibility, Infrastructure, Ecosystem Services

docs(roadmap): Phase 167 E006→0 confirmed, Phase 170 for E030 remaining
  ROADMAP.md
Due: none

fix(types): Try operator (?) returns concrete type for Named Result/Option
  ROADMAP.md
  crates/vais-types/src/checker_expr/special.rs
Due: unittests, Core Compiler

docs(roadmap): Phase 171 — codegen IR correctness for VaisDB clang direct pass
  ROADMAP.md
Due: none

add Benchmark (cargo) benchmark result for b854a9573dc085e6f9e16daa04d24fff953be506
  dev/bench/data.js
Due: none

fix(codegen): specialized Vec<T> store/load type accuracy + void struct field
  ROADMAP.md
  crates/vais-codegen/src/function_gen/generics.rs
  crates/vais-codegen/src/generate_expr_call.rs
Due: unittests, Core Compiler

fix(codegen): specialized fn return type coercion + current_return_type
  ROADMAP.md
  crates/vais-codegen/src/function_gen/generics.rs
  crates/vais-codegen/src/stmt_visitor.rs
Due: unittests, Core Compiler

docs(roadmap): Phase 171 progress 60% — session handoff
  ROADMAP.md
Due: none

add Benchmark (cargo) benchmark result for 6bedb06792364416f8262179e4838cd2d80cfe58
  dev/bench/data.js
Due: none

fix(codegen): type coercion for str↔i64 cast, struct ptr refs, and call arg width
  ROADMAP.md
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/generate_expr/ref_deref.rs
  crates/vais-codegen/src/generate_expr_call.rs
  crates/vais-codegen/src/stmt_visitor.rs
  crates/vais-codegen/src/type_inference.rs
Due: unittests, Core Compiler

docs(roadmap): Phase 172 — codegen body-uses-i64 for VaisDB clang 0 target
  ROADMAP.md
Due: none

fix(codegen): Phase 172 — cast width coercion, struct field store, ref visitor
  ROADMAP.md
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/expr_helpers_call/method_call.rs
  crates/vais-codegen/src/expr_visitor.rs
  crates/vais-codegen/src/generate_expr_call.rs
  crates/vais-codegen/src/generate_expr_struct.rs
Due: unittests, Core Compiler

docs(roadmap): Phase 172 완료 — E2E 0 regression, VaisDB deeper errors 잔존
  ROADMAP.md
Due: none

fix(codegen): Phase 172 — self ptr ref, load/store_typed specialization guard, match phi, return width
  ROADMAP.md
  crates/vais-codegen/src/control_flow/match_gen.rs
  crates/vais-codegen/src/expr_visitor.rs
  crates/vais-codegen/src/function_gen/codegen.rs
  crates/vais-codegen/src/generate_expr/mod.rs
  crates/vais-codegen/src/generate_expr/ref_deref.rs
  crates/vais-codegen/src/generate_expr_call.rs
  crates/vais-codegen/src/type_inference.rs
Due: unittests, Core Compiler

fix(codegen): Phase 173 progress — Vec/Vec$i64 bitcast, struct param SSA load
  ROADMAP.md
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/function_gen/codegen.rs
Due: unittests, Core Compiler

fix(codegen): Phase 173 — Vec bitcast, struct param load, match phi, bool return, field is_expr_value
  ROADMAP.md
  crates/vais-codegen/src/control_flow/match_gen.rs
  crates/vais-codegen/src/function_gen/codegen.rs
  crates/vais-codegen/src/type_inference.rs
  crates/vais-codegen/src/types/coercion.rs
Due: unittests, Core Compiler

feat(website): add VaisX framework section and /vaisx/ landing page
  website/index.html
  website/public/locales/en.json
  website/public/locales/ja.json
  website/public/locales/ko.json
  website/public/locales/zh.json
  website/src/styles.css
  website/vaisx/index.html
  website/vite.config.js
Due: none

docs(roadmap): Phase 173 완료 — Phase 174 대기, VaisDB snprintf ABI + specialized coercion
  ROADMAP.md
Due: none

add Benchmark (cargo) benchmark result for fc4b06224bea3916c1198141912571c7f69b6b40
  dev/bench/data.js
Due: none

fix(codegen): Phase 174 — snprintf vararg ABI, specialized struct coercion, VaisError value→ptr
  ROADMAP.md
  crates/vais-codegen/src/expr_helpers_call/method_call.rs
  crates/vais-codegen/src/expr_helpers_call/print_format.rs
  crates/vais-codegen/src/generate_expr_call.rs
Due: unittests, Core Compiler

fix(codegen): Phase 175 — Result enum builtin, f32↔f64 cast, Phase 175 검증 완료
  ROADMAP.md
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/generate_expr_call.rs
  crates/vais-codegen/src/module_gen/instantiations.rs
  crates/vais-codegen/src/stmt.rs
Due: unittests, Core Compiler

fix(codegen): Phase 176 — fix Result type duplicate + float literal cast regression
  ROADMAP.md
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/module_gen/instantiations.rs
Due: unittests, Core Compiler

fix(codegen): Phase 177 — extern C str param, ret/phi/store type coercion
  ROADMAP.md
  crates/vais-codegen/src/control_flow/if_else.rs
  crates/vais-codegen/src/generate_expr_call.rs
  crates/vais-codegen/src/generate_expr_struct.rs
  crates/vais-codegen/src/stmt.rs
  crates/vais-codegen/src/stmt_visitor.rs
Due: unittests, Core Compiler

fix(codegen): Phase 178 — phi/ret/float type coercion unification
  ROADMAP.md
  crates/vais-codegen/src/control_flow/if_else.rs
  crates/vais-codegen/src/expr_helpers_control.rs
  crates/vais-codegen/src/function_gen/codegen.rs
  crates/vais-codegen/src/function_gen/generics.rs
  crates/vais-codegen/src/generate_expr_call.rs
  crates/vais-codegen/src/stmt.rs
Due: unittests, Core Compiler

fix(codegen): Phase 179 — index store coercion, switch coercion, specialized dedup
  ROADMAP.md
  crates/vais-codegen/src/control_flow/match_gen.rs
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/module_gen/subset.rs
Due: unittests, Core Compiler

fix(codegen): Phase 180-182 — VaisDB type coercion + Vec<f32> generic fix
  ROADMAP.md
  crates/vais-codegen/src/expr_helpers_call/call_gen.rs
  crates/vais-codegen/src/expr_helpers_call/method_call.rs
  crates/vais-codegen/src/expr_helpers_data.rs
  crates/vais-codegen/src/function_gen/generics.rs
  crates/vais-codegen/src/generate_expr_call.rs
  crates/vais-codegen/src/inkwell/types.rs
  crates/vais-codegen/src/type_inference.rs
  crates/vais-codegen/src/types/conversion.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase182_vec_generic_types.rs
Due: unittests, Core Compiler, Language Tooling

test(e2e): Phase 182 — Vec<f32> generic type preservation tests
  ROADMAP.md
  crates/vaisc/tests/e2e/phase182_vec_generic_types.rs
Due: unittests, Language Tooling

fix(test): Phase 183 — error_message_tests 수정, Clippy 0건, gitignore 정리
  .gitignore
  ROADMAP.md
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/generate_expr_call.rs
  crates/vais-codegen/src/generate_expr_struct.rs
  crates/vaisc/tests/error_message_tests.rs
Due: unittests, Core Compiler, Language Tooling

feat: v0.1.0 release — codegen fixes, dead keyword cleanup, docs modernization
  CHANGELOG.md
  benches/BASELINE.md
  benches/COMPARISON.md
  crates/vais-codegen/src/expr_helpers_data.rs
  crates/vais-codegen/src/function_gen/generics.rs
  crates/vais-codegen/src/generics_helpers.rs
  crates/vais-codegen/src/type_inference.rs
  crates/vais-lexer/src/lib.rs
  crates/vais-lexer/tests/token_display_tests.rs
  crates/vais-node/src/token_conv.rs
  crates/vais-parser/src/expr/primary.rs
  crates/vais-python/src/token_conv.rs
  crates/vaisc/tests/selfhost_lexer_tests.rs
  docs/LANGUAGE_SPEC.md
  playground/src/examples.js
  playground/src/vais-language.js
  website/index.html
Due: unittests, Core Compiler, Language Tooling

add Benchmark (cargo) benchmark result for dc5e6744341dfcd7fc3caedfbe24d030f1f78b21
  dev/bench/data.js
Due: none

feat(compiler): tuple field access .0/.1, snapshot test fixes, HashMap codegen improvements
  crates/vais-ast/src/expressions.rs
  crates/vais-ast/src/formatter/expressions.rs
  crates/vais-codegen-js/src/expr.rs
  crates/vais-codegen-js/src/tree_shaking.rs
  crates/vais-codegen/src/expr_visitor.rs
  crates/vais-codegen/src/generate_expr/map_lit.rs
  crates/vais-codegen/src/generate_expr/mod.rs
  crates/vais-codegen/src/inkwell/gen_expr/mod.rs
  crates/vais-codegen/src/type_inference.rs
  crates/vais-codegen/src/types/conversion.rs
  crates/vais-macro/src/expansion.rs
  crates/vais-parser/src/expr/postfix.rs
  crates/vais-parser/tests/grammar_coverage_tests.rs
  crates/vais-security/src/analyzer.rs
  crates/vais-security/src/lint.rs
  crates/vais-types/src/checker_expr/collections.rs
  crates/vaisc/tests/error_snapshot_tests.rs
  crates/vaisc/tests/snapshots/binary_op_type_error.snap
  crates/vaisc/tests/snapshots/type_mismatch.snap
Due: unittests, Core Compiler, Language Tooling, Infrastructure

fix(codegen): revert HashMap map_lit/conversion changes that broke map literal tests
  crates/vais-codegen/src/generate_expr/map_lit.rs
  crates/vais-codegen/src/type_inference.rs
  crates/vais-codegen/src/types/conversion.rs
Due: unittests, Core Compiler

fix(lexer): support full u64 range in hex/bin/oct literals
  crates/vais-lexer/src/lib.rs
Due: unittests, Core Compiler

fix(codegen): collection for-loop variable scoping, Vec open-end slicing, and Str type alias
  crates/vais-codegen/src/expr_helpers_data.rs
  crates/vais-codegen/src/generate_expr/loops.rs
  crates/vais-codegen/src/helpers.rs
  crates/vais-codegen/src/inkwell/gen_expr/mod.rs
  crates/vais-types/src/effects.rs
  std/string.vais
Due: unittests, Core Compiler

fix(codegen): resolve stack overflow in compute_sizeof for cross-module compilation
  ROADMAP.md
  crates/vais-codegen/src/function_gen/codegen.rs
  crates/vais-codegen/src/function_gen/generics.rs
  crates/vais-codegen/src/generate_expr/mod.rs
  crates/vais-codegen/src/init.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-codegen/src/module_gen/instantiations.rs
  crates/vais-codegen/src/stmt.rs
  crates/vais-codegen/src/type_inference.rs
  crates/vais-codegen/src/types/conversion.rs
  crates/vais-codegen/src/types/sizeof.rs
Due: unittests, Core Compiler

fix(codegen+lexer): resolve StringMap/stack overflow + add unambiguous keywords
  crates/vais-codegen/src/control_flow/pattern.rs
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/expr_helpers_call/call_gen.rs
  crates/vais-codegen/src/expr_helpers_call/method_call.rs
  crates/vais-codegen/src/generate_expr_call.rs
  crates/vais-codegen/src/inkwell/gen_aggregate.rs
  crates/vais-codegen/src/registration.rs
  crates/vais-codegen/src/types/type_gen.rs
  crates/vais-lexer/src/lib.rs
  crates/vais-node/src/token_conv.rs
  crates/vais-parser/src/expr/primary.rs
  crates/vais-parser/src/item/mod.rs
  crates/vais-parser/src/lib.rs
  crates/vais-parser/src/stmt.rs
  crates/vais-python/src/token_conv.rs
  crates/vais-types/src/checker_expr/calls.rs
  crates/vais-types/src/inference/unification.rs
  crates/vais-types/src/tests.rs
  crates/vais-types/tests/inference_unification_tests.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase182_vec_generic_types.rs
  crates/vaisc/tests/e2e/phase183_option_result_struct.rs
  crates/vaisc/tests/e2e/phase184_unambiguous_keywords.rs
  crates/vaisc/tests/e2e/phase90_enums.rs
  crates/vaisc/tests/selfhost_lexer_tests.rs
Due: unittests, Core Compiler, Language Tooling

feat(parser): enforce MAX_PARSE_DEPTH with dedicated DepthExceeded error
  crates/vais-parser/src/lib.rs
  crates/vais-parser/src/types.rs
Due: unittests, Core Compiler

fix(codegen): resolve Option<Struct>/Result erasure root cause + workspace hygiene
  crates/vais-codegen/src/expr_helpers_call/call_gen.rs
  crates/vais-codegen/src/inkwell/gen_declaration.rs
  crates/vais-codegen/src/inkwell/gen_expr/call.rs
  crates/vais-codegen/src/inkwell/gen_match.rs
  crates/vais-codegen/src/inkwell/generator.rs
  crates/vais-lsp/src/diagnostics.rs
  crates/vais-node/src/lib.rs
  crates/vais-python/src/lib.rs
  crates/vais-types/src/exhaustiveness.rs
  crates/vaisc/tests/e2e/phase128_errors.rs
  crates/vaisc/tests/e2e/phase134_errors.rs
  crates/vaisc/tests/e2e/phase134_pattern.rs
  crates/vaisc/tests/e2e/phase158_type_strict.rs
  crates/vaisc/tests/e2e/phase183_option_result_struct.rs
  crates/vaisc/tests/e2e/phase184_unambiguous_keywords.rs
Due: unittests, Core Compiler, Language Tooling

fix(codegen): resolve generic V leak + multi-field variant binding
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/expr_helpers_call/method_call.rs
  crates/vais-codegen/src/inkwell/gen_expr/call.rs
  crates/vais-codegen/src/inkwell/gen_match.rs
  crates/vais-codegen/src/inkwell/generator.rs
  crates/vais-codegen/src/module_gen/subset.rs
  crates/vaisc/tests/e2e/phase184_unambiguous_keywords.rs
  std/result.vais
Due: unittests, Core Compiler, Language Tooling

fix(codegen): enum struct-variant pattern destructure + construction fallback + error span fix
  crates/vais-codegen/src/control_flow/pattern.rs
  crates/vais-codegen/src/expr_helpers_data.rs
  crates/vais-codegen/src/generate_expr_struct.rs
  crates/vaisc/src/commands/build/parallel.rs
  crates/vaisc/src/commands/compile/per_module.rs
Due: unittests, Core Compiler, Language Tooling

Path conditions:
  unittests: any of: crates/, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Core Compiler: any of: crates/vais-lexer/**, crates/vais-parser/**, crates/vais-ast/**, crates/vais-types/**, crates/vais-codegen/**, crates/vais-codegen-js/**, crates/vais-mir/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Language Tooling: any of: crates/vais-lsp/**, crates/vaisc/**, crates/vais-bindgen/**, crates/vais-macro/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Advanced Features: any of: crates/vais-jit/**, crates/vais-gc/**, crates/vais-gpu/**, crates/vais-query/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Extensibility: any of: crates/vais-plugin/**, crates/vais-dynload/**, crates/vais-hotreload/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Infrastructure: any of: crates/vais-i18n/**, crates/vais-profiler/**, crates/vais-security/**, crates/vais-supply-chain/**, crates/vais-testgen/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Ecosystem Services: any of: crates/vais-registry-server/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
