Repository vaislang/vais: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Compiler, Language Tooling, Advanced Features, Experimental Features, Infrastructure

docs: add Phase 29-30 roadmap for token reduction and performance optimization
  .workflow-state.json
  ROADMAP.md
Due: none

feat: implement OpenCL runtime integration (Phase 28 Stage 3)
  .workflow-state.json
  ROADMAP.md
  crates/vais-gpu/tests/gpu_tests.rs
  crates/vaisc/src/main.rs
  std/opencl_runtime.c
  std/opencl_runtime.h
Due: unittests, Language Tooling, Experimental Features

docs: restructure ROADMAP.md - consolidate completed phases into summary tables
  .workflow-state.json
  ROADMAP.md
Due: none

feat: implement string interpolation syntax (Phase 29 Stage 1)
  .workflow-state.json
  ROADMAP.md
  crates/vais-ast/src/lib.rs
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/expr_visitor.rs
  crates/vais-codegen/src/formatter.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-codegen/src/type_inference.rs
  crates/vais-macro/src/expansion.rs
  crates/vais-parser/src/expr.rs
  crates/vais-security/src/analyzer.rs
  crates/vais-types/src/effects.rs
  crates/vais-types/src/lib.rs
  crates/vaisc/tests/e2e_tests.rs
Due: unittests, Core Compiler, Language Tooling, Infrastructure

feat: implement function parameter type inference (Phase 29 Stage 2)
  .workflow-state.json
  ROADMAP.md
  crates/vais-codegen/src/function_gen.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-codegen/src/registration.rs
  crates/vais-parser/src/lib.rs
  crates/vais-types/src/lib.rs
  crates/vaisc/src/main.rs
  crates/vaisc/tests/e2e_tests.rs
  examples/type_infer_params.vais
  examples/type_infer_params_advanced.vais
Due: unittests, Core Compiler, Language Tooling

feat: implement ~ mut abbreviation and |> pipe operator (Phase 29 Stage 3)
  .workflow-state.json
  ROADMAP.md
  crates/vais-codegen/src/lib.rs
  crates/vais-lexer/src/lib.rs
  crates/vais-node/src/token_conv.rs
  crates/vais-parser/src/expr.rs
  crates/vais-parser/src/lib.rs
  crates/vais-parser/src/stmt.rs
  crates/vais-python/src/token_conv.rs
  crates/vaisc/tests/e2e_tests.rs
  crates/vaisc/tests/integration_tests.rs
  examples/pipe_operator.vais
  examples/tilde_mut.vais
Due: unittests, Core Compiler, Language Tooling

feat: implement await → Y keyword abbreviation (Phase 29 Stage 3)
  .workflow-state.json
  ROADMAP.md
  crates/vais-codegen/src/formatter.rs
  crates/vais-lexer/src/lib.rs
  crates/vais-parser/src/lib.rs
  crates/vaisc/tests/e2e_tests.rs
Due: unittests, Core Compiler, Language Tooling

feat: implement spread syntax and implicit self (Phase 29 Stage 3-4)
  .workflow-state.json
  ROADMAP.md
  crates/vais-ast/src/lib.rs
  crates/vais-codegen/src/expr.rs
  crates/vais-codegen/src/expr_visitor.rs
  crates/vais-codegen/src/formatter.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-macro/src/expansion.rs
  crates/vais-parser/src/expr.rs
  crates/vais-security/src/analyzer.rs
  crates/vais-types/src/effects.rs
  crates/vais-types/src/lib.rs
  crates/vaisc/tests/e2e_tests.rs
Due: unittests, Core Compiler, Language Tooling, Infrastructure

fix: add Token::Await (Y) to parse_ident for identifier compatibility
  crates/vais-parser/src/expr.rs
Due: unittests, Core Compiler

feat: implement map literal {k: v} syntax (Phase 29 Stage 4)
  .workflow-state.json
  ROADMAP.md
  crates/vais-ast/src/lib.rs
  crates/vais-codegen/src/expr_visitor.rs
  crates/vais-codegen/src/formatter.rs
  crates/vais-codegen/src/inkwell/generator.rs
  crates/vais-codegen/src/lambda_closure.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-codegen/src/type_inference.rs
  crates/vais-codegen/src/types.rs
  crates/vais-macro/src/expansion.rs
  crates/vais-parser/src/expr.rs
  crates/vais-security/src/analyzer.rs
  crates/vais-types/src/effects.rs
  crates/vais-types/src/lib.rs
  crates/vaisc/tests/e2e_tests.rs
  examples/map_literal.vais
Due: unittests, Core Compiler, Language Tooling, Infrastructure

fix: map_literal example main should return i64 to avoid undefined exit code
  examples/map_literal.vais
Due: none

feat: implement tuple destructuring (a, b) := expr (Phase 29 Stage 4)
  crates/vais-ast/src/lib.rs
  crates/vais-codegen/src/formatter.rs
  crates/vais-codegen/src/stmt.rs
  crates/vais-codegen/src/stmt_visitor.rs
  crates/vais-codegen/src/types.rs
  crates/vais-jit/src/compiler.rs
  crates/vais-jit/src/tiered.rs
  crates/vais-macro/src/expansion.rs
  crates/vais-parser/src/stmt.rs
  crates/vais-security/src/analyzer.rs
  crates/vais-types/src/effects.rs
  crates/vais-types/src/lib.rs
  crates/vais-types/src/ownership.rs
  crates/vaisc/tests/e2e_tests.rs
Due: unittests, Core Compiler, Language Tooling, Advanced Features, Infrastructure

docs: mark Phase 29 as 100% complete in ROADMAP
  ROADMAP.md
Due: none

fix: sync inkwell backend with current AST (Phase 30 Stage 1)
  .workflow-state.json
  ROADMAP.md
  crates/vais-codegen/src/inkwell/builtins.rs
  crates/vais-codegen/src/inkwell/generator.rs
  crates/vais-codegen/src/inkwell/types.rs
Due: unittests, Core Compiler

feat: expand inkwell backend builtins and expression support (Phase 30 Stage 1)
  .workflow-state.json
  ROADMAP.md
  crates/vais-codegen/src/inkwell/builtins.rs
  crates/vais-codegen/src/inkwell/generator.rs
  crates/vaisc/Cargo.toml
  crates/vaisc/src/main.rs
Due: unittests, Core Compiler, Language Tooling

feat: inkwell method/struct/option parity - pass rate 55% → 61% (Phase 30 Stage 1)
  .workflow-state.json
  ROADMAP.md
  crates/vais-codegen/src/inkwell/generator.rs
Due: unittests, Core Compiler

feat: inkwell generics/closure/extern parity - pass rate 61% → 73% (Phase 30 Stage 1)
  .workflow-state.json
  ROADMAP.md
  crates/vais-codegen/src/inkwell/builtins.rs
  crates/vais-codegen/src/inkwell/generator.rs
  crates/vais-codegen/src/inkwell/types.rs
Due: unittests, Core Compiler

docs: update ROADMAP inkwell pass rate to 75% (88/117)
  .workflow-state.json
  ROADMAP.md
Due: none

feat: inkwell backend pass rate 74% → 85% (99/117 examples)
  crates/vais-codegen/src/inkwell/builtins.rs
  crates/vais-codegen/src/inkwell/generator.rs
Due: unittests, Core Compiler

feat: inkwell backend pass rate 85% → 98% (115/117 examples)
  .workflow-state.json
  ROADMAP.md
  crates/vais-codegen/src/inkwell/builtins.rs
  crates/vais-codegen/src/inkwell/generator.rs
Due: unittests, Core Compiler

feat: inkwell default backend + runtime parity (Phase 30 Stage 1 complete)
  ROADMAP.md
  crates/vais-codegen/Cargo.toml
  crates/vais-codegen/src/inkwell/generator.rs
  crates/vaisc/Cargo.toml
  crates/vaisc/src/main.rs
Due: unittests, Core Compiler, Language Tooling

feat: tail call optimization (TCO) for @ self-recursion (Phase 30 Stage 2)
  .workflow-state.json
  ROADMAP.md
  crates/vais-codegen/src/inkwell/generator.rs
  crates/vais-codegen/src/optimize.rs
  crates/vais-mir/src/types.rs
  examples/tco_stress.vais
  examples/tco_tail_call.vais
Due: unittests, Core Compiler, Advanced Features

feat: inlining threshold expansion & PGO pipeline integration (Phase 30 Stage 3)
  .workflow-state.json
  ROADMAP.md
  benches/Cargo.toml
  benches/inlining_bench.rs
  crates/vais-codegen/src/optimize.rs
  crates/vaisc/src/main.rs
Due: unittests, Core Compiler, Language Tooling

feat: MIR optimization pipeline - DCE, CSE, const prop, lowering & emission (Phase 30 Stage 4)
  .workflow-state.json
  ROADMAP.md
  crates/vais-mir/Cargo.toml
  crates/vais-mir/src/emit_llvm.rs
  crates/vais-mir/src/lib.rs
  crates/vais-mir/src/lower.rs
  crates/vais-mir/src/optimize.rs
Due: unittests, Advanced Features

feat: bounds check elimination, SIMD reduction detection & layout hints (Phase 30 Stage 5)
  .workflow-state.json
  ROADMAP.md
  crates/vais-codegen/src/advanced_opt/auto_vectorize.rs
  crates/vais-codegen/src/advanced_opt/bounds_check_elim.rs
  crates/vais-codegen/src/advanced_opt/data_layout.rs
  crates/vais-codegen/src/advanced_opt/mod.rs
Due: unittests, Core Compiler

feat: comprehensive benchmark suite & performance regression CI (Phase 30 Stage 6)
  .workflow-state.json
  ROADMAP.md
  benches/Cargo.toml
  benches/performance_bench.rs
  benches/regression_check.sh
Due: none

fix: escape curly braces in enum_struct_variant_test output strings
  examples/enum_struct_variant_test.vais
Due: none

feat: GPU advanced features - unified memory, async, multi-GPU & profiling (Phase 28 Stage 4)
  .workflow-state.json
  ROADMAP.md
  crates/vais-gpu/tests/gpu_tests.rs
  std/gpu.vais
  std/gpu_runtime.c
  std/gpu_runtime.h
  std/metal_runtime.h
  std/metal_runtime.m
  std/opencl_runtime.c
  std/opencl_runtime.h
Due: unittests, Experimental Features

docs: sync documentation with Phase 29 token reduction features
  .workflow-state.json
  docs-site/src/onboarding.md
  docs/LANGUAGE_SPEC.md
  playground/src/examples.js
  playground/src/vais-language.js
  vscode-vais/syntaxes/vais.tmLanguage.json
Due: none

docs: remove internal developer docs from public SUMMARY.md
  docs-site/src/SUMMARY.md
Due: none

feat: fsync/fdatasync/fileno/dir_sync FFI & File.sync() API (Phase 31 Stage 1)
  .workflow-state.json
  ROADMAP.md
  crates/vais-codegen/src/builtins.rs
  crates/vais-codegen/src/inkwell/builtins.rs
  crates/vais-types/src/lib.rs
  crates/vaisc/tests/e2e_tests.rs
  std/file.vais
Due: unittests, Core Compiler, Language Tooling

feat: mmap/munmap/msync/madvise FFI & MappedFile API (Phase 31 Stage 2)
  ROADMAP.md
  crates/vais-codegen/src/builtins.rs
  crates/vais-types/src/lib.rs
  crates/vaisc/tests/e2e_tests.rs
  std/file.vais
Due: unittests, Core Compiler, Language Tooling

feat: flock FFI & FileLock advisory locking API (Phase 31 Stage 3)
  .workflow-state.json
  crates/vais-codegen/src/builtins.rs
  crates/vais-codegen/src/inkwell/builtins.rs
  crates/vais-types/src/lib.rs
  crates/vaisc/tests/e2e_tests.rs
  std/file.vais
Due: unittests, Core Compiler, Language Tooling

feat: pointer-based allocator state mutation via impl blocks (Phase 31 Stage 4)
  .workflow-state.json
  ROADMAP.md
  crates/vaisc/tests/e2e_tests.rs
  std/allocator.vais
Due: unittests, Language Tooling

feat: StringMap & OwnedString stdlib + 5 E2E tests (Phase 31 Stage 5)
  .workflow-state.json
  ROADMAP.md
  crates/vaisc/tests/e2e_tests.rs
  std/owned_string.vais
  std/stringmap.vais
Due: unittests, Language Tooling

feat: filesystem FFI, ByteBuffer & CRC32 stdlib (Phase 31 Stages 6-7)
  .workflow-state.json
  ROADMAP.md
  crates/vais-codegen/src/builtins.rs
  crates/vais-codegen/src/function_gen.rs
  crates/vais-types/src/lib.rs
  crates/vaisc/tests/e2e_tests.rs
  examples/bytebuffer.vais
  examples/crc32.vais
  std/bytebuffer.vais
  std/crc32.vais
  std/filesystem.vais
Due: unittests, Core Compiler, Language Tooling

feat: ? and ! operator codegen for user-defined Result enums (Phase 31 Stage 8)
  .workflow-state.json
  ROADMAP.md
  crates/vais-codegen/src/lib.rs
  crates/vais-types/src/lib.rs
  crates/vaisc/tests/e2e_tests.rs
Due: unittests, Core Compiler, Language Tooling

refactor: fix clippy warnings & deduplicate docs-site install guides
  crates/vais-codegen/src/inkwell/generator.rs
  crates/vaisc/src/main.rs
  docs-site/CHECKLIST.md
  docs-site/CONTRIBUTING.md
  docs-site/OVERVIEW.md
  docs-site/PROJECT_SUMMARY.md
  docs-site/QUICK_REFERENCE.md
  docs-site/README.md
Due: unittests, Core Compiler, Language Tooling

refactor: resolve all remaining clippy warnings across workspace
  crates/vais-codegen/src/advanced_opt/bounds_check_elim.rs
  crates/vais-codegen/src/inkwell/builtins.rs
  crates/vais-codegen/src/inkwell/generator.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-codegen/src/optimize.rs
  crates/vais-parser/src/expr.rs
  crates/vais-types/src/lib.rs
Due: unittests, Core Compiler

refactor: project-wide review fixes (Tasks 1-6)
  .gitignore
  Cargo.toml
  FFI_FEATURES.md
  FFI_GUIDE.md
  FFI_IMPLEMENTATION_SUMMARY.md
  IMPLEMENTATION_SUMMARY.md
  PLAYGROUND_IMPLEMENTATION.md
  SECURITY_ENHANCEMENT.md
  WASM_COMPONENT_IMPLEMENTATION.md
  WASM_COMPONENT_MODEL.md
  benches/Cargo.toml
  crates/vais-bindgen/CPP_IMPLEMENTATION_SUMMARY.md
  crates/vais-bindgen/CPP_QUICK_START.md
  crates/vais-bindgen/CPP_SUPPORT.md
  crates/vais-codegen/Cargo.toml
  crates/vais-dap/Cargo.toml
  crates/vais-dynload/Cargo.toml
  crates/vais-i18n/Cargo.toml
  crates/vais-lsp/Cargo.toml
  crates/vais-lsp/LSP_1.18_FEATURES.md
  crates/vais-playground-server/Cargo.toml
  crates/vais-plugin/Cargo.toml
  crates/vais-profiler/Cargo.toml
  crates/vais-query/Cargo.toml
  crates/vais-registry-server/Cargo.toml
  crates/vais-supply-chain/Cargo.toml
  crates/vais-tutorial/Cargo.toml
  crates/vais-types/Cargo.toml
  crates/vaisc/Cargo.toml
  crates/vaisc/src/main.rs
  playground/package-lock.json
  playground/package.json
  playground/src/main.js
  playground/vite.config.js
  website/blog/index.html
  website/blog/why-vais.html
  website/index.html
  website/package.json
  website/vite.config.js
Due: unittests, Core Compiler, Language Tooling, Advanced Features, Experimental Features, Infrastructure

Path conditions:
  unittests: any of: crates/, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*
  Core Compiler: any of: crates/vais-lexer/**, crates/vais-parser/**, crates/vais-ast/**, crates/vais-types/**, crates/vais-codegen/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*
  Language Tooling: any of: crates/vais-lsp/**, crates/vais-dap/**, crates/vaisc/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*
  Advanced Features: any of: crates/vais-jit/**, crates/vais-gc/**, crates/vais-mir/**, crates/vais-query/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*
  Experimental Features: any of: crates/vais-gpu/**, crates/vais-hotreload/**, crates/vais-plugin/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*
  Infrastructure: any of: crates/vais-i18n/**, crates/vais-profiler/**, crates/vais-security/**, crates/vais-supply-chain/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*
