Repository vaislang/vais: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Compiler, Language Tooling, Advanced Features, Experimental Features, Infrastructure

codecov.yml:

# Codecov configuration
# Documentation: https://docs.codecov.io/docs/codecov-yaml

# Coverage target configuration
coverage:
  precision: 2
  round: down
  range: 70..100

  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error

    patch:
      default:
        target: 75%
        threshold: 2%

    changes:
      default:
        if_ci_failed: error

# Comment on pull requests with coverage information
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore paths from coverage
ignore:
  - "benches/**/*"
  - "examples/**/*"
  - "tests/**/*"
  - "target/**/*"
  - "scripts/**/*"

# Flag configuration for different test types
flags:
  unittests:
    paths:
      - crates/
    carryforward: true

# Component-based coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        target: 80%
  individual_components:
    # Core compiler components
    - component_id: core
      name: Core Compiler
      paths:
        - crates/vais-lexer/**
        - crates/vais-parser/**
        - crates/vais-ast/**
        - crates/vais-types/**
        - crates/vais-codegen/**
      statuses:
        - type: project
          target: 90%

    # Language tooling
    - component_id: tooling
      name: Language Tooling
      paths:
        - crates/vais-lsp/**
        - crates/vais-dap/**
        - crates/vaisc/**
      statuses:
        - type: project
          target: 85%

    # Advanced features
    - component_id: advanced
      name: Advanced Features
      paths:
        - crates/vais-jit/**
        - crates/vais-gc/**
        - crates/vais-mir/**
        - crates/vais-query/**
      statuses:
        - type: project
          target: 80%

    # Experimental features
    - component_id: experimental
      name: Experimental Features
      paths:
        - crates/vais-gpu/**
        - crates/vais-hotreload/**
        - crates/vais-plugin/**
      statuses:
        - type: project
          target: 70%

    # Infrastructure
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - crates/vais-i18n/**
        - crates/vais-profiler/**
        - crates/vais-security/**
        - crates/vais-supply-chain/**
      statuses:
        - type: project
          target: 75%

feat: implement HTTP C runtime for std/http.vais
  .workflow-state.json
  ROADMAP.md
  crates/vaisc/src/main.rs
  examples/http_test.vais
  std/http_runtime.c
Due: unittests, Language Tooling

test: add 8 HTTP runtime E2E tests, update stdlib runtime status
  .workflow-state.json
  ROADMAP.md
  crates/vaisc/tests/e2e_tests.rs
Due: unittests, Language Tooling

feat: thread runtime, f64 deref fix, parser safety, stub warnings
  .workflow-state.json
  ROADMAP.md
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/expr_visitor.rs
  crates/vais-parser/src/expr.rs
  crates/vais-parser/src/stmt.rs
  crates/vaisc/src/main.rs
  examples/fib.ll
  examples/hello.ll
  examples/thread_test.vais
  std/dynload.vais
  std/gpu.vais
  std/hot.vais
  std/thread.vais
  std/thread_runtime.c
Due: unittests, Core Compiler, Language Tooling

docs: add Phase 21 roadmap - sync runtime, void phi fix, E2E tests
  .workflow-state.json
  ROADMAP.md
Due: none

feat: add Phase 22 adoption strategy - prototype verification, 5 E2E tests
  ROADMAP.md
  crates/vaisc/tests/e2e_tests.rs
  examples/adoption_prototype.vais
Due: unittests, Language Tooling

release: update all packaging manifests to v1.0.0 and update CHANGELOG
  CHANGELOG.md
  homebrew-vais/Formula/vais.rb
  packaging/arch/PKGBUILD
  packaging/deb/build-deb.sh
  packaging/rpm/vais.spec
  packaging/scoop/vais.json
  packaging/winget/sswoo88.Vais.yaml
Due: none

docs: update ROADMAP with v1.0.0 release status
  .workflow-state.json
  ROADMAP.md
Due: none

docs: update ROADMAP with v1.0.0 release completion and public repo status
  ROADMAP.md
Due: none

docs: community launch - enable Discussions, update README, update launch strategy
  README.md
  ROADMAP.md
  community/LAUNCH_STRATEGY.md
Due: none

feat: add custom domain vaislang.dev for GitHub Pages
  CNAME
  website/CNAME
  website/public/CNAME
Due: none

fix: upgrade website workflow actions to v4 (deprecated v2/v3)
  .github/workflows/website.yml
Due: none

feat: integrate docs and playground into GitHub Pages subpaths
  .github/workflows/website.yml
  docs-site/book.toml
  website/index.html
Due: none

feat: add Fly.io deployment for playground server
  Dockerfile.playground
  fly.toml
  playground/src/compiler.js
Due: none

fix: link stdlib C runtimes in playground server
  crates/vais-playground-server/src/main.rs
Due: unittests

fix: strip buggy fopen_ptr from IR in playground server
  crates/vais-playground-server/src/main.rs
Due: unittests

refactor: use vaisc CLI for playground compilation
  Dockerfile.playground
  crates/vais-playground-server/Cargo.toml
  crates/vais-playground-server/src/main.rs
Due: unittests

fix: upgrade Dockerfile Rust to 1.85 for edition2024 support
  Dockerfile.playground
Due: none

fix: upgrade to Rust 1.93 for home crate compatibility
  Dockerfile.playground
Due: none

fix: resolve extern function declaration type conflicts in codegen
  crates/vais-codegen/src/function_gen.rs
  crates/vais-codegen/src/lib.rs
Due: unittests, Core Compiler

feat: add loading spinner to playground Run button and output
  playground/src/main.js
  playground/src/styles.css
Due: none

fix: codegen cross-platform compatibility and float type inference
  .workflow-state.json
  ROADMAP.md
  crates/vais-codegen/src/builtins.rs
  crates/vais-codegen/src/control_flow.rs
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/type_inference.rs
  crates/vais-codegen/src/types.rs
  playground/src/examples.js
Due: unittests, Core Compiler

fix: resolve playground Linux deployment issues with LLVM IR compatibility
  .workflow-state.json
  crates/vais-codegen/src/control_flow.rs
  crates/vais-codegen/src/lib.rs
  crates/vaisc/src/main.rs
Due: unittests, Core Compiler, Language Tooling

docs: fix website GitHub username and add Phase 24 to ROADMAP
  .workflow-state.json
  ROADMAP.md
  website/blog/index.html
  website/blog/why-vais.html
  website/index.html
Due: none

feat: complete Phase 22 Stage 3 - CLI tool, benchmark, onboarding guide
  ROADMAP.md
  docs-site/src/SUMMARY.md
  docs-site/src/onboarding.md
  examples/projects/benchmark/README.md
  examples/projects/benchmark/benchmark.c
  examples/projects/benchmark/benchmark.vais
  examples/projects/benchmark/run_bench.sh
  examples/projects/num-convert/num_convert.vais
Due: none

fix: resolve vararg float type inference bug in codegen
  .workflow-state.json
  ROADMAP.md
  crates/vais-codegen/src/lib.rs
  crates/vais-codegen/src/type_inference.rs
  crates/vaisc/tests/e2e_tests.rs
Due: unittests, Core Compiler, Language Tooling

fix: playground Loops example using invalid Vais syntax
  playground/src/examples.js
Due: none

fix: include package-lock.json for playground CI deployment
  playground/.gitignore
  playground/package-lock.json
Due: none

docs: add promotion execution roadmap with phased checklist
  .workflow-state.json
  ROADMAP.md
  community/INDEX.md
  community/PROMOTION_ROADMAP.md
Due: none

docs: adopt "Vibe AI Language for Systems" as official full name and add favicon/OG image
  .workflow-state.json
  CLAUDE.md
  README.md
  ROADMAP.md
  community/BRAND_GUIDE.md
  community/PROMOTION_ROADMAP.md
  community/assets/logo-icon.png
  community/assets/logo-new.svg
  playground/index.html
  playground/logo-icon.png
  website/blog/index.html
  website/blog/why-vais.html
  website/index.html
  website/logo-icon.png
Due: none

fix: replace text-based nav logo with logo-icon.png image
  website/index.html
  website/src/styles.css
Due: none

docs: complete promotion Phase 1 - code card generator and first 3 posts
  .workflow-state.json
  ROADMAP.md
  community/FIRST_3_POSTS.md
  community/PROMOTION_ROADMAP.md
  community/assets/logo-dark.svg
  community/assets/logo-icon.svg
  community/assets/logo-instagram-profile.svg
  community/assets/logo-light.svg
  community/assets/logo-new-profile.svg
  community/templates/code-card.html
Due: none

docs: update installation docs with working Homebrew tap and pre-built binaries
  README.md
  community/templates/code-card.html
  docs/INSTALLATION.md
  docs/QUICKSTART.md
  homebrew-vais/Formula/vais.rb
  homebrew-vais/QUICK_REFERENCE.md
  homebrew-vais/README.md
  homebrew-vais/SETUP.md
  website/blog/why-vais.html
  website/index.html
Due: none

fix: resolve technical debt - type inference for arrays, GPU codegen, stdlib verification
  .workflow-state.json
  ROADMAP.md
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-gpu/src/cuda.rs
  crates/vais-gpu/tests/gpu_tests.rs
  crates/vaisc/tests/e2e_tests.rs
Due: unittests, Core Compiler, Language Tooling, Experimental Features

feat: complete GPU codegen CLI integration and async runtime builtins
  .workflow-state.json
  ROADMAP.md
  crates/vais-codegen/src/builtins.rs
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/function_gen.rs
  crates/vais-gpu/Cargo.toml
  crates/vais-gpu/tests/gpu_tests.rs
  crates/vaisc/src/main.rs
Due: unittests, Core Compiler, Language Tooling, Experimental Features

docs: add Phase 28 GPU runtime execution support roadmap
  .workflow-state.json
  ROADMAP.md
Due: none

feat: implement CUDA runtime integration (Phase 28 Stage 1)
  .workflow-state.json
  ROADMAP.md
  crates/vais-gpu/tests/gpu_tests.rs
  crates/vaisc/src/main.rs
  std/gpu.vais
  std/gpu_runtime.c
  std/gpu_runtime.h
Due: unittests, Language Tooling, Experimental Features

feat: implement Metal runtime integration (Phase 28 Stage 2)
  .workflow-state.json
  ROADMAP.md
  crates/vais-gpu/tests/gpu_tests.rs
  crates/vaisc/src/main.rs
  std/metal_runtime.h
  std/metal_runtime.m
Due: unittests, Language Tooling, Experimental Features
