Repository vaislang/vais: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Compiler, Language Tooling, Advanced Features, Extensibility, Infrastructure, Ecosystem Services

feat: add trait bounds verification, generic substitution, and HKT arity validation with review fixes (Phase 40)
  ROADMAP.md
  benches/gpu_bench.rs
  crates/vais-ast/tests/integration_tests.rs
  crates/vais-codegen-js/src/items.rs
  crates/vais-codegen/src/builtins.rs
  crates/vais-codegen/src/wasm_component/package.rs
  crates/vais-codegen/src/wasm_component/tests.rs
  crates/vais-codegen/tests/formatter_tests.rs
  crates/vais-types/src/builtins.rs
  crates/vais-types/src/checker_fn.rs
  crates/vais-types/src/checker_module.rs
  crates/vais-types/src/inference.rs
  crates/vais-types/src/traits.rs
  crates/vais-types/src/types/defs.rs
  crates/vais-types/src/types/substitute.rs
  crates/vais-types/tests/ffi_types_tests.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase40.rs
Due: unittests, Core Compiler, Language Tooling

add Benchmark (cargo) benchmark result for 8a81e497c378952b1a97972ee4bba993739fdbfc
  dev/bench/data.js
Due: none

fix: address team-review findings — recursion limit, alloc removal, helper extraction (Phase 40)
  ROADMAP.md
  crates/vais-types/src/checker_module.rs
  crates/vais-types/src/inference.rs
  crates/vais-types/src/traits.rs
  crates/vais-types/src/types/substitute.rs
Due: unittests, Core Compiler

add Benchmark (cargo) benchmark result for 719bcdc52d9f43e745b959faf6f1c860edd05885
  dev/bench/data.js
Due: none

feat: add Lambda ByRef/ByMutRef capture and Lazy/Force deferred evaluation with review fixes (Phase 42)
  ROADMAP.md
  crates/vais-codegen/src/expr_helpers_call.rs
  crates/vais-codegen/src/expr_helpers_misc.rs
  crates/vais-codegen/src/expr_visitor.rs
  crates/vais-codegen/src/generate_expr.rs
  crates/vais-codegen/src/generate_expr_call.rs
  crates/vais-codegen/src/helpers.rs
  crates/vais-codegen/src/init.rs
  crates/vais-codegen/src/inkwell/gen_advanced.rs
  crates/vais-codegen/src/inkwell/gen_aggregate.rs
  crates/vais-codegen/src/inkwell/gen_expr.rs
  crates/vais-codegen/src/inkwell/gen_stmt.rs
  crates/vais-codegen/src/inkwell/generator.rs
  crates/vais-codegen/src/inkwell/types.rs
  crates/vais-codegen/src/state.rs
  crates/vais-codegen/src/stmt.rs
  crates/vais-codegen/src/stmt_visitor.rs
  crates/vais-codegen/src/trait_dispatch.rs
  crates/vais-codegen/src/type_inference.rs
  crates/vais-codegen/src/types.rs
  crates/vais-codegen/src/vtable.rs
  crates/vais-codegen/src/vtable_tests.rs
  crates/vais-parser/src/expr.rs
  crates/vais-types/src/checker_expr.rs
  crates/vaisc/tests/e2e/helpers.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase41.rs
  crates/vaisc/tests/e2e/phase42.rs
Due: unittests, Core Compiler, Language Tooling

add Benchmark (cargo) benchmark result for 266d2f90c47e939201b64ac0af44756ebc38bf94
  dev/bench/data.js
Due: none

feat: implement async runtime — Spawn Future<T> wrapping, Await sched_yield, Yield inner_type (Phase 43)
  ROADMAP.md
  crates/vais-codegen/src/function_gen.rs
  crates/vais-codegen/src/generate_expr.rs
  crates/vais-codegen/src/inkwell/gen_expr.rs
  crates/vais-codegen/src/type_inference.rs
  crates/vais-codegen/src/types.rs
  crates/vais-types/src/checker_expr.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase43.rs
Due: unittests, Core Compiler, Language Tooling

fix: address Phase 43 review findings — struct_size calculation, ICE warning, async docs and tests
  ROADMAP.md
  crates/vais-codegen/src/function_gen.rs
  crates/vais-codegen/src/generate_expr.rs
  crates/vais-codegen/src/type_inference.rs
  crates/vais-types/src/checker_expr.rs
  crates/vaisc/tests/e2e/phase43.rs
Due: unittests, Core Compiler, Language Tooling

feat: add Phase 44 selfhost cross-verification — 4 examples, cross-verify tests, parser feature matrix
  ROADMAP.md
  crates/vaisc/tests/cross_verify_tests.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase44.rs
  examples/phase44_async_basic.vais
  examples/phase44_closure.vais
  examples/phase44_range_loop.vais
  examples/phase44_trait_bounds.vais
  selfhost/test_new_features.vais
Due: unittests, Language Tooling

docs: Phase 45 stabilization & documentation sync — spec baseline, README metrics, closures/lazy docs, playground examples
  README.md
  ROADMAP.md
  docs-site/src/SUMMARY.md
  docs-site/src/language/closures.md
  docs-site/src/language/lazy-evaluation.md
  playground/src/examples.js
Due: none

fix: improve compiler robustness — ICE always-on warnings, debug output cleanup, error recovery (Phase 46)
  .gitignore
  ROADMAP.md
  crates/vais-codegen/src/error.rs
  crates/vais-codegen/src/inkwell/types.rs
  crates/vais-codegen/src/optimize/inlining.rs
  crates/vais-codegen/src/type_inference.rs
  crates/vais-codegen/src/types.rs
  crates/vais-parser/src/ffi.rs
  crates/vaisc/src/package.rs
Due: unittests, Core Compiler, Language Tooling

add Benchmark (cargo) benchmark result for 5a979b874bcf6157d41b5a39967f9c0c097dc72e
  dev/bench/data.js
Due: none

fix: address team-review findings — security, performance, robustness, docs sync (Phase 47)
  CLAUDE.md
  README.md
  ROADMAP.md
  crates/vais-codegen/src/cache_tests.rs
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/generate_expr.rs
  crates/vais-codegen/src/inkwell/builtins.rs
  crates/vais-codegen/src/types.rs
  crates/vais-parser/src/lib.rs
  crates/vais-types/src/checker_expr.rs
  crates/vaisc/src/commands/advanced.rs
  crates/vaisc/src/repl.rs
  playground/README.md
Due: unittests, Core Compiler, Language Tooling

fix: address team-review findings — shell injection, cache optimization, TOCTOU, i18n sync (Phase 48)
  ROADMAP.md
  crates/vais-codegen/src/cache_tests.rs
  crates/vais-codegen/src/error.rs
  crates/vais-codegen/src/inkwell/types.rs
  crates/vais-codegen/src/types.rs
  crates/vais-i18n/locales/en.json
  crates/vais-i18n/locales/ja.json
  crates/vais-i18n/locales/ko.json
  crates/vais-i18n/locales/zh.json
  crates/vais-types/src/checker_expr.rs
  crates/vaisc/src/commands/advanced.rs
  crates/vaisc/src/repl.rs
Due: unittests, Core Compiler, Language Tooling, Infrastructure

fix: correct playground base path for GitHub Pages deployment
  playground/vite.config.js
Due: none

add Benchmark (cargo) benchmark result for ca08aedb52db9fb5798c04fc15a7e6511098a259
  dev/bench/data.js
Due: none

feat: add per-page language selector to docs-site
  docs-site/book.toml
  docs-site/build.sh
  docs-site/theme/lang-selector.css
  docs-site/theme/lang-selector.js
Due: none

add Benchmark (cargo) benchmark result for c4181753fb377d1732cd4b1e70cc190f42eb1349
  dev/bench/data.js
Due: none

fix: restore playground base path to /playground/ for website.yml deploy
  playground/vite.config.js
Due: none

add Benchmark (cargo) benchmark result for e856a51e4ae0daf2fb561237cfcc6480e72e05cb
  dev/bench/data.js
Due: none

add Benchmark (cargo) benchmark result for 616fa6044496edd8837267a09b011bdbe96efd08
  dev/bench/data.js
Due: none

docs: sync Korean docs with compiler features — Phase 50
  ROADMAP.md
  docs-site/src/guides/cookbook.md
  docs-site/src/guides/testing.md
  docs-site/src/language/advanced-types.md
  docs-site/src/language/closures.md
  docs-site/src/stdlib/stdlib.md
  docs-site/src/tools/package-manager.md
  docs/LANGUAGE_SPEC.md
  docs/generic_tutorial.md
Due: none

docs: fix review findings — loop syntax, SUMMARY links, translation sync (Phase 51+52)
  ROADMAP.md
  docs-site/src/SUMMARY.md
  docs-site/src/en/SUMMARY.md
  docs-site/src/en/getting-started/installation.md
  docs-site/src/en/getting-started/tutorial.md
  docs-site/src/en/introduction.md
  docs-site/src/en/language/language-spec.md
  docs-site/src/getting-started/quick-start.md
  docs-site/src/ja/SUMMARY.md
  docs-site/src/ja/getting-started/installation.md
  docs-site/src/ja/getting-started/tutorial.md
  docs-site/src/ja/introduction.md
  docs-site/src/ja/language/language-spec.md
  docs-site/src/zh/SUMMARY.md
  docs-site/src/zh/getting-started/installation.md
  docs-site/src/zh/getting-started/tutorial.md
  docs-site/src/zh/introduction.md
  docs-site/src/zh/language/language-spec.md
Due: none

refactor: test coverage & code quality improvements (Phase 53)
  README.md
  ROADMAP.md
  crates/vais-codegen-js/tests/integration_tests.rs
  crates/vais-types/src/builtins.rs
  crates/vais-types/src/builtins/core.rs
  crates/vais-types/src/builtins/enum_builtins.rs
  crates/vais-types/src/builtins/file_io.rs
  crates/vais-types/src/builtins/gc.rs
  crates/vais-types/src/builtins/io.rs
  crates/vais-types/src/builtins/math.rs
  crates/vais-types/src/builtins/memory.rs
  crates/vais-types/src/builtins/mod.rs
  crates/vais-types/src/builtins/print.rs
  crates/vais-types/src/builtins/simd.rs
  crates/vais-types/src/builtins/stdlib.rs
  crates/vais-types/src/builtins/system.rs
  crates/vais-types/src/checker_fn.rs
  crates/vais-types/src/checker_module.rs
  crates/vaisc/tests/execution_tests.rs
Due: unittests, Core Compiler, Language Tooling

fix: review findings — visibility consistency, dead code, doc comments (Phase 53)
  ROADMAP.md
  crates/vais-types/src/builtins/simd.rs
  crates/vais-types/src/checker_module.rs
  crates/vaisc/tests/execution_tests.rs
Due: unittests, Core Compiler, Language Tooling

add Benchmark (cargo) benchmark result for 01d3c63f4932580df8c4710b3da84ada5f075f1b
  dev/bench/data.js
Due: none

fix(vaisc): safety audit — 6 critical unwrap() fixes + comprehensive documentation
  UNWRAP_AUDIT_VAISC.md
  crates/vaisc/src/commands/advanced.rs
  crates/vaisc/src/incremental/graph.rs
  crates/vaisc/src/package.rs
  crates/vaisc/src/registry/archive.rs
  crates/vaisc/src/registry/cache.rs
  crates/vaisc/src/repl.rs
Due: unittests, Language Tooling

add Benchmark (cargo) benchmark result for a379a2629cb1ce4332ac5613e9bfbb3fe94dcc10
  dev/bench/data.js
Due: none

fix(types): execution_tests 7건 수정 + TC 성능 회귀 해결 (Phase 55)
  ROADMAP.md
  crates/vais-types/src/checker_expr/async_effects.rs
  crates/vais-types/src/checker_expr/calls.rs
  crates/vais-types/src/checker_expr/literals.rs
  crates/vais-types/src/checker_expr/references.rs
  crates/vais-types/src/inference.rs
  crates/vais-types/src/lookup.rs
  crates/vais-types/src/resolve.rs
  crates/vais-types/src/scope.rs
  crates/vaisc/tests/execution_tests.rs
Due: unittests, Core Compiler, Language Tooling

add Benchmark (cargo) benchmark result for 9904776aa88a927522187a8fc9378b2ff4b33b29
  dev/bench/data.js
Due: none

fix(review): resolve 20 review findings — security, correctness, performance, architecture (Phase 56)
  .github/workflows/ci.yml
  ROADMAP.md
  crates/vais-ast/src/formatter.rs
  crates/vais-ast/src/lib.rs
  crates/vais-codegen/src/control_flow.rs
  crates/vais-codegen/src/expr_visitor.rs
  crates/vais-codegen/src/generate_expr.rs
  crates/vais-codegen/src/inkwell/gen_expr/binary.rs
  crates/vais-codegen/src/lambda_closure.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-codegen/tests/formatter_tests.rs
  crates/vais-dynload/src/wasm_sandbox.rs
  crates/vais-lsp/Cargo.toml
  crates/vais-lsp/src/backend.rs
  crates/vais-lsp/src/handlers/formatting.rs
  crates/vais-mir/src/borrow_check/tests.rs
  crates/vais-mir/src/borrow_check/tests/borrow.rs
  crates/vais-mir/src/borrow_check/tests/cfg.rs
  crates/vais-mir/src/borrow_check/tests/copy.rs
  crates/vais-mir/src/borrow_check/tests/helpers.rs
  crates/vais-mir/src/borrow_check/tests/integration.rs
  crates/vais-mir/src/borrow_check/tests/lifetime.rs
  crates/vais-mir/src/borrow_check/tests/mod.rs
  crates/vais-mir/src/borrow_check/tests/move_check.rs
  crates/vais-mir/src/borrow_check/tests/nll.rs
  crates/vais-playground-server/Cargo.toml
  crates/vais-playground-server/src/main.rs
  crates/vais-registry-server/src/db.rs
  crates/vais-registry-server/src/storage.rs
  crates/vais-types/src/specialization.rs
  crates/vais-types/src/types/mangle.rs
  crates/vaisc/src/commands/simple.rs
Due: unittests, Core Compiler, Language Tooling, Extensibility, Ecosystem Services

add Benchmark (cargo) benchmark result for c3bb8e6b5d266bc61ffd0c57dcce7b1714bf4b0c
  dev/bench/data.js
Due: none

refactor: code quality & module split R5 (Phase 57)
  README.md
  ROADMAP.md
  crates/vais-node/src/token_conv.rs
  crates/vais-python/src/token_conv.rs
  crates/vais-types/src/checker_expr/collections.rs
  crates/vais-types/src/checker_expr/control_flow.rs
  crates/vaisc/src/commands/build/backend.rs
  crates/vaisc/src/commands/build/core.rs
  crates/vaisc/src/commands/build/gpu.rs
  crates/vaisc/src/commands/build/mod.rs
  crates/vaisc/src/commands/build/utils.rs
  crates/vaisc/src/commands/compile.rs
  crates/vaisc/src/commands/compile/mod.rs
  crates/vaisc/src/commands/compile/native.rs
  crates/vaisc/src/commands/compile/parallel.rs
  crates/vaisc/src/commands/compile/per_module.rs
  crates/vaisc/src/commands/compile/pipeline.rs
  crates/vaisc/src/commands/compile/wasm.rs
  crates/vaisc/src/package.rs
  crates/vaisc/src/package/features.rs
  crates/vaisc/src/package/manifest.rs
  crates/vaisc/src/package/mod.rs
  crates/vaisc/src/package/resolution.rs
  crates/vaisc/src/package/tests.rs
  crates/vaisc/src/package/types.rs
  crates/vaisc/src/package/workspace.rs
Due: unittests, Core Compiler, Language Tooling

add Benchmark (cargo) benchmark result for a70564c4916301bc50f5b87241aa186451c52dc9
  dev/bench/data.js
Due: none

fix(codegen): div-by-zero guard @abort declaration & current_block tracking — E2E +44
  crates/vais-codegen/src/control_flow.rs
  crates/vais-codegen/src/generate_expr.rs
Due: unittests, Core Compiler

add Benchmark (cargo) benchmark result for d5ea0111f877ffcb2358e52265a56fa8f61f3fcd
  dev/bench/data.js
Due: none

chore: consolidate ROADMAP phases & remove duplicate E2E tests
  ROADMAP.md
  crates/vaisc/tests/execution_tests.rs
Due: unittests, Language Tooling

add Benchmark (cargo) benchmark result for ae53f7f513b6163b334ea83044ecbca9743fb682
  dev/bench/data.js
Due: none

Path conditions:
  unittests: any of: crates/, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*
  Core Compiler: any of: crates/vais-lexer/**, crates/vais-parser/**, crates/vais-ast/**, crates/vais-types/**, crates/vais-codegen/**, crates/vais-codegen-js/**, crates/vais-mir/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*
  Language Tooling: any of: crates/vais-lsp/**, crates/vais-dap/**, crates/vaisc/**, crates/vais-bindgen/**, crates/vais-macro/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*
  Advanced Features: any of: crates/vais-jit/**, crates/vais-gc/**, crates/vais-gpu/**, crates/vais-query/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*
  Extensibility: any of: crates/vais-plugin/**, crates/vais-dynload/**, crates/vais-hotreload/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*
  Infrastructure: any of: crates/vais-i18n/**, crates/vais-profiler/**, crates/vais-security/**, crates/vais-supply-chain/**, crates/vais-testgen/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*
  Ecosystem Services: any of: crates/vais-registry-server/**, crates/vais-playground-server/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*
