Repository vaislang/vais: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Compiler, Language Tooling, Advanced Features, Experimental Features, Infrastructure

docs: Phase 62 documentation update — language comparison benchmarks, CLAUDE.md modernization, docs-site pages
  CLAUDE.md
  ROADMAP.md
  benches/COMPARISON.md
  benches/lang-comparison/c/fibonacci.c
  benches/lang-comparison/c/http_types.c
  benches/lang-comparison/c/linked_list.c
  benches/lang-comparison/c/quicksort.c
  benches/lang-comparison/compile_bench.sh
  benches/lang-comparison/count_tokens.py
  benches/lang-comparison/go/fibonacci.go
  benches/lang-comparison/go/http_types.go
  benches/lang-comparison/go/linked_list.go
  benches/lang-comparison/go/quicksort.go
  benches/lang-comparison/python/fibonacci.py
  benches/lang-comparison/python/http_types.py
  benches/lang-comparison/python/linked_list.py
  benches/lang-comparison/python/quicksort.py
  benches/lang-comparison/rust/fibonacci.rs
  benches/lang-comparison/rust/http_types.rs
  benches/lang-comparison/rust/linked_list.rs
  benches/lang-comparison/rust/quicksort.rs
  benches/lang-comparison/vais/fibonacci.vais
  benches/lang-comparison/vais/http_types.vais
  benches/lang-comparison/vais/linked_list.vais
  benches/lang-comparison/vais/quicksort.vais
  docs-site/src/SUMMARY.md
  docs-site/src/advanced/async-runtime.md
  docs-site/src/advanced/wasm/js-interop.md
  docs-site/src/api/args.md
  docs-site/src/api/channel.md
  docs-site/src/api/datetime.md
  docs-site/src/api/path.md
  docs-site/src/compiler/js-codegen.md
  docs-site/src/language/type-inference.md
  playground/README.md
  playground/src/examples.js
  playground/src/vais-language.js
  website/blog/index.html
  website/blog/why-vais.html
  website/index.html
Due: none

feat: add missing examples, playground JS target UI, and website benchmark update
  examples/js_target.vais
  examples/js_target_advanced.vais
  examples/wasm_interop.vais
  playground/index.html
  playground/src/compiler.js
  playground/src/examples.js
  playground/src/main.js
  playground/src/styles.css
  website/index.html
Due: none

docs: add Phase 63-65 roadmap — execution verification, package ecosystem, cross-platform CI
  ROADMAP.md
Due: none

add Benchmark (cargo) benchmark result for 318e3f285abb029c2431ee3351db65941b20ee4a
  dev/bench/data.js
Due: none

add Benchmark (cargo) benchmark result for 1e78c6037aea20d91f3ef93f2f062eaa8e840fbe
  dev/bench/data.js
Due: none

test: Phase 63 execution verification — 126 new tests
  ROADMAP.md
  crates/vaisc/tests/error_scenario_tests.rs
  crates/vaisc/tests/error_snapshot_tests.rs
  crates/vaisc/tests/execution_tests.rs
  crates/vaisc/tests/snapshots/binary_op_type_error.snap
  crates/vaisc/tests/snapshots/invalid_field_access.snap
  crates/vaisc/tests/snapshots/parser_unexpected_token.snap
  crates/vaisc/tests/snapshots/recursive_no_return_type.snap
  crates/vaisc/tests/snapshots/return_type_mismatch.snap
  crates/vaisc/tests/snapshots/type_mismatch.snap
  crates/vaisc/tests/snapshots/unconstrained_params.snap
  crates/vaisc/tests/snapshots/undefined_function.snap
  crates/vaisc/tests/snapshots/undefined_variable.snap
  crates/vaisc/tests/snapshots/wrong_arg_count.snap
Due: unittests, Language Tooling

test: Phase 64 package manager & ecosystem — 37 new E2E tests
  ROADMAP.md
  crates/vaisc/tests/registry_e2e_tests.rs
Due: unittests, Language Tooling

add Benchmark (cargo) benchmark result for 2c043ae745689bb5c9a661412f7630b00ae793c8
  dev/bench/data.js
Due: none

ci: Phase 65 cross-platform CI & release automation
  .github/workflows/ci.yml
  .github/workflows/crates-publish.yml
  .github/workflows/docker.yml
  .github/workflows/homebrew.yml
  Dockerfile
  RELEASING.md
  ROADMAP.md
  crates/vais-types/src/checker_fn.rs
  crates/vais-types/src/types.rs
  crates/vaisc/src/commands/build.rs
  crates/vaisc/src/commands/compile.rs
  crates/vaisc/tests/cross_verify_tests.rs
  crates/vaisc/tests/e2e_tests.rs
  crates/vaisc/tests/execution_tests.rs
  crates/vaisc/tests/phase33_integration_tests.rs
  crates/vaisc/tests/selfhost_stdlib_tests.rs
Due: unittests, Core Compiler, Language Tooling

refactor: Phase 66 — split builtins.rs and extract codegen generate_expr module
  ROADMAP.md
  crates/vais-codegen/src/generate_expr.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-types/src/builtins.rs
Due: unittests, Core Compiler

refactor: extract large functions and split LSP backend into handler modules
  ROADMAP.md
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-lsp/src/backend.rs
  crates/vais-lsp/src/handlers/code_action.rs
  crates/vais-lsp/src/handlers/completion.rs
  crates/vais-lsp/src/handlers/hover.rs
  crates/vais-lsp/src/handlers/mod.rs
  crates/vais-lsp/src/handlers/navigation.rs
  crates/vais-lsp/src/lib.rs
  crates/vais-lsp/src/main.rs
  crates/vaisc/src/commands/compile.rs
Due: unittests, Core Compiler, Language Tooling

refactor: Phase 66 complete — unwrap safety audit and clone analysis
  ROADMAP.md
  crates/vais-codegen/src/advanced_opt/alias_analysis.rs
  crates/vais-codegen/src/advanced_opt/bounds_check_elim.rs
  crates/vais-codegen/src/optimize.rs
Due: unittests, Core Compiler

test: Phase 67 test coverage — 142 integration tests for 4 untested crates
  ROADMAP.md
  crates/vais-codegen-js/tests/integration_tests.rs
  crates/vais-jit/tests/integration_tests.rs
  crates/vais-macro/tests/integration_tests.rs
  crates/vais-mir/tests/integration_tests.rs
Due: unittests, Advanced Features

add Benchmark (cargo) benchmark result for 72419c182e51b10d19bc92dce59757d8c7668729
  dev/bench/data.js
Due: none

feat: Phase 68 — type-safe memory model & MIR borrow checker
  ROADMAP.md
  crates/vais-codegen/src/builtins.rs
  crates/vais-codegen/src/function_gen.rs
  crates/vais-codegen/src/generate_expr.rs
  crates/vais-codegen/src/inkwell/types.rs
  crates/vais-codegen/src/types.rs
  crates/vais-mir/src/borrow_check.rs
  crates/vais-mir/src/lib.rs
  crates/vais-mir/src/lower.rs
  crates/vais-mir/src/types.rs
  crates/vais-mir/tests/integration_tests.rs
  crates/vais-types/src/builtins.rs
  crates/vaisc/Cargo.toml
  crates/vaisc/src/commands/build.rs
  crates/vaisc/src/main.rs
  crates/vaisc/tests/e2e_tests.rs
  std/hashmap.vais
  std/vec.vais
Due: unittests, Core Compiler, Language Tooling, Advanced Features

docs: update ROADMAP and CLAUDE.md metrics after Phase 68 completion
  CLAUDE.md
  ROADMAP.md
Due: none

add Benchmark (cargo) benchmark result for b91d2bc52ddbc3aa4a2998bcb03beb57fe47c6de
  dev/bench/data.js
Due: none

add Benchmark (cargo) benchmark result for 30ed6b8b5cdf247dbbb2e342b97f2f23c0fcec58
  dev/bench/data.js
Due: none

docs: add Phase 69-72 roadmap — lifetime/NLL, compiler perf, selfhost, ecosystem
  ROADMAP.md
Due: none

add Benchmark (cargo) benchmark result for 0b4d7edef36671929901d92c73fd0b538bdbb9a6
  dev/bench/data.js
Due: none

docs: consolidate ROADMAP — 1,816→308 lines, renumber Phase 69-72 → 1-4
  ROADMAP.md
Due: none

add Benchmark (cargo) benchmark result for 8b1722aca06475bbad4ab77b033097e6646b1dd3
  dev/bench/data.js
Due: none

feat: Phase 1 — CFG dataflow, NLL, lifetime tracking for MIR borrow checker
  ROADMAP.md
  crates/vais-mir/src/borrow_check.rs
  crates/vais-mir/src/builder.rs
  crates/vais-mir/src/emit_llvm.rs
  crates/vais-mir/src/lower.rs
  crates/vais-mir/src/types.rs
  crates/vais-mir/tests/integration_tests.rs
Due: unittests, Advanced Features

add Benchmark (cargo) benchmark result for 4686b29f646ea7ca7e84a74b2e4bbd7fa43233c5
  dev/bench/data.js
Due: none

feat: Phase 2 — compiler performance optimization (clone reduction, parallel compilation, benchmarks)
  ROADMAP.md
  benches/Cargo.toml
  benches/PARALLEL_BENCH_README.md
  benches/clone_reduction_bench.rs
  benches/fixtures/README.md
  benches/fixtures/gen_large_example.rs
  benches/lib.rs
  benches/memory_bench.rs
  benches/parallel_bench.rs
  benches/tests/generator_tests.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-types/src/checker_expr.rs
  crates/vais-types/src/checker_fn.rs
  crates/vais-types/src/checker_module.rs
  crates/vais-types/src/lib.rs
  crates/vaisc/src/commands/compile.rs
  crates/vaisc/src/incremental.rs
  crates/vaisc/tests/parallel_codegen_tests.rs
  crates/vaisc/tests/parallel_typecheck_tests.rs
  crates/vaisc/tests/pipeline_compile_tests.rs
  docs/clone-analysis.md
Due: unittests, Core Compiler, Language Tooling

add Benchmark (cargo) benchmark result for a55d9a9d5fe415edfa3e5826f979adf31bf53a6d
  dev/bench/data.js
Due: none

feat: Phase 3 — selfhost advanced optimization modules (alias analysis, bounds check elimination, auto-vectorize, data layout)
  ROADMAP.md
  selfhost/mir_alias.vais
  selfhost/mir_bounds.vais
  selfhost/mir_layout.vais
  selfhost/mir_optimizer.vais
  selfhost/mir_vectorize.vais
  selfhost/test_mir_alias.vais
  selfhost/test_mir_bounds.vais
  selfhost/test_mir_vectorize.vais
Due: none

add Benchmark (cargo) benchmark result for f5fc23f77913558eb3d61663fc11fae158aea239
  dev/bench/data.js
Due: none

feat: Phase 4 — ecosystem packages (vais-crc32, vais-lz4, vais-aes)
  ROADMAP.md
  packages/vais-aes/README.md
  packages/vais-aes/examples/example_usage.vais
  packages/vais-aes/src/lib.vais
  packages/vais-aes/tests/test_aes.vais
  packages/vais-aes/vais.toml
  packages/vais-crc32/README.md
  packages/vais-crc32/src/lib.vais
  packages/vais-crc32/tests/test_crc32.vais
  packages/vais-crc32/vais.toml
  packages/vais-lz4/README.md
  packages/vais-lz4/src/lib.vais
  packages/vais-lz4/tests/test_lz4.vais
  packages/vais-lz4/vais.toml
Due: none

chore: clean up backup files, update gitignore, commit Rc optimization docs
  .gitignore
  docs/rc-optimization-report.md
  docs/rc-optimization-technical-details.md
Due: none

add Benchmark (cargo) benchmark result for 4ee2d9827e791e6bb943c551191c4e1407632b8e
  dev/bench/data.js
Due: none

feat: Phase 5 — elseif.merge/bool codegen fixes, trait E2E tests, vais-json/csv packages
  ROADMAP.md
  crates/vais-codegen/src/control_flow.rs
  crates/vais-codegen/src/generate_expr.rs
  crates/vais-codegen/src/inkwell/gen_stmt.rs
  crates/vais-codegen/src/type_inference.rs
  crates/vaisc/tests/e2e_tests.rs
  packages/vais-csv/README.md
  packages/vais-csv/src/lib.vais
  packages/vais-csv/tests/test_csv.vais
  packages/vais-csv/vais.toml
  packages/vais-json/README.md
  packages/vais-json/src/lib.vais
  packages/vais-json/tests/test_json.vais
  packages/vais-json/vais.toml
Due: unittests, Core Compiler, Language Tooling

feat: Phase 6 — SSA-to-Alloca codegen fix, Slice type system (&[T]/&mut [T])
  ROADMAP.md
  crates/vais-ast/src/lib.rs
  crates/vais-codegen-js/src/tree_shaking.rs
  crates/vais-codegen/src/formatter.rs
  crates/vais-codegen/src/generate_expr.rs
  crates/vais-codegen/src/inkwell/gen_aggregate.rs
  crates/vais-codegen/src/inkwell/types.rs
  crates/vais-codegen/src/types.rs
  crates/vais-jit/src/compiler.rs
  crates/vais-jit/src/types.rs
  crates/vais-parser/src/types.rs
  crates/vais-types/src/checker_expr.rs
  crates/vais-types/src/inference.rs
  crates/vais-types/src/ownership.rs
  crates/vais-types/src/resolve.rs
  crates/vais-types/src/types.rs
  crates/vaisc/src/repl.rs
  crates/vaisc/tests/e2e_tests.rs
Due: unittests, Core Compiler, Language Tooling, Advanced Features

add Benchmark (cargo) benchmark result for 53954e8aedef3aa2ccf75bda12ca6fa454e9479f
  dev/bench/data.js
Due: none

docs: Phase 7 — sync homepage, playground, docs-site with current features
  README.md
  ROADMAP.md
  docs-site/src/SUMMARY.md
  docs-site/src/guide/ecosystem-packages.md
  docs-site/src/language/lifetimes.md
  docs-site/src/language/slices.md
  docs/design/package-manager-design.md
  playground/src/examples.js
  playground/src/vais-language.js
Due: none

add Benchmark (cargo) benchmark result for 16cd9fb165657a13b56e0594c2f31c695017a456
  dev/bench/data.js
Due: none

feat: Phase 8 — ecosystem packages (base64/sha256/uuid/regex), TCP 10K bench, stress test framework
  ROADMAP.md
  benches/Cargo.toml
  benches/endurance_bench.rs
  benches/tcp_bench.rs
  crates/vaisc/tests/endurance_tests.rs
  examples/stress_fd.vais
  examples/stress_memory.vais
  examples/tcp_10k_bench.vais
  packages/PACKAGES_INDEX.md
  packages/vais-base64/README.md
  packages/vais-base64/examples/simple.vais
  packages/vais-base64/src/lib.vais
  packages/vais-base64/tests/test_base64.vais
  packages/vais-base64/vais.toml
  packages/vais-regex/README.md
  packages/vais-regex/src/lib.vais
  packages/vais-regex/tests/test_regex.vais
  packages/vais-regex/vais.toml
  packages/vais-sha256/README.md
  packages/vais-sha256/src/lib.vais
  packages/vais-sha256/tests/test_sha256.vais
  packages/vais-sha256/vais.toml
  packages/vais-uuid/README.md
  packages/vais-uuid/src/lib.vais
  packages/vais-uuid/tests/test_uuid.vais
  packages/vais-uuid/vais.toml
Due: unittests, Language Tooling

add Benchmark (cargo) benchmark result for 108b0dbeb2ed09f4959a6c14b9907921a3c3f9cb
  dev/bench/data.js
Due: none

feat: Phase 9 — LSP Signature Help/Highlight/Formatting, DAP enhancements, VSCode extension
  ROADMAP.md
  crates/vais-dap/src/breakpoint.rs
  crates/vais-dap/src/stack.rs
  crates/vais-dap/src/variables.rs
  crates/vais-lsp/src/backend.rs
  crates/vais-lsp/src/handlers/formatting.rs
  crates/vais-lsp/src/handlers/highlight.rs
  crates/vais-lsp/src/handlers/mod.rs
  crates/vais-lsp/src/handlers/signature.rs
  crates/vais-lsp/tests/integration_tests.rs
  vscode-vais/snippets/vais.json
  vscode-vais/src/extension.ts
Due: unittests, Language Tooling

test: Phase 10 — parser/query/playground tests, ignored test audit
  ROADMAP.md
  crates/vais-parser/tests/negative_tests.rs
  crates/vais-parser/tests/positive_tests.rs
  crates/vais-playground-server/Cargo.toml
  crates/vais-playground-server/tests/playground_e2e_tests.rs
  crates/vais-query/tests/integration_tests.rs
Due: unittests, Core Compiler, Advanced Features

Path conditions:
  unittests: any of: crates/, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*
  Core Compiler: any of: crates/vais-lexer/**, crates/vais-parser/**, crates/vais-ast/**, crates/vais-types/**, crates/vais-codegen/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*
  Language Tooling: any of: crates/vais-lsp/**, crates/vais-dap/**, crates/vaisc/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*
  Advanced Features: any of: crates/vais-jit/**, crates/vais-gc/**, crates/vais-mir/**, crates/vais-query/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*
  Experimental Features: any of: crates/vais-gpu/**, crates/vais-hotreload/**, crates/vais-plugin/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*
  Infrastructure: any of: crates/vais-i18n/**, crates/vais-profiler/**, crates/vais-security/**, crates/vais-supply-chain/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*
