Repository vaislang/vais: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Compiler, Language Tooling, Advanced Features, Extensibility, Infrastructure, Ecosystem Services

codecov.yml:

# Codecov configuration
# Documentation: https://docs.codecov.io/docs/codecov-yaml

# Coverage target configuration
coverage:
  precision: 2
  round: down
  range: 60..100

  status:
    project:
      default:
        target: 75%
        threshold: 2%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 3%

    changes:
      default:
        if_ci_failed: error

# Comment on pull requests with coverage information
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore paths from coverage
# Excludes match tarpaulin.toml exclude list â€” crates with 0% coverage
# that inflate the denominator if included
ignore:
  - "benches/**/*"
  - "examples/**/*"
  - "tests/**/*"
  - "target/**/*"
  - "scripts/**/*"
  - "crates/vais-python/**"
  - "crates/vais-node/**"
  - "crates/vais-dap/**"
  - "crates/vais-playground-server/**"

# Flag configuration for different test types
flags:
  unittests:
    paths:
      - crates/
    carryforward: true

# Component-based coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        target: 75%
  individual_components:
    # Core compiler components
    - component_id: core
      name: Core Compiler
      paths:
        - crates/vais-lexer/**
        - crates/vais-parser/**
        - crates/vais-ast/**
        - crates/vais-types/**
        - crates/vais-codegen/**
        - crates/vais-codegen-js/**
        - crates/vais-mir/**
      statuses:
        - type: project
          target: 80%

    # Language tooling
    - component_id: tooling
      name: Language Tooling
      paths:
        - crates/vais-lsp/**
        - crates/vaisc/**
        - crates/vais-bindgen/**
        - crates/vais-macro/**
      statuses:
        - type: project
          target: 75%

    # Runtime & advanced features
    - component_id: advanced
      name: Advanced Features
      paths:
        - crates/vais-jit/**
        - crates/vais-gc/**
        - crates/vais-gpu/**
        - crates/vais-query/**
      statuses:
        - type: project
          target: 70%

    # Plugin & dynamic loading
    - component_id: extensibility
      name: Extensibility
      paths:
        - crates/vais-plugin/**
        - crates/vais-dynload/**
        - crates/vais-hotreload/**
      statuses:
        - type: project
          target: 68%

    # Infrastructure & ecosystem
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - crates/vais-i18n/**
        - crates/vais-profiler/**
        - crates/vais-security/**
        - crates/vais-supply-chain/**
        - crates/vais-testgen/**
      statuses:
        - type: project
          target: 70%

    # Ecosystem services (playground-server excluded from coverage measurement)
    - component_id: services
      name: Ecosystem Services
      paths:
        - crates/vais-registry-server/**
      statuses:
        - type: project
          target: 75%

test(phase60): 에러 경로 & 엣지 케이스 테스트 +395 — codegen/parser/types/dap
  ROADMAP.md
  codecov.yml
  crates/vais-codegen/tests/error_path_tests.rs
  crates/vais-dap/tests/unit_tests.rs
  crates/vais-parser/tests/error_recovery_tests.rs
  crates/vais-types/tests/type_error_path_tests.rs
  tarpaulin.toml
Due: unittests, Core Compiler

refactor(phase61): dead code 제거 -208줄 & codecov ignore 확장 & Phase 60 테스트 수정
  .github/workflows/ci.yml
  ROADMAP.md
  codecov.yml
  crates/vais-codegen/src/expr_helpers_misc.rs
  crates/vais-codegen/src/inkwell/types.rs
  crates/vais-codegen/tests/error_path_tests.rs
  crates/vais-dynload/src/host_functions.rs
  crates/vais-parser/src/lib.rs
  crates/vais-parser/src/stmt.rs
  crates/vais-parser/tests/error_recovery_tests.rs
  crates/vais-types/tests/type_error_path_tests.rs
  crates/vaisc/tests/execution_tests.rs
  crates/vaisc/tests/phase33_integration_tests.rs
  crates/vaisc/tests/windows_e2e_tests.rs
  tarpaulin.toml
Due: unittests, Core Compiler, Language Tooling, Extensibility

docs(phase64): EBNF 공식 문법 스펙 + 자동 검증 테스트 시스템
  crates/vais-parser/tests/grammar_coverage_tests.rs
  crates/vais-parser/tests/grammar_roundtrip_tests.rs
  docs/LANGUAGE_SPEC.md
  docs/grammar/README.md
  docs/grammar/vais.ebnf
Due: unittests, Core Compiler

docs(roadmap): Phase 65-71 상세 로드맵 추가 — 체계적 이슈 해결 계획
  ROADMAP.md
Due: none

docs(phase65): pre-existing E2E 14개 + codegen 3개 실패 — 전수 확인 완료
  ROADMAP.md
Due: none

feat(phase66): 타입 Unify 6개 catch-all 제거 + apply_substitutions 13개 compound type
  ROADMAP.md
  crates/vais-types/src/inference.rs
  crates/vais-types/src/tests.rs
Due: unittests, Core Compiler

feat(phase67): Map literal Inkwell codegen + 6개 compound assignment 연산자 + monomorphization
  CHANGELOG.md
  CLAUDE.md
  Cargo.toml
  README.md
  RELEASE_NOTES.md
  ROADMAP.md
  crates/vais-ast/src/formatter/expressions.rs
  crates/vais-codegen/src/builtins/mod.rs
  crates/vais-codegen/src/inkwell/gen_aggregate.rs
  crates/vais-codegen/src/inkwell/gen_expr/mod.rs
  crates/vais-codegen/src/inkwell/types.rs
  crates/vais-codegen/src/types.rs
  crates/vais-lexer/src/lib.rs
  crates/vais-node/src/token_conv.rs
  crates/vais-parser/src/expr/precedence.rs
  crates/vais-parser/src/item/macros.rs
  crates/vais-parser/src/lib.rs
  crates/vais-parser/tests/coverage_tests.rs
  crates/vais-parser/tests/macro_coverage_tests.rs
  crates/vais-python/src/token_conv.rs
  crates/vais-types/src/builtins/io.rs
  crates/vais-types/src/builtins/system.rs
  crates/vais-types/src/checker_module/registration.rs
  crates/vais-types/src/checker_module/traits.rs
  crates/vais-types/src/inference.rs
  crates/vais-types/src/lib.rs
  crates/vais-types/src/types/defs.rs
  crates/vais-types/src/types/mod.rs
  crates/vais-types/tests/comptime_coverage_tests.rs
  crates/vais-types/tests/effects_coverage_tests.rs
  crates/vais-types/tests/ffi_types_tests.rs
  crates/vais-types/tests/mangle_coverage_tests.rs
  crates/vais-types/tests/resolved_type_coverage_tests.rs
  crates/vais-types/tests/substitute_coverage_tests.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase41_string_numeric.rs
  crates/vaisc/tests/e2e/phase67_monomorphization.rs
  crates/vaisc/tests/selfhost_lexer_tests.rs
Due: unittests, Core Compiler, Language Tooling

fix(phase68): Struct-by-value ABI 수정 — method param double-ptr + struct-value load
  ROADMAP.md
  crates/vais-codegen/src/expr_helpers_call/method_call.rs
  crates/vais-codegen/src/function_gen/codegen.rs
  crates/vaisc/tests/selfhost_clang_tests.rs
  crates/vaisc/tests/selfhost_lexer_tests.rs
Due: unittests, Core Compiler, Language Tooling

test(phase69): Grammar Coverage 갭 해소 — 223→275 (+52 테스트)
  ROADMAP.md
  crates/vais-parser/tests/grammar_coverage_tests.rs
Due: unittests, Core Compiler

refactor(phase70): Runtime panic 제거 — 프로덕션 panic/unreachable 0개 달성
  ROADMAP.md
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/generate_expr_loop.rs
  crates/vais-codegen/src/inkwell/builtins.rs
  crates/vais-codegen/src/inkwell/gen_stmt.rs
  crates/vais-codegen/src/inkwell/types.rs
  crates/vais-codegen/tests/error_path_tests.rs
  crates/vais-types/src/checker_expr/mod.rs
  crates/vais-types/src/types/error.rs
  crates/vais-types/tests/type_error_path_tests.rs
Due: unittests, Core Compiler

feat(phase71): Object Safety Check 5 + Associated type codegen + Transitive instantiation
  ROADMAP.md
  crates/vais-ast/src/traits.rs
  crates/vais-ast/tests/display_and_formatter_tests.rs
  crates/vais-codegen-js/src/items.rs
  crates/vais-codegen/src/generics_helpers.rs
  crates/vais-codegen/src/trait_dispatch.rs
  crates/vais-codegen/src/types.rs
  crates/vais-codegen/src/vtable.rs
  crates/vais-codegen/src/vtable_tests.rs
  crates/vais-macro/src/expansion.rs
  crates/vais-parser/src/item/traits.rs
  crates/vais-types/src/checker_module/traits.rs
  crates/vais-types/src/object_safety.rs
  crates/vais-types/src/traits.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase71_type_system.rs
Due: unittests, Core Compiler, Language Tooling

feat(phase72): Parser ergonomics — field punning, ~var=expr, optional semicolons
  ROADMAP.md
  crates/vais-parser/src/expr/primary.rs
  crates/vais-parser/src/item/declarations.rs
  crates/vais-parser/src/stmt.rs
Due: unittests, Core Compiler

add Benchmark (cargo) benchmark result for b441022453f322aacc738771dae27f745002be24
  dev/bench/data.js
Due: none

feat(phase73): ABI 안정성 — TC 중복 함수 검출 + assert_compiles 0개 달성
  ROADMAP.md
  crates/vais-codegen/src/module_gen/mod.rs
  crates/vais-types/src/checker_module/registration.rs
  crates/vais-types/src/lib.rs
  crates/vaisc/tests/error_scenario_tests.rs
  crates/vaisc/tests/execution_tests.rs
Due: unittests, Core Compiler, Language Tooling

feat(phase74): 표준 라이브러리 확충 — TOML/YAML 파서 + 문자열 19함수
  ROADMAP.md
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase74_stdlib.rs
  std/string.vais
  std/toml.vais
  std/yaml.vais
Due: unittests, Language Tooling

docs(phase75): 온보딩 개선 — 학습 경로 + 실전 튜토리얼 3개 + README 확장
  README.md
  ROADMAP.md
  crates/vais-tutorial/src/lessons.rs
  docs-site/src/SUMMARY.md
  docs-site/src/learning-path.md
  docs-site/src/tutorials/cli-tool.md
  docs-site/src/tutorials/data-pipeline.md
  docs-site/src/tutorials/http-server.md
  examples/tutorial_pipeline.vais
  examples/tutorial_wc.vais
Due: unittests

feat(phase76): 파일럿 프로젝트 검증 + entry 파라미터 버그 수정 + v0.1.0 릴리스
  Cargo.toml
  README.md
  ROADMAP.md
  crates/vais-codegen/src/expr_helpers_misc.rs
  crates/vais-codegen/src/function_gen/codegen.rs
  crates/vais-codegen/src/function_gen/generics.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase76_pilot.rs
  examples/pilot_json2toml.vais
  examples/pilot_rest_api.vais
Due: unittests, Core Compiler, Language Tooling

refactor(codegen): extract sanitize_param_name helper — DRY 8곳→1곳 + Cow<str>
  crates/vais-codegen/src/expr_helpers_misc.rs
  crates/vais-codegen/src/function_gen/codegen.rs
  crates/vais-codegen/src/function_gen/generics.rs
  crates/vais-codegen/src/helpers.rs
Due: unittests, Core Compiler

test(phase77): Codecov 커버리지 강화 — +515 tests, 9파일 6,476줄
  ROADMAP.md
  crates/vais-ast/Cargo.toml
  crates/vais-ast/tests/formatter_coverage_tests.rs
  crates/vais-codegen-js/tests/js_coverage_tests.rs
  crates/vais-codegen/tests/codegen_coverage_tests.rs
  crates/vais-lexer/tests/token_display_tests.rs
  crates/vais-lsp/tests/coverage_tests.rs
  crates/vais-parser/tests/parser_coverage_tests.rs
  crates/vais-types/tests/inference_coverage_tests.rs
  crates/vais-types/tests/scope_coverage_tests.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase77_coverage.rs
Due: unittests, Core Compiler, Language Tooling

feat(phase78): 문자열 타입 fat pointer 전환 — str { i8*, i64 } + extern C ABI 자동 변환
  ROADMAP.md
  crates/vais-codegen/src/cache_tests.rs
  crates/vais-codegen/src/expr_helpers_call/call_gen.rs
  crates/vais-codegen/src/expr_helpers_call/method_call.rs
  crates/vais-codegen/src/expr_helpers_call/print_format.rs
  crates/vais-codegen/src/function_gen/signature.rs
  crates/vais-codegen/src/generate_expr/mod.rs
  crates/vais-codegen/src/generate_expr_call.rs
  crates/vais-codegen/src/inkwell/gen_expr/binary.rs
  crates/vais-codegen/src/inkwell/gen_expr/call.rs
  crates/vais-codegen/src/inkwell/gen_expr/literal.rs
  crates/vais-codegen/src/inkwell/gen_expr/misc.rs
  crates/vais-codegen/src/inkwell/gen_expr/mod.rs
  crates/vais-codegen/src/inkwell/gen_special.rs
  crates/vais-codegen/src/inkwell/generator.rs
  crates/vais-codegen/src/inkwell/types.rs
  crates/vais-codegen/src/string_ops.rs
  crates/vais-codegen/src/types.rs
  crates/vais-types/src/ownership/copy_check.rs
  crates/vais-types/src/ownership/tests.rs
Due: unittests, Core Compiler

feat(phase79): 에러 메시지 위치 정보 — SpannedCodegenError + last_error_span 자동 추적
  ROADMAP.md
  crates/vais-codegen/src/error.rs
  crates/vais-codegen/src/generate_expr/mod.rs
  crates/vais-codegen/src/init.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-codegen/src/stmt.rs
  crates/vais-types/src/checker_module/traits.rs
  crates/vais-types/src/inference.rs
  crates/vais-types/src/ownership/tests.rs
  crates/vais-types/src/traits.rs
  crates/vaisc/src/commands/build/backend.rs
  crates/vaisc/src/commands/build/core.rs
  crates/vaisc/src/commands/compile/mod.rs
  crates/vaisc/src/commands/compile/per_module.rs
  crates/vaisc/src/commands/test.rs
  crates/vaisc/src/error_formatter.rs
  crates/vaisc/src/repl.rs
Due: unittests, Core Compiler, Language Tooling

feat(phase80): 표준 라이브러리 확충 — MessagePack + Protobuf 직렬화
  ROADMAP.md
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase80_serialization.rs
  std/msgpack.vais
  std/protobuf.vais
Due: unittests, Language Tooling

test(phase81): E2E 1,150개 달성 — +85 테스트 + error_report 컬럼 버그 수정
  README.md
  ROADMAP.md
  crates/vais-types/src/error_report.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase81_coverage.rs
Due: unittests, Core Compiler, Language Tooling

feat(phase84): 셀프호스팅 강화 — MIR Lowering/최적화 확장 + E2E 1,204개
  ROADMAP.md
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase84.rs
  examples/phase84_array_basic.vais
  examples/phase84_bitwise_ops.vais
  examples/phase84_loop_break.vais
  examples/phase84_match_enum.vais
  examples/phase84_method_call.vais
  examples/phase84_nested_calls.vais
  examples/phase84_string_ops.vais
  examples/phase84_struct_basic.vais
  examples/selfhost_bitwise.vais
  examples/selfhost_cond.vais
  examples/selfhost_nested.vais
  selfhost/mir_lower.vais
  selfhost/mir_optimizer.vais
Due: unittests, Language Tooling

feat(phase88): 리포지토리 위생 · 타입 안전성 — gitignore/CI 핀/Dependent Types
  .github/workflows/deploy-playground-server.yml
  .gitignore
  ROADMAP.md
  crates/vais-types/src/checker_fn.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase86_dependent_types.rs
  docs/PACKAGE_GUIDELINES.md
  docs/STABILITY.md
Due: unittests, Core Compiler, Language Tooling

feat(phase89): 기술 부채 해소 — Codecov +203/DT 런타임 검증/Unicode \u{} + E2E 1,291개
  ROADMAP.md
  crates/vais-codegen/src/contracts/helpers.rs
  crates/vais-codegen/src/function_gen/codegen.rs
  crates/vais-codegen/src/function_gen/dependent_checks.rs
  crates/vais-codegen/src/function_gen/mod.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-codegen/src/types.rs
  crates/vais-lexer/src/lib.rs
  crates/vais-lsp/src/type_resolve.rs
  crates/vais-registry-server/src/handlers/packages.rs
  crates/vais-registry-server/src/storage.rs
  crates/vais-types/src/checker_expr/calls.rs
  crates/vais-types/src/checker_expr/stmts.rs
  crates/vais-types/src/resolve.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase89_dependent_runtime.rs
  crates/vaisc/tests/e2e/phase89_unicode.rs
  std/string.vais
Due: unittests, Core Compiler, Language Tooling, Ecosystem Services

feat(phase90): 컴파일러 최적화 강화 + E2E 1,509개 + 셀프호스팅 MIR 확장
  ROADMAP.md
  crates/vais-codegen/src/optimize/inlining.rs
  crates/vais-codegen/src/optimize/ir_passes/constant_folding.rs
  crates/vais-codegen/src/optimize/ir_passes/cse.rs
  crates/vais-codegen/src/optimize/ir_passes/dead_code.rs
  crates/vais-codegen/src/optimize/ir_passes/loop_opt.rs
  crates/vais-codegen/src/optimize/ir_passes/mod.rs
  crates/vais-codegen/src/optimize/mod.rs
  crates/vais-mir/src/emit_llvm.rs
  crates/vais-mir/src/optimize.rs
  crates/vais-mir/src/tests.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase90_arithmetic.rs
  crates/vaisc/tests/e2e/phase90_bitwise.rs
  crates/vaisc/tests/e2e/phase90_closures.rs
  crates/vaisc/tests/e2e/phase90_control_flow.rs
  crates/vaisc/tests/e2e/phase90_enums.rs
  crates/vaisc/tests/e2e/phase90_functions.rs
  crates/vaisc/tests/e2e/phase90_recursion.rs
  crates/vaisc/tests/e2e/phase90_strings.rs
  crates/vaisc/tests/e2e/phase90_structs.rs
  crates/vaisc/tests/e2e/phase90_variables.rs
  selfhost/constants.vais
  selfhost/lexer_s1.vais
  selfhost/mir_optimizer.vais
Due: unittests, Core Compiler, Language Tooling

feat(phase91): 기술 부채 해소 + 언어 기능 완성도 — assert_compiles 0/커버리지 +406/Method mono/Lifetime 검증
  ROADMAP.md
  crates/vais-codegen-js/tests/js_coverage_tests2.rs
  crates/vais-codegen/src/inkwell/generator.rs
  crates/vais-codegen/src/module_gen/instantiations.rs
  crates/vais-codegen/tests/codegen_coverage_tests2.rs
  crates/vais-lsp/src/lib.rs
  crates/vais-lsp/tests/diagnostics_coverage_tests.rs
  crates/vais-lsp/tests/semantic_coverage_tests.rs
  crates/vais-mir/tests/emit_llvm_coverage_tests.rs
  crates/vais-mir/tests/optimize_coverage_tests.rs
  crates/vais-mir/tests/types_coverage_tests.rs
  crates/vais-types/src/checker_fn.rs
  crates/vais-types/src/lifetime.rs
  crates/vais-types/tests/checker_expr_coverage_tests.rs
  crates/vais-types/tests/checker_fn_coverage_tests.rs
  crates/vais-types/tests/free_vars_scope_tests.rs
  crates/vais-types/tests/resolve_coverage_tests.rs
  crates/vais-types/tests/traits_coverage_tests.rs
  crates/vaisc/tests/e2e/helpers.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase77_coverage.rs
  crates/vaisc/tests/e2e/phase90_structs.rs
  crates/vaisc/tests/e2e/phase91_lifetime.rs
  crates/vaisc/tests/e2e/phase91_monomorphization.rs
Due: unittests, Core Compiler, Language Tooling

fix(phase92-pre): playground 예제 에러 수정 — 11개 예제 재작성/수정
  ROADMAP.md
  playground/src/examples.js
Due: none

docs: team-review 발견사항 19건 ROADMAP 기록
  ROADMAP.md
Due: none

fix: team-review 19건 발견사항 해소 — 보안/성능/정확성/아키텍처
  .github/workflows/publish.yml
  ROADMAP.md
  benches/regression_check.sh
  crates/vais-codegen/src/error.rs
  crates/vais-codegen/src/expr_helpers_call/method_call.rs
  crates/vais-codegen/src/function_gen/dependent_checks.rs
  crates/vais-codegen/src/function_gen/generics.rs
  crates/vais-codegen/src/function_gen/runtime.rs
  crates/vais-codegen/src/helpers.rs
  crates/vais-codegen/src/optimize/ir_passes/cse.rs
  crates/vais-codegen/src/optimize/ir_passes/dead_code.rs
  crates/vais-codegen/src/optimize/ir_passes/loop_opt.rs
  crates/vais-codegen/src/string_ops.rs
  crates/vais-lsp/src/type_resolve.rs
  crates/vais-types/src/checker_fn.rs
  selfhost/mir_optimizer.vais
  std/toml.vais
Due: unittests, Core Compiler, Language Tooling

feat(phase94): 생태계 확장 — 레지스트리/자동수정/정적분석/빌드 시스템
  ROADMAP.md
  crates/vais-registry-server/Cargo.toml
  crates/vais-registry-server/src/lib.rs
  crates/vais-registry-server/src/semver_resolve.rs
  crates/vais-registry-server/src/signing.rs
  crates/vais-security/src/lib.rs
  crates/vais-security/src/lint.rs
  crates/vaisc/Cargo.toml
  crates/vaisc/src/commands/build/cache.rs
  crates/vaisc/src/commands/build/mod.rs
  crates/vaisc/src/commands/build/scripts.rs
  crates/vaisc/src/commands/fix.rs
  crates/vaisc/src/commands/mod.rs
  crates/vaisc/src/commands/simple.rs
  crates/vaisc/src/commands/test.rs
  crates/vaisc/src/main.rs
  crates/vaisc/src/package/mod.rs
  crates/vaisc/src/package/resolution.rs
  crates/vaisc/src/package/semver.rs
Due: unittests, Language Tooling, Infrastructure, Ecosystem Services

fix: team-review 10건 발견사항 해소 — 보안/성능/정확성/아키텍처
  ROADMAP.md
  crates/vais-registry-server/src/semver_resolve.rs
  crates/vaisc/src/commands/build/cache.rs
  crates/vaisc/src/commands/build/scripts.rs
  crates/vaisc/src/commands/fix.rs
  crates/vaisc/src/commands/test.rs
  crates/vaisc/src/package/resolution.rs
  crates/vaisc/src/package/semver.rs
Due: unittests, Language Tooling, Ecosystem Services

feat(phase95): 컴파일러 검증 강화 & E2E 1,620 달성
  CLAUDE.md
  README.md
  ROADMAP.md
  crates/vaisc/src/commands/build/backend.rs
  crates/vaisc/src/commands/build/core.rs
  crates/vaisc/src/commands/compile/per_module.rs
  crates/vaisc/src/commands/test.rs
  crates/vaisc/src/repl.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase91_lifetime.rs
  crates/vaisc/tests/e2e/phase95_coverage.rs
Due: unittests, Language Tooling

feat(phase92): IR 검증 모듈 추가 — verify_text_ir 구조적 검사
  crates/vais-codegen/src/ir_verify.rs
Due: unittests, Core Compiler

fix: team-review 7건 발견사항 해소 — IR 검증 정확성/아키텍처 개선
  ROADMAP.md
  crates/vais-codegen/src/ir_verify.rs
  crates/vaisc/src/commands/build/backend.rs
  crates/vaisc/src/commands/build/core.rs
  crates/vaisc/src/commands/compile/per_module.rs
  crates/vaisc/src/commands/test.rs
  crates/vaisc/src/repl.rs
  crates/vaisc/src/utils.rs
Due: unittests, Core Compiler, Language Tooling

fix(phase96): 기술 부채 해소 — 안정성/보안/최신화/LSP 모듈화
  .github/workflows/ci.yml
  ROADMAP.md
  crates/vais-codegen/src/advanced_opt/alias_analysis.rs
  crates/vais-codegen/src/advanced_opt/bounds_check_elim.rs
  crates/vais-codegen/src/ir_verify.rs
  crates/vais-dynload/Cargo.toml
  crates/vais-dynload/src/wasm_sandbox.rs
  crates/vais-jit/Cargo.toml
  crates/vais-lsp/src/backend/builtins.rs
  crates/vais-lsp/src/backend/mod.rs
  crates/vais-lsp/src/backend/types.rs
  crates/vais-lsp/src/type_resolve/helpers.rs
  crates/vais-lsp/src/type_resolve/mod.rs
  crates/vais-plugin/Cargo.toml
  crates/vais-registry-server/Cargo.toml
  crates/vais-types/src/checker_module/mod.rs
  crates/vais-types/src/comptime.rs
  crates/vaisc/Cargo.toml
  crates/vaisc/src/error_formatter.rs
  crates/vaisc/src/incremental/graph.rs
  crates/vaisc/src/package/resolution.rs
  crates/vaisc/src/package/semver.rs
  crates/vaisc/tests/registry_e2e_tests.rs
Due: unittests, Core Compiler, Language Tooling, Advanced Features, Extensibility, Ecosystem Services
