Repository vaislang/vais: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Compiler, Language Tooling, Advanced Features, Extensibility, Infrastructure, Ecosystem Services

docs(roadmap): Phase 194 complete — final report + close-out (Phase 194)
  ROADMAP.md
  docs/phase194/final_report.md
Due: none

docs(roadmap): Phase 195 plan — P194-4 gate surfaced 14 regressions
  ROADMAP.md
Due: none

test(examples_fresh_rebuild): propagate VAIS_STD_PATH to subprocess (Phase 195 P195-2)
  crates/vaisc/tests/examples_fresh_rebuild.rs
Due: unittests, Language Tooling

docs(phase195): Recon-E findings + scope expansion to 29 (Phase 195)
  ROADMAP.md
  docs/phase195/recon_findings.md
Due: none

chore(examples): P001 parser migrations (Phase 195 P195-1)
  examples/async_reactor_test.vais
  examples/spawn_test.vais
  examples/template_example.vais
  examples/tutorial_cli_framework.vais
  examples/tutorial_json_parser.vais
  examples/tutorial_pipeline.vais
  examples/tutorial_wc.vais
  examples/wasm_api_client.vais
  examples/wasm_calculator.vais
  examples/wasm_todo_app.vais
Due: none

feat(codegen/inkwell): emit and reference user globals (Phase 195 P195-3)
  crates/vais-codegen/src/inkwell/gen_advanced.rs
  crates/vais-codegen/src/inkwell/gen_declaration.rs
  crates/vais-codegen/src/inkwell/gen_expr/var.rs
  crates/vais-codegen/src/inkwell/generator.rs
Due: unittests, Core Compiler

fix(i18n)+chore(examples): add E034 translations + mark panicking examples partial (Phase 195 P195-3)
  crates/vais-i18n/locales/en.json
  crates/vais-i18n/locales/ja.json
  crates/vais-i18n/locales/ko.json
  crates/vais-i18n/locales/zh.json
  examples/assert_violation_test.vais
  examples/formal_verification_test.vais
  examples/void_phi_assert.vais
Due: unittests, Infrastructure

chore(examples): update tutorial_pipeline+tutorial_wc to current stdlib byte-ops (Phase 195 P195-3 E006)
  examples/tutorial_pipeline.vais
  examples/tutorial_wc.vais
Due: none

docs(roadmap): Phase 195 P195-1~3 progress snapshot (Phase 195)
  ROADMAP.md
Due: none

fix(codegen/inkwell)+chore(examples): union field registration + slice/compress fixes (Phase 195 P195-3)
  crates/vais-codegen/src/inkwell/gen_declaration.rs
  examples/compress_example.vais
  examples/slice_test.vais
Due: unittests, Core Compiler

test(examples_fresh_rebuild): populate SKIP_LIST with Phase-196 deferrals (Phase 195 P195-3)
  crates/vaisc/tests/examples_fresh_rebuild.rs
Due: unittests, Language Tooling

test: Phase 193 smoke S2 + pre-existing test triage (Phase 195 P195-4)
  crates/vais-types/tests/builtins_coverage_tests.rs
  crates/vaisc/tests/selfhost_lexer_tests.rs
  examples/phase193_smoke/S2_vec_of_struct.vais
Due: unittests, Core Compiler, Language Tooling

docs(phase195): final report + close-out (Phase 195 complete)
  ROADMAP.md
  docs/phase195/final_report.md
Due: none

docs(roadmap): Phase 196 plan — 16 deferrals to full language stability
  ROADMAP.md
Due: none

docs(phase196): Recon-F lean measurement results (Phase 196)
  docs/phase196/recon_findings.md
Due: none

fix(codegen/inkwell): str-to-int cast extracts fat-ptr data (Phase 196 P196-A1)
  crates/vais-codegen/src/inkwell/gen_expr/misc.rs
  crates/vaisc/tests/examples_fresh_rebuild.rs
Due: unittests, Core Compiler, Language Tooling

fix(vaisc+std): [INST] log behind env gate + StringMap generic literal (Phase 196 P196-B2)
  crates/vaisc/src/commands/build/parallel.rs
  crates/vaisc/tests/examples_fresh_rebuild.rs
  std/stringmap.vais
Due: unittests, Language Tooling

fix(codegen/inkwell): decode primitive enum variant payload back to declared type (Phase 196 P196-A2)
  crates/vais-codegen/src/inkwell/gen_declaration.rs
  crates/vais-codegen/src/inkwell/gen_match.rs
  crates/vais-codegen/src/inkwell/generator.rs
Due: unittests, Core Compiler

fix(codegen/inkwell): register multi-field variant payload type up-front (Phase 196 P196-B1)
  crates/vais-codegen/src/inkwell/gen_declaration.rs
  crates/vaisc/tests/examples_fresh_rebuild.rs
Due: unittests, Core Compiler, Language Tooling

chore(examples)+test: archive conceptual/removed-keyword fixtures + std test_simple stub (Phase 196 P196-E)
  crates/vaisc/tests/examples_fresh_rebuild.rs
  examples/archive/README.md
  examples/archive/lazy_func_test.vais
  examples/archive/lazy_simple.vais
  examples/archive/lazy_test.vais
  examples/archive/simd_distance.vais
  examples/archive/simd_test.vais
  examples/archive/tcp_10k_bench.vais
  examples/bench_fibonacci
  examples/closure_counter
  examples/intentional_errors/README.md
  examples/intentional_errors/range_type_error_test.vais
  examples/phase193_smoke/S1_struct_with_str
  examples/phase193_smoke/S4_async_struct
  std/test_simple.vais
Due: unittests, Language Tooling

fix(types+codegen): ConstArray indexable + resolve size; archive 2 examples (Phase 196 P196-C1)
  crates/vais-codegen/src/inkwell/gen_types.rs
  crates/vais-types/src/checker_expr/collections.rs
  crates/vaisc/tests/examples_fresh_rebuild.rs
  examples/archive/README.md
  examples/archive/async_reactor_test.vais
  examples/archive/wasm_todo_app.vais
Due: unittests, Core Compiler, Language Tooling

test(selfhost): compile token module via subprocess so U-imports resolve (Phase 196 P196-C2)
  crates/vaisc/tests/selfhost_lexer_tests.rs
Due: unittests, Language Tooling

fix(types)+docs(language): exit is not a panic + removed-keyword policy (Phase 196 P196-D)
  CLAUDE.md
  crates/vais-types/src/totality.rs
  crates/vais-types/tests/builtins_coverage_tests.rs
  crates/vais-types/tests/checker_expr_coverage_tests2.rs
  crates/vais-types/tests/phase156_types_coverage.rs
  docs/language/removed_keywords.md
Due: unittests, Core Compiler

docs(phase196): final report + close-out (Phase 196 complete)
  ROADMAP.md
  crates/vais-codegen/src/tests/alloc_tests.rs
  docs/phase196/final_report.md
Due: unittests, Core Compiler

test(phase115_wasm): point file-existence test at archived wasm_todo_app (Phase 196 follow-up)
  crates/vaisc/tests/e2e/phase115_wasm.rs
Due: unittests, Language Tooling

docs(roadmap): Phase 197 plan — audit 3 downstream packages (vaisdb/vais-server/vais-web)
  ROADMAP.md
Due: none

docs(phase197): Recon-G — 3 package layouts (Phase 197)
  docs/phase197/package_layouts.md
Due: none

docs(phase197): 3-package audit reports (Phase 197 P197-V/S/W)
  docs/phase197/vais-server_report.md
  docs/phase197/vais-web_report.md
  docs/phase197/vaisdb_report.md
Due: none

docs(phase197): final report + close-out + Phase 198 plan (Phase 197 complete)
  ROADMAP.md
  docs/phase197/consolidated.md
  docs/phase197/final_report.md
Due: none

docs(roadmap): Phase 198 auto start — 8 buckets for downstream regression cleanup
  ROADMAP.md
Due: none

docs(phase198): Bucket 1 spot-check — Phase 196 has no compiler regressions (Phase 198 B1+B6)
  docs/phase198/spot_check.md
Due: none

feat(std/error): add shared VaisError struct (Phase 198 Bucket 2)
  std/error.vais
Due: none

docs(phase198): Bucket 3 deferred to Phase 199 — parser migration scope too large
  docs/phase198/bucket3_parser_migration.md
Due: none

docs(phase198): Bucket 4 stdlib mapping — 7 mechanical fixes, 60 deep cleanup deferred (Phase 198 B4)
  docs/phase198/b4_quick_index.txt
  docs/phase198/bucket4_stdlib_mapping.md
Due: none

docs(phase198): final report + Phase 199 seed — compiler GREEN, vaisdb migration deferred
  ROADMAP.md
  docs/phase198/final_report.md
Due: none

docs(roadmap): Phase 199~203 plan — vaisdb full migration (Tier 1 start)
  ROADMAP.md
Due: none

add Benchmark (cargo) benchmark result for ec888a32edc0a9e5ad1134f08cad1341a745be10
  dev/bench/data.js
Due: none

docs(phase199): Recon-H — vaisdb 47 P001 정확 분류 (Opus direct)
  ROADMAP.md
  docs/phase199/recon_h.md
Due: none

docs(phase199): A1+A2+A3+A4 완료 — vaisdb 47 → 39 P001 (8 해소)
  ROADMAP.md
Due: none

add Benchmark (cargo) benchmark result for 23f3df9fab3178874b388fc860dcff518958e69c
  dev/bench/data.js
Due: none

Path conditions:
  unittests: any of: crates/, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Core Compiler: any of: crates/vais-lexer/**, crates/vais-parser/**, crates/vais-ast/**, crates/vais-types/**, crates/vais-codegen/**, crates/vais-codegen-js/**, crates/vais-mir/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Language Tooling: any of: crates/vais-lsp/**, crates/vaisc/**, crates/vais-bindgen/**, crates/vais-macro/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Advanced Features: any of: crates/vais-jit/**, crates/vais-gc/**, crates/vais-gpu/**, crates/vais-query/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Extensibility: any of: crates/vais-plugin/**, crates/vais-dynload/**, crates/vais-hotreload/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Infrastructure: any of: crates/vais-i18n/**, crates/vais-profiler/**, crates/vais-security/**, crates/vais-supply-chain/**, crates/vais-testgen/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Ecosystem Services: any of: crates/vais-registry-server/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
