Repository vaislang/vais: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Compiler, Language Tooling, Advanced Features, Experimental Features, Infrastructure

codecov.yml:

# Codecov configuration
# Documentation: https://docs.codecov.io/docs/codecov-yaml

# Coverage target configuration
coverage:
  precision: 2
  round: down
  range: 70..100

  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error

    patch:
      default:
        target: 75%
        threshold: 2%

    changes:
      default:
        if_ci_failed: error

# Comment on pull requests with coverage information
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore paths from coverage
ignore:
  - "benches/**/*"
  - "examples/**/*"
  - "tests/**/*"
  - "target/**/*"
  - "scripts/**/*"

# Flag configuration for different test types
flags:
  unittests:
    paths:
      - crates/
    carryforward: true

# Component-based coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        target: 80%
  individual_components:
    # Core compiler components
    - component_id: core
      name: Core Compiler
      paths:
        - crates/vais-lexer/**
        - crates/vais-parser/**
        - crates/vais-ast/**
        - crates/vais-types/**
        - crates/vais-codegen/**
      statuses:
        - type: project
          target: 90%

    # Language tooling
    - component_id: tooling
      name: Language Tooling
      paths:
        - crates/vais-lsp/**
        - crates/vais-dap/**
        - crates/vaisc/**
      statuses:
        - type: project
          target: 85%

    # Advanced features
    - component_id: advanced
      name: Advanced Features
      paths:
        - crates/vais-jit/**
        - crates/vais-gc/**
        - crates/vais-mir/**
        - crates/vais-query/**
      statuses:
        - type: project
          target: 80%

    # Experimental features
    - component_id: experimental
      name: Experimental Features
      paths:
        - crates/vais-gpu/**
        - crates/vais-hotreload/**
        - crates/vais-plugin/**
      statuses:
        - type: project
          target: 70%

    # Infrastructure
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - crates/vais-i18n/**
        - crates/vais-profiler/**
        - crates/vais-security/**
        - crates/vais-supply-chain/**
      statuses:
        - type: project
          target: 75%

fix: make kqueue helpers macOS-only to fix Linux CI
  crates/vais-codegen/src/builtins.rs
  crates/vais-codegen/src/function_gen.rs
  crates/vais-codegen/src/parallel.rs
  crates/vaisc/src/main.rs
Due: unittests, Core Compiler, Language Tooling

test: ignore platform-specific tests on Linux CI
  crates/vaisc/tests/e2e_tests.rs
Due: unittests, Language Tooling

test: ignore more platform-specific tests on Linux CI
  crates/vaisc/tests/e2e_tests.rs
Due: unittests, Language Tooling

fix: CI failures - formatting and i18n test
  crates/vais-i18n/src/lib.rs
  crates/vaisc/src/main.rs
  crates/vaisc/tests/e2e_tests.rs
Due: unittests, Language Tooling, Infrastructure

docs: mark CI recovery as complete in Phase 37 Stage 1
  ROADMAP.md
Due: none

fix: add write permissions to benchmark workflow
  .github/workflows/bench.yml
Due: none

add Benchmark (cargo) benchmark result for b0b8b5e7663629b3075bd03e597d5d612a96370c
  dev/bench/data.js
  dev/bench/index.html
Due: none

feat: implement smart C runtime linking for vaisc build
  ROADMAP.md
  crates/vaisc/src/main.rs
Due: unittests, Language Tooling

add Benchmark (cargo) benchmark result for aa7d3dfa490386017a5ffb2616bdcfd084d0f737
  dev/bench/data.js
Due: none

chore: update outdated dependencies to latest compatible versions
  ROADMAP.md
  benches/Cargo.toml
  crates/vais-bindgen/Cargo.toml
  crates/vais-dap/Cargo.toml
  crates/vais-dynload/Cargo.toml
  crates/vais-gpu/Cargo.toml
  crates/vais-hotreload/Cargo.toml
  crates/vais-lsp/Cargo.toml
  crates/vais-macro/Cargo.toml
  crates/vais-node/Cargo.toml
  crates/vais-plugin/Cargo.toml
  crates/vais-profiler/Cargo.toml
  crates/vais-python/Cargo.toml
  crates/vais-registry-server/Cargo.toml
  crates/vais-tutorial/Cargo.toml
  crates/vaisc/Cargo.toml
Due: unittests, Language Tooling, Experimental Features, Infrastructure

add Benchmark (cargo) benchmark result for ef8504ed4a04e718b11b9a7dd3840386d9cf8e24
  dev/bench/data.js
Due: none

feat: prepare registry server for Fly.io deployment
  ROADMAP.md
  crates/vais-registry-server/Dockerfile.fly
  crates/vais-registry-server/src/config.rs
  crates/vais-registry-server/src/router.rs
  fly.toml
  scripts/fly-deploy.sh
  scripts/publish-packages.sh
Due: unittests

add Benchmark (cargo) benchmark result for 1b6b6e9e708ecd378dbf1e626897bc86a8fb9359
  dev/bench/data.js
Due: none

feat: deploy vais-registry to Fly.io production
  .gitignore
  ROADMAP.md
  crates/vais-registry-server/Dockerfile.fly
Due: unittests

add Benchmark (cargo) benchmark result for 8b2278866195ad1dc30f0efe2690637663f328dc
  dev/bench/data.js
Due: none

feat(selfhost): add keywords and escape decoding to selfhost lexer
  ROADMAP.md
  selfhost/lexer.vais
  selfhost/token.vais
Due: none

add Benchmark (cargo) benchmark result for ff197d8cf5db860094a6d1f0438c311d60412e1b
  dev/bench/data.js
Due: none

feat(selfhost): add lexer token equivalence verification tests
  ROADMAP.md
  crates/vaisc/Cargo.toml
  crates/vaisc/tests/selfhost_lexer_tests.rs
Due: unittests, Language Tooling

add Benchmark (cargo) benchmark result for 7e5371267f9b3bad4a39c120a76f99cdd9ce00cd
  dev/bench/data.js
Due: none

feat(selfhost): achieve 100% token coverage for all examples
  ROADMAP.md
  crates/vaisc/tests/selfhost_lexer_tests.rs
  selfhost/lexer.vais
  selfhost/token.vais
Due: unittests, Language Tooling

add Benchmark (cargo) benchmark result for 536f258a97f3ff4ae2b1531e5e3de2c1a124d31d
  dev/bench/data.js
Due: none

docs(roadmap): mark Phase 37 Stage 5 selfhost 75% as completed
  ROADMAP.md
Due: none

add Benchmark (cargo) benchmark result for 57e62479d32bf8df3f6fd4edcd6a8cc4cd030eba
  dev/bench/data.js
Due: none

docs(roadmap): add Phase 38 selfhosting 100% roadmap
  ROADMAP.md
Due: none

add Benchmark (cargo) benchmark result for cb6fc733d0355fc339a77eab95addef47d3c9c57
  dev/bench/data.js
Due: none

feat(selfhost): add generics parsing to selfhost parser
  ROADMAP.md
  selfhost/ROADMAP.md
  selfhost/parser.vais
  selfhost/parser_s1.vais
Due: none

add Benchmark (cargo) benchmark result for 519784e45e53a25d2cba5e46034eebce3ab9ea83
  dev/bench/data.js
Due: none

feat(selfhost): add trait system parsing to selfhost parser
  ROADMAP.md
  selfhost/parser.vais
Due: none

add Benchmark (cargo) benchmark result for 4a476c629cd204862783d6437b7949b8a7ad585e
  dev/bench/data.js
Due: none

feat(selfhost): add complete pattern matching parsing
  ROADMAP.md
  selfhost/constants.vais
  selfhost/lexer_s1.vais
  selfhost/parser.vais
  selfhost/parser_s1.vais
Due: none

add Benchmark (cargo) benchmark result for 3ef9e2a422402a30a5e40809634d164d14868467
  dev/bench/data.js
Due: none

feat(selfhost): add closure, attribute, and async/await parsing
  ROADMAP.md
  selfhost/ast.vais
  selfhost/parser.vais
  selfhost/test_new_features.vais
Due: none

feat(selfhost): complete AST with trait bounds, where clause, and utilities
  ROADMAP.md
  selfhost/ast.vais
Due: none

add Benchmark (cargo) benchmark result for 053511d797f7552aeb44506ec9d7bf3a55883833
  dev/bench/data.js
Due: none

add Benchmark (cargo) benchmark result for c4710095099acd20b8cc5b9cc1688592b5a3f20f
  dev/bench/data.js
Due: none

feat(selfhost): add bidirectional type inference to type checker
  ROADMAP.md
  selfhost/type_checker.vais
Due: none

add Benchmark (cargo) benchmark result for 09d698dc497b0b3ac308887da6dcbf2fff6b241b
  dev/bench/data.js
Due: none

fix(inkwell): resolve struct type inference for selfhost compilation
  ROADMAP.md
  crates/vais-codegen/src/inkwell/generator.rs
Due: unittests, Core Compiler

add Benchmark (cargo) benchmark result for 93e93a7c29bf450ac4e71e8cd948d3b1c20db33e
  dev/bench/data.js
Due: none

feat(selfhost): add generic type resolution to type checker
  selfhost/ROADMAP.md
  selfhost/type_checker.vais
Due: none
