Repository vaislang/vais: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Compiler, Language Tooling, Advanced Features, Extensibility, Infrastructure, Ecosystem Services

codecov.yml:

# Codecov configuration
# Documentation: https://docs.codecov.io/docs/codecov-yaml

# Coverage target configuration
coverage:
  precision: 2
  round: down
  range: 70..100

  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error

    patch:
      default:
        target: 75%
        threshold: 2%

    changes:
      default:
        if_ci_failed: error

# Comment on pull requests with coverage information
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore paths from coverage
ignore:
  - "benches/**/*"
  - "examples/**/*"
  - "tests/**/*"
  - "target/**/*"
  - "scripts/**/*"

# Flag configuration for different test types
flags:
  unittests:
    paths:
      - crates/
    carryforward: true

# Component-based coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        target: 80%
  individual_components:
    # Core compiler components
    - component_id: core
      name: Core Compiler
      paths:
        - crates/vais-lexer/**
        - crates/vais-parser/**
        - crates/vais-ast/**
        - crates/vais-types/**
        - crates/vais-codegen/**
        - crates/vais-codegen-js/**
        - crates/vais-mir/**
      statuses:
        - type: project
          target: 85%

    # Language tooling
    - component_id: tooling
      name: Language Tooling
      paths:
        - crates/vais-lsp/**
        - crates/vais-dap/**
        - crates/vaisc/**
        - crates/vais-bindgen/**
        - crates/vais-macro/**
      statuses:
        - type: project
          target: 80%

    # Runtime & advanced features
    - component_id: advanced
      name: Advanced Features
      paths:
        - crates/vais-jit/**
        - crates/vais-gc/**
        - crates/vais-gpu/**
        - crates/vais-query/**
      statuses:
        - type: project
          target: 75%

    # Plugin & dynamic loading
    - component_id: extensibility
      name: Extensibility
      paths:
        - crates/vais-plugin/**
        - crates/vais-dynload/**
        - crates/vais-hotreload/**
      statuses:
        - type: project
          target: 70%

    # Infrastructure & ecosystem
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - crates/vais-i18n/**
        - crates/vais-profiler/**
        - crates/vais-security/**
        - crates/vais-supply-chain/**
        - crates/vais-testgen/**
      statuses:
        - type: project
          target: 75%

    # Ecosystem services
    - component_id: services
      name: Ecosystem Services
      paths:
        - crates/vais-registry-server/**
        - crates/vais-playground-server/**
      statuses:
        - type: project
          target: 65%

refactor: large file module split R6 — formatter/expr/function_gen
  ROADMAP.md
  crates/vais-ast/src/formatter.rs
  crates/vais-ast/src/formatter/declarations.rs
  crates/vais-ast/src/formatter/expressions.rs
  crates/vais-ast/src/formatter/macros.rs
  crates/vais-ast/src/formatter/mod.rs
  crates/vais-ast/src/formatter/patterns.rs
  crates/vais-ast/src/formatter/statements.rs
  crates/vais-ast/src/formatter/types.rs
  crates/vais-codegen/src/function_gen.rs
  crates/vais-codegen/src/function_gen/async_gen.rs
  crates/vais-codegen/src/function_gen/codegen.rs
  crates/vais-codegen/src/function_gen/generics.rs
  crates/vais-codegen/src/function_gen/mod.rs
  crates/vais-codegen/src/function_gen/runtime.rs
  crates/vais-codegen/src/function_gen/signature.rs
  crates/vais-parser/src/expr/mod.rs
  crates/vais-parser/src/expr/postfix.rs
  crates/vais-parser/src/expr/precedence.rs
  crates/vais-parser/src/expr/primary.rs
  crates/vais-parser/src/expr/unary.rs
Due: unittests, Core Compiler

add Benchmark (cargo) benchmark result for c428e1fb41e3dfe60c70ab279ca3db088684d957
  dev/bench/data.js
Due: none

feat(types): dependent type compile-time predicate validation & review fixes
  ROADMAP.md
  crates/vais-codegen/src/diagnostics.rs
  crates/vais-codegen/src/inkwell/types.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-codegen/src/types.rs
  crates/vais-types/src/checker_expr/calls.rs
  crates/vais-types/src/checker_expr/stmts.rs
  crates/vais-types/src/lib.rs
  crates/vais-types/src/resolve.rs
  crates/vaisc/tests/integration_tests.rs
Due: unittests, Core Compiler, Language Tooling

add Benchmark (cargo) benchmark result for 2f5a8bd85522ecdcb925aeb8414bcaadf53b87a5
  dev/bench/data.js
Due: none

perf: hot-path optimization — Vec::with_capacity & apply_substitutions early-exit
  ROADMAP.md
  benches/BASELINE.md
  crates/vais-codegen/src/control_flow.rs
  crates/vais-codegen/src/expr_helpers_call.rs
  crates/vais-codegen/src/generate_expr.rs
  crates/vais-types/src/inference.rs
Due: unittests, Core Compiler

add Benchmark (cargo) benchmark result for cad87e5c9f6f5185cecbdb66f1dba9b0f9da889d
  dev/bench/data.js
Due: none

test(e2e): add 54 Phase 25 tests — E2E 647→701 (target 700+ met)
  ROADMAP.md
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase45.rs
  crates/vaisc/tests/e2e/phase45_advanced.rs
  crates/vaisc/tests/e2e/phase45_types.rs
Due: unittests, Language Tooling

add Benchmark (cargo) benchmark result for 91d010035cb130bfddd55131793b9ca214b0fa9c
  dev/bench/data.js
Due: none

refactor(codegen): indirect call support, pattern matching inference & error cleanup
  ROADMAP.md
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/generate_expr.rs
  crates/vais-codegen/src/inkwell/gen_expr/call.rs
  crates/vais-codegen/src/inkwell/gen_match.rs
  crates/vais-codegen/src/inkwell/gen_special.rs
  crates/vais-codegen/src/string_ops.rs
Due: unittests, Core Compiler

feat(types): type system soundness — i64 fallback elimination & pre-codegen validation
  ROADMAP.md
  crates/vais-codegen/src/inkwell/types.rs
  crates/vais-codegen/src/types.rs
  crates/vais-types/src/checker_fn.rs
  crates/vaisc/tests/e2e/phase45_types.rs
Due: unittests, Core Compiler, Language Tooling

refactor: dead_code cleanup, checker_module split & selfhost test integration (Phase 28-29)
  ROADMAP.md
  crates/vais-codegen/src/control_flow.rs
  crates/vais-codegen/src/diagnostics.rs
  crates/vais-codegen/src/expr.rs
  crates/vais-codegen/src/function_gen/codegen.rs
  crates/vais-codegen/src/inkwell/gen_expr/literal.rs
  crates/vais-codegen/src/inkwell/gen_match.rs
  crates/vais-codegen/src/inkwell/gen_types.rs
  crates/vais-codegen/src/inkwell/generator.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-codegen/src/types.rs
  crates/vais-types/src/checker_fn.rs
  crates/vais-types/src/checker_module.rs
  crates/vais-types/src/checker_module/mod.rs
  crates/vais-types/src/checker_module/registration.rs
  crates/vais-types/src/checker_module/traits.rs
  crates/vais-types/src/checker_module/validation.rs
  crates/vais-types/src/inference.rs
  crates/vais-types/src/types/defs.rs
  crates/vaisc/src/commands/compile/mod.rs
  crates/vaisc/src/commands/compile/parallel.rs
  crates/vaisc/src/commands/compile/pipeline.rs
  crates/vaisc/src/doc_gen.rs
  crates/vaisc/src/error_formatter.rs
  crates/vaisc/src/package/resolution.rs
  crates/vaisc/src/package/workspace.rs
  crates/vaisc/tests/bootstrap_tests.rs
  crates/vaisc/tests/selfhost_clang_tests.rs
  crates/vaisc/tests/selfhost_mir_tests.rs
Due: unittests, Core Compiler, Language Tooling

feat(codegen): generic monomorphization — Inkwell 3-pass pipeline & substitution sync (Phase 30)
  ROADMAP.md
  crates/vais-codegen/src/inkwell/gen_function.rs
  crates/vais-codegen/src/inkwell/gen_special.rs
  crates/vais-codegen/src/inkwell/gen_types.rs
  crates/vais-codegen/src/inkwell/generator.rs
  crates/vais-codegen/src/inkwell/types.rs
  crates/vais-codegen/src/types.rs
  crates/vaisc/src/commands/build/core.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase30.rs
Due: unittests, Core Compiler, Language Tooling

refactor(codegen): Phase 30a review fixes — pub(crate) visibility, clone optimization & transitive instantiation docs
  ROADMAP.md
  crates/vais-codegen/src/inkwell/gen_function.rs
  crates/vais-codegen/src/inkwell/gen_types.rs
  crates/vais-codegen/src/inkwell/generator.rs
  crates/vais-codegen/src/inkwell/mod.rs
  crates/vais-codegen/src/inkwell/types.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-types/src/inference.rs
  crates/vais-types/src/lib.rs
  crates/vaisc/src/commands/build/backend.rs
  crates/vaisc/src/commands/build/core.rs
  crates/vaisc/src/commands/test.rs
  crates/vaisc/tests/integration_tests.rs
Due: unittests, Core Compiler, Language Tooling

refactor: large file module split R7 — tiered.rs, item.rs, doc_gen.rs (Phase 31)
  ROADMAP.md
  crates/vais-jit/src/tiered.rs
  crates/vais-jit/src/tiered/interpreter.rs
  crates/vais-jit/src/tiered/jit.rs
  crates/vais-jit/src/tiered/mod.rs
  crates/vais-jit/src/tiered/tests.rs
  crates/vais-jit/src/tiered/value.rs
  crates/vais-parser/src/item.rs
  crates/vais-parser/src/item/declarations.rs
  crates/vais-parser/src/item/macros.rs
  crates/vais-parser/src/item/mod.rs
  crates/vais-parser/src/item/traits.rs
  crates/vaisc/src/doc_gen.rs
  crates/vaisc/src/doc_gen/extract.rs
  crates/vaisc/src/doc_gen/html.rs
  crates/vaisc/src/doc_gen/markdown.rs
  crates/vaisc/src/doc_gen/mod.rs
  crates/vaisc/src/doc_gen/tests.rs
Due: unittests, Core Compiler, Language Tooling, Advanced Features

test: E2E test expansion to 755 — lang/patterns/generics/async modules (Phase 32)
  ROADMAP.md
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase32_async.rs
  crates/vaisc/tests/e2e/phase32_generics.rs
  crates/vaisc/tests/e2e/phase32_lang.rs
  crates/vaisc/tests/e2e/phase32_patterns.rs
Due: unittests, Language Tooling

fix(codegen): type alias resolution & test strengthening — 52 assert_compiles→assert_exit_code (Phase 33)
  ROADMAP.md
  crates/vais-codegen/src/init.rs
  crates/vais-codegen/src/inkwell/gen_types.rs
  crates/vais-codegen/src/inkwell/generator.rs
  crates/vais-codegen/src/state.rs
  crates/vais-codegen/src/types.rs
  crates/vais-types/src/lib.rs
  crates/vaisc/src/commands/build/backend.rs
  crates/vaisc/src/commands/build/core.rs
  crates/vaisc/src/commands/compile/per_module.rs
  crates/vaisc/src/commands/test.rs
  crates/vaisc/tests/e2e/advanced.rs
  crates/vaisc/tests/e2e/helpers.rs
  crates/vaisc/tests/e2e/phase32_generics.rs
  crates/vaisc/tests/e2e/phase32_lang.rs
  crates/vaisc/tests/e2e/phase32_patterns.rs
  crates/vaisc/tests/e2e/phase45.rs
  crates/vaisc/tests/e2e/phase45_advanced.rs
  crates/vaisc/tests/e2e/phase45_types.rs
  crates/vaisc/tests/error_scenario_tests.rs
  crates/vaisc/tests/execution_tests.rs
Due: unittests, Core Compiler, Language Tooling

add Benchmark (cargo) benchmark result for 17a46ee569ed0908af4f7581b35f04f29a8c6d46
  dev/bench/data.js
Due: none

fix(test): Phase 33 review fixes — set_type_aliases missing, helper dedup, TODO tracking
  ROADMAP.md
  crates/vaisc/tests/e2e/phase32_patterns.rs
  crates/vaisc/tests/error_scenario_tests.rs
Due: unittests, Language Tooling

fix(codegen): nested tuple pattern IR & default param codegen + 11 assert_exit_code conversions (Phase 34)
  ROADMAP.md
  crates/vais-codegen/src/control_flow.rs
  crates/vais-codegen/src/expr_helpers_call.rs
  crates/vais-codegen/src/expr_helpers_data.rs
  crates/vais-codegen/src/generate_expr.rs
  crates/vais-codegen/src/generate_expr_call.rs
  crates/vais-codegen/src/init.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-codegen/src/registration.rs
  crates/vais-codegen/src/state.rs
  crates/vaisc/tests/e2e/phase32_async.rs
  crates/vaisc/tests/e2e/phase32_lang.rs
  crates/vaisc/tests/e2e/phase32_patterns.rs
  crates/vaisc/tests/e2e/phase42.rs
  crates/vaisc/tests/e2e/phase43.rs
  crates/vaisc/tests/e2e/phase45_advanced.rs
  crates/vaisc/tests/e2e/phase45_types.rs
Due: unittests, Core Compiler, Language Tooling

test+refactor: Phase 35-37 — assert_exit_code conversions, module split R8, E2E 811 tests
  ROADMAP.md
  crates/vais-codegen/src/builtins.rs
  crates/vais-codegen/src/builtins/file_io.rs
  crates/vais-codegen/src/builtins/io.rs
  crates/vais-codegen/src/builtins/memory.rs
  crates/vais-codegen/src/builtins/mod.rs
  crates/vais-codegen/src/builtins/platform.rs
  crates/vais-codegen/src/control_flow/if_else.rs
  crates/vais-codegen/src/control_flow/match_gen.rs
  crates/vais-codegen/src/control_flow/mod.rs
  crates/vais-codegen/src/control_flow/pattern.rs
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/expr_helpers_call.rs
  crates/vais-codegen/src/expr_helpers_call/call_gen.rs
  crates/vais-codegen/src/expr_helpers_call/method_call.rs
  crates/vais-codegen/src/expr_helpers_call/mod.rs
  crates/vais-codegen/src/expr_helpers_call/print_format.rs
  crates/vais-codegen/src/generate_expr.rs
  crates/vaisc/tests/e2e/advanced.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase30.rs
  crates/vaisc/tests/e2e/phase37_comptime_defer.rs
  crates/vaisc/tests/e2e/phase37_patterns.rs
  crates/vaisc/tests/e2e/phase37_pipe_string.rs
  crates/vaisc/tests/e2e/phase37_union_const.rs
  crates/vaisc/tests/e2e/phase41.rs
  crates/vaisc/tests/error_scenario_tests.rs
  crates/vaisc/tests/execution_tests.rs
  crates/vaisc/tests/phase33_integration_tests.rs
  crates/vaisc/tests/selfhost_lexer_tests.rs
  crates/vaisc/tests/windows_e2e_tests.rs
Due: unittests, Core Compiler, Language Tooling

add Benchmark (cargo) benchmark result for 28f38efff72bda3b354be6ea5b4022e40a0dbaf8
  dev/bench/data.js
Due: none

fix(codegen): Phase 38 — generic/slice/bool/where codegen improvements + ~15 test conversions
  ROADMAP.md
  crates/vais-codegen/src/expr_helpers_control.rs
  crates/vais-codegen/src/function_gen/generics.rs
  crates/vais-codegen/src/generics_helpers.rs
  crates/vais-codegen/src/inkwell/gen_aggregate.rs
  crates/vais-codegen/src/inkwell/gen_function.rs
  crates/vais-codegen/src/inkwell/gen_types.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-codegen/src/module_gen.rs
  crates/vais-codegen/src/type_inference.rs
  crates/vais-codegen/src/types.rs
  crates/vaisc/tests/e2e/advanced.rs
  crates/vaisc/tests/e2e/helpers.rs
  crates/vaisc/tests/e2e/phase45_advanced.rs
  crates/vaisc/tests/e2e/phase45_types.rs
  crates/vaisc/tests/execution_tests.rs
  crates/vaisc/tests/selfhost_lexer_tests.rs
Due: unittests, Core Compiler, Language Tooling

add Benchmark (cargo) benchmark result for d157c377ea4d88f575d8055dde05fbe7e414cab8
  dev/bench/data.js
Due: none

fix(codegen)+refactor: Phase 39-40 — spawn/lazy codegen fixes & module split R9
  ROADMAP.md
  crates/vais-ast/src/aggregate_types.rs
  crates/vais-ast/src/aliases.rs
  crates/vais-ast/src/ast_types.rs
  crates/vais-ast/src/constants.rs
  crates/vais-ast/src/expressions.rs
  crates/vais-ast/src/extern_block.rs
  crates/vais-ast/src/function.rs
  crates/vais-ast/src/generics.rs
  crates/vais-ast/src/infrastructure.rs
  crates/vais-ast/src/items.rs
  crates/vais-ast/src/lib.rs
  crates/vais-ast/src/macros.rs
  crates/vais-ast/src/operators.rs
  crates/vais-ast/src/patterns.rs
  crates/vais-ast/src/statements.rs
  crates/vais-ast/src/traits.rs
  crates/vais-codegen/src/emit.rs
  crates/vais-codegen/src/expr_helpers_misc.rs
  crates/vais-codegen/src/expr_visitor.rs
  crates/vais-codegen/src/generate_expr.rs
  crates/vais-codegen/src/init.rs
  crates/vais-codegen/src/lambda_closure.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-codegen/src/tests.rs
  crates/vais-codegen/src/types.rs
  crates/vais-types/src/lib.rs
  crates/vais-types/src/tests.rs
  crates/vaisc/tests/e2e/phase42.rs
  crates/vaisc/tests/e2e/phase43.rs
Due: unittests, Core Compiler, Language Tooling

test: Phase 41 — E2E test expansion to 862 (+51 tests)
  ROADMAP.md
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase41_error_handling.rs
  crates/vaisc/tests/e2e/phase41_globals_ternary.rs
  crates/vaisc/tests/e2e/phase41_loop_control.rs
  crates/vaisc/tests/e2e/phase41_string_numeric.rs
Due: unittests, Language Tooling

fix(codegen): resolve spawn/await infinite loop by using is_async-aware poll function resolution
  crates/vais-codegen/src/expr_helpers_misc.rs
  crates/vais-codegen/src/stmt.rs
  crates/vais-codegen/src/tests.rs
  crates/vaisc/tests/e2e/phase43.rs
Due: unittests, Core Compiler, Language Tooling

fix(codegen): Phase 43 — fix all 14 pre-existing E2E failures + ROADMAP update
  ROADMAP.md
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/expr_helpers_control.rs
  crates/vais-codegen/src/generate_expr.rs
  crates/vais-codegen/src/module_gen.rs
Due: unittests, Core Compiler

add Benchmark (cargo) benchmark result for 950fc833e0949f881fd0bd0c136de67238f17c68
  dev/bench/data.js
Due: none

feat(test)+refactor(codegen): Phase 45-48 — test dedup, module split R10, 900 E2E, spawn/async
  ROADMAP.md
  crates/vais-codegen/src/expr_helpers_misc.rs
  crates/vais-codegen/src/expr_visitor.rs
  crates/vais-codegen/src/generate_expr.rs
  crates/vais-codegen/src/generate_expr/mod.rs
  crates/vais-codegen/src/generate_expr/special.rs
  crates/vais-codegen/src/inkwell/gen_aggregate.rs
  crates/vais-codegen/src/inkwell/gen_expr/misc.rs
  crates/vais-codegen/src/inkwell/gen_function.rs
  crates/vais-codegen/src/inkwell/gen_special.rs
  crates/vais-codegen/src/inkwell/gen_stmt.rs
  crates/vais-codegen/src/inkwell/generator.rs
  crates/vais-codegen/src/module_gen/instantiations.rs
  crates/vais-codegen/src/module_gen/mod.rs
  crates/vais-codegen/src/module_gen/subset.rs
  crates/vaisc/tests/e2e/async_runtime.rs
  crates/vaisc/tests/e2e/builtins.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase30.rs
  crates/vaisc/tests/e2e/phase32_lang.rs
  crates/vaisc/tests/e2e/phase37_pipe_string.rs
  crates/vaisc/tests/e2e/phase38.rs
  crates/vaisc/tests/e2e/phase41.rs
  crates/vaisc/tests/e2e/phase42.rs
  crates/vaisc/tests/e2e/phase43.rs
  crates/vaisc/tests/e2e/phase44.rs
  crates/vaisc/tests/e2e/phase45.rs
  crates/vaisc/tests/e2e/phase45_advanced.rs
  crates/vaisc/tests/e2e/phase45_types.rs
  crates/vaisc/tests/e2e/phase47_closure_pipe.rs
  crates/vaisc/tests/e2e/phase47_struct_enum.rs
  crates/vaisc/tests/e2e/phase47_trait_impl.rs
  crates/vaisc/tests/execution_tests.rs
Due: unittests, Core Compiler, Language Tooling

add Benchmark (cargo) benchmark result for ca4fd799d9760d2e9e74083fd974e8f17e1c7870
  dev/bench/data.js
Due: none

feat(codegen)+test: Phase 49 — 14 assert_compiles→assert_exit_code 전환, Slice fat pointer ABI 수정
  ROADMAP.md
  crates/vais-codegen/src/inkwell/types.rs
  crates/vais-codegen/src/types.rs
  crates/vaisc/tests/error_scenario_tests.rs
  crates/vaisc/tests/execution_tests.rs
  crates/vaisc/tests/phase33_integration_tests.rs
  crates/vaisc/tests/windows_e2e_tests.rs
Due: unittests, Core Compiler, Language Tooling

fix(codegen): Phase 50 — resolve all 14+1 pre-existing E2E failures, 900 tests all pass
  ROADMAP.md
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/expr_helpers_call/method_call.rs
  crates/vais-codegen/src/expr_helpers_data.rs
Due: unittests, Core Compiler

docs+fix(tooling): Phase 53 — 종합 검토 & 외부 자료 정합성
  README.md
  ROADMAP.md
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/expr_helpers_data.rs
  crates/vais-codegen/src/function_gen/codegen.rs
  crates/vais-codegen/src/inkwell/gen_advanced.rs
  crates/vais-codegen/src/inkwell/gen_declaration.rs
  crates/vais-codegen/src/inkwell/gen_expr/call.rs
  crates/vais-codegen/src/inkwell/gen_function.rs
  crates/vaisc/tests/e2e/advanced.rs
  crates/vaisc/tests/e2e/phase45_advanced.rs
  crates/vaisc/tests/selfhost_lexer_tests.rs
  docs-site/src/SUMMARY.md
  docs-site/src/language/defer-statement.md
  docs-site/src/language/globals.md
  docs-site/src/language/macros.md
  docs-site/src/language/union-types.md
  intellij-vais/README.md
  playground/src/examples.js
  vscode-vais/README.md
  vscode-vais/syntaxes/vais.tmLanguage.json
Due: unittests, Core Compiler, Language Tooling

add Benchmark (cargo) benchmark result for 64c4a1b7bcd7986b19f0483e1acfdc5b37f976c4
  dev/bench/data.js
Due: none

test: Phase 55 — 5개 핵심 크레이트 단위 테스트 +644개 추가, 커버리지 강화
  ROADMAP.md
  crates/vais-codegen/src/abi.rs
  crates/vais-codegen/src/advanced_opt/alias_analysis.rs
  crates/vais-codegen/src/advanced_opt/auto_vectorize.rs
  crates/vais-codegen/src/advanced_opt/bounds_check_elim.rs
  crates/vais-codegen/src/advanced_opt/data_layout.rs
  crates/vais-codegen/src/cross_compile.rs
  crates/vais-codegen/src/debug.rs
  crates/vais-codegen/src/diagnostics.rs
  crates/vais-codegen/src/error.rs
  crates/vais-codegen/src/parallel.rs
  crates/vais-codegen/src/target.rs
  crates/vais-codegen/src/types.rs
  crates/vais-dap/src/error.rs
  crates/vais-dap/src/protocol/events.rs
  crates/vais-dap/src/protocol/types.rs
  crates/vais-lsp/src/backend.rs
  crates/vais-lsp/src/handlers/signature.rs
  crates/vais-registry-server/src/config.rs
  crates/vais-registry-server/src/error.rs
  crates/vais-registry-server/src/handlers.rs
  crates/vais-registry-server/src/models.rs
  crates/vais-registry-server/src/storage.rs
  crates/vais-types/src/types/effects.rs
  crates/vais-types/src/types/error.rs
  crates/vais-types/src/types/resolved.rs
  crates/vais-types/src/types/substitute.rs
  crates/vais-types/src/types/utils.rs
Due: unittests, Core Compiler, Language Tooling, Ecosystem Services

fix(ci+codegen): Phase 54 리뷰 반영 — CI 보안 게이트 복원, 에러 메시지 개선
  .github/workflows/ci.yml
  codecov.yml
  crates/vais-codegen/src/expr_helpers_data.rs
Due: unittests, Core Compiler

test: Phase 56 — 보조 4개 크레이트 단위 테스트 +698개 추가, 커버리지 강화
  ROADMAP.md
  crates/vais-codegen-js/src/expr.rs
  crates/vais-codegen-js/src/items.rs
  crates/vais-codegen-js/src/lib.rs
  crates/vais-codegen-js/src/modules.rs
  crates/vais-codegen-js/src/sourcemap.rs
  crates/vais-codegen-js/src/stmt.rs
  crates/vais-codegen-js/src/tree_shaking.rs
  crates/vais-codegen-js/src/types.rs
  crates/vais-dynload/src/error.rs
  crates/vais-dynload/src/host_functions.rs
  crates/vais-dynload/src/manifest.rs
  crates/vais-dynload/src/module_loader.rs
  crates/vais-dynload/src/plugin_discovery.rs
  crates/vais-dynload/src/resource_limits.rs
  crates/vais-dynload/src/wasm_sandbox.rs
  crates/vais-gc/src/concurrent.rs
  crates/vais-gc/src/gc.rs
  crates/vais-gc/src/generational.rs
  crates/vais-gc/src/lib.rs
  crates/vais-tutorial/src/lessons.rs
  crates/vais-tutorial/src/lib.rs
  crates/vais-tutorial/src/runner.rs
  tarpaulin.toml
Due: unittests, Core Compiler, Advanced Features, Extensibility

docs: Phase 57 — 홈페이지/Docs/Playground 수치 업데이트 & docs-site 경고 수정
  README.md
  REFACTORING_SUMMARY.md
  ROADMAP.md
  crates/vais-bindgen/CPP_IMPLEMENTATION_SUMMARY.md
  crates/vais-bindgen/CPP_SUPPORT.md
  docs-site/src/api/rc.md
  docs-site/src/api/vec.md
  docs-site/src/guides/error-handling.md
  docs-site/src/language/advanced-types.md
  docs-site/src/stdlib/stdlib.md
  docs/Architecture.md
  docs/design/monomorphization-design.md
  docs/generic_tutorial.md
  docs/iterator_type_inference_improvements.md
  playground/IMPLEMENTATION_SUMMARY.md
  playground/PROJECT_SUMMARY.md
  playground/README.md
  playground/TUTORIAL.md
  website/index.html
  website/public/locales/en.json
  website/public/locales/ja.json
  website/public/locales/ko.json
  website/public/locales/zh.json
Due: unittests, Language Tooling

add Benchmark (cargo) benchmark result for fa4aeb78e856f08ff9eb5bec6d5b2d349efee3f4
  dev/bench/data.js
Due: none
