Repository vaislang/vais: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Compiler, Language Tooling, Advanced Features, Extensibility, Infrastructure, Ecosystem Services

feat(codegen): HashMap/StringMap method type inference
  crates/vais-codegen/src/type_inference.rs
Due: unittests, Core Compiler

fix(codegen): HashMap.get/insert/remove use ResolvedType::Optional
  crates/vais-codegen/src/type_inference.rs
Due: unittests, Core Compiler

docs(roadmap): Phase 358-361 compiler deep work complete (17/17 phases)
  ROADMAP.md
Due: none

docs(roadmap): Tier 2 session total OK 134 → 159 (+25 files, +9.6%p)
  ROADMAP.md
Due: none

feat(codegen): expand Str method return type inference
  crates/vais-codegen/src/type_inference.rs
Due: unittests, Core Compiler

feat(codegen): Str.trim / to_uppercase / to_upper codegen dispatch
  crates/vais-codegen/src/string_ops.rs
Due: unittests, Core Compiler

feat(codegen): Str.to_lowercase / char_at codegen dispatch
  crates/vais-codegen/src/string_ops.rs
Due: unittests, Core Compiler

feat(codegen): Str.is_empty and byte_at codegen dispatch
  crates/vais-codegen/src/string_ops.rs
Due: unittests, Core Compiler

feat(codegen): Str.starts_with / ends_with codegen via strncmp
  crates/vais-codegen/src/string_ops.rs
Due: unittests, Core Compiler

docs(roadmap): Tier 2 extended drive close — OK 134 → 174/261 (+40 files, +15.3%p)
  ROADMAP.md
Due: none

feat(codegen): Optional<T> and Result<T,E> method inference
  crates/vais-codegen/src/type_inference.rs
Due: unittests, Core Compiler

docs(roadmap): add residual failure root causes
  ROADMAP.md
Due: none

fix(stdlib): string.as_bytes use Vec.push — avoid Vec type loss
  std/string.vais
Due: none

docs(roadmap): OK 174 → 176/261 (+2 via std/string as_bytes fix)
  ROADMAP.md
Due: none

docs(roadmap): OK 176 → 177/261 via pool/frame/GCM aliases
  ROADMAP.md
Due: none

docs(roadmap): correct OK to 176/261 after sync.vais revert
  ROADMAP.md
Due: none

docs(compiler): Phase 0.1 — COMPILER_STAGES.md authoritative reference
  ROADMAP.md
  docs/COMPILER_STAGES.md
Due: none

test(integrity): Phase 0.2 — integrity test matrix skeleton
  ROADMAP.md
  crates/vaisc/tests/integrity.rs
  crates/vaisc/tests/integrity/compiler_stages.rs
  crates/vaisc/tests/integrity/compiler_syntax.rs
  crates/vaisc/tests/integrity/ecosystem_health.rs
Due: unittests, Language Tooling

docs(roadmap): Phase 0.3 — official Baseline section
  ROADMAP.md
Due: none

feat(ci): Phase 0.4 integrity CI gate + cargo alias
  .cargo/config.toml
  ROADMAP.md
  crates/vaisc/Cargo.toml
  scripts/README.md
  scripts/check-integrity.sh
Due: unittests, Language Tooling

docs(spec): Phase 1.5 LANGUAGE_SPEC.md keyword registry + status matrix
  ROADMAP.md
  docs/LANGUAGE_SPEC.md
Due: none

test(integrity): Phase 1.6 parser coverage 30 → 200 tests
  ROADMAP.md
  crates/vaisc/tests/integrity.rs
  crates/vaisc/tests/integrity/compiler_syntax.rs
  crates/vaisc/tests/integrity/ecosystem_health.rs
Due: unittests, Language Tooling

docs(lexer): Phase 1.7 LEXER_KEYWORDS.md — keyword registry
  ROADMAP.md
  docs/language/LEXER_KEYWORDS.md
Due: none

docs(type-system): Phase 2.8 TYPE_SYSTEM.md — unification reference
  ROADMAP.md
  docs/TYPE_SYSTEM.md
Due: none

docs(type-system): Phase 2.9 cross-file impl dispatch — decision (a)
  ROADMAP.md
  crates/vaisc/tests/e2e/modules_system.rs
  docs/TYPE_SYSTEM.md
Due: unittests, Language Tooling

docs(type-system): Phase 2.10 investigation + reproducer test (DEFERRED)
  ROADMAP.md
  crates/vaisc/tests/e2e/modules_system.rs
  docs/TYPE_SYSTEM.md
Due: unittests, Language Tooling

chore(roadmap): pause auto-progress — Phase 2.10 needs user review
  ROADMAP.md
Due: none

docs(cookbook): Phase 1.9 — COOKBOOK.md with 22 Vais pitfall patterns
  CLAUDE.md
  ROADMAP.md
  docs/language/COOKBOOK.md
Due: none

docs(claude): Phase 1.10 — "Vais 개발 철칙 (MUST READ)" 섹션
  CLAUDE.md
  ROADMAP.md
Due: none

chore(roadmap): pause at 13/18 — Phase 2.10 approach decision needed
  ROADMAP.md
Due: none

docs(roadmap): B안 재편 — 40 Phase 확장 구조로 범위 재선언
  ROADMAP.md
Due: none

fix(tests): Phase 1.11 — match guard 사용법 수정 (I keyword, not `if` ident)
  ROADMAP.md
  crates/vaisc/tests/integrity/compiler_syntax.rs
  docs/language/COOKBOOK.md
  docs/language/LIVING_SPEC/02_patterns/pattern_guard_if.vais
Due: unittests, Language Tooling

feat(types): Phase 1.12 — bidirectional inference for container literals
  ROADMAP.md
  crates/vais-types/src/checker_expr/stmts.rs
  crates/vais-types/src/inference/inference_modes.rs
  docs/language/COOKBOOK.md
  docs/language/LIVING_SPEC/02_patterns/pattern_empty_vec.vais
Due: unittests, Core Compiler

feat(parser): Phase 1.13 — top-level `const` keyword production
  ROADMAP.md
  crates/vais-parser/src/item/mod.rs
  crates/vaisc/tests/integrity/compiler_syntax.rs
  docs/language/COOKBOOK.md
  docs/language/LIVING_SPEC/01_keywords/const_compile_time.vais
Due: unittests, Core Compiler, Language Tooling

feat(types): Phase 1.14 — break-with-value TC (loop-as-expression)
  ROADMAP.md
  crates/vais-types/src/checker_expr/control_flow.rs
  crates/vaisc/tests/integrity/compiler_syntax.rs
  docs/language/COOKBOOK.md
Due: unittests, Core Compiler, Language Tooling

docs(spec): Phase 1.15 — function type `(T) -> U` 이미 지원됨 문서화
  ROADMAP.md
  docs/language/COOKBOOK.md
  docs/language/LIVING_SPEC/03_generics/generic_higher_order.vais
Due: none

feat(parser): Phase 1.16+1.17 — strict primitive/generic validation
  ROADMAP.md
  crates/vais-parser/src/types.rs
  crates/vaisc/tests/integrity/compiler_syntax.rs
Due: unittests, Core Compiler, Language Tooling

feat(parser): Phase 1.18 — `unsafe F` top-level modifier
  ROADMAP.md
  crates/vais-parser/src/item/mod.rs
  crates/vaisc/tests/integrity/compiler_syntax.rs
Due: unittests, Core Compiler, Language Tooling

fix(types): Phase 2.10 근본 해결 — None이 변수로 바인딩되는 버그
  ROADMAP.md
  crates/vais-types/src/checker_expr/calls.rs
  crates/vais-types/src/lookup.rs
  crates/vais-types/src/scope.rs
  crates/vaisc/tests/e2e/modules_system.rs
  scripts/check-integrity.sh
Due: unittests, Core Compiler, Language Tooling

Path conditions:
  unittests: any of: crates/, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Core Compiler: any of: crates/vais-lexer/**, crates/vais-parser/**, crates/vais-ast/**, crates/vais-types/**, crates/vais-codegen/**, crates/vais-codegen-js/**, crates/vais-mir/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Language Tooling: any of: crates/vais-lsp/**, crates/vaisc/**, crates/vais-bindgen/**, crates/vais-macro/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Advanced Features: any of: crates/vais-jit/**, crates/vais-gc/**, crates/vais-gpu/**, crates/vais-query/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Extensibility: any of: crates/vais-plugin/**, crates/vais-dynload/**, crates/vais-hotreload/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Infrastructure: any of: crates/vais-i18n/**, crates/vais-profiler/**, crates/vais-security/**, crates/vais-supply-chain/**, crates/vais-testgen/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Ecosystem Services: any of: crates/vais-registry-server/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
