Repository vaislang/vais: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Compiler, Language Tooling, Advanced Features, Extensibility, Infrastructure, Ecosystem Services

ci(integrity): bump vaisdb floor 179 → 183
  scripts/check-integrity.sh
Due: none

fix(std,ci): sync.vais U std/option for RwLock None; bump vaisdb floor 185
  scripts/check-integrity.sh
  std/sync.vais
Due: none

ci(integrity): bump vaisdb floor 185 → 187
  scripts/check-integrity.sh
Due: none

ci(integrity): bump vaisdb floor 187 → 188 (session +8 files)
  scripts/check-integrity.sh
Due: none

docs(roadmap): iteration 7-11 recap + Vec[i] move gap note
  ROADMAP.md
Due: none

fix(ownership): Expr::Index reads don't move the container
  crates/vais-types/src/ownership/ast_check.rs
Due: unittests, Core Compiler

ci(integrity): bump vaisdb floor 188 → 190 (ownership Index fix cascade)
  scripts/check-integrity.sh
Due: none

docs(roadmap): iteration 12-15 recap + Vec generic codegen fallback note
  ROADMAP.md
Due: none

ci(integrity): bump vaisdb floor 190 → 191
  scripts/check-integrity.sh
Due: none

ci(integrity): bump vaisdb floor 191 → 193 (dict+planner/mod fixes)
  scripts/check-integrity.sh
Due: none

fix(codegen): clean C003 instead of ICE on struct-embedded Vec indexing
  crates/vais-codegen/src/inkwell/gen_aggregate.rs
Due: unittests, Core Compiler

feat(codegen): Phase 3.14 struct-embedded Vec<T> ABI — emit concrete layout
  crates/vais-codegen/src/inkwell/gen_aggregate.rs
  crates/vais-codegen/src/inkwell/types.rs
Due: unittests, Core Compiler

feat(vais-codegen): route EnumName.Variant through variant construction (Phase 6.27)
  ROADMAP.md
  crates/vais-codegen/src/inkwell/gen_expr/mod.rs
Due: unittests, Core Compiler

docs(roadmap): Phase 6.27 iter 17-18 bookkeeping (vaisdb 198 → 201/261)
  ROADMAP.md
Due: none

chore(integrity): bump vaisdb floor 193 → 199 (Phase 6.27 iter 18)
  scripts/check-integrity.sh
Due: none

feat(vais-codegen): tuple field access for Vec<Tuple<..>> elements (Phase 6.27)
  crates/vais-codegen/src/expr_helpers_data.rs
Due: unittests, Core Compiler

docs(roadmap): Phase 6.27 iter 19 — diagnosis of Vec<Tuple> TC erasure
  ROADMAP.md
Due: none

docs(roadmap): Phase 6.27 iter 20 — diminishing returns analysis
  ROADMAP.md
Due: none

feat(vais-codegen): Phase 3.15 — upgrade I64 infer to TC Tuple when available
  crates/vais-codegen/src/type_inference.rs
Due: unittests, Core Compiler

chore(integrity): bump vaisdb floor 199 → 202 (Phase 6.27 complete)
  ROADMAP.md
  scripts/check-integrity.sh
Due: none

docs(roadmap): mark mode:stopped after Phase 6.27 Tier 2 completion
  ROADMAP.md
Due: none

feat(vais-codegen): Phase 6.27b — enum struct-variant support + Vec<Named> TC upgrade
  ROADMAP.md
  crates/vais-codegen/src/inkwell/gen_advanced.rs
  crates/vais-codegen/src/inkwell/gen_declaration.rs
  crates/vais-codegen/src/inkwell/gen_expr/mod.rs
  crates/vais-codegen/src/inkwell/gen_match.rs
  crates/vais-codegen/src/inkwell/generator.rs
  crates/vais-codegen/src/type_inference.rs
Due: unittests, Core Compiler

chore(integrity): bump vaisdb floor 202 → 203 (Phase 6.27b)
  scripts/check-integrity.sh
Due: none

feat(vais-types/codegen): Phase 6.27b — resolve TC expr types before codegen
  crates/vais-codegen/src/type_inference.rs
  crates/vais-types/src/lib.rs
  crates/vaisc/src/commands/build/backend.rs
  crates/vaisc/src/commands/build/parallel.rs
  crates/vaisc/src/commands/compile/per_module.rs
  crates/vaisc/src/commands/test.rs
Due: unittests, Core Compiler, Language Tooling

chore(integrity): bump vaisdb floor 203 → 204 (Phase 6.27b)
  scripts/check-integrity.sh
Due: none

feat(compiler): Phase 6.27b — Pattern::Struct enum_name hint for disambiguation
  crates/vais-ast/src/formatter/patterns.rs
  crates/vais-ast/src/patterns.rs
  crates/vais-codegen-js/src/tree_shaking.rs
  crates/vais-codegen/src/control_flow/pattern.rs
  crates/vais-codegen/src/inkwell/gen_match.rs
  crates/vais-parser/src/expr/primary.rs
  crates/vais-types/src/exhaustiveness.rs
  crates/vais-types/src/scope.rs
Due: unittests, Core Compiler

chore(integrity): bump vaisdb floor 204 → 207 (Phase 6.27b)
  scripts/check-integrity.sh
Due: none

chore(integrity): bump vaisdb floor 207 → 209 (Phase 6.27b)
  scripts/check-integrity.sh
Due: none

docs(roadmap): Phase 6.27b iter 22-24 session summary
  ROADMAP.md
Due: none

feat(vais-types): Phase 6.27b — enum variant in check_static_method_call
  crates/vais-types/src/checker_expr/calls.rs
Due: unittests, Core Compiler

chore(integrity): bump vaisdb floor 209 → 213 (Phase 6.27b)
  scripts/check-integrity.sh
Due: none

chore(integrity): bump vaisdb floor 213 → 215 (Phase 6.27b)
  scripts/check-integrity.sh
Due: none

chore(integrity): bump vaisdb floor 215 → 216 (Phase 6.27b)
  scripts/check-integrity.sh
Due: none

chore(integrity): bump vaisdb floor 216 → 218 (Phase 6.27b)
  scripts/check-integrity.sh
Due: none

feat(vais-codegen): Unit → non-Unit TC upgrade + Phase 6.27b OK 220
  ROADMAP.md
  crates/vais-codegen/src/type_inference.rs
  scripts/check-integrity.sh
Due: unittests, Core Compiler

docs(roadmap): iteration 27 log — 0 net pass, Phase 6.27b next steps
  ROADMAP.md
Due: none

feat(vais-types): promote Never-containing scope type on Expr::Assign
  ROADMAP.md
  crates/vais-types/src/checker_expr/special.rs
  crates/vais-types/src/scope.rs
Due: unittests, Core Compiler

docs(roadmap): Phase 6.27b iteration 29 — vaisdb floor 220 → 221
  ROADMAP.md
  scripts/check-integrity.sh
Due: none

docs(roadmap): iteration 30 — 0 net pass, remaining blockers catalogued
  ROADMAP.md
Due: none

docs(roadmap): Phase 6.27b iteration 31 — vaisdb floor 221 → 222
  ROADMAP.md
  scripts/check-integrity.sh
Due: none

Path conditions:
  unittests: any of: crates/, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Core Compiler: any of: crates/vais-lexer/**, crates/vais-parser/**, crates/vais-ast/**, crates/vais-types/**, crates/vais-codegen/**, crates/vais-codegen-js/**, crates/vais-mir/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Language Tooling: any of: crates/vais-lsp/**, crates/vaisc/**, crates/vais-bindgen/**, crates/vais-macro/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Advanced Features: any of: crates/vais-jit/**, crates/vais-gc/**, crates/vais-gpu/**, crates/vais-query/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Extensibility: any of: crates/vais-plugin/**, crates/vais-dynload/**, crates/vais-hotreload/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Infrastructure: any of: crates/vais-i18n/**, crates/vais-profiler/**, crates/vais-security/**, crates/vais-supply-chain/**, crates/vais-testgen/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Ecosystem Services: any of: crates/vais-registry-server/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
