Repository vaislang/vais: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Compiler, Language Tooling, Advanced Features, Experimental Features, Infrastructure

feat: Phase 11 — registry web UI, std library docs, WASM docs & examples
  ROADMAP.md
  crates/vais-registry-server/src/db.rs
  crates/vais-registry-server/src/handlers/packages.rs
  crates/vais-registry-server/src/handlers/web.rs
  crates/vais-registry-server/src/models.rs
  crates/vais-registry-server/src/router.rs
  crates/vais-registry-server/static/dashboard.html
  crates/vais-registry-server/static/index.html
  crates/vais-registry-server/static/package.html
  crates/vais-registry-server/static/styles.css
  docs-site/src/SUMMARY.md
  docs-site/src/advanced/wasm/README.md
  docs-site/src/advanced/wasm/component-model.md
  docs-site/src/advanced/wasm/getting-started.md
  docs-site/src/advanced/wasm/js-interop.md
  docs-site/src/advanced/wasm/wasi.md
  docs-site/src/stdlib/channel.md
  docs-site/src/stdlib/crypto.md
  docs-site/src/stdlib/file_io.md
  docs-site/src/stdlib/hashmap.md
  docs-site/src/stdlib/json.md
  docs-site/src/stdlib/net.md
  docs-site/src/stdlib/regex.md
  docs-site/src/stdlib/stdlib.md
  docs-site/src/stdlib/sync.md
  docs-site/src/stdlib/thread.md
  docs-site/src/stdlib/vec.md
  examples/wasm_api_client.vais
  examples/wasm_calculator.vais
  examples/wasm_todo_app.vais
Due: unittests

add Benchmark (cargo) benchmark result for 7a8e0485cc5fcee8e5dfb98d253171d398b5d916
  dev/bench/data.js
Due: none

feat: Phase 12 — compiler hardening: JIT tiered compilation, GPU benchmarks, SIMD/crypto/pread, review fixes
  ROADMAP.md
  benches/Cargo.toml
  benches/gpu_bench.rs
  crates/vais-codegen/src/advanced_opt/auto_vectorize.rs
  crates/vais-codegen/src/advanced_opt/mod.rs
  crates/vais-gpu/tests/gpu_tests.rs
  crates/vais-jit/src/lib.rs
  crates/vais-jit/src/tiered.rs
  crates/vaisc/src/incremental.rs
  crates/vaisc/src/repl.rs
  std/crypto.vais
  std/file.vais
  std/simd.vais
  std/simd_runtime.c
Due: unittests, Core Compiler, Language Tooling, Advanced Features, Experimental Features

feat: Phase 13 — security+quality: AES-256 FIPS 197, str Copy semantics, JIT error handling, runtime benchmarks
  ROADMAP.md
  benches/COMPARISON.md
  benches/runtime_bench.rs
  crates/vais-jit/src/compiler.rs
  crates/vais-jit/src/lib.rs
  crates/vais-jit/src/tiered.rs
  crates/vais-jit/src/types.rs
  crates/vais-jit/tests/integration_tests.rs
  crates/vais-mir/src/types.rs
  crates/vaisc/tests/e2e_tests.rs
  examples/bench_compute.vais
  examples/bench_fibonacci.vais
  examples/bench_sorting.vais
  std/crypto.vais
Due: unittests, Language Tooling, Advanced Features

fix: Phase 14 — CI failures: Windows LLVM downgrade, ASan fuzz stack overflow
  .github/workflows/asan.yml
  .github/workflows/ci.yml
  ROADMAP.md
  crates/vais-types/tests/fuzz_tests.rs
Due: unittests, Core Compiler

add Benchmark (cargo) benchmark result for 57b9a0ea4b70984c86624dc46b73df54071c44b7
  dev/bench/data.js
Due: none

docs: update benchmark results — re-measured 2026-02-11
  README.md
  benches/COMPARISON.md
  website/index.html
Due: none

add Benchmark (cargo) benchmark result for 70152ef14393a478f6002c33ef8d3ac3f05cbc2f
  dev/bench/data.js
Due: none

feat: Phase 15 — benchmark token efficiency: rewrite .vais with modern syntax
  ROADMAP.md
  benches/lang-comparison/vais/fibonacci.vais
  benches/lang-comparison/vais/linked_list.vais
  benches/lang-comparison/vais/quicksort.vais
  docs/benchmarks.md
Due: none

feat: Phase 16 — token efficiency: `i` type alias, struct tuple literals, benchmark 865→801 tokens
  ROADMAP.md
  benches/lang-comparison/vais/fibonacci.vais
  benches/lang-comparison/vais/http_types.vais
  benches/lang-comparison/vais/linked_list.vais
  benches/lang-comparison/vais/quicksort.vais
  crates/vais-codegen-js/src/expr.rs
  crates/vais-codegen/src/generate_expr.rs
  crates/vais-codegen/src/inkwell/gen_expr.rs
  crates/vais-codegen/src/stmt.rs
  crates/vais-codegen/src/stmt_visitor.rs
  crates/vais-codegen/src/type_inference.rs
  crates/vais-parser/src/types.rs
  crates/vais-types/src/checker_expr.rs
  crates/vais-types/src/checker_module.rs
  crates/vais-types/src/types.rs
  crates/vais-types/tests/ffi_types_tests.rs
  crates/vaisc/tests/e2e_tests.rs
  docs/benchmarks.md
Due: unittests, Core Compiler, Language Tooling

add Benchmark (cargo) benchmark result for c04e5e0233a2ae8cad3fe15ce41438c303529602
  dev/bench/data.js
Due: none

feat: Phase 17 — token efficiency 801→721: main() auto-return, swap builtin, benchmark optimization
  ROADMAP.md
  benches/COMPARISON.md
  benches/lang-comparison/vais/fibonacci.vais
  benches/lang-comparison/vais/http_types.vais
  benches/lang-comparison/vais/linked_list.vais
  benches/lang-comparison/vais/quicksort.vais
  crates/vais-codegen/src/builtins.rs
  crates/vais-codegen/src/function_gen.rs
  crates/vais-codegen/src/generate_expr.rs
  crates/vais-codegen/src/inkwell/gen_expr.rs
  crates/vais-codegen/src/inkwell/gen_special.rs
  crates/vais-types/src/builtins.rs
  crates/vais-types/src/checker_fn.rs
  crates/vais-types/src/checker_module.rs
  crates/vais-types/src/inference.rs
  crates/vaisc/tests/e2e_tests.rs
  docs/benchmarks.md
Due: unittests, Core Compiler, Language Tooling

fix: Phase 17 review — swap dead code removal, Pointer↔i64 docs, E2E +2
  ROADMAP.md
  crates/vais-codegen/src/builtins.rs
  crates/vais-codegen/src/generate_expr.rs
  crates/vais-codegen/src/inkwell/gen_function.rs
  crates/vais-codegen/src/inkwell/gen_special.rs
  crates/vais-types/src/inference.rs
  crates/vaisc/tests/e2e_tests.rs
Due: unittests, Core Compiler, Language Tooling

add Benchmark (cargo) benchmark result for 4df367ac1cfd272a437f6aa87b4b818fefb275cc
  dev/bench/data.js
Due: none

refactor: Phase 18 — code cleanup & docs sync
  README.md
  ROADMAP.md
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/generate_expr.rs
  docs-site/src/guide/getting-started.md
  examples/bench_sorting.vais
Due: unittests, Core Compiler

add Benchmark (cargo) benchmark result for 7dab87b438490f5a137c8c5f449320c46be5d16c
  dev/bench/data.js
Due: none

docs: Phase 19 — docs/playground/homepage sync with latest syntax
  ROADMAP.md
  benches/BASELINE.md
  docs-site/src/guide/getting-started.md
  examples/package/src/lib.vais
  playground/FEATURES.md
  playground/src/examples.js
  playground/src/vais-language.js
  website/index.html
Due: none

add Benchmark (cargo) benchmark result for 4a2141dd320b410fc91e761f25d136bfc4bc5787
  dev/bench/data.js
Due: none

add Benchmark (cargo) benchmark result for 6fe6f3bb51143480c9a320259346f8db90365f31
  dev/bench/data.js
Due: none

add Benchmark (cargo) benchmark result for a860ab8e08f29d277a13934802b3074339f52882
  dev/bench/data.js
Due: none

fix: Windows CI use explicit -p flags instead of --exclude
  .github/workflows/ci.yml
Due: none

add Benchmark (cargo) benchmark result for b1aec7f63bfa4374786c0db438e4638709f27d18
  dev/bench/data.js
Due: none

fix: ignore 14 pre-existing vais-mir test failures for CI green
  crates/vais-mir/src/borrow_check.rs
  crates/vais-mir/src/lower.rs
Due: unittests, Advanced Features

add Benchmark (cargo) benchmark result for 09f30edf8d37b39092c675ad35e68f9cdb625bc5
  dev/bench/data.js
Due: none

fix: ignore 4 additional pre-existing vais-mir integration test failures
  crates/vais-mir/tests/integration_tests.rs
Due: unittests, Advanced Features

add Benchmark (cargo) benchmark result for 379f2bc9b2d2e0c39b5fa1675940f1567d4dcc15
  dev/bench/data.js
Due: none

fix: Windows path separator in plugin search dirs test
  crates/vais-plugin/src/registry.rs
Due: unittests, Experimental Features

add Benchmark (cargo) benchmark result for 289f93f31ef3266686777fb770f855b2c8a3b4f9
  dev/bench/data.js
Due: none

docs: ROADMAP — Phase 21 CI green, Phase 22 borrow checker test plan, Phase 23 renumber
  ROADMAP.md
Due: none

add Benchmark (cargo) benchmark result for 1efb095dcf0ea132437ef3df1ca289293f216284
  dev/bench/data.js
Due: none

feat: selective import syntax + MIR borrow checker test fix
  ROADMAP.md
  crates/vais-ast/src/lib.rs
  crates/vais-ast/tests/integration_tests.rs
  crates/vais-codegen-js/src/modules.rs
  crates/vais-codegen/src/formatter.rs
  crates/vais-codegen/tests/formatter_tests.rs
  crates/vais-mir/src/borrow_check.rs
  crates/vais-mir/src/lower.rs
  crates/vais-mir/tests/integration_tests.rs
  crates/vais-parser/src/item.rs
  crates/vais-parser/tests/negative_tests.rs
  crates/vais-parser/tests/positive_tests.rs
  crates/vaisc/src/imports.rs
  crates/vaisc/target/test_imports/non_vais_file_rejection/test.vais
  crates/vaisc/tests/import_security_tests.rs
Due: unittests, Core Compiler, Language Tooling, Advanced Features

fix: resolve 3 review findings — formatter empty braces, security test, MirType::Str conversion
  ROADMAP.md
  crates/vais-codegen/src/formatter.rs
  crates/vais-mir/src/borrow_check.rs
  crates/vaisc/tests/import_security_tests.rs
Due: unittests, Core Compiler, Language Tooling, Advanced Features

add Benchmark (cargo) benchmark result for 68bc733b40bf76eb416861fb4cdb453f9485c262
  dev/bench/data.js
Due: none

feat(website): add multi-language code comparison tabs and improve homepage
  website/index.html
  website/src/main.js
  website/src/styles.css
Due: none

add Benchmark (cargo) benchmark result for 391865a3795741f978212fc8ecb730ba99c04f7f
  dev/bench/data.js
Due: none

docs: modernize installation guides and streamline docs structure
  ROADMAP.md
  docs-site/src/SUMMARY.md
  docs-site/src/getting-started/quick-start.md
  docs-site/src/guide/getting-started.md
  docs-site/src/onboarding.md
Due: none

add Benchmark (cargo) benchmark result for 12f265efc3b6d5b082dd0c66c1af47d06b6c72ce
  dev/bench/data.js
Due: none

fix: apply rustfmt to imports.rs to unblock CI
  crates/vaisc/src/imports.rs
Due: unittests, Language Tooling

Path conditions:
  unittests: any of: crates/, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*
  Core Compiler: any of: crates/vais-lexer/**, crates/vais-parser/**, crates/vais-ast/**, crates/vais-types/**, crates/vais-codegen/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*
  Language Tooling: any of: crates/vais-lsp/**, crates/vais-dap/**, crates/vaisc/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*
  Advanced Features: any of: crates/vais-jit/**, crates/vais-gc/**, crates/vais-mir/**, crates/vais-query/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*
  Experimental Features: any of: crates/vais-gpu/**, crates/vais-hotreload/**, crates/vais-plugin/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*
  Infrastructure: any of: crates/vais-i18n/**, crates/vais-profiler/**, crates/vais-security/**, crates/vais-supply-chain/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*
