Repository vaislang/vais: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Compiler, Language Tooling, Advanced Features, Extensibility, Infrastructure, Ecosystem Services

codecov.yml:

# Codecov configuration
# Documentation: https://docs.codecov.io/docs/codecov-yaml

# Coverage target configuration
coverage:
  precision: 2
  round: down
  range: 60..100

  status:
    project:
      default:
        target: 75%
        threshold: 2%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 3%

    changes:
      default:
        if_ci_failed: error

# Comment on pull requests with coverage information
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore paths from coverage
# Excludes match tarpaulin.toml exclude list â€” crates with 0% coverage
# that inflate the denominator if included
ignore:
  - "benches/**/*"
  - "examples/**/*"
  - "tests/**/*"
  - "target/**/*"
  - "scripts/**/*"
  - "crates/vais-python/**"
  - "crates/vais-node/**"
  - "crates/vais-dap/**"
  - "crates/vais-playground-server/**"

# Flag configuration for different test types
flags:
  unittests:
    paths:
      - crates/
    carryforward: true

# Component-based coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        target: 75%
  individual_components:
    # Core compiler components
    - component_id: core
      name: Core Compiler
      paths:
        - crates/vais-lexer/**
        - crates/vais-parser/**
        - crates/vais-ast/**
        - crates/vais-types/**
        - crates/vais-codegen/**
        - crates/vais-codegen-js/**
        - crates/vais-mir/**
      statuses:
        - type: project
          target: 80%

    # Language tooling
    - component_id: tooling
      name: Language Tooling
      paths:
        - crates/vais-lsp/**
        - crates/vaisc/**
        - crates/vais-bindgen/**
        - crates/vais-macro/**
      statuses:
        - type: project
          target: 75%

    # Runtime & advanced features
    - component_id: advanced
      name: Advanced Features
      paths:
        - crates/vais-jit/**
        - crates/vais-gc/**
        - crates/vais-gpu/**
        - crates/vais-query/**
      statuses:
        - type: project
          target: 70%

    # Plugin & dynamic loading
    - component_id: extensibility
      name: Extensibility
      paths:
        - crates/vais-plugin/**
        - crates/vais-dynload/**
        - crates/vais-hotreload/**
      statuses:
        - type: project
          target: 68%

    # Infrastructure & ecosystem
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - crates/vais-i18n/**
        - crates/vais-profiler/**
        - crates/vais-security/**
        - crates/vais-supply-chain/**
        - crates/vais-testgen/**
      statuses:
        - type: project
          target: 70%

    # Ecosystem services (playground-server excluded from coverage measurement)
    - component_id: services
      name: Ecosystem Services
      paths:
        - crates/vais-registry-server/**
      statuses:
        - type: project
          target: 75%

add Benchmark (cargo) benchmark result for b232c1c2214602303fe5ad6b4d68e7c83928863c
  dev/bench/data.js
Due: none

docs: add ecosystem documentation for vais-web, vaisdb, and vais-server
  ROADMAP.md
  docs-site/src/SUMMARY.md
  docs-site/src/ecosystem/README.md
  docs-site/src/ecosystem/vais-server/README.md
  docs-site/src/ecosystem/vais-server/database.md
  docs-site/src/ecosystem/vais-server/getting-started.md
  docs-site/src/ecosystem/vais-server/routing.md
  docs-site/src/ecosystem/vais-web/README.md
  docs-site/src/ecosystem/vais-web/components.md
  docs-site/src/ecosystem/vais-web/getting-started.md
  docs-site/src/ecosystem/vais-web/syntax.md
  docs-site/src/ecosystem/vaisdb/README.md
  docs-site/src/ecosystem/vaisdb/getting-started.md
  docs-site/src/ecosystem/vaisdb/queries.md
  docs-site/src/ecosystem/vaisdb/rag.md
  playground/src/examples.js
  website/ecosystem/index.html
  website/index.html
  website/vite.config.js
Due: none

add Benchmark (cargo) benchmark result for dee1e0ec75e6abfad89cf58438118793c1762bf1
  dev/bench/data.js
Due: none

fix(codegen): resolve &str fat pointer, global str init, prefix Y await, and brace escape
  ROADMAP.md
  crates/vais-codegen/src/emit.rs
  crates/vais-codegen/src/expr_helpers_call/print_format.rs
  crates/vais-codegen/src/function_gen/signature.rs
  crates/vais-codegen/src/generate_expr_call.rs
  crates/vais-codegen/src/helpers.rs
  crates/vais-codegen/src/module_gen/subset.rs
  crates/vais-codegen/src/registration.rs
  crates/vais-codegen/src/state.rs
  crates/vais-codegen/src/stmt.rs
  crates/vais-codegen/src/string_ops.rs
  crates/vais-codegen/src/tests.rs
  crates/vais-codegen/src/trait_dispatch.rs
  crates/vais-codegen/src/types/conversion.rs
  crates/vais-lexer/src/lib.rs
  crates/vais-lexer/src/tests.rs
  crates/vais-parser/src/expr/mod.rs
  crates/vais-parser/src/expr/primary.rs
  crates/vais-parser/src/expr/unary.rs
  crates/vais-parser/tests/positive_tests.rs
Due: unittests, Core Compiler

add Benchmark (cargo) benchmark result for f60b74c98d6cc6f88db6bd5b6304bb196a00fde1
  dev/bench/data.js
Due: none

fix(test): update alloc_tracker test to match disabled cleanup behavior
  crates/vais-codegen/src/tests.rs
Due: unittests, Core Compiler

add Benchmark (cargo) benchmark result for 7f927c039609c1841953217d976dd2ccfc399dfd
  dev/bench/data.js
Due: none

add Benchmark (cargo) benchmark result for d0365b368256a567299f0f75161f3adb5b2e88d0
  dev/bench/data.js
Due: none

fix(clippy): remove identical if/else blocks in expr_helpers.rs
  crates/vais-codegen/src/expr_helpers.rs
Due: unittests, Core Compiler

add Benchmark (cargo) benchmark result for c9570b4d1accedcd44b31d5106bceb52a1e0e11c
  dev/bench/data.js
Due: none

add Benchmark (cargo) benchmark result for 8a052ea8fe16e0ee424579643cd6935405b86a16
  dev/bench/data.js
Due: none

fix(codegen): Phase 188 — resolve 5 LLVM IR type mismatch bugs in text+inkwell codegen
  ROADMAP.md
  crates/vais-codegen/src/control_flow/if_else.rs
  crates/vais-codegen/src/control_flow/match_gen.rs
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/expr_helpers_control.rs
  crates/vais-codegen/src/function_gen/async_gen.rs
  crates/vais-codegen/src/function_gen/codegen.rs
  crates/vais-codegen/src/inkwell/gen_stmt.rs
  crates/vais-codegen/src/stmt_visitor.rs
  crates/vais-codegen/src/type_inference.rs
  crates/vais-codegen/src/types/conversion.rs
Due: unittests, Core Compiler

fix(codegen): Phase 189 — bool Not i1 type, async void poll, await void arg
  ROADMAP.md
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/expr_helpers_misc.rs
  crates/vais-codegen/src/type_inference.rs
Due: unittests, Core Compiler

fix(codegen): Phase 20 — Box<T> sizeof + sequential Phase2 codegen
  crates/vais-codegen/src/types/sizeof.rs
  crates/vaisc/src/commands/compile/per_module.rs
Due: unittests, Core Compiler, Language Tooling

fix(codegen): Phase 189 — resolve 6 LLVM IR type mismatches, 37/37 vais-monitor modules pass
  ROADMAP.md
  crates/vais-codegen/src/control_flow/if_else.rs
  crates/vais-codegen/src/expr_helpers_control.rs
  crates/vais-codegen/src/function_gen/async_gen.rs
  crates/vais-codegen/src/function_gen/codegen.rs
  crates/vais-codegen/src/stmt.rs
Due: unittests, Core Compiler

fix(codegen): resolve ICE on await of void async + cross-module poll declares
  crates/vais-codegen/src/expr_helpers_misc.rs
  crates/vais-codegen/src/init.rs
  crates/vais-codegen/src/module_gen/subset.rs
  crates/vais-codegen/src/state.rs
  crates/vais-codegen/src/type_inference.rs
Due: unittests, Core Compiler

docs: update ROADMAP — Phase 190 next tasks (DX + runtime)
  ROADMAP.md
Due: none

fix(codegen): Phase 21 — extern declare ABI mismatch + SSA→alloca init
  crates/vais-codegen/src/builtins/memory.rs
  crates/vais-codegen/src/expr_helpers_assign.rs
  crates/vais-codegen/src/function_gen/signature.rs
  crates/vaisc/tests/e2e/phase74_stdlib.rs
  crates/vaisc/tests/e2e/phase90_control_flow.rs
Due: unittests, Core Compiler, Language Tooling

fix(codegen): Phase 22 — register_temp_type for if-expr struct/enum phi values
  crates/vais-codegen/src/control_flow/if_else.rs
  crates/vais-codegen/src/expr_helpers_control.rs
Due: unittests, Core Compiler

fix(codegen): Phase 23 — substitute void with placeholder in phi incoming values
  crates/vais-codegen/src/control_flow/if_else.rs
  crates/vais-codegen/src/expr_helpers_control.rs
Due: unittests, Core Compiler

feat(std): add generic std/hashset.vais + unignore phase184 option-shadow test
  crates/vaisc/tests/e2e/phase184_unambiguous_keywords.rs
  std/hashset.vais
Due: unittests, Language Tooling

fix(codegen): Phase 24-4 — trunc i64 to i1 on bool enum variant pattern binding
  crates/vais-codegen/src/control_flow/pattern.rs
  crates/vaisc/tests/e2e/phase134_pattern.rs
Due: unittests, Core Compiler, Language Tooling

test(e2e): Phase 24-3 — inline Vec<T> in phase184 LF foreach fixture
  crates/vaisc/tests/e2e/phase184_unambiguous_keywords.rs
Due: unittests, Language Tooling

feat(types): Phase 24-5 — .iter()/.enumerate() builtin + tuple pattern in LF loops
  crates/vais-types/src/checker_expr/calls.rs
  crates/vais-types/src/checker_expr/control_flow.rs
  crates/vais-types/src/lookup.rs
  crates/vais-types/tests/builtins_coverage_tests.rs
Due: unittests, Core Compiler

feat(codegen): Phase 24-6 — .iter()/.enumerate() codegen + tuple binding in for-each
  crates/vais-codegen/src/generate_expr/loops.rs
  crates/vaisc/tests/e2e/phase184_unambiguous_keywords.rs
Due: unittests, Core Compiler, Language Tooling

add Benchmark (cargo) benchmark result for 610c67f55d111c01373ce3a2267b68154da1d604
  dev/bench/data.js
Due: none

fix(codegen): entry-block alloca slot for slice/string allocs + match str fat ptr
  crates/vais-codegen/src/inkwell/gen_aggregate.rs
  crates/vais-codegen/src/inkwell/gen_expr/binary.rs
  crates/vais-codegen/src/inkwell/gen_match.rs
Due: unittests, Core Compiler

feat(imports): source_root fallback for subdirectory import resolution
  crates/vaisc/src/commands/build/core.rs
  crates/vaisc/src/commands/build_js.rs
  crates/vaisc/src/commands/simple.rs
  crates/vaisc/src/imports.rs
Due: unittests, Language Tooling

chore: ignore .claude/ local worktrees and state
  .gitignore
Due: none

test(phase33): update hardcoded std runtime paths for new monorepo layout
  crates/vaisc/tests/phase33_integration_tests.rs
Due: unittests, Language Tooling

add Benchmark (cargo) benchmark result for dfaf8015c10b9ac081630eadb36f8e7707d15c17
  dev/bench/data.js
Due: none

docs(roadmap): 축소 및 selfhost ROADMAP 제거
  ROADMAP.md
  selfhost/ROADMAP.md
Due: none

feat(lexer): UTF-8 HTML comments + single-quote strings for VaisX
  crates/vais-codegen/src/helpers.rs
  crates/vais-lexer/src/lib.rs
  crates/vais-lexer/src/tests.rs
Due: unittests, Core Compiler

feat(codegen): add opt-in strict_generic_mode (Phase 191 v1, ROADMAP #3)
  crates/vais-codegen/src/init.rs
  crates/vais-codegen/src/inkwell/generator.rs
  crates/vais-codegen/src/inkwell/types.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-codegen/src/tests/type_tests.rs
  crates/vais-codegen/src/types/conversion.rs
Due: unittests, Core Compiler

feat(compiler): Phase 191 v2 + VAIS_TC_NONFATAL removal + CI gate
  crates/vais-codegen/src/init.rs
  crates/vais-codegen/src/inkwell/types.rs
  crates/vaisc/src/commands/build/core.rs
  crates/vaisc/tests/e2e/phase158_type_strict.rs
Due: unittests, Core Compiler, Language Tooling
