Repository vaislang/vais: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Compiler, Language Tooling, Advanced Features, Extensibility, Infrastructure, Ecosystem Services

codecov.yml:

# Codecov configuration
# Documentation: https://docs.codecov.io/docs/codecov-yaml

# Coverage target configuration
coverage:
  precision: 2
  round: down
  range: 60..100

  status:
    project:
      default:
        target: 75%
        threshold: 2%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 3%

    changes:
      default:
        if_ci_failed: error

# Comment on pull requests with coverage information
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore paths from coverage
# Excludes match tarpaulin.toml exclude list â€” crates with 0% coverage
# that inflate the denominator if included
ignore:
  - "benches/**/*"
  - "examples/**/*"
  - "tests/**/*"
  - "target/**/*"
  - "scripts/**/*"
  - "crates/vais-python/**"
  - "crates/vais-node/**"
  - "crates/vais-dap/**"
  - "crates/vais-playground-server/**"

# Flag configuration for different test types
flags:
  unittests:
    paths:
      - crates/
    carryforward: true

# Component-based coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        target: 75%
  individual_components:
    # Core compiler components
    - component_id: core
      name: Core Compiler
      paths:
        - crates/vais-lexer/**
        - crates/vais-parser/**
        - crates/vais-ast/**
        - crates/vais-types/**
        - crates/vais-codegen/**
        - crates/vais-codegen-js/**
        - crates/vais-mir/**
      statuses:
        - type: project
          target: 80%

    # Language tooling
    - component_id: tooling
      name: Language Tooling
      paths:
        - crates/vais-lsp/**
        - crates/vaisc/**
        - crates/vais-bindgen/**
        - crates/vais-macro/**
      statuses:
        - type: project
          target: 75%

    # Runtime & advanced features
    - component_id: advanced
      name: Advanced Features
      paths:
        - crates/vais-jit/**
        - crates/vais-gc/**
        - crates/vais-gpu/**
        - crates/vais-query/**
      statuses:
        - type: project
          target: 70%

    # Plugin & dynamic loading
    - component_id: extensibility
      name: Extensibility
      paths:
        - crates/vais-plugin/**
        - crates/vais-dynload/**
        - crates/vais-hotreload/**
      statuses:
        - type: project
          target: 68%

    # Infrastructure & ecosystem
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - crates/vais-i18n/**
        - crates/vais-profiler/**
        - crates/vais-security/**
        - crates/vais-supply-chain/**
        - crates/vais-testgen/**
      statuses:
        - type: project
          target: 70%

    # Ecosystem services (playground-server excluded from coverage measurement)
    - component_id: services
      name: Ecosystem Services
      paths:
        - crates/vais-registry-server/**
      statuses:
        - type: project
          target: 75%

phase2-loop40: codegen bug recon iter 1 — B-01 + B-02 격리 fixture LANDED
  docs/certification/EXCLUDED_FEATURES.md
  tests/empirical/codegen_bugs/B-01_hashmap_get_opt_ptr_i64/repro.vais
  tests/empirical/codegen_bugs/B-02_hashmap_new_monomorph_missing/repro.vais
Due: none

phase2-loop41: B-01 baseline impact measurement (iter 2)
  docs/certification/EXCLUDED_FEATURES.md
  tests/empirical/codegen_bugs/B-01_hashmap_get_opt_ptr_i64/repro.vais
Due: none

phase2-loop42: A4-03 reclass Controlled → A4 (iter 3, master-plan v47)
  docs/certification/EXCLUDED_FEATURES.md
Due: none

phase2-loop45: B-03 is_visible runtime hang 격리 fixture (iter 6)
  docs/certification/EXCLUDED_FEATURES.md
  tests/empirical/codegen_bugs/B-03_is_visible_hang/repro.vais
Due: none

phase2-loop46: B-03 fixture HANG_RESOLVED + EXCLUDED v51
  docs/certification/EXCLUDED_FEATURES.md
  tests/empirical/codegen_bugs/B-03_is_visible_hang/repro.vais
Due: none

phase2-loop47: EXCLUDED re-render v52 (B-03 cascade scope measurement)
  docs/certification/EXCLUDED_FEATURES.md
Due: none

phase2-loop48: transaction_visibility_smoke LANDED — vaisdb_runtime 29→30
  crates/vaisc/tests/e2e/phase_vaisdb_runtime_smoke.rs
  docs/certification/CORE_FREEZE_CRITERIA.md
  docs/certification/CURRENT_STATUS.md
  docs/certification/EXCLUDED_FEATURES.md
  scripts/check-integrity.sh
  tests/vaisdb/smoke/transaction_visibility_smoke.vais
Due: unittests, Language Tooling

phase2-loop49: EXCLUDED re-render v54 (B-03 cascade complete)
  docs/certification/EXCLUDED_FEATURES.md
Due: none

phase2-loop50: transaction_cmd_isolation_smoke LANDED — vaisdb_runtime 30→31
  crates/vaisc/tests/e2e/phase_vaisdb_runtime_smoke.rs
  docs/certification/CORE_FREEZE_CRITERIA.md
  docs/certification/CURRENT_STATUS.md
  docs/certification/EXCLUDED_FEATURES.md
  scripts/check-integrity.sh
  tests/vaisdb/smoke/transaction_cmd_isolation_smoke.vais
Due: unittests, Language Tooling

phase2-loop51: transaction_conflict_deadlock_smoke LANDED — vaisdb_runtime 31→32
  crates/vaisc/tests/e2e/phase_vaisdb_runtime_smoke.rs
  docs/certification/CORE_FREEZE_CRITERIA.md
  docs/certification/CURRENT_STATUS.md
  docs/certification/EXCLUDED_FEATURES.md
  scripts/check-integrity.sh
  tests/vaisdb/smoke/transaction_conflict_deadlock_smoke.vais
Due: unittests, Language Tooling

phase2-loop52: transaction_undo_att_smoke LANDED — vaisdb_runtime 32→33
  crates/vaisc/tests/e2e/phase_vaisdb_runtime_smoke.rs
  docs/certification/CORE_FREEZE_CRITERIA.md
  docs/certification/CURRENT_STATUS.md
  docs/certification/EXCLUDED_FEATURES.md
  scripts/check-integrity.sh
  tests/vaisdb/smoke/transaction_undo_att_smoke.vais
Due: unittests, Language Tooling

phase2-loop53: transaction_clog_smoke LANDED — vaisdb_runtime 33→34
  crates/vaisc/tests/e2e/phase_vaisdb_runtime_smoke.rs
  docs/certification/CORE_FREEZE_CRITERIA.md
  docs/certification/CURRENT_STATUS.md
  docs/certification/EXCLUDED_FEATURES.md
  scripts/check-integrity.sh
  tests/vaisdb/smoke/transaction_clog_smoke.vais
Due: unittests, Language Tooling

phase2-loop54: B-04 + B-05 격리 fixture LANDED — vais-server cascade recon (iter 15)
  docs/certification/EXCLUDED_FEATURES.md
  tests/empirical/codegen_bugs/B-04_vec_str_ptr_i64/repro.vais
  tests/empirical/codegen_bugs/B-05_vais_error_opaque/repro.vais
Due: none

phase2-loop55: vais-web pipeline.test.ts wired + baseline_lock raise (iter 16)
  docs/certification/CORE_FREEZE_CRITERIA.md
  docs/certification/CURRENT_STATUS.md
  docs/certification/EXCLUDED_FEATURES.md
  scripts/check-integrity.sh
Due: none

phase2-loop55: compiler CLAUDE.md WEB RUNTIME count update (61/77)
  CLAUDE.md
Due: none

phase2-loop56: vais-web 13 kit unit tests wired (iter 17) +390 promotion
  CLAUDE.md
  docs/certification/CORE_FREEZE_CRITERIA.md
  docs/certification/CURRENT_STATUS.md
  docs/certification/EXCLUDED_FEATURES.md
  scripts/check-integrity.sh
Due: none

phase2-loop57: web_unit 12th gate 신설 — iter 17 mix 정정
  CLAUDE.md
  docs/certification/CORE_FREEZE_CRITERIA.md
  docs/certification/CURRENT_STATUS.md
  docs/certification/EXCLUDED_FEATURES.md
  scripts/check-integrity.sh
Due: none

phase2-loop58: EXCLUDED re-render v63 (vaisdb/vais-server unit audit)
  docs/certification/EXCLUDED_FEATURES.md
Due: none

phase2-loop59: web_packages 13th gate — vais-web 21 packages +3087 promotion
  CLAUDE.md
  docs/certification/EXCLUDED_FEATURES.md
  scripts/check-integrity.sh
Due: none

phase2-loop60: Step 19 P4 잔여 정정 — formatter test 26→68 (iter 21)
  crates/vais-ast/tests/formatter_coverage_tests.rs
  crates/vais-lexer/src/lib.rs
  docs/certification/EXCLUDED_FEATURES.md
Due: unittests, Core Compiler

phase2-loop61: formatter_coverage_tests fully passing — iter 22
  crates/vais-ast/src/formatter/statements.rs
  crates/vais-ast/tests/formatter_coverage_tests.rs
  docs/certification/EXCLUDED_FEATURES.md
Due: unittests, Core Compiler

phase2-loop62: example-app 22번째 package, +185 promotion (iter 23)
  CLAUDE.md
  docs/certification/EXCLUDED_FEATURES.md
  scripts/check-integrity.sh
Due: none

phase2-loop63: compiler cargo test audit — Step 19 P4 stale 정정 (iter 24)
  benches/clone_reduction_bench.rs
  benches/compile_bench.rs
  benches/compiler_benchmarks.rs
  benches/largescale_bench.rs
  benches/lib.rs
  benches/macro_bench.rs
  benches/memory_bench.rs
  benches/performance_bench.rs
  benches/tests/generator_tests.rs
  crates/vais-codegen/src/tests/codegen_tests.rs
  docs/certification/EXCLUDED_FEATURES.md
Due: unittests, Core Compiler

phase2-loop64: vais-codegen 잔여 P4 stale 정정 (iter 25)
  crates/vais-codegen/src/tests/alloc_tests.rs
  crates/vais-codegen/src/tests/async_tests.rs
  crates/vais-codegen/src/tests/codegen_tests.rs
  crates/vais-codegen/src/tests/slice_tests.rs
  crates/vais-codegen/src/tests/type_tests.rs
  crates/vais-codegen/tests/builtins_contracts_coverage_tests.rs
  crates/vais-codegen/tests/codegen_coverage_tests.rs
  crates/vais-codegen/tests/codegen_coverage_tests2.rs
  crates/vais-codegen/tests/codegen_coverage_tests3.rs
  crates/vais-codegen/tests/codegen_coverage_tests4.rs
  crates/vais-codegen/tests/control_flow_coverage_tests.rs
  crates/vais-codegen/tests/control_flow_coverage_tests2.rs
  crates/vais-codegen/tests/error_path_tests.rs
  crates/vais-codegen/tests/error_suggestion_tests.rs
  crates/vais-codegen/tests/expr_helpers_coverage_tests.rs
  crates/vais-codegen/tests/formatter_tests.rs
  crates/vais-codegen/tests/generate_expr_call_tests.rs
  crates/vais-codegen/tests/inkwell_coverage_tests.rs
  crates/vais-codegen/tests/ownership_coverage_tests.rs
  crates/vais-codegen/tests/phase148_safety.rs
  crates/vais-codegen/tests/phase156_codegen_coverage.rs
  docs/certification/EXCLUDED_FEATURES.md
Due: unittests, Core Compiler

phase2-loop66: vais-benches 12/12 + 60+ test file 추가 정정 (iter 27) ⚠️ L-015
  benches/lib.rs
  benches/tests/generator_tests.rs
  crates/vais-codegen-js/tests/integration_tests.rs
  crates/vais-codegen-js/tests/js_coverage_tests.rs
  crates/vais-codegen-js/tests/js_coverage_tests2.rs
  crates/vais-codegen-js/tests/js_coverage_tests3.rs
  crates/vais-codegen-js/tests/vaisx_contract_tests.rs
  crates/vais-jit/tests/integration_tests.rs
  crates/vais-mir/tests/integration_tests.rs
  crates/vais-mir/tests/lower_strict_tests.rs
  crates/vaisc/tests/e2e/advanced.rs
  crates/vaisc/tests/e2e/closures_iter.rs
  crates/vaisc/tests/e2e/phase148_safety.rs
  crates/vaisc/tests/e2e/phase190_str_concat_drop.rs
  crates/vaisc/tests/e2e/phase31.rs
  crates/vaisc/tests/e2e/phase32_patterns.rs
  crates/vaisc/tests/e2e/phase37_comptime_defer.rs
  crates/vaisc/tests/e2e/phase3_16_defer.rs
  crates/vaisc/tests/endurance_tests.rs
  crates/vaisc/tests/error_message_tests.rs
  crates/vaisc/tests/error_scenario_tests.rs
  crates/vaisc/tests/error_snapshot_tests.rs
  crates/vaisc/tests/integration_tests.rs
  crates/vaisc/tests/integrity/ecosystem_health.rs
  crates/vaisc/tests/parallel_codegen_tests.rs
  crates/vaisc/tests/pipeline_compile_tests.rs
  crates/vaisc/tests/scale_test.rs
  crates/vaisc/tests/selfhost_lexer_tests.rs
  docs/certification/EXCLUDED_FEATURES.md
Due: unittests, Core Compiler, Language Tooling, Advanced Features

phase2-loop68: vais-jit P4 close 17/19 (iter 29 step 1)
  crates/vais-jit/src/tiered/tests.rs
  docs/certification/EXCLUDED_FEATURES.md
Due: unittests, Advanced Features

phase2-loop69: TLS Phase A 첫 fix LANDED — std::tls runtime cascade link (iter 32) 🎯
  crates/vaisc/src/runtime.rs
  docs/certification/EXCLUDED_FEATURES.md
Due: unittests, Language Tooling

phase2-loop70-iter33: TLS Runtime smoke + 14th gate (master-plan v75)
  CLAUDE.md
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase_tls_runtime.rs
  docs/certification/EXCLUDED_FEATURES.md
  scripts/check-integrity.sh
Due: unittests, Language Tooling

phase2-loop70-iter34: HTTPS path enable in std/http_client (master-plan v75)
  crates/vaisc/src/runtime.rs
  std/http_client.vais
Due: unittests, Language Tooling

phase2-loop70-iter35: external HTTPS smoke infra (env-gated, default skip)
  crates/vaisc/tests/e2e/phase_tls_runtime.rs
Due: unittests, Language Tooling

phase2-loop73-iter39-render: EXCLUDED_FEATURES master plan v76
  docs/certification/EXCLUDED_FEATURES.md
Due: none

phase2-loop75-iter41: TLS RUNTIME baseline 1→2 + gate-table 3 row 추가 (master-plan v77)
  docs/certification/CORE_FREEZE_CRITERIA.md
  docs/certification/CURRENT_STATUS.md
  docs/certification/EXCLUDED_FEATURES.md
  scripts/check-integrity.sh
Due: none

phase2-loop75-iter45: Vec.push monomorphization callsite mangling fix
  crates/vais-codegen/src/expr_helpers_call/method_call.rs
Due: unittests, Core Compiler

phase2-loop75-iter46: &T deref no-op for fat-pointer-by-value ABI
  crates/vais-codegen/src/generate_expr/ref_deref.rs
Due: unittests, Core Compiler

codegen: B-04a phi-rule violation fix — phi incoming 에 constant zeroinitializer 직접 사용
  crates/vais-codegen/src/control_flow/if_else.rs
  crates/vais-codegen/src/expr_helpers_control.rs
Due: unittests, Core Compiler

codegen: B-04b outer if-else phi_type retroactive fat-pointer upgrade
  crates/vais-codegen/src/expr_helpers_control.rs
Due: unittests, Core Compiler

ci: PKG FULL BUILD 15th gate 신설 — Phase 1 100% Gap baseline measurement
  CLAUDE.md
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase_package_full_build_smoke.rs
  docs/certification/CORE_FREEZE_CRITERIA.md
  docs/certification/CURRENT_STATUS.md
  docs/certification/EXCLUDED_FEATURES.md
  scripts/check-integrity.sh
Due: unittests, Language Tooling

codegen: match arm default — fat-pointer phi 의 'null' default 회피
  crates/vais-codegen/src/control_flow/match_gen.rs
Due: unittests, Core Compiler
