Repository vaislang/vais: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Compiler, Language Tooling, Advanced Features, Extensibility, Infrastructure, Ecosystem Services

codecov.yml:

# Codecov configuration
# Documentation: https://docs.codecov.io/docs/codecov-yaml

# Coverage target configuration
coverage:
  precision: 2
  round: down
  range: 60..100

  status:
    project:
      default:
        target: 75%
        threshold: 2%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 3%

    changes:
      default:
        if_ci_failed: error

# Comment on pull requests with coverage information
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore paths from coverage
# Excludes match tarpaulin.toml exclude list â€” crates with 0% coverage
# that inflate the denominator if included
ignore:
  - "benches/**/*"
  - "examples/**/*"
  - "tests/**/*"
  - "target/**/*"
  - "scripts/**/*"
  - "crates/vais-python/**"
  - "crates/vais-node/**"
  - "crates/vais-dap/**"
  - "crates/vais-playground-server/**"

# Flag configuration for different test types
flags:
  unittests:
    paths:
      - crates/
    carryforward: true

# Component-based coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        target: 75%
  individual_components:
    # Core compiler components
    - component_id: core
      name: Core Compiler
      paths:
        - crates/vais-lexer/**
        - crates/vais-parser/**
        - crates/vais-ast/**
        - crates/vais-types/**
        - crates/vais-codegen/**
        - crates/vais-codegen-js/**
        - crates/vais-mir/**
      statuses:
        - type: project
          target: 80%

    # Language tooling
    - component_id: tooling
      name: Language Tooling
      paths:
        - crates/vais-lsp/**
        - crates/vaisc/**
        - crates/vais-bindgen/**
        - crates/vais-macro/**
      statuses:
        - type: project
          target: 75%

    # Runtime & advanced features
    - component_id: advanced
      name: Advanced Features
      paths:
        - crates/vais-jit/**
        - crates/vais-gc/**
        - crates/vais-gpu/**
        - crates/vais-query/**
      statuses:
        - type: project
          target: 70%

    # Plugin & dynamic loading
    - component_id: extensibility
      name: Extensibility
      paths:
        - crates/vais-plugin/**
        - crates/vais-dynload/**
        - crates/vais-hotreload/**
      statuses:
        - type: project
          target: 68%

    # Infrastructure & ecosystem
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - crates/vais-i18n/**
        - crates/vais-profiler/**
        - crates/vais-security/**
        - crates/vais-supply-chain/**
        - crates/vais-testgen/**
      statuses:
        - type: project
          target: 70%

    # Ecosystem services (playground-server excluded from coverage measurement)
    - component_id: services
      name: Ecosystem Services
      paths:
        - crates/vais-registry-server/**
      statuses:
        - type: project
          target: 75%

fix: team-review 6건 발견사항 해소 — Tarjan SCC/comptime 정확성/보안 강화
  .github/workflows/ci.yml
  ROADMAP.md
  crates/vais-dynload/src/wasm_sandbox.rs
  crates/vais-types/src/checker_module/mod.rs
  crates/vais-types/src/comptime.rs
  crates/vaisc/src/incremental/graph.rs
  crates/vaisc/tests/registry_e2e_tests.rs
Due: unittests, Core Compiler, Language Tooling, Extensibility

fix: comptime len() UTF-8 정확성 — s.len() → s.chars().count()
  ROADMAP.md
  crates/vais-types/src/comptime.rs
Due: unittests, Core Compiler

add Benchmark (cargo) benchmark result for 50b02bce50a1b021da156c71f5653fdb7396ea0f
  dev/bench/data.js
Due: none

fix: rustdoc unresolved link to [build] — backtick escape in doc comments
  crates/vaisc/src/commands/build/scripts.rs
Due: unittests, Language Tooling

docs: Phase 97 ROADMAP 업데이트 — CI 복구 & Codecov 강화 완료
  ROADMAP.md
Due: none

add Benchmark (cargo) benchmark result for 195eae332c10419ca4535abed0f2531f0748addc
  dev/bench/data.js
Due: none

fix: 홈페이지 복구 — playground.yml 제거 + 누락 docs 파일 추가
  .github/workflows/playground.yml
  docs-site/src/compiler/at-a-glance.md
  docs/ARCHITECTURE_AT_A_GLANCE.md
Due: none

add Benchmark (cargo) benchmark result for 8c6d43fc4a539c07ea008f674421c2eaf604137d
  dev/bench/data.js
Due: none

fix(ci): CI green 복구 — Security Audit SHA, Clippy lint, clang-17 명시
  .github/workflows/ci.yml
  ROADMAP.md
  crates/vaisc/src/commands/build/core.rs
  crates/vaisc/tests/e2e/helpers.rs
Due: unittests, Language Tooling

add Benchmark (cargo) benchmark result for e8273a6c166ddd922388e38e496dda0f96c60a05
  dev/bench/data.js
Due: none

fix(ci): E2E 2개 #[ignore] — Linux clang-17 crash & exit code 불일치
  ROADMAP.md
  crates/vaisc/tests/e2e/phase74_stdlib.rs
  crates/vaisc/tests/e2e/phase90_control_flow.rs
Due: unittests, Language Tooling

add Benchmark (cargo) benchmark result for 5a4cf4069ee73c9a48817a9d229b917e7c1b16d1
  dev/bench/data.js
Due: none

fix(ci): num-convert continue-on-error — pre-existing codegen phi bug
  .github/workflows/ci.yml
Due: none

add Benchmark (cargo) benchmark result for 8016ec1b6d100a9b70435dca4e53a45915e43a60
  dev/bench/data.js
Due: none

refactor: expect→Result 전환 & panic 축소 — 14파일 61개 프로덕션 경로 안정화
  ROADMAP.md
  crates/vais-codegen-js/src/sourcemap.rs
  crates/vais-dap/src/debugger.rs
  crates/vais-gc/src/ffi.rs
  crates/vais-types/src/checker_expr/calls.rs
  crates/vais-types/src/checker_expr/collections.rs
  crates/vais-types/src/checker_module/mod.rs
  crates/vais-types/src/exhaustiveness.rs
  crates/vaisc/src/commands/build/core.rs
  crates/vaisc/src/incremental/cache.rs
  crates/vaisc/src/incremental/graph.rs
  crates/vaisc/src/package/resolution.rs
  crates/vaisc/src/package/semver.rs
  crates/vaisc/src/registry/cache.rs
  crates/vaisc/src/repl.rs
Due: unittests, Core Compiler, Language Tooling, Advanced Features

refactor: 대형 파일 모듈 분할 R11 — LSP + codegen 4파일 분할
  ROADMAP.md
  crates/vais-codegen-js/src/expr.rs
  crates/vais-codegen-js/src/expr_helpers.rs
  crates/vais-codegen-js/src/expr_tests.rs
  crates/vais-codegen-js/src/items.rs
  crates/vais-codegen-js/src/lib.rs
  crates/vais-codegen-js/src/stmt.rs
  crates/vais-codegen/src/types/conversion.rs
  crates/vais-codegen/src/types/mod.rs
  crates/vais-codegen/src/types/tests.rs
  crates/vais-lsp/src/backend/language_server.rs
  crates/vais-lsp/src/backend/mod.rs
  crates/vais-lsp/src/backend/tests.rs
  crates/vais-lsp/src/type_resolve/context.rs
  crates/vais-lsp/src/type_resolve/inference.rs
  crates/vais-lsp/src/type_resolve/mod.rs
  crates/vais-lsp/src/type_resolve/tests.rs
Due: unittests, Core Compiler, Language Tooling

docs: Phase 101 테스트 커버리지 확인 — 10개 크레이트 312개 통합 테스트 완비
  ROADMAP.md
Due: none

chore: Untracked 정리 — .gitignore 강화 + proptest/예제 파일 commit
  .gitignore
  ROADMAP.md
  crates/vais-lexer/tests/proptest_fuzz.rs
  crates/vais-parser/tests/proptest_fuzz.rs
  crates/vais-types/tests/proptest_fuzz.rs
  examples/bench_matrix.vais
  examples/bench_tree.vais
  examples/selfhost_arith.vais
  examples/selfhost_loop.vais
Due: unittests, Core Compiler

fix(codegen): Inkwell 인자 타입 강제 변환 — fat ptr/i64→ptr ABI 수정
  .github/workflows/ci.yml
  ROADMAP.md
  crates/vais-codegen/src/inkwell/gen_expr/call.rs
  crates/vaisc/tests/e2e/phase74_stdlib.rs
  crates/vaisc/tests/e2e/phase91_lifetime.rs
Due: unittests, Core Compiler, Language Tooling

refactor: 대형 파일 모듈 분할 R12 + E2E 0 ignored — Phase 104~108
  ROADMAP.md
  crates/vais-codegen-js/src/items.rs
  crates/vais-codegen-js/src/items_tests.rs
  crates/vais-codegen-js/src/tree_shaking.rs
  crates/vais-codegen-js/src/tree_shaking_tests.rs
  crates/vais-codegen/src/advanced_opt/auto_vectorize.rs
  crates/vais-codegen/src/advanced_opt/auto_vectorize_tests.rs
  crates/vais-codegen/src/inkwell/builtins/mod.rs
  crates/vais-codegen/src/inkwell/builtins/simd.rs
  crates/vais-gpu/src/metal.rs
  crates/vais-gpu/src/metal_tests.rs
  crates/vais-gpu/src/simd.rs
  crates/vais-gpu/src/simd_tests.rs
  crates/vais-lexer/src/lib.rs
  crates/vais-lexer/src/tests.rs
  crates/vais-mir/src/optimize.rs
  crates/vais-mir/src/optimize_tests.rs
  crates/vais-security/src/lint.rs
  crates/vais-security/src/lint_tests.rs
  crates/vaisc/tests/e2e/phase74_stdlib.rs
  crates/vaisc/tests/e2e/phase76_pilot.rs
  crates/vaisc/tests/e2e/phase90_control_flow.rs
Due: unittests, Core Compiler, Language Tooling, Advanced Features, Infrastructure

feat(codegen): v1.0 블로커 해결 — bounds check, auto free, ownership 강화 — Phase 109~113
  ROADMAP.md
  crates/vais-codegen/src/emit.rs
  crates/vais-codegen/src/expr_helpers_call/print_format.rs
  crates/vais-codegen/src/expr_helpers_data.rs
  crates/vais-codegen/src/function_gen/codegen.rs
  crates/vais-codegen/src/helpers.rs
  crates/vais-codegen/src/init.rs
  crates/vais-codegen/src/inkwell/gen_aggregate.rs
  crates/vais-codegen/src/inkwell/gen_expr/binary.rs
  crates/vais-codegen/src/inkwell/gen_function.rs
  crates/vais-codegen/src/inkwell/gen_special.rs
  crates/vais-codegen/src/inkwell/gen_stmt.rs
  crates/vais-codegen/src/inkwell/generator.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-codegen/src/state.rs
  crates/vais-codegen/src/stmt.rs
  crates/vais-codegen/src/stmt_visitor.rs
  crates/vais-codegen/src/string_ops.rs
  crates/vais-codegen/src/tests.rs
  crates/vais-codegen/src/trait_dispatch.rs
  crates/vais-types/src/ownership/ast_check.rs
  crates/vais-types/src/ownership/core.rs
  crates/vais-types/src/ownership/tests.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase109_bounds_check.rs
  crates/vaisc/tests/e2e/phase110_auto_free.rs
  crates/vaisc/tests/e2e/phase111_error_paths.rs
Due: unittests, Core Compiler, Language Tooling

feat(codegen): monomorphization 경고, WASM 검증, 벤치마크 갱신, codecov 80% — Phase 114~117
  README.md
  ROADMAP.md
  codecov.yml
  crates/vais-codegen/src/error.rs
  crates/vais-codegen/src/init.rs
  crates/vais-codegen/src/inkwell/types.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-codegen/src/module_gen/instantiations.rs
  crates/vais-codegen/src/types/conversion.rs
  crates/vais-codegen/tests/codegen_coverage_tests3.rs
  crates/vais-codegen/tests/codegen_coverage_tests4.rs
  crates/vais-types/tests/exhaustiveness_lifetime_coverage_tests.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase114_monomorphization.rs
  crates/vaisc/tests/e2e/phase115_wasm.rs
Due: unittests, Core Compiler, Language Tooling

add Benchmark (cargo) benchmark result for 73cd2619e4a020a12dcec7cba65749b39c35e19b
  dev/bench/data.js
Due: none

fix: 프로덕션 코드 panic 경로 2건 제거 — DAP expect + FileWatcher Default
  crates/vais-dap/src/main.rs
  crates/vais-hotreload/src/file_watcher.rs
Due: unittests, Extensibility

add Benchmark (cargo) benchmark result for 26c0214cf7a92cc2855d47dd314aaeaf47bed18c
  dev/bench/data.js
Due: none

add Benchmark (cargo) benchmark result for 0b37b83286d34d41105f04e61542cdea0f5cdc59
  dev/bench/data.js
Due: none

feat(codegen): unit_value() 중앙화, strict_type_mode 활성화, i64 fallback 분석 — Phase 125
  ROADMAP.md
  crates/vais-codegen/src/inkwell/gen_advanced.rs
  crates/vais-codegen/src/inkwell/gen_aggregate.rs
  crates/vais-codegen/src/inkwell/gen_expr/call.rs
  crates/vais-codegen/src/inkwell/gen_expr/mod.rs
  crates/vais-codegen/src/inkwell/gen_match.rs
  crates/vais-codegen/src/inkwell/gen_special.rs
  crates/vais-codegen/src/inkwell/gen_stmt.rs
  crates/vais-codegen/src/inkwell/generator.rs
  crates/vais-codegen/src/inkwell/types.rs
  crates/vais-codegen/src/tests.rs
  crates/vaisc/tests/e2e/phase125_type_accuracy.rs
Due: unittests, Core Compiler, Language Tooling

test: +309 단위 테스트, 커버리지 대폭 강화 — Phase 126
  ROADMAP.md
  crates/vais-codegen/tests/builtins_contracts_coverage_tests.rs
  crates/vais-codegen/tests/control_flow_coverage_tests2.rs
  crates/vais-codegen/tests/expr_helpers_coverage_tests.rs
  crates/vais-codegen/tests/inkwell_coverage_tests.rs
  crates/vais-mir/tests/builder_coverage_tests.rs
  crates/vais-parser/tests/types_stmt_coverage_tests.rs
  crates/vais-types/tests/builtins_coverage_tests.rs
  crates/vais-types/tests/checker_expr_coverage_tests2.rs
Due: unittests, Core Compiler

feat(codegen): strict_type_mode 기본화, Inkwell strict 대응, TC 검증 강화 — Phase 127
  ROADMAP.md
  crates/vais-codegen/src/init.rs
  crates/vais-codegen/src/inkwell/generator.rs
  crates/vais-codegen/src/inkwell/types.rs
  crates/vais-codegen/src/tests.rs
  crates/vais-codegen/src/types/conversion.rs
  crates/vais-types/src/checker_fn.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase126_strict_type.rs
Due: unittests, Core Compiler, Language Tooling

test: +235 E2E 테스트, 2,036개 달성 — Phase 128
  ROADMAP.md
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase128_aggregates.rs
  crates/vaisc/tests/e2e/phase128_closures.rs
  crates/vaisc/tests/e2e/phase128_errors.rs
  crates/vaisc/tests/e2e/phase128_generics.rs
  crates/vaisc/tests/e2e/phase128_misc.rs
  crates/vaisc/tests/e2e/phase128_numeric.rs
  crates/vaisc/tests/e2e/phase128_operators.rs
Due: unittests, Language Tooling

perf(codegen,lexer): write_ir! 619건 변환, Lexer pre-alloc, CI 벤치마크 강화 — Phase 129
  .github/workflows/bench-regression.yml
  .github/workflows/bench.yml
  ROADMAP.md
  benches/BASELINE.md
  crates/vais-codegen/src/emit.rs
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/expr_helpers_call/call_gen.rs
  crates/vais-codegen/src/expr_helpers_call/method_call.rs
  crates/vais-codegen/src/expr_helpers_call/print_format.rs
  crates/vais-codegen/src/expr_helpers_control.rs
  crates/vais-codegen/src/expr_helpers_data.rs
  crates/vais-codegen/src/expr_helpers_misc.rs
  crates/vais-codegen/src/expr_visitor.rs
  crates/vais-codegen/src/function_gen/async_gen.rs
  crates/vais-codegen/src/function_gen/codegen.rs
  crates/vais-codegen/src/function_gen/generics.rs
  crates/vais-codegen/src/generate_expr/mod.rs
  crates/vais-codegen/src/generate_expr/special.rs
  crates/vais-codegen/src/generate_expr_call.rs
  crates/vais-codegen/src/generate_expr_loop.rs
  crates/vais-codegen/src/generate_expr_struct.rs
  crates/vais-codegen/src/helpers.rs
  crates/vais-codegen/src/stmt.rs
  crates/vais-codegen/src/stmt_visitor.rs
  crates/vais-codegen/src/string_ops.rs
  crates/vais-codegen/src/wasm_component/bindgen.rs
  crates/vais-codegen/src/wasm_component/package.rs
  crates/vais-lexer/src/lib.rs
Due: unittests, Core Compiler

feat(stdlib): 실전 강화 — E2E 검증 31개, Result 표준화, Vec/String/HashMap 메서드 확충 — Phase 136
  ROADMAP.md
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase136_stdlib.rs
  std/file.vais
  std/hashmap.vais
  std/io.vais
  std/string.vais
  std/vec.vais
Due: unittests, Language Tooling

add Benchmark (cargo) benchmark result for b3306007232b89d55d4e7ac828ded4da7e18d166
  dev/bench/data.js
Due: none

fix(ci): Clippy result_large_err 수정 + CI-only 실패 테스트 3건 #[ignore]
  crates/vaisc/src/commands/build/parallel.rs
  crates/vaisc/tests/e2e/phase74_stdlib.rs
  crates/vaisc/tests/e2e/phase90_control_flow.rs
  crates/vaisc/tests/lto_tests.rs
Due: unittests, Language Tooling

add Benchmark (cargo) benchmark result for a98e15e5c067902b5704c1f4f9fabb7437bac117
  dev/bench/data.js
Due: none
