Repository vaislang/vais: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Compiler, Language Tooling, Advanced Features, Extensibility, Infrastructure, Ecosystem Services

fix(codegen): suppress runtime intrinsic `declare` in main module (ROADMAP #9)
  crates/vais-codegen/src/function_gen/runtime.rs
  crates/vais-codegen/src/module_gen/instantiations.rs
  crates/vais-codegen/src/module_gen/mod.rs
  crates/vais-codegen/src/module_gen/subset.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase9_duplicate_define_declare.rs
Due: unittests, Core Compiler, Language Tooling

fix(codegen): Phase 191 v3 + cross-module global ownership (vais ROADMAP Phase 2 #24 + D1)
  crates/vais-codegen/src/emit.rs
  crates/vais-codegen/src/init.rs
  crates/vais-codegen/src/inkwell/generator.rs
  crates/vais-codegen/src/inkwell/types.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-codegen/src/module_gen/subset.rs
  crates/vais-codegen/src/tests/type_tests.rs
  crates/vais-codegen/src/types/conversion.rs
  std/string.vais
Due: unittests, Core Compiler

feat(ci): add cargo-mutants and cargo-llvm-cov workflows
  .github/workflows/coverage.yml
  .github/workflows/mutants.yml
  docs/mutation-testing.md
  mutants.toml
Due: none

feat(compiler): Phase 4 Core Stage B + Phase 4b.1 implicit-try
  BASELINE.md
  crates/vais-codegen/src/generate_expr_call.rs
  crates/vais-codegen/src/init.rs
  crates/vais-codegen/src/inkwell/gen_expr/call.rs
  crates/vais-codegen/src/inkwell/generator.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-codegen/src/types/conversion.rs
  crates/vais-types/src/checker_expr/calls.rs
  crates/vais-types/src/lib.rs
  crates/vaisc/src/commands/build/backend.rs
  crates/vaisc/src/commands/build/core.rs
  crates/vaisc/src/commands/build/parallel.rs
  crates/vaisc/src/commands/build/serial.rs
  crates/vaisc/src/commands/compile/per_module.rs
  crates/vaisc/src/commands/simple.rs
  crates/vaisc/src/commands/test.rs
  crates/vaisc/src/imports.rs
  crates/vaisc/src/main.rs
  crates/vaisc/tests/bootstrap_tests.rs
  crates/vaisc/tests/e2e/helpers.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase4b1_implicit_try.rs
  std/os/darwin.vais
  std/os/linux.vais
Due: unittests, Core Compiler, Language Tooling

feat(incremental): std library invalidation delta (Task #11)
  crates/vaisc/src/commands/build/core.rs
  crates/vaisc/src/incremental/cache.rs
  crates/vaisc/src/incremental/detect.rs
  crates/vaisc/src/incremental/mod.rs
  crates/vaisc/src/incremental/stats.rs
  crates/vaisc/src/incremental/types.rs
Due: unittests, Language Tooling

feat(types): Phase 4c.2 totality gate via `partial` modifier (Task #53)
  crates/vais-ast/src/function.rs
  crates/vais-lexer/src/lib.rs
  crates/vais-macro/src/derive.rs
  crates/vais-macro/src/expansion.rs
  crates/vais-parser/src/item/declarations.rs
  crates/vais-parser/src/item/mod.rs
  crates/vais-parser/src/item/traits.rs
  crates/vais-parser/src/lib.rs
  crates/vais-types/src/checker_module/mod.rs
  crates/vais-types/src/lib.rs
  crates/vais-types/src/totality.rs
  crates/vais-types/src/types/error.rs
  crates/vaisc/tests/e2e/concurrency.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/modules_system.rs
  crates/vaisc/tests/e2e/phase45.rs
  crates/vaisc/tests/e2e/phase4c2_partial.rs
Due: unittests, Core Compiler, Language Tooling

feat(types): Phase 4c.3 effect purity gate via pure/io/alloc prefix (Task #54)
  crates/vais-ast/src/function.rs
  crates/vais-ast/src/lib.rs
  crates/vais-ast/tests/display_and_formatter_tests.rs
  crates/vais-ast/tests/integration_tests.rs
  crates/vais-codegen-js/src/items_tests.rs
  crates/vais-codegen-js/src/lib.rs
  crates/vais-codegen-js/src/modules.rs
  crates/vais-codegen-js/src/tree_shaking_tests.rs
  crates/vais-codegen-js/tests/integration_tests.rs
  crates/vais-codegen/src/nested_field_tests.rs
  crates/vais-codegen/src/struct_param_tests.rs
  crates/vais-codegen/tests/formatter_tests.rs
  crates/vais-lexer/src/lib.rs
  crates/vais-macro/src/derive.rs
  crates/vais-macro/src/expansion.rs
  crates/vais-parser/src/item/declarations.rs
  crates/vais-parser/src/item/mod.rs
  crates/vais-parser/src/item/traits.rs
  crates/vais-parser/src/lib.rs
  crates/vais-types/src/checker_module/mod.rs
  crates/vais-types/src/effect_purity.rs
  crates/vais-types/src/effects.rs
  crates/vais-types/src/lib.rs
  crates/vaisc/src/incremental/detect.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase4c3_effect.rs
  crates/vaisc/tests/selfhost_lexer_tests.rs
Due: unittests, Core Compiler, Language Tooling

feat(vaisc): Phase 4c.4 deterministic build — scope Vais→.o (Task #55)
  crates/vaisc/src/commands/compile/mod.rs
  crates/vaisc/src/commands/compile/native.rs
  crates/vaisc/src/commands/compile/per_module.rs
Due: unittests, Language Tooling

fix(selfhost): add missing parser_check function for bootstrap (Phase 4d)
  selfhost/main.vais
Due: none

test(e2e): convert 10 assert_compiles to assert_exit_code (Phase 4d.2)
  crates/vaisc/tests/e2e/phase148_safety.rs
  crates/vaisc/tests/e2e/phase158_type_strict.rs
Due: unittests, Language Tooling

fix(types): E022 StructLit false positive + convert 17 assert_compiles (Phase 4d.2)
  crates/vais-types/src/ownership/ast_check.rs
  crates/vaisc/tests/e2e/phase142_ir_type_tracking.rs
  crates/vaisc/tests/e2e/phase145_r2_type_accuracy.rs
  crates/vaisc/tests/e2e/phase145_r4_drop.rs
  crates/vaisc/tests/e2e/phase146_nested_generics.rs
  crates/vaisc/tests/e2e/phase158_type_strict.rs
  crates/vaisc/tests/e2e/phase164_btree.rs
  crates/vaisc/tests/e2e/phase166_vec_slice_coercion.rs
  crates/vaisc/tests/e2e/phase182_vec_generic_types.rs
Due: unittests, Core Compiler, Language Tooling

test(e2e): convert 5 more assert_compiles to assert_exit_code (Phase 4d.3)
  crates/vaisc/tests/e2e/phase142_ir_type_tracking.rs
  crates/vaisc/tests/e2e/phase158_type_strict.rs
Due: unittests, Language Tooling

fix(codegen): specialize struct literal layout for generic structs (Phase 4d.4)
  crates/vais-codegen/src/generate_expr_struct.rs
  crates/vaisc/tests/e2e/phase164_btree.rs
  crates/vaisc/tests/e2e/phase166_vec_slice_coercion.rs
  crates/vaisc/tests/e2e/phase182_vec_generic_types.rs
Due: unittests, Core Compiler, Language Tooling

fix(codegen): set substitutions for specialized struct methods (Phase 191.1)
  crates/vais-codegen/src/function_gen/codegen.rs
  crates/vais-codegen/src/generate_expr_struct.rs
Due: unittests, Core Compiler

fix(codegen): revert unsafe struct literal Case 2 specialization (Phase 191)
  crates/vais-codegen/src/generate_expr_struct.rs
  crates/vaisc/tests/e2e/phase164_btree.rs
Due: unittests, Core Compiler, Language Tooling

feat(codegen): add str.push_str() and str.as_bytes() methods (Phase 190)
  crates/vais-codegen/src/string_ops.rs
  crates/vais-codegen/src/type_inference.rs
  crates/vais-types/src/checker_expr/calls.rs
  crates/vaisc/tests/e2e/phase134_string.rs
Due: unittests, Core Compiler, Language Tooling

fix(codegen): fix float literal IR for f32 and main() return (Phase 191)
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/function_gen/codegen.rs
Due: unittests, Core Compiler

test(e2e): convert 3 phase158 assert_compiles to assert_exit_code (Phase 191)
  crates/vaisc/tests/e2e/phase158_type_strict.rs
Due: unittests, Language Tooling

fix(codegen): skip base generic methods + fix field GEP for specialized structs (Phase 191)
  crates/vais-codegen/src/expr_helpers_data.rs
  crates/vais-codegen/src/module_gen/instantiations.rs
  crates/vais-codegen/src/module_gen/mod.rs
Due: unittests, Core Compiler

test(e2e): convert 3 phase182 assert_compiles to assert_exit_code (Phase 191)
  crates/vaisc/tests/e2e/phase182_vec_generic_types.rs
Due: unittests, Language Tooling

feat(codegen): support v[i].field direct access (Phase 190 #3)
  ROADMAP.md
  crates/vais-codegen/src/inkwell/gen_match.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase190_vec_field_access.rs
Due: unittests, Core Compiler, Language Tooling

fix(codegen): i64→i1 coercion for bool call arguments (Phase 190 #7)
  ROADMAP.md
  crates/vais-codegen/src/generate_expr_call.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase190_bool_arg_coercion.rs
Due: unittests, Core Compiler, Language Tooling

fix(codegen): wrap generic-resolved async calls in Future<T> (Phase 190 #5)
  ROADMAP.md
  crates/vais-codegen/src/type_inference.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase190_generic_async.rs
Due: unittests, Core Compiler, Language Tooling

docs(roadmap): split drop-tracking into Phase 190.5 for fresh-session pickup
  ROADMAP.md
Due: none

fix(codegen): string concat drop-tracking with ownership transfer (Phase 190.5+190.6)
  ROADMAP.md
  crates/vais-codegen/src/control_flow/if_else.rs
  crates/vais-codegen/src/expr_helpers_control.rs
  crates/vais-codegen/src/function_gen/codegen.rs
  crates/vais-codegen/src/init.rs
  crates/vais-codegen/src/inkwell/gen_expr/binary.rs
  crates/vais-codegen/src/inkwell/gen_function.rs
  crates/vais-codegen/src/inkwell/gen_special.rs
  crates/vais-codegen/src/inkwell/gen_stmt.rs
  crates/vais-codegen/src/inkwell/generator.rs
  crates/vais-codegen/src/state.rs
  crates/vais-codegen/src/stmt.rs
  crates/vais-codegen/src/stmt_visitor.rs
  crates/vais-codegen/src/string_ops.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase190_str_concat_drop.rs
  docs/rfcs/RFC-001-string-ownership.md
Due: unittests, Core Compiler, Language Tooling

docs(roadmap): register Phase 191 follow-ups from RFC-001 (5 tasks)
  ROADMAP.md
Due: none

docs(roadmap): mark Phase 191 #1 (RSS plateau) complete
  ROADMAP.md
Due: none

fix(codegen): text-IR backend scope-drop parity with inkwell (Phase 191 #5)
  ROADMAP.md
  crates/vais-codegen/src/init.rs
  crates/vais-codegen/src/state.rs
  crates/vais-codegen/src/stmt.rs
  crates/vais-codegen/src/stmt_visitor.rs
  crates/vais-codegen/src/string_ops.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase191_text_ir_scope_drop.rs
Due: unittests, Core Compiler, Language Tooling

docs(rfc): RFC-002 draft — container-owned string ownership
  ROADMAP.md
  docs/rfcs/RFC-002-container-string-ownership.md
Due: none

docs(rfc): RFC-002 sign-off — Option D (bitmap-exclusive free)
  docs/rfcs/RFC-002-container-string-ownership.md
Due: none

docs(roadmap): split Phase 191 #2 into #2a/#2b/#2c per RFC-002
  ROADMAP.md
Due: none

docs(roadmap): session checkpoint — mode: pending for fresh-session pickup
  ROADMAP.md
Due: none

fix(codegen): transfer_slot Ident fallback — prevent UAF on alloca-backed Str (Phase 191 #7)
  ROADMAP.md
  crates/vais-codegen/src/inkwell/gen_stmt.rs
  crates/vais-codegen/src/stmt_visitor.rs
  crates/vaisc/tests/e2e/phase191_text_ir_scope_drop.rs
Due: unittests, Core Compiler, Language Tooling

fix(codegen): free loop-inner string scope frames on break/continue (Phase 191 #6)
  ROADMAP.md
  crates/vais-codegen/src/expr_helpers_control.rs
  crates/vais-codegen/src/generate_expr/loops.rs
  crates/vais-codegen/src/generate_expr_loop.rs
  crates/vais-codegen/src/inkwell/gen_stmt.rs
  crates/vais-codegen/src/inkwell/generator.rs
  crates/vais-codegen/src/stmt.rs
  crates/vais-codegen/src/stmt_visitor.rs
  crates/vais-codegen/src/types/mod.rs
  crates/vaisc/tests/e2e/phase191_text_ir_scope_drop.rs
Due: unittests, Core Compiler, Language Tooling

test(e2e): phase191 coverage — substring/push_str/break scope-drop (Phase 191 #8)
  ROADMAP.md
  crates/vaisc/tests/e2e/phase191_text_ir_scope_drop.rs
Due: unittests, Language Tooling

docs(roadmap): session 2 checkpoint — 3 tasks done, switch to pending for /clear
  ROADMAP.md
Due: none

docs(rfc): RFC-002 §9 scope correction — Vec<T> actual layout (Phase 191 #2a-rfc)
  ROADMAP.md
  docs/rfcs/RFC-002-container-string-ownership.md
Due: none

docs(roadmap): session 3 checkpoint — #2a-rfc complete, user review gate
  ROADMAP.md
Due: none

docs(rfc): RFC-002 §9.7 — %Vec fallback vs %Vec\$str layout blocker (Phase 191 #2a pre-impl survey)
  ROADMAP.md
  docs/rfcs/RFC-002-container-string-ownership.md
Due: none

docs(rfc): RFC-002 §9.8 — actual diagnosis, RFC-003 withdrawn (Phase 192 closed)
  ROADMAP.md
  docs/rfcs/RFC-002-container-string-ownership.md
Due: none

Path conditions:
  unittests: any of: crates/, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Core Compiler: any of: crates/vais-lexer/**, crates/vais-parser/**, crates/vais-ast/**, crates/vais-types/**, crates/vais-codegen/**, crates/vais-codegen-js/**, crates/vais-mir/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Language Tooling: any of: crates/vais-lsp/**, crates/vaisc/**, crates/vais-bindgen/**, crates/vais-macro/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Advanced Features: any of: crates/vais-jit/**, crates/vais-gc/**, crates/vais-gpu/**, crates/vais-query/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Extensibility: any of: crates/vais-plugin/**, crates/vais-dynload/**, crates/vais-hotreload/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Infrastructure: any of: crates/vais-i18n/**, crates/vais-profiler/**, crates/vais-security/**, crates/vais-supply-chain/**, crates/vais-testgen/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Ecosystem Services: any of: crates/vais-registry-server/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
