Repository vaislang/vais: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Compiler, Language Tooling, Advanced Features, Extensibility, Infrastructure, Ecosystem Services

codecov.yml:

# Codecov configuration
# Documentation: https://docs.codecov.io/docs/codecov-yaml

# Coverage target configuration
coverage:
  precision: 2
  round: down
  range: 60..100

  status:
    project:
      default:
        target: 75%
        threshold: 2%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 3%

    changes:
      default:
        if_ci_failed: error

# Comment on pull requests with coverage information
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore paths from coverage
# Excludes match tarpaulin.toml exclude list â€” crates with 0% coverage
# that inflate the denominator if included
ignore:
  - "benches/**/*"
  - "examples/**/*"
  - "tests/**/*"
  - "target/**/*"
  - "scripts/**/*"
  - "crates/vais-python/**"
  - "crates/vais-node/**"
  - "crates/vais-dap/**"
  - "crates/vais-playground-server/**"

# Flag configuration for different test types
flags:
  unittests:
    paths:
      - crates/
    carryforward: true

# Component-based coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        target: 75%
  individual_components:
    # Core compiler components
    - component_id: core
      name: Core Compiler
      paths:
        - crates/vais-lexer/**
        - crates/vais-parser/**
        - crates/vais-ast/**
        - crates/vais-types/**
        - crates/vais-codegen/**
        - crates/vais-codegen-js/**
        - crates/vais-mir/**
      statuses:
        - type: project
          target: 80%

    # Language tooling
    - component_id: tooling
      name: Language Tooling
      paths:
        - crates/vais-lsp/**
        - crates/vaisc/**
        - crates/vais-bindgen/**
        - crates/vais-macro/**
      statuses:
        - type: project
          target: 75%

    # Runtime & advanced features
    - component_id: advanced
      name: Advanced Features
      paths:
        - crates/vais-jit/**
        - crates/vais-gc/**
        - crates/vais-gpu/**
        - crates/vais-query/**
      statuses:
        - type: project
          target: 70%

    # Plugin & dynamic loading
    - component_id: extensibility
      name: Extensibility
      paths:
        - crates/vais-plugin/**
        - crates/vais-dynload/**
        - crates/vais-hotreload/**
      statuses:
        - type: project
          target: 68%

    # Infrastructure & ecosystem
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - crates/vais-i18n/**
        - crates/vais-profiler/**
        - crates/vais-security/**
        - crates/vais-supply-chain/**
        - crates/vais-testgen/**
      statuses:
        - type: project
          target: 70%

    # Ecosystem services (playground-server excluded from coverage measurement)
    - component_id: services
      name: Ecosystem Services
      paths:
        - crates/vais-registry-server/**
      statuses:
        - type: project
          target: 75%

docs(roadmap): iteration 32 — 0 net pass, deep API drift cluster
  ROADMAP.md
Due: none

feat(vais-codegen): deref Ref/RefMut in variant pattern field-type resolution
  ROADMAP.md
  crates/vais-codegen/src/control_flow/pattern.rs
Due: unittests, Core Compiler

feat(vais-codegen): Never-promotion on Expr::Assign (codegen-side mirror)
  ROADMAP.md
  crates/vais-codegen/src/expr_helpers_assign.rs
  scripts/check-integrity.sh
Due: unittests, Core Compiler

feat(vais-codegen): prefer variant with matching field set for short-form Pattern::Struct
  ROADMAP.md
  crates/vais-codegen/src/control_flow/pattern.rs
  scripts/check-integrity.sh
Due: unittests, Core Compiler

docs(roadmap): Phase 6.27b iteration 36 — vaisdb floor 224 → 226
  ROADMAP.md
  scripts/check-integrity.sh
Due: none

docs(roadmap): iteration 37 — 0 net pass, HashMap value-type erasure limit
  ROADMAP.md
Due: none

docs(roadmap): Phase 6.27b iteration 38 — vaisdb floor 226 → 227
  ROADMAP.md
  scripts/check-integrity.sh
Due: none

docs(roadmap): iteration 39 — 0 net pass, saturation nearing
  ROADMAP.md
Due: none

docs(roadmap): Phase 6.27b iteration 40 — vaisdb floor 227 → 228
  ROADMAP.md
  scripts/check-integrity.sh
Due: none

docs(roadmap): iteration 41 — 0 net pass + flake discovery
  ROADMAP.md
  scripts/check-integrity.sh
Due: none

fix(vais-types): deterministic enum iteration for variant name lookup
  ROADMAP.md
  crates/vais-types/src/lookup.rs
  scripts/check-integrity.sh
Due: unittests, Core Compiler

docs(roadmap): iteration 43 — 0 net pass, btree/insert blocked by ownership
  ROADMAP.md
Due: none

docs(roadmap): iteration 44 — 0 net pass, window.vais nested-scope TC bug
  ROADMAP.md
Due: none

docs(roadmap): iteration 45 — 0 net pass, MutexGuard Deref blocker
  ROADMAP.md
Due: none

docs(roadmap): Phase 6.27b iteration 46 — vaisdb floor 228 → 229
  ROADMAP.md
  scripts/check-integrity.sh
Due: none

docs(roadmap): iteration 47 — 0 net pass, deadlock structural block
  ROADMAP.md
Due: none

docs(roadmap): iteration 48 — HnswConfig schema extensions
  ROADMAP.md
Due: none

docs(roadmap): iteration 49 — 0 net pass, enum-name shadowing
  ROADMAP.md
Due: none

feat(vais-types): prefer enum-name over variant-name-shadow for Ident.Field
  ROADMAP.md
  crates/vais-types/src/checker_expr/collections.rs
Due: unittests, Core Compiler

docs(roadmap): iteration 51 — 0 net pass, cross-file Parser method block
  ROADMAP.md
Due: none

feat(vais-types): fallback enum-variant-struct-literal resolution
  ROADMAP.md
  crates/vais-types/src/checker_expr/collections.rs
Due: unittests, Core Compiler

docs(roadmap): iteration 53 — 0 net pass, variant disambiguation limit
  ROADMAP.md
Due: none

docs(roadmap): Phase 6.27b → 6.27c transition plan
  ROADMAP.md
  docs/phase6_27c_plan.md
Due: none

feat(vaisc): tolerate circular imports (empty Module on cycle) + Phase 6.27c.1
  ROADMAP.md
  crates/vaisc/src/imports.rs
  scripts/check-integrity.sh
Due: unittests, Language Tooling

feat(vais-types): extend Guard<T> forwarding to Expr::Index
  ROADMAP.md
  crates/vais-types/src/checker_expr/collections.rs
  scripts/check-integrity.sh
Due: unittests, Core Compiler

feat(vais-types): enum-hint stack for bare-variant disambiguation
  ROADMAP.md
  crates/vais-types/src/checker_expr/calls.rs
  crates/vais-types/src/checker_expr/collections.rs
  crates/vais-types/src/lib.rs
  crates/vais-types/src/lookup.rs
  scripts/check-integrity.sh
Due: unittests, Core Compiler

feat(vais-types): widen match arms to Unit when bodies are statement-like
  ROADMAP.md
  crates/vais-types/src/checker_expr/control_flow.rs
  scripts/check-integrity.sh
Due: unittests, Core Compiler

docs(roadmap): Phase 6.27c.4 close + session-end — mode: stopped
  ROADMAP.md
Due: none

feat(vais-types): peel Box<dyn T> / Ref/RefMut in trait-method lookup
  ROADMAP.md
  crates/vais-types/src/lookup.rs
  crates/vais-types/tests/dyn_trait_tests.rs
Due: unittests, Core Compiler

docs(roadmap): Phase 6.27c.6 SCOPED — residual blockers classified
  ROADMAP.md
Due: none

docs(roadmap): session end — mode: stopped, Phase 6.27d plan noted
  ROADMAP.md
Due: none

feat(vais-types): exclude recursive self-method from arm widening (Phase 6.27d.a)
  ROADMAP.md
  crates/vais-types/src/checker_expr/calls.rs
  crates/vais-types/src/checker_expr/control_flow.rs
  scripts/check-integrity.sh
Due: unittests, Core Compiler

feat(vais-types): unify HashMap K/V via insert, resolve via get (Phase 6.27d.c)
  ROADMAP.md
  crates/vais-types/src/checker_expr/calls.rs
Due: unittests, Core Compiler

feat(vais-types,std): HashSet.new() + static builtin (Phase 6.27e.a)
  ROADMAP.md
  crates/vais-types/src/checker_expr/calls.rs
  scripts/check-integrity.sh
  std/hashset.vais
Due: unittests, Core Compiler

feat(vais-types): peel Ref/RefMut(Generic) in trait-method lookup (Phase 6.27e.b)
  ROADMAP.md
  crates/vais-types/src/lookup.rs
Due: unittests, Core Compiler

docs(roadmap): Phase 6.27d + 6.27e closed — vaisdb 234 → 236/261
  ROADMAP.md
Due: none

feat(vais-types): HashMap.values_mut() builtin + phase 6.27f mop-up
  ROADMAP.md
  crates/vais-types/src/checker_expr/calls.rs
Due: unittests, Core Compiler

docs(roadmap): Phase 6.27f closed — vaisdb 236/261 (floor stable, structural win)
  ROADMAP.md
Due: none

feat(vais-types): ok_or/ok_or_else handle Named{Option,[T]} shape (Phase 6.27g)
  crates/vais-types/src/checker_expr/calls.rs
Due: unittests, Core Compiler

docs(roadmap): Phase 6.27g closed — search.vais 23 sites + ok_or Named<Option> fix
  ROADMAP.md
Due: none
