Repository vaislang/vais: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Compiler, Language Tooling, Advanced Features, Experimental Features, Infrastructure

add Benchmark (cargo) benchmark result for 52a28c1198a91de01f6a0b93792535d47aece407
  dev/bench/data.js
Due: none

bench: SIMD vector distance benchmarks with NEON/AVX2, 357 E2E tests (Phase 49 Stage 1)
  ROADMAP.md
  benches/Cargo.toml
  benches/simd_bench.rs
  crates/vaisc/tests/e2e_tests.rs
  examples/simd_distance.vais
Due: unittests, Language Tooling

add Benchmark (cargo) benchmark result for f0fdd2ac34d89647efd199e23af39c72952f1470
  dev/bench/data.js
Due: none

test: Linux platform compatibility E2E tests, 362 total (Phase 49 Stage 2)
  ROADMAP.md
  crates/vaisc/tests/e2e_tests.rs
Due: unittests, Language Tooling

add Benchmark (cargo) benchmark result for 676188350b9908eab33f36dc9435a3da480468f8
  dev/bench/data.js
Due: none

feat: workspace support for monorepo multi-package management (Phase 50 Stage 0)
  ROADMAP.md
  crates/vaisc/Cargo.toml
  crates/vaisc/src/main.rs
  crates/vaisc/src/package.rs
  crates/vaisc/tests/e2e_tests.rs
Due: unittests, Language Tooling

feat: feature flags with conditional compilation support (Phase 50 Stage 1)
  ROADMAP.md
  crates/vais-parser/src/lib.rs
  crates/vaisc/src/main.rs
  crates/vaisc/src/package.rs
  crates/vaisc/tests/e2e_tests.rs
Due: unittests, Core Compiler, Language Tooling

feat: build scripts, global install, bench/fix/lint, vendor/package/metadata (Phase 50 Stages 2-4)
  ROADMAP.md
  crates/vaisc/src/main.rs
  crates/vaisc/tests/registry_e2e_tests.rs
Due: unittests, Language Tooling

test: crate integration tests, CI expansion, --coverage flag (Phase 53)
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/tsan.yml
  ROADMAP.md
  crates/vais-ast/tests/integration_tests.rs
  crates/vais-codegen/src/optimize.rs
  crates/vais-i18n/tests/integration_tests.rs
  crates/vais-security/tests/integration_tests.rs
  crates/vais-supply-chain/tests/integration_tests.rs
  crates/vais-testgen/src/lib.rs
  crates/vais-testgen/tests/integration_tests.rs
  crates/vaisc/src/commands/advanced.rs
  crates/vaisc/src/commands/build.rs
  crates/vaisc/src/commands/compile.rs
  crates/vaisc/src/commands/pkg.rs
  crates/vaisc/src/commands/simple.rs
  crates/vaisc/src/commands/test.rs
  crates/vaisc/src/main.rs
  crates/vaisc/tests/e2e_tests.rs
Due: unittests, Core Compiler, Language Tooling, Infrastructure

add Benchmark (cargo) benchmark result for 2858fd4f10884dddfae94051821a9e02c44e290e
  dev/bench/data.js
Due: none

fix: resolve clippy warnings and test compilation errors
  ROADMAP.md
  crates/vais-codegen/src/inkwell/gen_declaration.rs
  crates/vais-codegen/src/inkwell/generator.rs
  crates/vais-testgen/src/generator.rs
  crates/vais-testgen/src/tests.rs
  crates/vais-testgen/tests/integration_tests.rs
  crates/vais-types/src/builtins.rs
  crates/vaisc/src/commands/compile.rs
  crates/vaisc/src/main.rs
  crates/vaisc/src/utils.rs
Due: unittests, Core Compiler, Language Tooling

add Benchmark (cargo) benchmark result for 3dc12099a0bdac08b766dd20c24b0c39e83df4f7
  dev/bench/data.js
Due: none

docs: migration guides, cookbook, example projects, IDE enhancements (Phase 54)
  ROADMAP.md
  crates/vaisc/tests/e2e_tests.rs
  docs-site/src/SUMMARY.md
  docs-site/src/guides/cookbook.md
  docs-site/src/guides/migration-from-c.md
  docs-site/src/guides/migration-from-rust.md
  docs-site/src/guides/performance.md
  docs-site/src/troubleshooting.md
  examples/projects/chat-server/README.md
  examples/projects/chat-server/client.vais
  examples/projects/chat-server/main.vais
  examples/projects/chat-server/room.vais
  examples/projects/data-pipeline/README.md
  examples/projects/data-pipeline/csv_reader.vais
  examples/projects/data-pipeline/loader.vais
  examples/projects/data-pipeline/main.vais
  examples/projects/data-pipeline/sample.csv
  examples/projects/data-pipeline/transform.vais
  examples/projects/grep-vais/README.md
  examples/projects/grep-vais/main.vais
  examples/projects/grep-vais/search.vais
  examples/projects/grep-vais/simple_grep.vais
  examples/projects/todo-api/README.md
  examples/projects/todo-api/db.vais
  examples/projects/todo-api/main.vais
  examples/projects/todo-api/models.vais
  intellij-vais/src/main/kotlin/com/vais/intellij/run/VaisRunConfiguration.kt
  intellij-vais/src/main/kotlin/com/vais/intellij/run/VaisRunConfigurationEditor.kt
  intellij-vais/src/main/kotlin/com/vais/intellij/run/VaisRunConfigurationFactory.kt
  intellij-vais/src/main/kotlin/com/vais/intellij/run/VaisRunConfigurationType.kt
  intellij-vais/src/main/kotlin/com/vais/intellij/run/VaisRunState.kt
  intellij-vais/src/main/resources/META-INF/plugin.xml
  vscode-vais/.vscodeignore
  vscode-vais/README.md
  vscode-vais/package.json
  vscode-vais/snippets/vais.json
Due: unittests, Language Tooling

feat: stdlib gap resolution, VaisDB storage engine prototype (Phase 55)
  ROADMAP.md
  crates/vais-codegen/src/builtins.rs
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/function_gen.rs
  crates/vais-codegen/src/inkwell/gen_expr.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-types/src/builtins.rs
  crates/vaisc/tests/e2e_tests.rs
  examples/projects/vaisdb/README.md
  examples/projects/vaisdb/btree.vais
  examples/projects/vaisdb/main.vais
  examples/projects/vaisdb/page.vais
  examples/projects/vaisdb/row.vais
  examples/projects/vaisdb/storage.vais
  std/bytebuffer.vais
  std/filesystem.vais
  std/hashmap.vais
  std/stringmap.vais
Due: unittests, Core Compiler, Language Tooling

chore: cleanup backup file, gitignore, and test warnings
  .gitignore
  crates/vais-types/tests/object_safety_tests.rs
  crates/vaisc/tests/phase34_stability_tests.rs
  crates/vaisc/tests/stress_tests.rs
Due: unittests, Core Compiler, Language Tooling

add Benchmark (cargo) benchmark result for 8a9cfe88ee1d422005dbfe0b7da4d385d4f0947b
  dev/bench/data.js
Due: none

fix: prevent docs.yml from overwriting homepage on GitHub Pages
  .github/workflows/docs.yml
Due: none

add Benchmark (cargo) benchmark result for e49503bf3099758aafb01b608bf13b9159d2e607
  dev/bench/data.js
Due: none

add Benchmark (cargo) benchmark result for d4ae71bb44d821467a531663967e489fbc9ff384
  dev/bench/data.js
Due: none

fix: use platform-conditional d_name offset for readdir on Linux
  crates/vais-codegen/src/function_gen.rs
Due: unittests, Core Compiler

add Benchmark (cargo) benchmark result for 6f5e990e9664e7629d947819e025d1c23859ee3d
  dev/bench/data.js
Due: none

add Benchmark (cargo) benchmark result for 5730effc60bf2c74f1878c6a652346297630445d
  dev/bench/data.js
Due: none

fix: unify URLs to vais.dev, fix redirect rules and accessibility
  README.md
  docs-site/CHECKLIST.md
  docs-site/CONTRIBUTING.md
  docs-site/FILES_CREATED.txt
  docs-site/OVERVIEW.md
  docs-site/PROJECT_SUMMARY.md
  docs-site/QUICK_REFERENCE.md
  docs-site/README.md
  docs/PERFORMANCE_TESTING.md
  website/index.html
  website/src/main.js
  website/vercel.json
Due: none

add Benchmark (cargo) benchmark result for 0b47796265862e6506b751e6bca873607e447040
  dev/bench/data.js
Due: none

refactor: Phase 56 compiler robustness & code quality
  ROADMAP.md
  crates/vais-codegen/src/builtins.rs
  crates/vais-codegen/src/contracts.rs
  crates/vais-codegen/src/ffi.rs
  crates/vais-codegen/src/function_gen.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-codegen/src/optimize.rs
  crates/vais-codegen/src/registration.rs
  crates/vais-codegen/src/types.rs
  crates/vais-codegen/src/vtable_tests.rs
  crates/vais-jit/Cargo.toml
  crates/vais-jit/src/compiler.rs
  crates/vais-jit/src/runtime.rs
  crates/vais-jit/src/tiered.rs
  crates/vais-jit/src/types.rs
  crates/vais-lsp/Cargo.toml
  crates/vais-lsp/src/ai_completion.rs
  crates/vais-lsp/src/backend.rs
  crates/vais-lsp/src/diagnostics.rs
  crates/vais-lsp/src/semantic.rs
  crates/vais-macro/src/async_macros.rs
  crates/vais-macro/src/derive.rs
  crates/vais-macro/src/expansion.rs
  crates/vais-macro/src/proc_macro.rs
  crates/vais-mir/src/emit_llvm.rs
  crates/vais-mir/src/lib.rs
  crates/vais-mir/src/lower.rs
  crates/vais-mir/src/optimize.rs
  crates/vais-query/src/tests.rs
  crates/vaisc/src/commands/pkg.rs
  crates/vaisc/src/commands/test.rs
  crates/vaisc/src/incremental.rs
Due: unittests, Core Compiler, Language Tooling, Advanced Features

add Benchmark (cargo) benchmark result for 175776403c3775785b8b6363e614c8dbb9e5a8ee
  dev/bench/data.js
Due: none

feat: Phase 57 WASM target support & Phase 58 async runtime
  ROADMAP.md
  crates/vais-codegen/src/function_gen.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-codegen/src/wasm_component.rs
  crates/vais-playground-server/Cargo.toml
  crates/vais-playground-server/src/main.rs
  crates/vaisc/src/commands/compile.rs
  crates/vaisc/tests/e2e_tests.rs
  examples/concurrency_stress.vais
  playground/src/compiler.js
  playground/src/main.js
  playground/src/wasm-runner.js
  std/async.vais
  std/async_http.vais
  std/async_io.vais
  std/async_net.vais
  std/future.vais
  std/runtime.vais
  std/wasm.vais
Due: unittests, Core Compiler, Language Tooling

add Benchmark (cargo) benchmark result for fab37f61a5fdb35bacbf3803547c36de72e26699
  dev/bench/data.js
Due: none

fix: apply rustfmt and restore codecov badge
  README.md
  ROADMAP.md
  crates/vais-codegen/src/function_gen.rs
  crates/vais-codegen/src/wasm_component.rs
  crates/vais-jit/src/compiler.rs
  crates/vais-lsp/src/semantic.rs
  crates/vais-mir/src/emit_llvm.rs
  crates/vais-mir/src/optimize.rs
  crates/vais-query/src/tests.rs
  crates/vaisc/src/commands/compile.rs
  crates/vaisc/src/commands/pkg.rs
  crates/vaisc/src/commands/test.rs
  crates/vaisc/src/incremental.rs
  crates/vaisc/tests/e2e_tests.rs
Due: unittests, Core Compiler, Language Tooling, Advanced Features

add Benchmark (cargo) benchmark result for 191d259d3a0b5e030c3441d97267b7182830a8bb
  dev/bench/data.js
Due: none

feat: Phase 59 WASM ↔ JS interop with import/export attributes
  ROADMAP.md
  crates/vais-ast/src/lib.rs
  crates/vais-bindgen/src/lib.rs
  crates/vais-bindgen/src/wasm_js.rs
  crates/vais-codegen/src/ffi.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-codegen/src/registration.rs
  crates/vais-codegen/src/wasm_component.rs
  crates/vais-parser/src/ffi.rs
  crates/vais-parser/src/item.rs
  crates/vaisc/Cargo.toml
  crates/vaisc/tests/e2e_tests.rs
  std/web.vais
Due: unittests, Core Compiler, Language Tooling

add Benchmark (cargo) benchmark result for 61c02db083a9100119021e9564aa770ff9635640
  dev/bench/data.js
Due: none

feat: Phase 60 JavaScript code generation backend
  Cargo.toml
  ROADMAP.md
  crates/vais-codegen-js/Cargo.toml
  crates/vais-codegen-js/src/expr.rs
  crates/vais-codegen-js/src/items.rs
  crates/vais-codegen-js/src/lib.rs
  crates/vais-codegen-js/src/modules.rs
  crates/vais-codegen-js/src/sourcemap.rs
  crates/vais-codegen-js/src/stmt.rs
  crates/vais-codegen-js/src/tree_shaking.rs
  crates/vais-codegen-js/src/types.rs
  crates/vaisc/Cargo.toml
  crates/vaisc/src/commands/build_js.rs
  crates/vaisc/src/commands/mod.rs
  crates/vaisc/src/main.rs
  crates/vaisc/tests/e2e_tests.rs
  scripts/js-bundle-bench.sh
Due: unittests, Language Tooling

fix: capitalize logo text from 'vais' to 'Vais' across website
  website/blog/index.html
  website/blog/why-vais.html
  website/index.html
Due: none

add Benchmark (cargo) benchmark result for 045ffc0936d66f24c76634cb983e2de75081a29b
  dev/bench/data.js
Due: none

add Benchmark (cargo) benchmark result for 79aa1efd1aabb4e407c475f1bf6c7183142137ee
  dev/bench/data.js
Due: none

feat: Phase 61 type inference safety — remove i64 default, require return type for recursive functions
  crates/vais-codegen/src/registration.rs
  crates/vais-types/src/checker_fn.rs
  crates/vais-types/src/types.rs
  crates/vaisc/tests/e2e_tests.rs
Due: unittests, Core Compiler, Language Tooling

Path conditions:
  unittests: any of: crates/, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*
  Core Compiler: any of: crates/vais-lexer/**, crates/vais-parser/**, crates/vais-ast/**, crates/vais-types/**, crates/vais-codegen/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*
  Language Tooling: any of: crates/vais-lsp/**, crates/vais-dap/**, crates/vaisc/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*
  Advanced Features: any of: crates/vais-jit/**, crates/vais-gc/**, crates/vais-mir/**, crates/vais-query/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*
  Experimental Features: any of: crates/vais-gpu/**, crates/vais-hotreload/**, crates/vais-plugin/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*
  Infrastructure: any of: crates/vais-i18n/**, crates/vais-profiler/**, crates/vais-security/**, crates/vais-supply-chain/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*
