Repository vaislang/vais: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Compiler, Language Tooling, Advanced Features, Extensibility, Infrastructure, Ecosystem Services

codecov.yml:

# Codecov configuration
# Documentation: https://docs.codecov.io/docs/codecov-yaml

# Coverage target configuration
coverage:
  precision: 2
  round: down
  range: 60..100

  status:
    project:
      default:
        target: 75%
        threshold: 2%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 3%

    changes:
      default:
        if_ci_failed: error

# Comment on pull requests with coverage information
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore paths from coverage
# Excludes match tarpaulin.toml exclude list â€” crates with 0% coverage
# that inflate the denominator if included
ignore:
  - "benches/**/*"
  - "examples/**/*"
  - "tests/**/*"
  - "target/**/*"
  - "scripts/**/*"
  - "crates/vais-python/**"
  - "crates/vais-node/**"
  - "crates/vais-dap/**"
  - "crates/vais-playground-server/**"

# Flag configuration for different test types
flags:
  unittests:
    paths:
      - crates/
    carryforward: true

# Component-based coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        target: 75%
  individual_components:
    # Core compiler components
    - component_id: core
      name: Core Compiler
      paths:
        - crates/vais-lexer/**
        - crates/vais-parser/**
        - crates/vais-ast/**
        - crates/vais-types/**
        - crates/vais-codegen/**
        - crates/vais-codegen-js/**
        - crates/vais-mir/**
      statuses:
        - type: project
          target: 80%

    # Language tooling
    - component_id: tooling
      name: Language Tooling
      paths:
        - crates/vais-lsp/**
        - crates/vaisc/**
        - crates/vais-bindgen/**
        - crates/vais-macro/**
      statuses:
        - type: project
          target: 75%

    # Runtime & advanced features
    - component_id: advanced
      name: Advanced Features
      paths:
        - crates/vais-jit/**
        - crates/vais-gc/**
        - crates/vais-gpu/**
        - crates/vais-query/**
      statuses:
        - type: project
          target: 70%

    # Plugin & dynamic loading
    - component_id: extensibility
      name: Extensibility
      paths:
        - crates/vais-plugin/**
        - crates/vais-dynload/**
        - crates/vais-hotreload/**
      statuses:
        - type: project
          target: 68%

    # Infrastructure & ecosystem
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - crates/vais-i18n/**
        - crates/vais-profiler/**
        - crates/vais-security/**
        - crates/vais-supply-chain/**
        - crates/vais-testgen/**
      statuses:
        - type: project
          target: 70%

    # Ecosystem services (playground-server excluded from coverage measurement)
    - component_id: services
      name: Ecosystem Services
      paths:
        - crates/vais-registry-server/**
      statuses:
        - type: project
          target: 75%

feat(std/vec): Vec<T> 5th owned:i64 field (Phase 191 #2a Iter A)
  ROADMAP.md
  std/vec.vais
Due: none

feat(codegen): Vec<str> container ownership helpers emission (Phase 191 #2a Iter B)
  ROADMAP.md
  crates/vais-codegen/src/module_gen/instantiations.rs
  crates/vais-codegen/src/module_gen/mod.rs
  crates/vais-codegen/src/module_gen/subset.rs
  crates/vais-codegen/src/string_ops.rs
Due: unittests, Core Compiler

docs(roadmap): #10 root-cause diagnosis — Vec_grow specialization not scheduled from Vec_push body
  ROADMAP.md
Due: none

fix(codegen): on-demand Vec_grow$T specialization from Vec_push$T body (Phase 191 #10)
  ROADMAP.md
  crates/vais-codegen/src/expr_helpers_call/method_call.rs
  crates/vais-codegen/src/module_gen/instantiations.rs
  crates/vais-codegen/src/module_gen/subset.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase191_vec_grow_spec.rs
Due: unittests, Core Compiler, Language Tooling

feat(codegen): Vec<str> push-site wrapping + drop prelude (Phase 191 #2a')
  ROADMAP.md
  crates/vais-codegen/src/expr_helpers_call/method_call.rs
  crates/vais-codegen/src/init.rs
  crates/vais-codegen/src/lib.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase191_vec_str_sandbox.rs
Due: unittests, Core Compiler, Language Tooling

fix(codegen): match-arm Str PHI fat-pointer unification (Phase 191 #9)
  ROADMAP.md
  crates/vais-codegen/src/control_flow/match_gen.rs
  crates/vaisc/tests/e2e/phase191_text_ir_scope_drop.rs
Due: unittests, Core Compiler, Language Tooling

docs(roadmap): session 4 checkpoint — #10/#2a'/#9 complete
  ROADMAP.md
Due: none

docs(roadmap): #2b Iter A — survey + sub-iter plan (RFC-002 §4.2)
  ROADMAP.md
Due: none

docs(roadmap): split #2b into Iter B/C/D independent sub-tasks
  ROADMAP.md
Due: none

feat(codegen): StructInfo ownership_mask derivation + conditional layout (Phase 191 #2b-B)
  ROADMAP.md
  crates/vais-codegen/src/function_gen/generics.rs
  crates/vais-codegen/src/generate_expr_struct.rs
  crates/vais-codegen/src/inkwell/gen_declaration.rs
  crates/vais-codegen/src/inkwell/gen_types.rs
  crates/vais-codegen/src/registration.rs
  crates/vais-codegen/src/types/mod.rs
  crates/vais-codegen/src/types/tests.rs
  crates/vais-codegen/src/types/type_gen.rs
Due: unittests, Core Compiler

docs(roadmap): session 6 checkpoint — #2b-B complete, next Iter C
  ROADMAP.md
Due: none

feat(codegen): struct shallow-drop helper emission + scope/function-exit splice (Phase 191 #2b-C)
  ROADMAP.md
  crates/vais-codegen/src/function_gen/dependent_checks.rs
  crates/vais-codegen/src/init.rs
  crates/vais-codegen/src/lib.rs
  crates/vais-codegen/src/module_gen/instantiations.rs
  crates/vais-codegen/src/module_gen/mod.rs
  crates/vais-codegen/src/module_gen/subset.rs
  crates/vais-codegen/src/stmt.rs
  crates/vais-codegen/src/string_ops.rs
  crates/vais-codegen/src/types/mod.rs
Due: unittests, Core Compiler

docs(roadmap): session 7 checkpoint — #2b-C complete, next Iter D
  ROADMAP.md
Due: none

feat(codegen): struct literal ownership_mask wrapping + E2E tests (Phase 191 #2b-D)
  crates/vais-codegen/src/generate_expr_struct.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase191_struct_str_drop.rs
Due: unittests, Core Compiler, Language Tooling

docs(roadmap): session 8 checkpoint — #2b-D complete, #2b parent close
  ROADMAP.md
Due: none

feat(codegen): nested container recursion Vec<struct{str}> + sizeof fix (Phase 191 #2c)
  crates/vais-codegen/src/stmt.rs
  crates/vais-codegen/src/types/sizeof.rs
  crates/vaisc/tests/e2e/phase191_struct_str_drop.rs
Due: unittests, Core Compiler, Language Tooling

docs(roadmap): session 8 — #2c complete, #2 parent close, next #3/#4
  ROADMAP.md
Due: none

feat(codegen): vtable dispatch str fat-pointer return + RFC (Phase 191 #3)
  crates/vais-codegen/src/trait_dispatch.rs
  crates/vais-codegen/src/vtable.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase191_trait_str_return.rs
  docs/rfcs/RFC-002-trait-object-string.md
Due: unittests, Core Compiler, Language Tooling

feat(codegen): closure str capture clone-on-capture + RFC (Phase 191 #4)
  crates/vais-codegen/src/expr_helpers_misc.rs
  crates/vaisc/tests/e2e/phase191_closure_str_capture.rs
  docs/rfcs/RFC-003-closure-string-capture.md
Due: unittests, Core Compiler, Language Tooling

docs(roadmap): Phase 191 complete — all tasks #1-#10 done
  ROADMAP.md
Due: none

fix(codegen): async poll alloc_tracker leak + PHI predecessor mismatch
  crates/vais-codegen/src/function_gen/async_gen.rs
  crates/vais-codegen/src/stmt.rs
  crates/vais-codegen/src/string_ops.rs
Due: unittests, Core Compiler

docs: audit-driven cleanup of public site content
  docs-site/src/SUMMARY.md
  docs-site/src/en/SUMMARY.md
  docs-site/src/en/introduction.md
  docs-site/src/ja/SUMMARY.md
  docs-site/src/ja/introduction.md
  docs-site/src/ja/language/language-spec.md
  docs-site/src/language/lazy-evaluation.md
  docs-site/src/zh/SUMMARY.md
  docs-site/src/zh/introduction.md
  docs-site/src/zh/language/language-spec.md
  playground/src/examples.js
  playground/src/vais-language.js
  website/public/locales/en.json
  website/public/locales/ja.json
  website/public/locales/ko.json
  website/public/locales/zh.json
Due: none

docs: unify domain to vaislang.dev + split public roadmap
  PUBLIC_ROADMAP.md
  docs-site/src/contributing/roadmap.md
  website/DEPLOYMENT.md
  website/ecosystem/index.html
  website/index.html
  website/vaisx/index.html
Due: none

docs: AI vibe-coding enablement — llms.txt + 5-min guide + en ecosystem
  docs-site/src/SUMMARY.md
  docs-site/src/en/SUMMARY.md
  docs-site/src/en/ecosystem/README.md
  docs-site/src/en/ecosystem/vais-server/README.md
  docs-site/src/en/ecosystem/vais-server/database.md
  docs-site/src/en/ecosystem/vais-server/getting-started.md
  docs-site/src/en/ecosystem/vais-server/routing.md
  docs-site/src/en/ecosystem/vais-web/README.md
  docs-site/src/en/ecosystem/vais-web/components.md
  docs-site/src/en/ecosystem/vais-web/getting-started.md
  docs-site/src/en/ecosystem/vais-web/syntax.md
  docs-site/src/en/ecosystem/vaisdb/README.md
  docs-site/src/en/ecosystem/vaisdb/getting-started.md
  docs-site/src/en/ecosystem/vaisdb/queries.md
  docs-site/src/en/ecosystem/vaisdb/rag.md
  docs-site/src/en/getting-started/vibe-coding.md
  docs-site/src/getting-started/vibe-coding.md
  llms-full.txt
  llms.txt
Due: none

docs(roadmap): Phase 192 entry + Group A recon checkpoint
  ROADMAP.md
Due: none

fix(codegen): specialize self type + gate stdlib Vec elem_size patch (Phase 192 #1 Group A)
  ROADMAP.md
  crates/vais-codegen/src/expr_helpers_call/method_call.rs
  crates/vais-codegen/src/module_gen/instantiations.rs
  crates/vais-codegen/src/stmt.rs
  crates/vaisc/tests/e2e/phase182_vec_generic_types.rs
Due: unittests, Core Compiler, Language Tooling

fix(codegen): main-path struct literal uses specialized layout (Phase 192 #2 Group B)
  ROADMAP.md
  crates/vais-codegen/src/generate_expr/mod.rs
  crates/vais-codegen/src/generate_expr_struct.rs
  crates/vaisc/tests/e2e/phase164_btree.rs
Due: unittests, Core Compiler, Language Tooling

fix(codegen): type-aware coerce_specialized_return (Phase 192 #3 Group C)
  ROADMAP.md
  crates/vais-codegen/src/function_gen/generics.rs
  crates/vaisc/tests/e2e/phase164_btree.rs
  crates/vaisc/tests/e2e/phase182_vec_generic_types.rs
Due: unittests, Core Compiler, Language Tooling

docs(roadmap): Phase 193 recon — 4 critical regressions surfaced
  ROADMAP.md
  docs/phase193/assert_compiles_audit.md
  docs/phase193/harness_issues_audit.md
  docs/phase193/smoke_findings.md
  examples/phase193_smoke/S1_struct_with_str.vais
  examples/phase193_smoke/S2_vec_of_struct.vais
  examples/phase193_smoke/S2b_vec_of_struct_direct.vais
  examples/phase193_smoke/S3_closure_struct_capture.vais
  examples/phase193_smoke/S3b_closure_str_only.vais
  examples/phase193_smoke/S3c_closure_int_only.vais
  examples/phase193_smoke/S4_async_struct.vais
  examples/phase193_smoke/S5_complete_path.vais
Due: none

feat(codegen): static ctor peer-inferred specialization fallback (Phase 193 R-1a)
  crates/vais-codegen/src/expr_helpers_call/method_call.rs
Due: unittests, Core Compiler

docs(roadmap): Phase 193 R-1a complete, R-1b remaining for next session
  ROADMAP.md
Due: none

fix(types): R-1b retroactive method instantiation for stdlib Vec ctors (Phase 193)
  ROADMAP.md
  crates/vais-types/src/checker_expr/calls.rs
  crates/vais-types/src/checker_fn.rs
  crates/vais-types/src/lib.rs
Due: unittests, Core Compiler

fix(types): C4 late-unify substitution in method return + match scrutinee (Phase 193)
  ROADMAP.md
  crates/vais-types/src/checker_expr/calls.rs
  crates/vais-types/src/checker_expr/control_flow.rs
Due: unittests, Core Compiler

fix(closure): string interpolation capture + pipe closure type parse (Phase 193)
  ROADMAP.md
  crates/vais-codegen/src/inkwell/gen_aggregate.rs
  crates/vais-codegen/src/lambda_closure.rs
  crates/vais-parser/src/types.rs
  crates/vais-types/src/free_vars.rs
Due: unittests, Core Compiler

docs(roadmap): Phase 193 complete — final report + close-out (Phase 193)
  ROADMAP.md
  docs/phase193/final_report.md
Due: none

docs(phase194): Recon-D findings — 4 bugs measured, scope corrections (Phase 194)
  ROADMAP.md
  docs/phase194/recon_findings.md
Due: none

fix(codegen): Vec.get_opt/pop_opt return Option<T> at infer time (Phase 194 P194-1)
  ROADMAP.md
  crates/vais-codegen/src/type_inference.rs
Due: unittests, Core Compiler

fix(codegen): lambda unit body coerced to i64 0 for fixed-sig return (Phase 194 P194-2)
  ROADMAP.md
  crates/vais-codegen/src/expr_helpers_misc.rs
  crates/vais-codegen/src/inkwell/gen_aggregate.rs
Due: unittests, Core Compiler

test: examples fresh-rebuild gate against cache-hidden regressions (Phase 194 P194-4)
  ROADMAP.md
  crates/vaisc/tests/examples_fresh_rebuild.rs
Due: unittests, Language Tooling

fix(codegen): higher-order f(x) param call via inkwell indirect dispatch (Phase 194 P194-3)
  ROADMAP.md
  crates/vais-codegen/src/inkwell/gen_expr/call.rs
Due: unittests, Core Compiler
