Repository vaislang/vais: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Compiler, Language Tooling, Advanced Features, Extensibility, Infrastructure, Ecosystem Services

codecov.yml:

# Codecov configuration
# Documentation: https://docs.codecov.io/docs/codecov-yaml

# Coverage target configuration
coverage:
  precision: 2
  round: down
  range: 60..100

  status:
    project:
      default:
        target: 75%
        threshold: 2%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 3%

    changes:
      default:
        if_ci_failed: error

# Comment on pull requests with coverage information
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore paths from coverage
# Excludes match tarpaulin.toml exclude list â€” crates with 0% coverage
# that inflate the denominator if included
ignore:
  - "benches/**/*"
  - "examples/**/*"
  - "tests/**/*"
  - "target/**/*"
  - "scripts/**/*"
  - "crates/vais-python/**"
  - "crates/vais-node/**"
  - "crates/vais-dap/**"
  - "crates/vais-playground-server/**"

# Flag configuration for different test types
flags:
  unittests:
    paths:
      - crates/
    carryforward: true

# Component-based coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        target: 75%
  individual_components:
    # Core compiler components
    - component_id: core
      name: Core Compiler
      paths:
        - crates/vais-lexer/**
        - crates/vais-parser/**
        - crates/vais-ast/**
        - crates/vais-types/**
        - crates/vais-codegen/**
        - crates/vais-codegen-js/**
        - crates/vais-mir/**
      statuses:
        - type: project
          target: 80%

    # Language tooling
    - component_id: tooling
      name: Language Tooling
      paths:
        - crates/vais-lsp/**
        - crates/vaisc/**
        - crates/vais-bindgen/**
        - crates/vais-macro/**
      statuses:
        - type: project
          target: 75%

    # Runtime & advanced features
    - component_id: advanced
      name: Advanced Features
      paths:
        - crates/vais-jit/**
        - crates/vais-gc/**
        - crates/vais-gpu/**
        - crates/vais-query/**
      statuses:
        - type: project
          target: 70%

    # Plugin & dynamic loading
    - component_id: extensibility
      name: Extensibility
      paths:
        - crates/vais-plugin/**
        - crates/vais-dynload/**
        - crates/vais-hotreload/**
      statuses:
        - type: project
          target: 68%

    # Infrastructure & ecosystem
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - crates/vais-i18n/**
        - crates/vais-profiler/**
        - crates/vais-security/**
        - crates/vais-supply-chain/**
        - crates/vais-testgen/**
      statuses:
        - type: project
          target: 70%

    # Ecosystem services (playground-server excluded from coverage measurement)
    - component_id: services
      name: Ecosystem Services
      paths:
        - crates/vais-registry-server/**
      statuses:
        - type: project
          target: 75%

docs(roadmap): Phase 6.28 — compiler completeness drive (5 tasks, ordered by blast radius)
  ROADMAP.md
Due: none

fix(vais-parser): block-terminated expr + `*` binop mis-parse (Phase 6.28.1)
  ROADMAP.md
  crates/vais-parser/src/expr/mod.rs
  crates/vais-parser/src/expr/precedence.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase6_28_parser.rs
  scripts/check-integrity.sh
Due: unittests, Core Compiler, Language Tooling

fix(vais-types): ok_or/ok_or_else on literal Optional(T) (Phase 6.28.3)
  ROADMAP.md
  crates/vais-types/src/checker_expr/calls.rs
  crates/vaisc/tests/e2e/phase6_28_parser.rs
Due: unittests, Core Compiler, Language Tooling

fix(vais-types): E022 double-visit on Stmt::Let non-Copy (Phase 6.28.5)
  ROADMAP.md
  crates/vais-types/src/ownership/ast_check.rs
  crates/vaisc/tests/e2e/phase6_28_parser.rs
Due: unittests, Core Compiler, Language Tooling

test(vais-types): ownership test drift w/ Phase 5.24 + 254 (Phase 6.29.1)
  ROADMAP.md
  crates/vais-types/src/ownership/tests.rs
  crates/vais-types/src/tests.rs
Due: unittests, Core Compiler

Phase 6.29 complete — drift resolution + atomic Ordering dispatch
  ROADMAP.md
  crates/vais-types/src/checker_expr/calls.rs
  crates/vaisc/tests/e2e/modules_system.rs
  crates/vaisc/tests/e2e/phase134_string.rs
  crates/vaisc/tests/integration_tests.rs
Due: unittests, Core Compiler, Language Tooling

docs(roadmap): Phase 6.30 plan — codegen monomorphization pipeline rewrite
  ROADMAP.md
Due: none

docs(roadmap): Phase 6.30.1 trace — scenario D (TC expr_types Var leak)
  ROADMAP.md
Due: none

fix(vais-codegen): Phase 6.30.2 — guard infer_expr_type upgrade on tc_ty with unresolved Var
  ROADMAP.md
  crates/vais-codegen/src/type_inference.rs
Due: unittests, Core Compiler

refactor(vais-codegen): Phase 6.30.3 — split type_to_llvm fallback, warn on struct drift
  ROADMAP.md
  crates/vais-codegen/src/types/conversion.rs
Due: unittests, Core Compiler

docs: Phase 6.30.4 close — 10/10 e2e pass via 6.30.2 cascade, as_bytes split to 6.31
  ROADMAP.md
  crates/vaisc/tests/e2e/phase134_string.rs
Due: unittests, Language Tooling

docs: Phase 6.30.5 close — vaisdb +0 cascade, 24 failures classified
  ROADMAP.md
Due: none

feat(vais-types): Phase 6.31 — register Vec<u8> struct instantiation on str.as_bytes()
  ROADMAP.md
  crates/vais-types/src/checker_expr/calls.rs
  crates/vaisc/tests/e2e/phase134_string.rs
Due: unittests, Core Compiler, Language Tooling

docs(roadmap): Phase 6.32 + 6.33 plan — vaisdb 24 failure cleanup
  ROADMAP.md
Due: none

docs(roadmap): swap vaisdb cleanup for Phase 2.x/3.x compiler drive
  ROADMAP.md
Due: none

docs(roadmap): rewrite around Survey findings — compiler-only 100% drive
  ROADMAP-archive.md
  ROADMAP.md
Due: none

docs(phase-a1): Phase 2.10 closure is TC-only — codegen hits L171 gap
  ROADMAP.md
  docs/CODEGEN_FEATURES.md
  docs/language/LIVING_SPEC/02_patterns/phase2_10_nested_option_flatten.vais
  docs/language/LIVING_SPEC/02_patterns/phase2_10_option_struct_rewrap.vais
  docs/language/LIVING_SPEC/02_patterns/phase2_10_result_te_rewrap.vais
Due: none

docs(phase-a2): promote 4 SCOPED constructs ◐→✓ after live verification
  ROADMAP.md
  docs/LANGUAGE_SPEC.md
  docs/language/LIVING_SPEC/01_keywords/comptime_function_body.vais
  docs/language/LIVING_SPEC/01_keywords/dyn_trait_param.vais
  docs/language/LIVING_SPEC/01_keywords/linear_affine_annotation.vais
  docs/language/LIVING_SPEC/01_keywords/move_closure_capture.vais
  docs/language/LIVING_SPEC/01_keywords/yield_in_loop.vais
Due: none

docs(phase-a3): clarify cross-file impl split is disallowed (Phase 2.9)
  ROADMAP.md
  docs/LANGUAGE_SPEC.md
Due: none

docs(roadmap-b1): redefine B.1 as Optional/Result lowering root fix
  ROADMAP.md
Due: none

fix(codegen-inkwell): lower Option<T>/Result<T,E> with struct payloads (B.1)
  ROADMAP.md
  crates/vais-codegen/src/inkwell/gen_expr/call.rs
  crates/vais-codegen/src/inkwell/gen_match.rs
  crates/vais-codegen/src/inkwell/gen_types.rs
  crates/vais-codegen/src/inkwell/generator.rs
  crates/vais-codegen/src/inkwell/types.rs
  crates/vaisc/tests/e2e/phase183_option_result_struct.rs
  docs/CODEGEN_FEATURES.md
Due: unittests, Core Compiler, Language Tooling

docs(roadmap): B.1 complete — context checkpoint for /clear
  ROADMAP.md
Due: none

docs(roadmap-b2): redefine after inkwell dispatch gap discovered
  ROADMAP.md
Due: none

feat(codegen-inkwell): B.2-B.6 batch — str runtime, comptime const, loop-with-value, defer edge cases, Vec<Struct> write-through
  ROADMAP.md
  crates/vais-codegen/src/inkwell/gen_advanced.rs
  crates/vais-codegen/src/inkwell/gen_aggregate.rs
  crates/vais-codegen/src/inkwell/gen_declaration.rs
  crates/vais-codegen/src/inkwell/gen_match.rs
  crates/vais-codegen/src/inkwell/gen_stmt.rs
  crates/vais-codegen/src/inkwell/generator.rs
  crates/vaisc/tests/e2e/phase3_16_defer.rs
  docs/CODEGEN_FEATURES.md
  docs/language/LIVING_SPEC/01_keywords/comptime_const_init.vais
  docs/language/LIVING_SPEC/03_stdlib/phase3_13_char_at.vais
  docs/language/LIVING_SPEC/03_stdlib/phase3_13_parse_f64.vais
  docs/language/LIVING_SPEC/03_stdlib/phase3_13_parse_int.vais
Due: unittests, Core Compiler, Language Tooling

docs(c1-c2): matrix reverify + 100% completion declaration
  ROADMAP.md
  docs/LANGUAGE_SPEC.md
Due: none

docs(roadmap): start post-compiler drive — vaisdb cascade + Vec lowering
  ROADMAP-compiler-drive.md
  ROADMAP.md
Due: none

docs(d1): vaisdb cascade survey — 24 failures classified
  ROADMAP.md
  docs/vaisdb-cascade-survey.md
Due: none

feat(codegen-text): D.2 Vec<T> literal lowering — 5-field synthesis
  ROADMAP.md
  crates/vais-codegen/src/stmt_visitor.rs
  docs/LANGUAGE_SPEC.md
  docs/language/LIVING_SPEC/04_stdlib/vec_literal_init.vais
  docs/language/LIVING_SPEC/04_stdlib/vec_literal_sum.vais
  docs/language/LIVING_SPEC/04_stdlib/vec_literal_u8.vais
Due: unittests, Core Compiler

docs(d3): close drive scope — option α, re-classification
  ROADMAP.md
  docs/vaisdb-cascade-survey.md
Due: none

docs(e1): cascade & Vec drive complete — archive + next candidates
  ROADMAP-cascade-drive.md
  ROADMAP.md
Due: none

feat(codegen-text): F.1 struct-in-array-literal lowering
  ROADMAP.md
  crates/vais-codegen/src/expr_helpers_data.rs
  docs/LANGUAGE_SPEC.md
  docs/language/LIVING_SPEC/04_stdlib/vec_struct_literal.vais
Due: unittests, Core Compiler

docs(h1): E034 totality analysis findings — no change recommended
  ROADMAP.md
  docs/totality-analysis-findings.md
Due: none

docs(h2): generic bound propagation findings — TC works correctly
  ROADMAP.md
  docs/generic-bound-propagation-findings.md
Due: none

docs(h3): fh drive complete — archive + next candidates
  ROADMAP-fh-drive.md
  ROADMAP.md
Due: none

fix(codegen): remove incorrect total-count monomorphization guard
  crates/vais-codegen/src/function_gen/generics.rs
Due: unittests, Core Compiler

fix(codegen): reject TC → local type upgrades when expr shape disagrees
  crates/vais-codegen/src/type_inference.rs
Due: unittests, Core Compiler

fix(codegen): infer generic return-type params from call-site hint
  crates/vais-codegen/src/expr_helpers_call/method_call.rs
  crates/vais-codegen/src/expr_visitor.rs
  crates/vais-codegen/src/generate_expr/mod.rs
  crates/vais-codegen/src/generate_expr_call.rs
  crates/vais-codegen/src/generics_helpers.rs
Due: unittests, Core Compiler

fix(codegen): compute_sizeof path for enum struct variants
  crates/vais-codegen/src/types/sizeof.rs
Due: unittests, Core Compiler

fix(codegen): infer enum type for namespace access and struct-variant literals
  crates/vais-codegen/src/type_inference.rs
Due: unittests, Core Compiler

fix(codegen): float negation and enum namespace-access value-ness
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/type_inference.rs
Due: unittests, Core Compiler
