Repository vaislang/vais: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Compiler, Language Tooling, Advanced Features, Extensibility, Infrastructure, Ecosystem Services

codecov.yml:

# Codecov configuration
# Documentation: https://docs.codecov.io/docs/codecov-yaml

# Coverage target configuration
coverage:
  precision: 2
  round: down
  range: 60..100

  status:
    project:
      default:
        target: 75%
        threshold: 2%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 3%

    changes:
      default:
        if_ci_failed: error

# Comment on pull requests with coverage information
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore paths from coverage
# Excludes match tarpaulin.toml exclude list â€” crates with 0% coverage
# that inflate the denominator if included
ignore:
  - "benches/**/*"
  - "examples/**/*"
  - "tests/**/*"
  - "target/**/*"
  - "scripts/**/*"
  - "crates/vais-python/**"
  - "crates/vais-node/**"
  - "crates/vais-dap/**"
  - "crates/vais-playground-server/**"

# Flag configuration for different test types
flags:
  unittests:
    paths:
      - crates/
    carryforward: true

# Component-based coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        target: 75%
  individual_components:
    # Core compiler components
    - component_id: core
      name: Core Compiler
      paths:
        - crates/vais-lexer/**
        - crates/vais-parser/**
        - crates/vais-ast/**
        - crates/vais-types/**
        - crates/vais-codegen/**
        - crates/vais-codegen-js/**
        - crates/vais-mir/**
      statuses:
        - type: project
          target: 80%

    # Language tooling
    - component_id: tooling
      name: Language Tooling
      paths:
        - crates/vais-lsp/**
        - crates/vaisc/**
        - crates/vais-bindgen/**
        - crates/vais-macro/**
      statuses:
        - type: project
          target: 75%

    # Runtime & advanced features
    - component_id: advanced
      name: Advanced Features
      paths:
        - crates/vais-jit/**
        - crates/vais-gc/**
        - crates/vais-gpu/**
        - crates/vais-query/**
      statuses:
        - type: project
          target: 70%

    # Plugin & dynamic loading
    - component_id: extensibility
      name: Extensibility
      paths:
        - crates/vais-plugin/**
        - crates/vais-dynload/**
        - crates/vais-hotreload/**
      statuses:
        - type: project
          target: 68%

    # Infrastructure & ecosystem
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - crates/vais-i18n/**
        - crates/vais-profiler/**
        - crates/vais-security/**
        - crates/vais-supply-chain/**
        - crates/vais-testgen/**
      statuses:
        - type: project
          target: 70%

    # Ecosystem services (playground-server excluded from coverage measurement)
    - component_id: services
      name: Ecosystem Services
      paths:
        - crates/vais-registry-server/**
      statuses:
        - type: project
          target: 75%

feat(phase-0): expand lang conformance to 272 (12 new tests)
  STATUS.md
  tests/lang/01_primitives/int_min_helper.vais
  tests/lang/01_primitives/int_pow_loop.vais
  tests/lang/02_control_flow/while_count_up_down.vais
  tests/lang/03_match/match_returning_bool.vais
  tests/lang/04_struct/struct_field_swap.vais
  tests/lang/05_enum/enum_match_with_default_arm.vais
  tests/lang/06_generic/generic_three_specs.vais
  tests/lang/07_collections/vec_zip_sum.vais
  tests/lang/99_integration/array_at_least_n.vais
  tests/lang/99_integration/array_count_pairs.vais
  tests/lang/99_integration/array_index_of.vais
  tests/lang/99_integration/string_consonants.vais
Due: none

feat(phase-0): expand lang conformance to 287 (15 new tests)
  STATUS.md
  tests/lang/01_primitives/int_arithmetic_id.vais
  tests/lang/01_primitives/int_distributive.vais
  tests/lang/02_control_flow/loop_running_total.vais
  tests/lang/03_match/match_then_compute.vais
  tests/lang/04_struct/struct_three_methods.vais
  tests/lang/05_enum/enum_two_units.vais
  tests/lang/06_generic/generic_pair_helper.vais
  tests/lang/07_collections/vec_first_last.vais
  tests/lang/08_strings/string_at_byte.vais
  tests/lang/99_integration/array_concat_three.vais
  tests/lang/99_integration/array_max_subarray.vais
  tests/lang/99_integration/array_replace_zero.vais
  tests/lang/99_integration/array_swap_pairs.vais
  tests/lang/99_integration/string_byte_sum.vais
  tests/lang/99_integration/string_check_alnum.vais
Due: none

feat(phase-0): 🎉 300-TEST MILESTONE — 301/301 lang conformance + 2 xfail
  STATUS.md
  tests/lang/01_primitives/int_chain_assign.vais
  tests/lang/02_control_flow/loop_pythagorean.vais
  tests/lang/03_match/match_div_mod_kind.vais
  tests/lang/04_struct/struct_chained_init.vais
  tests/lang/05_enum/enum_three_units.vais
  tests/lang/06_generic/generic_two_calls.vais
  tests/lang/07_collections/vec_largest_chunk.vais
  tests/lang/08_strings/string_substr_at.vais
  tests/lang/99_integration/array_count_runs.vais
  tests/lang/99_integration/array_majority.vais
  tests/lang/99_integration/array_split_at.vais
  tests/lang/99_integration/string_count_digits.vais
  tests/lang/99_integration/string_repeat_count.vais
  tests/lang/99_integration/string_strip_chars.vais
Due: none

fix(types): bug C16 partial — register zero-arg generic instantiations
  crates/vais-types/src/inference/inference_modes.rs
  tests/lang/05_enum/enum_in_vec.vais
Due: unittests, Core Compiler

fix(codegen): bug C18 — unit variant ident patterns no longer alloca a local
  crates/vais-codegen/src/inkwell/gen_match.rs
  tests/lang/05_enum/enum_two_units.vais
Due: unittests, Core Compiler

docs(status): mark C18 as fixed in catalog
  STATUS.md
Due: none

fix(traits): bug C11 — trait default methods now dispatch on impls
  STATUS.md
  crates/vais-codegen/src/inkwell/generator.rs
  crates/vais-types/src/checker_module/traits.rs
  tests/lang/09_traits/trait_default.vais
Due: unittests, Core Compiler

fix(types): bug C16 — propagate transitive generic instantiations from return-type inference
  STATUS.md
  crates/vais-types/src/checker_expr/calls.rs
  crates/vais-types/src/checker_fn.rs
  crates/vais-types/src/inference/inference_modes.rs
  crates/vais-types/src/inference/substitution.rs
  crates/vais-types/src/types/defs.rs
  tests/lang/05_enum/enum_in_vec.vais
Due: unittests, Core Compiler

fix(codegen): bug C9 — reinterpret %Option/%Result as { i8, %T } at ret
  crates/vais-codegen/src/function_gen/codegen.rs
Due: unittests, Core Compiler

fix(codegen): bug C4 ✅ — promote sync.lock test to all-green
  STATUS.md
  crates/vais-codegen/src/expr_visitor.rs
  crates/vais-codegen/src/generate_expr/ref_deref.rs
  std/sync.vais
  std/tests/test_sync.vais
Due: unittests, Core Compiler

fix(codegen): bug C12 ✅ — extern redecl reuses existing libm decl
  STATUS.md
  crates/vais-codegen/src/inkwell/gen_declaration.rs
  tests/lang/10_ffi/ffi_extern_redecl.vais
Due: unittests, Core Compiler

fix(lang): bugs C15 + C19 ✅ — fixed-size arrays + ref-as-cast precedence
  STATUS.md
  crates/vais-codegen/src/inkwell/gen_stmt.rs
  crates/vais-parser/src/expr/unary.rs
  crates/vais-types/src/inference/inference_modes.rs
  std/sync.vais
  tests/lang/01_primitives/array_fixed_size.vais
  tests/lang/01_primitives/ref_field_as_cast.vais
Due: unittests, Core Compiler

test(lang): land 4 Wave 4a regression tests — 310/310 ZERO XFAIL
  STATUS.md
  tests/lang/03_match/match_phi_narrow_int.vais
  tests/lang/04_struct/struct_4_bytes_in_vec.vais
  tests/lang/05_enum/result_specialized_match.vais
  tests/lang/07_collections/vec_struct_assign.vais
Due: none

test+selfhost: 검증 round 2 — cargo workspace test 무결, selfhost C2 일소
  STATUS.md
  crates/vais-ast/tests/integration_tests.rs
  crates/vais-parser/tests/negative_tests.rs
  crates/vais-types/tests/phase156_types_coverage.rs
  crates/vais-types/tests/type_error_path_tests.rs
  selfhost/codegen.vais
  selfhost/parser.vais
  selfhost/type_checker.vais
Due: unittests, Core Compiler

docs(status): 정직하게 — e2e text-IR 176 fail은 v1.0 trust 외 path
  STATUS.md
Due: none

fix(codegen+tests): e2e text-IR 176→19 fail (-89%), vec_to_slice ✅
  STATUS.md
  crates/vais-codegen/src/emit.rs
  crates/vais-codegen/src/function_gen/runtime.rs
  crates/vais-codegen/src/string_ops.rs
  crates/vaisc/tests/e2e/adoption_types.rs
  crates/vaisc/tests/e2e/advanced.rs
  crates/vaisc/tests/e2e/async_runtime.rs
  crates/vaisc/tests/e2e/concurrency.rs
  crates/vaisc/tests/e2e/modules_system.rs
  crates/vaisc/tests/e2e/phase111_error_paths.rs
  crates/vaisc/tests/e2e/phase125_type_accuracy.rs
  crates/vaisc/tests/e2e/phase134_string.rs
  crates/vaisc/tests/e2e/phase31.rs
  crates/vaisc/tests/e2e/phase74_stdlib.rs
  crates/vaisc/tests/e2e/phase76_pilot.rs
  crates/vaisc/tests/e2e/phase77_coverage.rs
  crates/vaisc/tests/e2e/phase80_serialization.rs
  crates/vaisc/tests/e2e/phase81_coverage.rs
  crates/vaisc/tests/e2e/phase83_stdlib.rs
  tests/lang/07_collections/vec_to_slice.vais
Due: unittests, Core Compiler, Language Tooling

fix(codegen+tests): e2e text-IR slice ABI + pilot mut bindings; C20 catalogued
  STATUS.md
  crates/vais-codegen/src/type_inference.rs
  crates/vais-parser/tests/negative_tests.rs
  examples/pilot_json2toml.vais
  examples/pilot_rest_api.vais
Due: unittests, Core Compiler

fix(codegen): e2e text-IR 11→0 fail — i1 zext + linkonce_odr helpers
  STATUS.md
  crates/vais-codegen/src/expr_helpers.rs
  crates/vais-codegen/src/function_gen/runtime.rs
Due: unittests, Core Compiler

fix(codegen): abort/llvm.memcpy declare dedup — main vs sub module
  crates/vais-codegen/src/emit.rs
  crates/vais-codegen/src/expr_helpers_misc.rs
  crates/vais-codegen/src/function_gen/runtime.rs
Due: unittests, Core Compiler

fix(codegen): scalar-shape guard against polluted SSA → ptrtoint
  crates/vais-codegen/src/expr_helpers_call/method_call.rs
  crates/vais-codegen/src/generate_expr_call.rs
Due: unittests, Core Compiler

fix(codegen): zext narrow obj_val before inttoptr in field access path
  crates/vais-codegen/src/expr_helpers_data.rs
Due: unittests, Core Compiler

fix(codegen): zext narrow int to i64 before inttoptr in arg coerce paths
  crates/vais-codegen/src/expr_helpers_call/call_gen.rs
  crates/vais-codegen/src/expr_helpers_call/method_call.rs
  crates/vais-codegen/src/generate_expr_call.rs
Due: unittests, Core Compiler

fix(codegen): Vec→slice coerce in instance method call arg path
  crates/vais-codegen/src/expr_helpers_call/method_call.rs
Due: unittests, Core Compiler

docs(policy): Phase Ω Pillar 3+2 — pre-emptive rules + vaisdb regression CI
  .github/workflows/vaisdb-regression.yml
  CLAUDE.md
  docs/adr/0001-root-cause-definition.md
  scripts/vaisdb-regression.sh
Due: none

fix(codegen): Mini Pillar 1 — coerce_ret_value single coerce point
  crates/vais-codegen/src/stmt_visitor.rs
  crates/vais-codegen/src/types/coercion.rs
Due: unittests, Core Compiler

test(codegen): ret_invariant_test — ADR 0001 §1 R2 blocking tests
  crates/vais-codegen/tests/ret_invariant_test.rs
Due: unittests, Core Compiler

refactor(codegen): migrate expr-body ret to coerce_ret_value
  crates/vais-codegen/src/function_gen/codegen.rs
Due: unittests, Core Compiler

refactor(codegen): migrate stmt.rs Stmt::Return to coerce_ret_value
  crates/vais-codegen/src/stmt.rs
  crates/vais-codegen/src/types/coercion.rs
Due: unittests, Core Compiler

refactor(codegen): migrate Block path else-fallback ret to coerce_ret_value
  crates/vais-codegen/src/function_gen/codegen.rs
Due: unittests, Core Compiler

fix(codegen): structural call-arg Vec*→fat-ptr guard in method_call
  crates/vais-codegen/src/expr_helpers_call/method_call.rs
Due: unittests, Core Compiler

test(codegen): call_arg_invariant_test — ADR 0001 §1 R2 for call-arg class
  crates/vais-codegen/tests/call_arg_invariant_test.rs
Due: unittests, Core Compiler

test(codegen): reduce vaisdb call-arg failure to standalone test case
  crates/vais-codegen/tests/call_arg_invariant_test.rs
Due: unittests, Core Compiler

fix(types): propagate receiver generic substitutions to local var on instance method call
  crates/vais-types/src/checker_expr/calls.rs
Due: unittests, Core Compiler

fix(types): apply substitutions to all expr_types entries at function-end
  crates/vais-types/src/checker_fn.rs
Due: unittests, Core Compiler

feat(scripts): vaisdb-regression.sh 5-test wave 1 확장 (Phase Ω P2.2c)
  scripts/vaisdb-regression.sh
Due: none

ci(vaisdb): workflow에 wave 1 5-test --all 호출 (Phase Ω P2.2d)
  .github/workflows/vaisdb-regression.yml
Due: none

docs(adr): ADR 0002 — Codegen Invariants Draft (Phase Ω P1.0a)
  docs/adr/0002-codegen-invariants.md
Due: none

docs(adr): ADR 0002 Accepted + AI multi-session protocol (Phase Ω P1.0b)
  CLAUDE.md
  docs/adr/0002-codegen-invariants.md
Due: none

fix(std): E009 immutable assignment — 38 파일 mut 일괄 추가 (Phase Ω P4.2 후속)
  std/allocator.vais
  std/arena.vais
  std/async_net.vais
  std/async_reactor.vais
  std/base64.vais
  std/channel.vais
  std/collections.vais
  std/compress.vais
  std/crypto.vais
  std/fmt.vais
  std/future.vais
  std/http.vais
  std/http_client.vais
  std/http_server.vais
  std/io.vais
  std/memory.vais
  std/msgpack.vais
  std/net.vais
  std/orm.vais
  std/owned_string.vais
  std/path.vais
  std/postgres.vais
  std/priority_queue.vais
  std/profiler.vais
  std/proptest.vais
  std/protobuf.vais
  std/random.vais
  std/runtime.vais
  std/set.vais
  std/sqlite.vais
  std/test.vais
  std/thread.vais
  std/time.vais
  std/toml.vais
  std/url.vais
  std/uuid.vais
  std/websocket.vais
  std/yaml.vais
Due: none

docs(adr): ADR 0001 retrospective — Phase Ω P4.1 LANDED (iter 83)
  docs/adr/0001-root-cause-definition.md
Due: none
