Repository vaislang/vais: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Compiler, Language Tooling, Advanced Features, Extensibility, Infrastructure, Ecosystem Services

fix(parser): restore position when & not followed by self in parse_params
  crates/vais-parser/src/types.rs
Due: unittests, Core Compiler

add Benchmark (cargo) benchmark result for de28eeed169f6f02bdd5f8954d0e7f844034dd06
  dev/bench/data.js
Due: none

fix: Phase 159 — Clippy 0건 복원 + stale worktree 정리 + ROADMAP 정리
  ROADMAP.md
  crates/vais-types/src/ownership/core.rs
  crates/vaisc/src/commands/build/core.rs
  crates/vaisc/src/main.rs
Due: unittests, Core Compiler, Language Tooling

add Benchmark (cargo) benchmark result for 7add943d08c3e1adbba58a35cf93d89c5a0e0bf8
  dev/bench/data.js
Due: none

fix(tc+codegen): Phase 160 — match arm Unit recovery, Vec<T> type resolution, codegen specialization
  crates/vais-codegen/src/expr_helpers_call/method_call.rs
  crates/vais-codegen/src/function_gen/generics.rs
  crates/vais-codegen/src/type_inference.rs
  crates/vais-types/src/checker_expr/collections.rs
  crates/vais-types/src/checker_expr/control_flow.rs
Due: unittests, Core Compiler

fix(codegen): Phase 159 — pre-existing E2E 6→0 failures, generic mono + large struct
  CLAUDE.md
  ROADMAP.md
  crates/vais-types/src/inference/unification.rs
  crates/vaisc/tests/e2e/phase158_type_strict.rs
Due: unittests, Core Compiler, Language Tooling

add Benchmark (cargo) benchmark result for 31c85837d38eeff644de959fc870dac4ea768890
  dev/bench/data.js
Due: none

fix(types): Phase 160 — restore numeric promotion rules (bool↔int, int↔float, f32↔f64)
  crates/vais-types/src/inference/unification.rs
  crates/vais-types/src/tests.rs
  crates/vaisc/tests/e2e/phase158_type_strict.rs
Due: unittests, Core Compiler, Language Tooling

docs(roadmap): Phase 160-A results + Phase 161 cross-module TC plan
  ROADMAP.md
Due: none

refactor(codegen): Phase 160-B — call codegen unification + helper extraction
  ROADMAP.md
  crates/vais-codegen/src/expr_helpers_call/call_gen.rs
  crates/vais-codegen/src/expr_helpers_call/method_call.rs
  crates/vais-codegen/src/function_gen/codegen.rs
  crates/vais-codegen/src/generate_expr/loops.rs
  crates/vais-codegen/src/generate_expr/mod.rs
  crates/vais-codegen/src/generate_expr_call.rs
  crates/vais-codegen/src/module_gen/instantiations.rs
  crates/vais-codegen/src/string_ops.rs
  crates/vais-codegen/src/type_inference.rs
  crates/vais-codegen/src/types/conversion.rs
  crates/vais-parser/src/error_display.rs
  crates/vais-parser/src/lib.rs
  crates/vais-types/src/checker_expr/calls.rs
  crates/vais-types/src/inference/unification.rs
  crates/vais-types/src/lib.rs
  crates/vaisc/tests/e2e/phase158_type_strict.rs
Due: unittests, Core Compiler, Language Tooling

add Benchmark (cargo) benchmark result for da45f73dd403d316770082a31f21cdf22de2554b
  dev/bench/data.js
Due: none

fix(types): Phase 161 — suppress imported function body TC errors in cross-module compilation
  ROADMAP.md
  crates/vais-types/src/checker_module/mod.rs
Due: unittests, Core Compiler

fix(types): restore numeric promotion (bool↔int, int↔float) on top of Phase 161
  crates/vais-types/src/inference/unification.rs
  crates/vaisc/tests/e2e/phase158_type_strict.rs
Due: unittests, Core Compiler, Language Tooling

docs(roadmap): Phase 162 plan — VaisDB TC 19→0 target
  ROADMAP.md
Due: none

fix(types): Phase 162 — VaisDB TC 17→4 with pointer/slice coercion + iterator type inference
  ROADMAP.md
  crates/vais-types/src/checker_expr/control_flow.rs
  crates/vais-types/src/inference/unification.rs
  crates/vais-types/src/lookup.rs
  crates/vaisc/tests/e2e/phase128_errors.rs
  crates/vaisc/tests/e2e/phase134_errors.rs
Due: unittests, Core Compiler, Language Tooling

docs(roadmap): remove stale duplicate Phase 160-B section
  ROADMAP.md
Due: none

docs(roadmap): update Phase 162 — VaisDB fulltext TC 0, btree 2 TC + 3 CG remaining
  ROADMAP.md
Due: none

fix(types+codegen): Phase 163 — Ref(Vec<T>)↔Slice(T) coercion + ConstArray open-end slicing
  ROADMAP.md
  crates/vais-codegen/src/helpers.rs
  crates/vais-types/src/inference/unification.rs
Due: unittests, Core Compiler

fix(codegen): Phase 163 — generic struct monomorphization for non-i64 type params
  ROADMAP.md
  crates/vais-codegen/src/inkwell/gen_advanced.rs
  crates/vais-codegen/src/inkwell/gen_declaration.rs
Due: unittests, Core Compiler

docs(roadmap): Phase 164 plan — VaisDB test_btree TC 2 + CG 3 remaining
  ROADMAP.md
Due: none

add Benchmark (cargo) benchmark result for fc2fb268be062418489b16cfeefe8ff669de9ed7
  dev/bench/data.js
Due: none

fix(codegen): Phase 164 — Ref(Slice) open-end slicing + E2E verification
  ROADMAP.md
  crates/vais-codegen/src/helpers.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase164_btree.rs
Due: unittests, Core Compiler, Language Tooling

docs(roadmap): Phase 165 plan — VaisDB test_btree cross-module TC 2 + CG 5
  ROADMAP.md
Due: none

fix(codegen): Phase 165 — cross-module codegen init with expr_types + methods
  ROADMAP.md
  crates/vaisc/src/commands/build/parallel.rs
  crates/vaisc/src/commands/build/serial.rs
  crates/vaisc/src/commands/compile/per_module.rs
  crates/vaisc/src/commands/test.rs
Due: unittests, Language Tooling

docs(roadmap): Phase 166 plan — TC function call argument coercion
  ROADMAP.md
Due: none

add Benchmark (cargo) benchmark result for 5b2aaff4a1a523e701098f28af7240c73df774eb
  dev/bench/data.js
Due: none

fix(tests): update 5 tests for Phase 160-A numeric promotion rules
  crates/vais-types/tests/inference_coverage_tests.rs
  crates/vais-types/tests/inference_unification_tests.rs
Due: unittests, Core Compiler

add Benchmark (cargo) benchmark result for 0471dfd1d671060622427e011b285dc1710431be
  dev/bench/data.js
Due: none

docs: sync documentation with actual implementation across 24 files
  CLAUDE.md
  README.md
  docs-site/src/advanced/async-runtime.md
  docs-site/src/advanced/wasm/component-model.md
  docs-site/src/compiler/internals.md
  docs-site/src/en/getting-started/tutorial.md
  docs-site/src/en/introduction.md
  docs-site/src/en/language/language-spec.md
  docs-site/src/guide/error-handling.md
  docs-site/src/guide/faq.md
  docs-site/src/guide/getting-started.md
  docs-site/src/ja/language/language-spec.md
  docs-site/src/learning-path.md
  docs-site/src/onboarding.md
  docs-site/src/stdlib/channel.md
  docs-site/src/stdlib/crypto.md
  docs-site/src/stdlib/regex.md
  docs-site/src/stdlib/sync.md
  docs-site/src/tutorials/cli-tool.md
  docs-site/src/tutorials/data-pipeline.md
  docs-site/src/tutorials/http-server.md
  docs-site/src/zh/language/language-spec.md
  docs/LANGUAGE_SPEC.md
  docs/TUTORIAL.md
Due: none

add Benchmark (cargo) benchmark result for 78f893460da8a91c9c3cb8eed13f614ea3dc2ea9
  dev/bench/data.js
Due: none

fix(codegen): Phase 166 — cross-module Vec→Slice argument coercion
  ROADMAP.md
  crates/vais-codegen/src/generate_expr_call.rs
  crates/vais-codegen/src/type_inference.rs
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase166_vec_slice_coercion.rs
Due: unittests, Core Compiler, Language Tooling

docs(roadmap): Phase 167 — TC function candidate selection with argument coercion
  ROADMAP.md
Due: none

docs(roadmap): Phase 166 complete, Phase 167 unnecessary
  ROADMAP.md
Due: none

fix(codegen+tests): Phase 168 — IR verify label detection + stale type tests
  ROADMAP.md
  crates/vais-codegen/src/ir_verify.rs
  crates/vais-types/tests/type_error_path_tests.rs
Due: unittests, Core Compiler

docs(roadmap): Phase 167 reinstated — VaisDB test_btree TC 2 confirmed
  ROADMAP.md
Due: none

feat(vaisdb): Phase 169 — encode_composite_key + E2E test + ROADMAP cleanup
  ROADMAP.md
  crates/vaisc/tests/e2e/main.rs
  crates/vaisc/tests/e2e/phase169_vaisdb.rs
  examples/projects/vaisdb/btree.vais
  examples/projects/vaisdb/main.vais
Due: unittests, Language Tooling

docs(roadmap): Phase 167 reinstated with exact reproduction steps
  ROADMAP.md
Due: none

docs(roadmap): Phase 167 — additional debugging results
  ROADMAP.md
Due: none

docs(roadmap): Phase 167 — clarify real VaisDB vs examples VaisDB
  ROADMAP.md
Due: none

feat(std): Phase 167 — ByteBuffer.wrap/wrap_readonly accept &[u8] + slice_data_ptr builtin
  ROADMAP.md
  crates/vais-codegen/src/generate_expr_call.rs
  crates/vais-types/src/builtins/core.rs
  std/bytebuffer.vais
Due: unittests, Core Compiler

Path conditions:
  unittests: any of: crates/, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Core Compiler: any of: crates/vais-lexer/**, crates/vais-parser/**, crates/vais-ast/**, crates/vais-types/**, crates/vais-codegen/**, crates/vais-codegen-js/**, crates/vais-mir/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Language Tooling: any of: crates/vais-lsp/**, crates/vaisc/**, crates/vais-bindgen/**, crates/vais-macro/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Advanced Features: any of: crates/vais-jit/**, crates/vais-gc/**, crates/vais-gpu/**, crates/vais-query/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Extensibility: any of: crates/vais-plugin/**, crates/vais-dynload/**, crates/vais-hotreload/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Infrastructure: any of: crates/vais-i18n/**, crates/vais-profiler/**, crates/vais-security/**, crates/vais-supply-chain/**, crates/vais-testgen/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
  Ecosystem Services: any of: crates/vais-registry-server/**, but not: benches/**/*, examples/**/*, tests/**/*, target/**/*, scripts/**/*, crates/vais-python/**, crates/vais-node/**, crates/vais-dap/**, crates/vais-playground-server/**
