Repository vaislang/vais: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Core Compiler, Language Tooling, Advanced Features, Extensibility, Infrastructure, Ecosystem Services

codecov.yml:

# Codecov configuration
# Documentation: https://docs.codecov.io/docs/codecov-yaml

# Coverage target configuration
coverage:
  precision: 2
  round: down
  range: 60..100

  status:
    project:
      default:
        target: 75%
        threshold: 2%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 3%

    changes:
      default:
        if_ci_failed: error

# Comment on pull requests with coverage information
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore paths from coverage
# Excludes match tarpaulin.toml exclude list â€” crates with 0% coverage
# that inflate the denominator if included
ignore:
  - "benches/**/*"
  - "examples/**/*"
  - "tests/**/*"
  - "target/**/*"
  - "scripts/**/*"
  - "crates/vais-python/**"
  - "crates/vais-node/**"
  - "crates/vais-dap/**"
  - "crates/vais-playground-server/**"

# Flag configuration for different test types
flags:
  unittests:
    paths:
      - crates/
    carryforward: true

# Component-based coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        target: 75%
  individual_components:
    # Core compiler components
    - component_id: core
      name: Core Compiler
      paths:
        - crates/vais-lexer/**
        - crates/vais-parser/**
        - crates/vais-ast/**
        - crates/vais-types/**
        - crates/vais-codegen/**
        - crates/vais-codegen-js/**
        - crates/vais-mir/**
      statuses:
        - type: project
          target: 80%

    # Language tooling
    - component_id: tooling
      name: Language Tooling
      paths:
        - crates/vais-lsp/**
        - crates/vaisc/**
        - crates/vais-bindgen/**
        - crates/vais-macro/**
      statuses:
        - type: project
          target: 75%

    # Runtime & advanced features
    - component_id: advanced
      name: Advanced Features
      paths:
        - crates/vais-jit/**
        - crates/vais-gc/**
        - crates/vais-gpu/**
        - crates/vais-query/**
      statuses:
        - type: project
          target: 70%

    # Plugin & dynamic loading
    - component_id: extensibility
      name: Extensibility
      paths:
        - crates/vais-plugin/**
        - crates/vais-dynload/**
        - crates/vais-hotreload/**
      statuses:
        - type: project
          target: 68%

    # Infrastructure & ecosystem
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - crates/vais-i18n/**
        - crates/vais-profiler/**
        - crates/vais-security/**
        - crates/vais-supply-chain/**
        - crates/vais-testgen/**
      statuses:
        - type: project
          target: 70%

    # Ecosystem services (playground-server excluded from coverage measurement)
    - component_id: services
      name: Ecosystem Services
      paths:
        - crates/vais-registry-server/**
      statuses:
        - type: project
          target: 75%

phase2-step7: A4-08 LANDED + protocol four-form (9/9 A4 fixtures complete)
  docs/certification/EXCLUDED_FEATURES.md
  tests/empirical/A4/A4-08_vec_str_permissive/expected.txt
  tests/empirical/A4/A4-08_vec_str_permissive/meta.toml
  tests/empirical/A4/A4-08_vec_str_permissive/probe.vais
  tests/empirical/A4/A4-08_vec_str_permissive/run.sh
  tests/empirical/A4/STEP7_FINDINGS.md
Due: none

phase2-step7: Controlled v2 retro-validation iteration (3/9 LANDED, 6 deferred)
  tests/empirical/A4/STEP7_FINDINGS.md
  tests/empirical/Controlled/C-01_str_string_alias/expected.txt
  tests/empirical/Controlled/C-01_str_string_alias/meta.toml
  tests/empirical/Controlled/C-01_str_string_alias/probe.vais
  tests/empirical/Controlled/C-01_str_string_alias/run.sh
  tests/empirical/Controlled/C-02_unknown_unify_any/expected.txt
  tests/empirical/Controlled/C-02_unknown_unify_any/meta.toml
  tests/empirical/Controlled/C-02_unknown_unify_any/probe.vais
  tests/empirical/Controlled/C-02_unknown_unify_any/run.sh
  tests/empirical/Controlled/C-05_numeric_widening/expected.txt
  tests/empirical/Controlled/C-05_numeric_widening/meta.toml
  tests/empirical/Controlled/C-05_numeric_widening/probe.vais
  tests/empirical/Controlled/C-05_numeric_widening/run.sh
Due: none

phase2-step8-stage1: emit-ts composite type lowering
  crates/vaisc/src/commands/emit_ts.rs
  crates/vaisc/tests/emit_ts_skeleton.rs
Due: unittests, Language Tooling

phase2-step7: Rejected (2/3) + Untested (1/1 reclassification) + check_fails protocol
  docs/certification/EXCLUDED_FEATURES.md
  tests/empirical/A4/STEP7_FINDINGS.md
  tests/empirical/Rejected/R-01_box_raw_generic/expected.txt
  tests/empirical/Rejected/R-01_box_raw_generic/meta.toml
  tests/empirical/Rejected/R-01_box_raw_generic/probe.vais
  tests/empirical/Rejected/R-01_box_raw_generic/run.sh
  tests/empirical/Rejected/R-03_optional_t/expected.txt
  tests/empirical/Rejected/R-03_optional_t/meta.toml
  tests/empirical/Rejected/R-03_optional_t/probe.vais
  tests/empirical/Rejected/R-03_optional_t/run.sh
  tests/empirical/Untested/U-01_result_unit_auto_ok/expected.txt
  tests/empirical/Untested/U-01_result_unit_auto_ok/meta.toml
  tests/empirical/Untested/U-01_result_unit_auto_ok/probe.vais
  tests/empirical/Untested/U-01_result_unit_auto_ok/run.sh
Due: none

phase2-step8-stage2: emit-ts specific stable error codes (EMIT_TS_001-021 + 999)
  crates/vaisc/src/commands/emit_ts.rs
  crates/vaisc/tests/emit_ts_skeleton.rs
Due: unittests, Language Tooling

phase2-step8-stage3: emit-ts compile-time exhaustiveness tests
  crates/vaisc/tests/emit_ts_exhaustiveness.rs
Due: unittests, Language Tooling

phase2-step8-stage4: emit-ts branded numeric types
  crates/vaisc/src/commands/emit_ts.rs
  crates/vaisc/tests/emit_ts_skeleton.rs
Due: unittests, Language Tooling

phase2-step8-stage5: emit-ts cross-package schema validation gate (Step 8 LANDED)
  tests/empirical/A4/STEP7_FINDINGS.md
  tests/empirical/cross_package_schema/consumers/vais_server_api.vais
  tests/empirical/cross_package_schema/consumers/vais_web_consumer.ts
  tests/empirical/cross_package_schema/consumers/vaisdb_table.vais
  tests/empirical/cross_package_schema/gen/.gitignore
  tests/empirical/cross_package_schema/gen/.gitkeep
  tests/empirical/cross_package_schema/schema/user.vais
  tests/empirical/cross_package_schema/tests/gate.sh
Due: none

phase2-step7: A4-10 struct partial-init silent acceptance fixture LANDED
  tests/empirical/A4/A4-10_struct_partial_init/expected.txt
  tests/empirical/A4/A4-10_struct_partial_init/meta.toml
  tests/empirical/A4/A4-10_struct_partial_init/probe.vais
  tests/empirical/A4/A4-10_struct_partial_init/run.sh
Due: none

phase2-step11: A3 quarantine first iteration findings (BLOCKED on silent-fallback)
  tests/empirical/A3/STEP11_FINDINGS.md
Due: none

phase2-step11: VAIS_STRICT_IMPORTS=1 + A3-01 fixture (Step 11 UNBLOCKED)
  crates/vaisc/src/commands/simple.rs
  tests/empirical/A3/A3-01_grpc_uncertified/expected.txt
  tests/empirical/A3/A3-01_grpc_uncertified/meta.toml
  tests/empirical/A3/A3-01_grpc_uncertified/probe.vais
  tests/empirical/A3/A3-01_grpc_uncertified/run.sh
  tests/empirical/A3/STEP11_FINDINGS.md
Due: unittests, Language Tooling

phase2-step11: A3-02/03/04 fixtures (graphql, ws, vaisdb security)
  tests/empirical/A3/A3-02_graphql_uncertified/expected.txt
  tests/empirical/A3/A3-02_graphql_uncertified/meta.toml
  tests/empirical/A3/A3-02_graphql_uncertified/probe.vais
  tests/empirical/A3/A3-02_graphql_uncertified/run.sh
  tests/empirical/A3/A3-03_ws_handler_uncertified/expected.txt
  tests/empirical/A3/A3-03_ws_handler_uncertified/meta.toml
  tests/empirical/A3/A3-03_ws_handler_uncertified/probe.vais
  tests/empirical/A3/A3-03_ws_handler_uncertified/run.sh
  tests/empirical/A3/A3-04_vaisdb_security_uncertified/expected.txt
  tests/empirical/A3/A3-04_vaisdb_security_uncertified/meta.toml
  tests/empirical/A3/A3-04_vaisdb_security_uncertified/probe.vais
  tests/empirical/A3/A3-04_vaisdb_security_uncertified/run.sh
Due: none

phase2-step7-step11: check-empirical.sh — unified empirical fixture runner
  scripts/check-empirical.sh
Due: none

phase2-step17: fuzz_mir_native_diff scaffold (Step 17 stage 0 LANDED)
  fuzz/Cargo.toml
  fuzz/fuzz_targets/fuzz_mir_native_diff.rs
Due: none

phase2-step9: A2_SUBSETS.md + A2-01 ? operator promotion
  docs/certification/A2_SUBSETS.md
  scripts/check-empirical.sh
  tests/empirical/A2/A2-01_q_operator_core/meta.toml
  tests/empirical/A2/A2-01_q_operator_core/probe_neg.vais
  tests/empirical/A2/A2-01_q_operator_core/probe_pos.vais
  tests/empirical/A2/A2-01_q_operator_core/run.sh
Due: none

phase2-step7: A4-11 ? operator in non-Result function (A2-NEG-DRIFT) fixture
  tests/empirical/A4/A4-11_try_in_non_result/expected.txt
  tests/empirical/A4/A4-11_try_in_non_result/meta.toml
  tests/empirical/A4/A4-11_try_in_non_result/probe.vais
  tests/empirical/A4/A4-11_try_in_non_result/run.sh
Due: none

phase2-step14: wire cross_package_schema gate into check-integrity.sh (Step 14 stage 0)
  scripts/check-integrity.sh
Due: none

phase2-step17-stage1: wire Path A (MIR interpret) + STEP17_FINDINGS
  fuzz/.gitignore
  fuzz/fuzz_targets/fuzz_mir_native_diff.rs
  tests/empirical/oracle/STEP17_FINDINGS.md
Due: none

phase2-step17-stage1-followup: remove guard-then-unwrap pattern in MIR lower
  crates/vais-mir/src/lower.rs
Due: unittests, Core Compiler

phase2-step13: A4-01 Unit↔i64 strict-mode opt-in (Step 13 stage 0)
  crates/vais-types/src/inference/unification.rs
Due: unittests, Core Compiler

phase2-step11: A3-05..A3-09 fixtures (vaisdb graph/fulltext/SQL/WAL + HTTPS)
  tests/empirical/A3/A3-05_vaisdb_graph_executor/expected.txt
  tests/empirical/A3/A3-05_vaisdb_graph_executor/meta.toml
  tests/empirical/A3/A3-05_vaisdb_graph_executor/probe.vais
  tests/empirical/A3/A3-05_vaisdb_graph_executor/run.sh
  tests/empirical/A3/A3-06_vaisdb_fulltext/expected.txt
  tests/empirical/A3/A3-06_vaisdb_fulltext/meta.toml
  tests/empirical/A3/A3-06_vaisdb_fulltext/probe.vais
  tests/empirical/A3/A3-06_vaisdb_fulltext/run.sh
  tests/empirical/A3/A3-07_vaisdb_advanced_sql/expected.txt
  tests/empirical/A3/A3-07_vaisdb_advanced_sql/meta.toml
  tests/empirical/A3/A3-07_vaisdb_advanced_sql/probe.vais
  tests/empirical/A3/A3-07_vaisdb_advanced_sql/run.sh
  tests/empirical/A3/A3-08_vaisdb_wal_bulk_graph/expected.txt
  tests/empirical/A3/A3-08_vaisdb_wal_bulk_graph/meta.toml
  tests/empirical/A3/A3-08_vaisdb_wal_bulk_graph/probe.vais
  tests/empirical/A3/A3-08_vaisdb_wal_bulk_graph/run.sh
  tests/empirical/A3/A3-09_vais_server_https/expected.txt
  tests/empirical/A3/A3-09_vais_server_https/meta.toml
  tests/empirical/A3/A3-09_vais_server_https/probe.vais
  tests/empirical/A3/A3-09_vais_server_https/run.sh
Due: none

phase2-step13: A4-02..A4-05 + A4-07..A4-09 strict-mode opt-in
  crates/vais-types/src/inference/unification.rs
Due: unittests, Core Compiler

phase2-step13-stage1: A4-04 / A4-08 / A4-09 strict-default LANDED (silent surfaces removed)
  crates/vais-types/src/inference/unification.rs
  tests/empirical/A4/A4-04_pointer_slice/run.sh
  tests/empirical/A4/A4-08_vec_str_permissive/run.sh
  tests/empirical/A4/A4-09_lifetime_ref_erasure/run.sh
Due: unittests, Core Compiler

phase2-step13-stage1: A4-02 strict-default LANDED (4/11 A4 surfaces removed)
  crates/vais-types/src/inference/unification.rs
  std/gpu.vais
  tests/empirical/A4/A4-02_pointer_i64/run.sh
  tests/empirical/A4/A4-05_array_pointer_decay/run.sh
Due: unittests, Core Compiler

phase2-step13: A4-06 stage 0 opt-in (4 sites in checker_expr/control_flow.rs)
  crates/vais-types/src/checker_expr/control_flow.rs
Due: unittests, Core Compiler

phase2-step13-stage1: A4-01 Unit↔i64 strict-default LANDED (5/11 A4 surfaces removed)
  crates/vais-types/src/inference/unification.rs
  std/http.vais
  tests/empirical/A4/A4-01_unit_i64/run.sh
Due: unittests, Core Compiler

phase2-step13-stage1: A4-11 ?-in-non-Result strict default + F-16 A4-05 reclassification
  crates/vais-types/src/checker_expr/special.rs
  tests/empirical/A4/A4-11_try_in_non_result/run.sh
  tests/empirical/A4/STEP7_FINDINGS.md
Due: unittests, Core Compiler

phase2-step13-stage1: A4-10 struct partial-init strict default (7/11 A4 surfaces removed)
  crates/vais-types/src/checker_expr/collections.rs
  tests/empirical/A4/A4-10_struct_partial_init/run.sh
Due: unittests, Core Compiler

phase2-step7: EXCLUDED_FEATURES.md re-render — Rejected 3→4, Untested 1→0
  docs/certification/EXCLUDED_FEATURES.md
Due: none

phase2-step17-stage2: F-MIR-01 RESOLVED — fuzz_mir_native_diff 75K runs panic-free
  tests/empirical/oracle/STEP17_FINDINGS.md
Due: none

phase2-step17-stage2: lib refactor — F-MIR-02 RESOLVED
  fuzz/src/lib.rs
  tests/empirical/oracle/STEP17_FINDINGS.md
Due: none

phase2-step17-stage2: shrink fuzz_mir_native_diff.rs to 20-line shim
  fuzz/fuzz_targets/fuzz_mir_native_diff.rs
Due: none

phase2-step13: A4-03 → reclass candidate (F-17), A4-03 strict logic refined+reverted
  crates/vais-types/src/inference/unification.rs
  tests/empirical/A4/STEP7_FINDINGS.md
Due: unittests, Core Compiler

phase2-step9: A2-04 inline closure LANDED + A2-01 negative strengthened (A2-NEG-DRIFT RESOLVED)
  docs/certification/A2_SUBSETS.md
  tests/empirical/A2/A2-01_q_operator_core/meta.toml
  tests/empirical/A2/A2-01_q_operator_core/run.sh
  tests/empirical/A2/A2-04_inline_closure/expected_pos.txt
  tests/empirical/A2/A2-04_inline_closure/meta.toml
  tests/empirical/A2/A2-04_inline_closure/probe_neg.vais
  tests/empirical/A2/A2-04_inline_closure/probe_pos.vais
  tests/empirical/A2/A2-04_inline_closure/run.sh
  tests/empirical/A4/STEP7_FINDINGS.md
Due: none

phase2-step13: F-19 — A4-06 strict emits unexpected reverse-direction errors
  tests/empirical/A4/STEP7_FINDINGS.md
Due: none

phase2-step13: A4-06 std codemod LANDED — 9 files migrated, baseline OK
  std/args.vais
  std/async.vais
  std/fmt.vais
  std/http.vais
  std/http_server.vais
  std/path.vais
  std/proptest.vais
  std/runtime.vais
  std/url.vais
  tests/empirical/A4/STEP7_FINDINGS.md
Due: none

phase2-step13-stage1: A4-06 strict default LANDED — integer-as-truthy rejected
  crates/vais-types/src/checker_expr/control_flow.rs
  tests/empirical/A4/A4-06_integer_truthy/expected.txt
  tests/empirical/A4/A4-06_integer_truthy/meta.toml
  tests/empirical/A4/A4-06_integer_truthy/probe_neg.vais
  tests/empirical/A4/A4-06_integer_truthy/probe_pos.vais
  tests/empirical/A4/A4-06_integer_truthy/run.sh
  tests/empirical/A4/STEP7_FINDINGS.md
Due: unittests, Core Compiler

phase2-step13: A4-07 std codemod LANDED — 6 files / 9 sites, baseline OK
  std/contract.vais
  std/env.vais
  std/owned_string.vais
  std/random.vais
  std/string.vais
  std/time.vais
  tests/empirical/A4/STEP7_FINDINGS.md
Due: none

phase2-step13: F-21 — A4-07 strict scope deeper than v1 estimate
  tests/empirical/A4/STEP7_FINDINGS.md
Due: none

phase2-step17-stage2: Path B LANDED — vais-jit Cranelift in-process wired
  fuzz/Cargo.toml
  fuzz/src/lib.rs
  tests/empirical/oracle/STEP17_FINDINGS.md
Due: none
